Repository ryoppippi/ccusage: changes, and which lefthook commands are due for each by the changed paths.
All: format, sort-package-json, typecheck, test, lint, sort-package

format:
  run: pnpm eslint --cache --fix {files}
  stage_fixed: true

sort-package-json:
  run: pnpm exec sort-package-json {files}
  stage_fixed: true

typecheck:
  run: pnpm tsgo {files}

test:
  run: pnpm vitest --passWithNoTests --run --bail --changedSince=origin/main {files}

lint:
  run: bun run lint --fix {staged_files}
  stage_fixed: true

sort-package:
  run: bunx sort-package-json {staged_files}
  stage_fixed: true

test(mcp): use assert for type error
  apps/mcp/src/mcp.ts
Due: format, typecheck, test, lint

chore(deps): update MCP SDK to v1.24.3 and Zod to v4 (#744)
  apps/mcp/package.json
  apps/mcp/src/codex.ts
  apps/mcp/src/mcp.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, sort-package-json, typecheck, test, lint

chore: release v17.1.8
  apps/ccusage/package.json
  apps/codex/package.json
  apps/mcp/package.json
  docs/package.json
  package.json
  packages/internal/package.json
  packages/terminal/package.json
Due: format, sort-package-json, lint, sort-package

feat(ccusage): add multiple pricing data sources support
  apps/ccusage/config-schema.json
  apps/ccusage/package.json
  apps/ccusage/src/_live-monitor.ts
  apps/ccusage/src/_live-rendering.ts
  apps/ccusage/src/_pricing-fetcher.ts
  apps/ccusage/src/_shared-args.ts
  apps/ccusage/src/_types.ts
  apps/ccusage/src/commands/_blocks.live.ts
  apps/ccusage/src/commands/blocks.ts
  apps/ccusage/src/commands/session.ts
  apps/ccusage/src/commands/statusline.ts
  apps/ccusage/src/data-loader.ts
  apps/ccusage/src/debug.ts
  apps/codex/package.json
  apps/mcp/package.json
  docs/guide/cli-options.md
  docs/guide/configuration.md
  docs/guide/pricing-sources.md
  packages/internal/package.json
  packages/internal/src/models-dev-pricing.ts
  packages/internal/src/pricing.ts
Due: format, sort-package-json, typecheck, test, lint

chore(deps): add oxfmt for JSON formatting
  .oxfmtrc.jsonc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint, sort-package

refactor(ccusage): use oxfmt for JSON schema formatting
  apps/ccusage/scripts/generate-json-schema.ts
  apps/ccusage/tsconfig.json
  pnpm-lock.yaml
Due: format, typecheck, test, lint

refactor: remove OFFLINE env var from macro functions
  apps/ccusage/package.json
  apps/ccusage/src/_macro.ts
  apps/codex/src/_macro.ts
Due: format, sort-package-json, typecheck, test, lint

refactor: use oxfmt for JSON schema formatting and remove OFFLINE env var (#746)
  .oxfmtrc.jsonc
  apps/ccusage/package.json
  apps/ccusage/scripts/generate-json-schema.ts
  apps/ccusage/src/_macro.ts
  apps/ccusage/tsconfig.json
  apps/codex/src/_macro.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, sort-package-json, typecheck, test, lint, sort-package

build: add Nix flake development environment with direnv integration
  .envrc
  .gitignore
  flake.lock
  flake.nix
Due: lint

ci: add reusable setup-nix composite action
  .github/actions/setup-nix/action.yaml
Due: format, lint

ci: migrate CI workflow from pnpm/action-setup to Nix environment
  .github/workflows/ci.yaml
Due: format, lint

ci: migrate release workflow from pnpm/action-setup to Nix environment
  .github/workflows/release.yaml
Due: format, lint

chore(deps): add pkg-pr-new and changelogithub to pnpm catalog
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint, sort-package

ci: use pnpm-managed tools instead of bunx/dlx in workflows
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Due: format, lint

docs(ccusage): add Nix development environment setup instructions
  apps/ccusage/README.md
Due: format, lint

chore(deps): update GitHub Actions to latest versions
  .github/actions/setup-nix/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Due: format, lint

ci: preload Nix development environment in setup-nix action
  .github/actions/setup-nix/action.yaml
Due: format, lint

build: migrate CI/CD to Nix-based development environment (#747)
  .envrc
  .github/actions/setup-nix/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .gitignore
  apps/ccusage/README.md
  flake.lock
  flake.nix
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, lint, sort-package

chore: update vitest to 4.0.15
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint

chore: update vitest to 4.0.15 (#748)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint

chore(renovate): enable nix
  .github/renovate.json
Due: format, lint

feat(ccusage): support context_window field from Claude Code statusline hook
  apps/ccusage/src/_types.ts
  apps/ccusage/src/commands/statusline.ts
  apps/ccusage/test/statusline-test-opus4.json
  apps/ccusage/test/statusline-test-sonnet4.json
  apps/ccusage/test/statusline-test-sonnet41.json
  apps/ccusage/test/statusline-test.json
Due: format, typecheck, test, lint

docs: add context_window reference to statusline guide
  docs/guide/statusline.md
Due: format, lint

chore(ccusage): fix typo colour to color
  apps/ccusage/src/commands/statusline.ts
Due: format, typecheck, test, lint

feat(ccusage): support context_window field from Claude Code statusline hook (#749)
  apps/ccusage/src/_types.ts
  apps/ccusage/src/commands/statusline.ts
  apps/ccusage/test/statusline-test-opus4.json
  apps/ccusage/test/statusline-test-sonnet4.json
  apps/ccusage/test/statusline-test-sonnet41.json
  apps/ccusage/test/statusline-test.json
  docs/guide/statusline.md
Due: format, typecheck, test, lint

chore: release v17.2.0
  apps/ccusage/package.json
  apps/codex/package.json
  apps/mcp/package.json
  docs/package.json
  package.json
  packages/internal/package.json
  packages/terminal/package.json
Due: format, sort-package-json, lint, sort-package

refactor(ccusage): rename subagents option to breakdownSubagents for clarity
  apps/ccusage/config-schema.json
  apps/ccusage/src/_shared-args.ts
  apps/ccusage/src/commands/blocks.ts
  apps/ccusage/src/commands/daily.ts
  apps/ccusage/src/commands/monthly.ts
  apps/ccusage/src/commands/session.ts
  apps/ccusage/src/commands/weekly.ts
Due: format, typecheck, test, lint

chore(nix): add typos-lsp
  flake.nix
Due: lint

chore(nix): update
  flake.lock
Due: lint

chore(nix): migrate from flake-utils to flake-parts
  flake.lock
  flake.nix
Due: lint

chore(nix): migrate from flake-utils to flake-parts (#753)
  flake.lock
  flake.nix
Due: lint

chore: remove mcps
  .mcp.json
  apps/ccusage/src/data-loader.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, typecheck, test, lint, sort-package

feat(ccusage): add opencode support (wip - table rendering bug)
  apps/ccusage/config-schema.json
  apps/ccusage/src/_consts.ts
  apps/ccusage/src/_opencode-data-loader.ts
  apps/ccusage/src/commands/index.ts
  apps/ccusage/src/commands/opencode.ts
Due: format, typecheck, test, lint

fix(ccusage): create tmpdir per-user on *nix systems to allow for multiple concurrent users
  apps/ccusage/src/commands/statusline.ts
Due: format, typecheck, test, lint

chore(typos): enable hidden
  typos.toml
Due: lint

chore(typos): enable hidden (#756)
  typos.toml
Due: lint

feat(opencode): extract opencode into separate package
  CLAUDE.md
  apps/ccusage/README.md
  apps/ccusage/config-schema.json
  apps/ccusage/src/_consts.ts
  apps/ccusage/src/commands/index.ts
  apps/ccusage/src/commands/opencode.ts
  apps/opencode/AGENTS.md
  apps/opencode/CLAUDE.md
  apps/opencode/eslint.config.js
  apps/opencode/package.json
  apps/opencode/src/commands/daily.ts
  apps/opencode/src/commands/index.ts
  apps/opencode/src/data-loader.ts
  apps/opencode/src/index.ts
  apps/opencode/src/run.ts
  apps/opencode/tsconfig.json
  apps/opencode/tsdown.config.ts
  apps/opencode/vitest.config.ts
  pnpm-lock.yaml
Due: format, sort-package-json, typecheck, test, lint

feat(opencode): add session, monthly, and weekly commands
  apps/opencode/README.md
  apps/opencode/src/commands/index.ts
  apps/opencode/src/commands/monthly.ts
  apps/opencode/src/commands/session.ts
  apps/opencode/src/commands/weekly.ts
  apps/opencode/src/data-loader.ts
  apps/opencode/src/run.ts
Due: format, typecheck, test, lint

docs(opencode): improve markdown formatting in readme
  apps/opencode/README.md
Due: format, lint

feat(opencode): group subagents under parent sessions with proper titles
  apps/opencode/src/commands/session.ts
  apps/opencode/src/data-loader.ts
Due: format, typecheck, test, lint

Path conditions:
  format: any of: **/*.{cjs,cts,ctsx,js,jsx,mjs,mts,mtsx,ts,tsx,json,yml,yaml,md,mdx}
  sort-package-json: any of: **/package.json
  typecheck: (any of: **/*.{ts,tsx,cts,ctsx,mts,mtsx}) or (any of: *.{ts,js})
  test: any of: **/*.{ts,tsx,cts,ctsx,mts,mtsx}
  lint: any of: *
  sort-package: any of: package.json
