Repository ryoppippi/ccusage: changes, and which lefthook commands are due for each by the changed paths.
All: format, sort-package-json, typecheck, test, lint, sort-package

format:
  run: pnpm eslint --cache --fix {files}
  stage_fixed: true

sort-package-json:
  run: pnpm exec sort-package-json {files}
  stage_fixed: true

typecheck:
  run: pnpm tsgo {files}

test:
  run: pnpm vitest --passWithNoTests --run --bail --changedSince=origin/main {files}

lint:
  run: bun run lint --fix {staged_files}
  stage_fixed: true

sort-package:
  run: bunx sort-package-json {staged_files}
  stage_fixed: true

fix: normalize date filter bounds
  rust/crates/ccusage/src/adapter/all.rs
  rust/crates/ccusage/src/adapter/codex.rs
  rust/crates/ccusage/src/adapter/qwen/mod.rs
  rust/crates/ccusage/src/blocks.rs
  rust/crates/ccusage/src/claude_loader.rs
  rust/crates/ccusage/src/commands/mod.rs
  rust/crates/ccusage/src/date_utils.rs
  rust/crates/ccusage/src/summary.rs
Due: lint

perf: optimize memory allocation, hash, compile-time computation
  rust/Cargo.lock
  rust/crates/ccusage/Cargo.toml
  rust/crates/ccusage/src/adapter/all.rs
  rust/crates/ccusage/src/adapter/codex.rs
  rust/crates/ccusage/src/blocks.rs
  rust/crates/ccusage/src/claude_loader.rs
  rust/crates/ccusage/src/codex_loader.rs
  rust/crates/ccusage/src/commands/mod.rs
  rust/crates/ccusage/src/fast.rs
  rust/crates/ccusage/src/main.rs
  rust/crates/ccusage/src/pricing.rs
  rust/crates/ccusage/src/summary.rs
Due: lint

build(nix): update LiteLLM pricing lock hash
  flake.lock
Due: lint

chore: trust ubugeeei for PRs
  .github/APPROVED_CONTRIBUTORS
Due: lint

perf: optimize memory allocation, hash, compile-time computation (#1096)
  rust/Cargo.lock
  rust/crates/ccusage/Cargo.toml
  rust/crates/ccusage/src/adapter/all.rs
  rust/crates/ccusage/src/adapter/codex.rs
  rust/crates/ccusage/src/blocks.rs
  rust/crates/ccusage/src/claude_loader.rs
  rust/crates/ccusage/src/codex_loader.rs
  rust/crates/ccusage/src/commands/mod.rs
  rust/crates/ccusage/src/fast.rs
  rust/crates/ccusage/src/main.rs
  rust/crates/ccusage/src/pricing.rs
  rust/crates/ccusage/src/summary.rs
Due: lint

build(nix): lock LiteLLM pricing through repository input
  .github/workflows/update-pricing.yaml
  apps/ccusage/README.md
  flake.lock
  flake.nix
Due: format, lint

ci: run perf comments after pkg.pr.new publish
  .github/workflows/ccusage-perf.yaml
  .github/workflows/ccusage-rust-perf.yaml
  .github/workflows/ci.yaml
  apps/ccusage/scripts/compare-pr-performance.ts
Due: format, typecheck, test, lint

build(nix): lock LiteLLM pricing through repository input (#1099)
  .github/workflows/update-pricing.yaml
  apps/ccusage/README.md
  flake.lock
  flake.nix
Due: format, lint

feat(antigravity): add Antigravity CLI support
  rust/crates/ccusage/src/adapter/all.rs
  rust/crates/ccusage/src/adapter/antigravity.rs
  rust/crates/ccusage/src/adapter/mod.rs
  rust/crates/ccusage/src/cli.rs
  rust/crates/ccusage/src/main.rs
  rust/crates/ccusage/src/progress.rs
Due: lint

ci: disable perf checkout credentials
  .github/workflows/ci.yaml
Due: format, lint

fix(ccusage): chmod installed native perf binary
  apps/ccusage/scripts/compare-pr-performance.ts
Due: format, typecheck, test, lint

ci: run perf comments after pkg.pr.new publish (#1100)
  .github/workflows/ccusage-perf.yaml
  .github/workflows/ccusage-rust-perf.yaml
  .github/workflows/ci.yaml
  apps/ccusage/scripts/compare-pr-performance.ts
Due: format, typecheck, test, lint

chore: release v20.0.1
  apps/ccusage/package.json
  docs/package.json
  package.json
  packages/ccusage-darwin-arm64/package.json
  packages/ccusage-darwin-x64/package.json
  packages/ccusage-linux-arm64/package.json
  packages/ccusage-linux-x64/package.json
  packages/ccusage-win32-arm64/package.json
  packages/ccusage-win32-x64/package.json
  rust/Cargo.lock
  rust/crates/ccusage-terminal/Cargo.toml
  rust/crates/ccusage/Cargo.toml
Due: format, sort-package-json, lint, sort-package

test: insta snapshot
  rust/Cargo.lock
  rust/crates/ccusage-terminal/Cargo.toml
  rust/crates/ccusage-terminal/src/lib.rs
  rust/crates/ccusage-terminal/src/snapshots/ccusage_terminal__tests__snapshots_ansi_truncation_boundary.snap
  rust/crates/ccusage-terminal/src/snapshots/ccusage_terminal__tests__snapshots_full_table_with_multiline_cells_and_separators.snap
  rust/crates/ccusage-terminal/src/snapshots/ccusage_terminal__tests__snapshots_multiline_box_title_layout.snap
  rust/crates/ccusage-terminal/src/snapshots/ccusage_terminal__tests__snapshots_narrow_table_with_wrapping_truncation_and_compact_dates.snap
  rust/crates/ccusage/Cargo.toml
  rust/crates/ccusage/src/adapter/codex.rs
  rust/crates/ccusage/src/adapter/opencode/mod.rs
  rust/crates/ccusage/src/adapter/opencode/parser.rs
  rust/crates/ccusage/src/adapter/opencode/snapshots/ccusage__adapter__opencode__parser__tests__snapshots_message_to_entry_variants_and_model_candidates.snap
  rust/crates/ccusage/src/adapter/opencode/snapshots/ccusage__adapter__opencode__tests__snapshots_agent_summary_json_period_keys_and_session_metadata.snap
  rust/crates/ccusage/src/adapter/snapshots/ccusage__adapter__codex__tests__snapshots_codex_reports_for_periods_sessions_costs_and_fallback_models.snap
  rust/crates/ccusage/src/cli.rs
  rust/crates/ccusage/src/config_schema.rs
  rust/crates/ccusage/src/output.rs
  rust/crates/ccusage/src/snapshots/ccusage__cli__tests__claude_agent_help.snap
  rust/crates/ccusage/src/snapshots/ccusage__cli__tests__codex_daily_help.snap
  rust/crates/ccusage/src/snapshots/ccusage__cli__tests__root_help.snap
  rust/crates/ccusage/src/snapshots/ccusage__cli__tests__snapshots_cli_parse_error_guidance.snap
  rust/crates/ccusage/src/snapshots/ccusage__cli__tests__snapshots_representative_cli_parse_shapes.snap
  rust/crates/ccusage/src/snapshots/ccusage__cli__tests__statusline_help.snap
  rust/crates/ccusage/src/snapshots/ccusage__config_schema__tests__snapshots_schema_agent_specific_option_edges.snap
  rust/crates/ccusage/src/snapshots/ccusage__output__tests__snapshots_group_project_output_orders_named_projects_and_unknown_bucket.snap
  rust/crates/ccusage/src/snapshots/ccusage__output__tests__snapshots_model_multiline_formatting_sorts_dedupes_and_shortens_names.snap
  rust/crates/ccusage/src/snapshots/ccusage__output__tests__snapshots_session_summary_json_with_present_and_missing_options.snap
  rust/crates/ccusage/src/snapshots/ccusage__output__tests__snapshots_summary_json_with_optional_fields_and_model_breakdowns.snap
  rust/crates/ccusage/src/snapshots/ccusage__output__tests__snapshots_totals_json_with_extra_tokens_credits_and_zero_credit_omission.snap
  rust/crates/ccusage/src/snapshots/ccusage__summary__tests__snapshots_bucket_aggregation_for_week_boundaries_invalid_dates_and_model_merging.snap
  rust/crates/ccusage/src/snapshots/ccusage__summary__tests__snapshots_filter_and_sort_summaries_since_until_inclusive.snap
  rust/crates/ccusage/src/snapshots/ccusage__summary__tests__snapshots_session_accumulator_latest_metadata_versions_and_timezone.snap
  rust/crates/ccusage/src/snapshots/ccusage__summary__tests__snapshots_summarize_by_key_aggregates_counts_costs_and_breakdowns.snap
  rust/crates/ccusage/src/summary.rs
Due: lint

docs(skills): drop stale library references
  .agents/skills/ccusage-typescript/SKILL.md
  .agents/skills/commit/SKILL.md
  .agents/skills/typescript-style/SKILL.md
  .agents/skills/typescript-style/references/arkregex-migration.md
  .agents/skills/typescript-style/references/arkregex-policy.md
  .agents/skills/typescript-style/references/arkregex-source.md
  .agents/skills/typescript-style/references/arkregex.md
Due: format, lint

test: insta snapshot (#1103)
  rust/Cargo.lock
  rust/crates/ccusage-terminal/Cargo.toml
  rust/crates/ccusage-terminal/src/lib.rs
  rust/crates/ccusage-terminal/src/snapshots/ccusage_terminal__tests__snapshots_ansi_truncation_boundary.snap
  rust/crates/ccusage-terminal/src/snapshots/ccusage_terminal__tests__snapshots_full_table_with_multiline_cells_and_separators.snap
  rust/crates/ccusage-terminal/src/snapshots/ccusage_terminal__tests__snapshots_multiline_box_title_layout.snap
  rust/crates/ccusage-terminal/src/snapshots/ccusage_terminal__tests__snapshots_narrow_table_with_wrapping_truncation_and_compact_dates.snap
  rust/crates/ccusage/Cargo.toml
  rust/crates/ccusage/src/adapter/codex.rs
  rust/crates/ccusage/src/adapter/opencode/mod.rs
  rust/crates/ccusage/src/adapter/opencode/parser.rs
  rust/crates/ccusage/src/adapter/opencode/snapshots/ccusage__adapter__opencode__parser__tests__snapshots_message_to_entry_variants_and_model_candidates.snap
  rust/crates/ccusage/src/adapter/opencode/snapshots/ccusage__adapter__opencode__tests__snapshots_agent_summary_json_period_keys_and_session_metadata.snap
  rust/crates/ccusage/src/adapter/snapshots/ccusage__adapter__codex__tests__snapshots_codex_reports_for_periods_sessions_costs_and_fallback_models.snap
  rust/crates/ccusage/src/cli.rs
  rust/crates/ccusage/src/config_schema.rs
  rust/crates/ccusage/src/output.rs
  rust/crates/ccusage/src/snapshots/ccusage__cli__tests__claude_agent_help.snap
  rust/crates/ccusage/src/snapshots/ccusage__cli__tests__codex_daily_help.snap
  rust/crates/ccusage/src/snapshots/ccusage__cli__tests__root_help.snap
  rust/crates/ccusage/src/snapshots/ccusage__cli__tests__snapshots_cli_parse_error_guidance.snap
  rust/crates/ccusage/src/snapshots/ccusage__cli__tests__snapshots_representative_cli_parse_shapes.snap
  rust/crates/ccusage/src/snapshots/ccusage__cli__tests__statusline_help.snap
  rust/crates/ccusage/src/snapshots/ccusage__config_schema__tests__snapshots_schema_agent_specific_option_edges.snap
  rust/crates/ccusage/src/snapshots/ccusage__output__tests__snapshots_group_project_output_orders_named_projects_and_unknown_bucket.snap
  rust/crates/ccusage/src/snapshots/ccusage__output__tests__snapshots_model_multiline_formatting_sorts_dedupes_and_shortens_names.snap
  rust/crates/ccusage/src/snapshots/ccusage__output__tests__snapshots_session_summary_json_with_present_and_missing_options.snap
  rust/crates/ccusage/src/snapshots/ccusage__output__tests__snapshots_summary_json_with_optional_fields_and_model_breakdowns.snap
  rust/crates/ccusage/src/snapshots/ccusage__output__tests__snapshots_totals_json_with_extra_tokens_credits_and_zero_credit_omission.snap
  rust/crates/ccusage/src/snapshots/ccusage__summary__tests__snapshots_bucket_aggregation_for_week_boundaries_invalid_dates_and_model_merging.snap
  rust/crates/ccusage/src/snapshots/ccusage__summary__tests__snapshots_filter_and_sort_summaries_since_until_inclusive.snap
  rust/crates/ccusage/src/snapshots/ccusage__summary__tests__snapshots_session_accumulator_latest_metadata_versions_and_timezone.snap
  rust/crates/ccusage/src/snapshots/ccusage__summary__tests__snapshots_summarize_by_key_aggregates_counts_costs_and_breakdowns.snap
  rust/crates/ccusage/src/summary.rs
Due: lint

fix(ccusage): normalize dashed dates in --since/--until filters
  rust/crates/ccusage/src/cli.rs
  rust/crates/ccusage/src/config.rs
  rust/crates/ccusage/src/date_utils.rs
Due: lint

docs: fix socket link
  apps/ccusage/README.md
Due: format, lint

fix(hermes): price subscription-included sessions
  rust/crates/ccusage/src/adapter/hermes.rs
Due: lint

fix(hermes): price subscription-included sessions (#1113)
  rust/crates/ccusage/src/adapter/hermes.rs
Due: lint

chore: release v20.0.2
  apps/ccusage/package.json
  docs/package.json
  package.json
  packages/ccusage-darwin-arm64/package.json
  packages/ccusage-darwin-x64/package.json
  packages/ccusage-linux-arm64/package.json
  packages/ccusage-linux-x64/package.json
  packages/ccusage-win32-arm64/package.json
  packages/ccusage-win32-x64/package.json
  rust/Cargo.lock
  rust/crates/ccusage-terminal/Cargo.toml
  rust/crates/ccusage/Cargo.toml
Due: format, sort-package-json, lint, sort-package

fix(codex): respect terminal width in tables
  rust/crates/ccusage/src/adapter/codex.rs
Due: lint

chore: add @yamamuteki as a approved issue creator
  .github/APPROVED_CONTRIBUTORS
Due: lint

fix(ccusage): parse root session id lookup
  rust/crates/ccusage/src/cli.rs
Due: lint

fix(codex): respect terminal width in reports
  rust/crates/ccusage/src/adapter/codex.rs
Due: lint

fix(statusline): respect timezone for today cost
  apps/ccusage/config-schema.json
  rust/crates/ccusage/src/cli-help.json
  rust/crates/ccusage/src/cli.rs
  rust/crates/ccusage/src/commands/mod.rs
  rust/crates/ccusage/src/config.rs
  rust/crates/ccusage/src/config_schema.rs
  rust/crates/ccusage/src/date_utils.rs
  rust/crates/ccusage/src/snapshots/ccusage__cli__tests__statusline_help.snap
  rust/crates/ccusage/src/snapshots/ccusage__config_schema__tests__snapshots_schema_agent_specific_option_edges.snap
Due: format, lint

fix(ccusage): document root session id option
  rust/crates/ccusage/src/cli.rs
Due: lint

fix(ccusage): parse root session id lookup (#1118)
  rust/crates/ccusage/src/cli.rs
Due: lint

fix(statusline): respect timezone for today cost (#1121)
  apps/ccusage/config-schema.json
  rust/crates/ccusage/src/cli-help.json
  rust/crates/ccusage/src/cli.rs
  rust/crates/ccusage/src/commands/mod.rs
  rust/crates/ccusage/src/config.rs
  rust/crates/ccusage/src/config_schema.rs
  rust/crates/ccusage/src/date_utils.rs
  rust/crates/ccusage/src/snapshots/ccusage__cli__tests__statusline_help.snap
  rust/crates/ccusage/src/snapshots/ccusage__config_schema__tests__snapshots_schema_agent_specific_option_edges.snap
Due: format, lint

chore: release v20.0.3
  apps/ccusage/package.json
  docs/package.json
  package.json
  packages/ccusage-darwin-arm64/package.json
  packages/ccusage-darwin-x64/package.json
  packages/ccusage-linux-arm64/package.json
  packages/ccusage-linux-x64/package.json
  packages/ccusage-win32-arm64/package.json
  packages/ccusage-win32-x64/package.json
  rust/Cargo.lock
  rust/crates/ccusage-terminal/Cargo.toml
  rust/crates/ccusage/Cargo.toml
Due: format, sort-package-json, lint, sort-package

perf(codex): stream usage aggregation
  rust/crates/ccusage-terminal/src/lib.rs
  rust/crates/ccusage/src/adapter/codex.rs
  rust/crates/ccusage/src/codex_loader.rs
  rust/crates/ccusage/src/date_utils.rs
  rust/crates/ccusage/src/types.rs
Due: lint

fix(codex): accept numeric session timestamps
  rust/crates/ccusage/src/codex_loader.rs
Due: lint

fix(codex): avoid misclassifying headless rows
  rust/crates/ccusage/src/codex_loader.rs
Due: lint

perf(codex): keep json aggregation deduped
  rust/crates/ccusage/src/adapter/codex.rs
  rust/crates/ccusage/src/codex_loader.rs
Due: lint

fix(codex): stream log lines again
  rust/crates/ccusage/src/codex_loader.rs
Due: lint

fix(codex): handle spaced session types
  rust/crates/ccusage-terminal/src/lib.rs
  rust/crates/ccusage/src/codex_loader.rs
Due: lint

Path conditions:
  format: any of: **/*.{cjs,cts,ctsx,js,jsx,mjs,mts,mtsx,ts,tsx,json,yml,yaml,md,mdx}
  sort-package-json: any of: **/package.json
  typecheck: (any of: **/*.{ts,tsx,cts,ctsx,mts,mtsx}) or (any of: *.{ts,js})
  test: any of: **/*.{ts,tsx,cts,ctsx,mts,mtsx}
  lint: any of: *
  sort-package: any of: package.json
