Repository ryoppippi/ccusage: changes, and which lefthook commands are due for each by the changed paths.
All: format, sort-package-json, typecheck, test, lint, sort-package

.lefthook.yml:

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    format:
      glob: '**/*.{cjs,cts,ctsx,js,jsx,mjs,mts,mtsx,ts,tsx,json,yml,yaml,md,mdx}'
      run: pnpm eslint --cache --fix {files}
      stage_fixed: true
    sort-package-json:
      glob: '**/package.json'
      run: pnpm exec sort-package-json {files}
      stage_fixed: true
    typecheck:
      glob: '**/*.{ts,tsx,cts,ctsx,mts,mtsx}'
      run: pnpm tsgo {files}
    test:
      glob: '**/*.{ts,tsx,cts,ctsx,mts,mtsx}'
      run: pnpm vitest --passWithNoTests --run --bail --changedSince=origin/main {files}

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: '*'
      run: bun run lint --fix {staged_files}
      stage_fixed: true
    typecheck:
      glob: '*.{ts,js}'
      run: bun typecheck
    schema:
      run: bun run generate:schema
    test:
      run: bun vitest --passWithNoTests
    sort-package:
      glob: package.json
      run: bunx sort-package-json {staged_files}
      stage_fixed: true

fix(internal): broaden pricing lookup to cover provider variants
  docs/guide/index.md
  packages/internal/src/pricing.ts
Due: format, typecheck, test, lint

add: Include information about the default value for the log retention period in a NOTICE block
  docs/guide/monthly-reports.md
Due: format, lint

add: Include information about the default value for the log retention period in a NOTICE block (#695)
  docs/guide/monthly-reports.md
Due: format, lint

feat: add archive command for Claude code and Codex
  apps/ccusage/config-schema.json
  apps/ccusage/src/_config.ts
  apps/ccusage/src/_shared-args.ts
  apps/ccusage/src/commands/archive.ts
  apps/ccusage/src/commands/blocks.ts
  apps/ccusage/src/commands/daily.ts
  apps/ccusage/src/commands/index.ts
  apps/ccusage/src/commands/monthly.ts
  apps/ccusage/src/commands/session.ts
  apps/ccusage/src/commands/weekly.ts
  apps/ccusage/src/data-loader.ts
  apps/codex/src/_config.ts
  apps/codex/src/_shared-args.ts
  apps/codex/src/commands/archive.ts
  apps/codex/src/commands/daily.ts
  apps/codex/src/commands/monthly.ts
  apps/codex/src/commands/session.ts
  apps/codex/src/data-loader.ts
  apps/codex/src/run.ts
Due: format, typecheck, test, lint

feat: add auto-archive configuration and first-time setup
  apps/ccusage/src/_config.ts
  apps/ccusage/src/_shared-args.ts
  apps/ccusage/src/commands/archive.ts
  apps/ccusage/src/commands/blocks.ts
  apps/ccusage/src/commands/daily.ts
  apps/ccusage/src/commands/monthly.ts
  apps/ccusage/src/commands/session.ts
  apps/ccusage/src/commands/weekly.ts
Due: format, typecheck, test, lint

fix(terminal): increase minimum width for numeric columns to prevent truncation
  packages/terminal/src/table.ts
Due: format, typecheck, test, lint

chore(deps/mcp): add tsgo
  apps/mcp/package.json
  pnpm-lock.yaml
Due: format, sort-package-json, lint

feat: add aiusage - unified AI usage tracker for multiple services
  apps/aiusage/README.md
  apps/aiusage/package.json
  apps/aiusage/src/commands/daily.ts
  apps/aiusage/src/commands/dashboard.ts
  apps/aiusage/src/commands/monthly.ts
  apps/aiusage/src/data-loader.ts
  apps/aiusage/src/index.ts
  apps/aiusage/src/logger.ts
  apps/aiusage/src/run.ts
  apps/aiusage/src/types.ts
  apps/aiusage/tsdown.config.ts
  apps/aiusage/vitest.config.ts
  pnpm-lock.yaml
Due: format, sort-package-json, typecheck, test, lint

fix(ccusage): use streaming to handle large JSONL files
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

test(ccusage): add comprehensive tests for processJSONLFileByLine
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

refactor(test): use createWriteStream instead of dynamic import
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

Add a --prompts option to daily to display the number of prompts per day
  apps/ccusage/README.md
  apps/ccusage/src/_daily-grouping.ts
  apps/ccusage/src/calculate-cost.ts
  apps/ccusage/src/commands/daily.ts
  apps/ccusage/src/commands/monthly.ts
  apps/ccusage/src/commands/session.ts
  apps/ccusage/src/commands/weekly.ts
  apps/ccusage/src/data-loader.ts
  packages/terminal/src/table.ts
Due: format, typecheck, test, lint

Add weekly and monthly prompts
  apps/ccusage/README.md
  apps/ccusage/src/commands/monthly.ts
  apps/ccusage/src/commands/weekly.ts
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

fix(test): add explicit type annotations for Promise callbacks
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

refactor(test): move processJSONLFileByLine tests to existing test block
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

ci: use slim for check pr title
  .github/workflows/check-pr-title.yaml
Due: format, lint

ci: use slim for check pr title (#713)
  .github/workflows/check-pr-title.yaml
Due: format, lint

ci: use slim for spell-check/release
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Due: format, lint

ci: use slim for spell-check/release (#714)
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Due: format, lint

fix(terminal): increase minimum width for numeric columns to prevent truncation (#701)
  packages/terminal/src/table.ts
Due: format, typecheck, test, lint

fix(ccusage): use streaming to handle large JSONL files (#706)
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

fix(ccusage): resolve ESLint violations in data-loader.ts
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

fix(ccusage): resolve ESLint violations in data-loader.ts (#715)
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

chore: release v17.1.4
  apps/ccusage/package.json
  apps/codex/package.json
  apps/mcp/package.json
  docs/package.json
  package.json
  packages/internal/package.json
  packages/terminal/package.json
Due: format, sort-package-json, lint, sort-package

ci: remove npm upgrade
  .github/workflows/release.yaml
Due: format, lint

ci: remove npm upgrade (#716)
  .github/workflows/release.yaml
Due: format, lint

refactor(codex): revert unnecessary Map initialization change
  apps/codex/src/run.ts
Due: format, typecheck, test, lint

Revert "fix(terminal): increase minimum width for numeric columns to prevent …"
  packages/terminal/src/table.ts
Due: format, typecheck, test, lint

Revert "fix(terminal): increase minimum width for numeric columns to prevent …" (#722)
  packages/terminal/src/table.ts
Due: format, typecheck, test, lint

chore: release v17.1.5
  apps/ccusage/package.json
  apps/codex/package.json
  apps/mcp/package.json
  docs/package.json
  package.json
  packages/internal/package.json
  packages/terminal/package.json
Due: format, sort-package-json, lint, sort-package

feat(ccusage): add hourly usage report
  apps/ccusage/src/commands/hourly.ts
  apps/ccusage/src/commands/index.ts
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

feat(ccusage): add hourly usage report
  apps/ccusage/config-schema.json
  apps/ccusage/src/commands/hourly.ts
  apps/ccusage/src/commands/index.ts
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

refactor(ccusage): apply CodeRabbit review suggestions
  apps/ccusage/src/commands/hourly.ts
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

fix(ccusage): use mergedOptions for compact flag
  apps/ccusage/src/commands/hourly.ts
Due: format, typecheck, test, lint

docs: dy -> dt
  apps/ccusage/README.md
  apps/codex/README.md
  apps/mcp/README.md
Due: format, lint

docs(ccusage): remove ClaudeLog badge from README
  apps/ccusage/README.md
Due: format, lint

chore: release v17.1.6
  apps/ccusage/package.json
  apps/codex/package.json
  apps/mcp/package.json
  docs/package.json
  package.json
  packages/internal/package.json
  packages/terminal/package.json
Due: format, sort-package-json, lint, sort-package

chore(deps): update vitest to v4.0.10
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint

test(ccusage): refactor usage data tests to use expect.schemaMatching
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint
