Repository ryoppippi/ccusage: changes, and which lefthook commands are due for each by the changed paths.
All: format, sort-package-json, typecheck, test, lint, sort-package

format:
  run: pnpm eslint --cache --fix {files}
  stage_fixed: true

sort-package-json:
  run: pnpm exec sort-package-json {files}
  stage_fixed: true

typecheck:
  run: pnpm tsgo {files}

test:
  run: pnpm vitest --passWithNoTests --run --bail --changedSince=origin/main {files}

lint:
  run: bun run lint --fix {staged_files}
  stage_fixed: true

sort-package:
  run: bunx sort-package-json {staged_files}
  stage_fixed: true

perf(ccusage): compact worker usage results
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): accumulate Rust summaries in one pass
  crates/ccusage/src/main.rs
Due: lint

docs: add Community Projects section with cc-usage-board
  apps/ccusage/README.md
Due: format, lint

perf(ccusage): buffer larger jsonl files
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): skip null fallback regex on normal lines
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

docs: extend Community Projects with ai-heatmap, refine cc-usage-board entry
  apps/ccusage/README.md
Due: format, lint

perf(ccusage): drop chrono clock dependency
  Cargo.lock
  crates/ccusage/Cargo.toml
  crates/ccusage/src/main.rs
Due: lint

perf(internal): cache model pricing lookups
  packages/internal/src/pricing.ts
Due: format, typecheck, test, lint

perf(ccusage): replace anyhow in Rust CLI
  Cargo.lock
  crates/ccusage/Cargo.toml
  crates/ccusage/src/main.rs
Due: lint

build(ccusage): minify bundled CLI output
  apps/ccusage/tsdown.config.ts
Due: format, typecheck, test, lint

perf(ccusage): format Rust dates without strftime
  crates/ccusage/src/main.rs
Due: lint

perf(ccusage): avoid chrono format parsing in Rust CLI
  crates/ccusage/src/main.rs
Due: lint

perf(ccusage): replace clap in Rust CLI
  Cargo.lock
  crates/ccusage/Cargo.toml
  crates/ccusage/src/cli.rs
  crates/ccusage/src/main.rs
Due: lint

perf(ccusage): replace rayon in Rust loader
  Cargo.lock
  crates/ccusage/Cargo.toml
  crates/ccusage/src/main.rs
Due: lint

perf(ccusage): scan nullable fields without regex
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): decode buffered jsonl reads explicitly
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): reuse file handles for buffered jsonl reads
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): avoid locale-aware path sorting
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): remove chrono from Rust CLI
  Cargo.lock
  crates/ccusage/Cargo.toml
  crates/ccusage/src/main.rs
Due: lint

perf(ccusage): parse block timestamps without Date.parse
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): inline usage metadata on hot paths
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): read timestamps from line prefix
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): avoid reverse scans for early fields
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): parse hot fields without allocations
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

build(ccusage): drop test-only side effects from bundle
  apps/ccusage/tsdown.config.ts
Due: format, typecheck, test, lint

perf(ccusage): parse cost numbers without slicing
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

feat(ccusage): add Rust pricing fetch and JS-style tables
  Cargo.lock
  crates/ccusage/Cargo.toml
  crates/ccusage/src/claude-pricing.json
  crates/ccusage/src/main.rs
  crates/ccusage/src/pricing.rs
Due: format, lint

fix(ccusage): preserve ANSI in Rust table truncation
  crates/ccusage/src/main.rs
Due: lint

perf(ccusage): scale JSONL workers with available cores
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(terminal): use Bun string width when available
  packages/terminal/src/table.ts
  packages/terminal/src/text-width.ts
  packages/terminal/src/utils.ts
Due: format, typecheck, test, lint

perf(ccusage): avoid reverse scans in usage parser
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): read buffered JSONL as utf8 on Bun
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

build(ccusage): publish only bundled CLI entry
  apps/ccusage/package.json
  apps/ccusage/tsdown.config.ts
  apps/mcp/src/command.ts
  apps/mcp/src/mcp-utils.ts
  apps/mcp/src/mcp.ts
Due: format, sort-package-json, typecheck, test, lint

build(ccusage): keep CLI bundle unminified
  apps/ccusage/tsdown.config.ts
Due: format, typecheck, test, lint

build(ccusage): stop regenerating worker subpath export
  apps/ccusage/package.json
  apps/ccusage/tsdown.config.ts
Due: format, sort-package-json, typecheck, test, lint

feat!: remove mcp package
  CLAUDE.md
  apps/ccusage/README.md
  apps/ccusage/scripts/generate-json-schema.ts
  apps/ccusage/src/_consts.ts
  apps/mcp/AGENTS.md
  apps/mcp/CLAUDE.md
  apps/mcp/README.md
  apps/mcp/eslint.config.js
  apps/mcp/package.json
  apps/mcp/src/ccusage.ts
  apps/mcp/src/cli-utils.ts
  apps/mcp/src/codex.ts
  apps/mcp/src/command.ts
  apps/mcp/src/consts.ts
  apps/mcp/src/index.ts
  apps/mcp/src/mcp-utils.ts
  apps/mcp/src/mcp.ts
  apps/mcp/tsconfig.json
  apps/mcp/tsdown.config.ts
  apps/mcp/vitest.config.ts
  docs/.vitepress/config.ts
  docs/CLAUDE.md
  docs/guide/cli-options.md
  docs/guide/custom-paths.md
  docs/guide/library-usage.md
  docs/guide/mcp-server.md
  docs/index.md
  docs/public/mcp-claude-desktop.avif
  packages/internal/CLAUDE.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, sort-package-json, typecheck, test, lint

feat(ccusage): add Zig CLI prototype
  .github/workflows/ci.yaml
  .gitignore
  apps/ccusage/package.json
  apps/ccusage/scripts/fetch-zig-pricing.mjs
  apps/ccusage/scripts/zig-bench.mjs
  apps/ccusage/scripts/zig-parity.mjs
  apps/ccusage/src-zig/_config-loader.zig
  apps/ccusage/src-zig/_data-loader.zig
  apps/ccusage/src-zig/_date-utils.zig
  apps/ccusage/src-zig/_format-utils.zig
  apps/ccusage/src-zig/_json-utils.zig
  apps/ccusage/src-zig/_pricing.zig
  apps/ccusage/src-zig/_project-names.zig
  apps/ccusage/src-zig/_session-blocks.zig
  apps/ccusage/src-zig/_shared-args.zig
  apps/ccusage/src-zig/_token-utils.zig
  apps/ccusage/src-zig/claude-pricing.json
  apps/ccusage/src-zig/main.zig
  build.zig
  flake.lock
  flake.nix
Due: format, sort-package-json, lint

perf(ccusage): dedupe entries before worker merge
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): avoid sorting worker result groups
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): avoid Rust dedupe key allocations
  crates/ccusage/src/main.rs
  flake.nix
Due: lint

Path conditions:
  format: any of: **/*.{cjs,cts,ctsx,js,jsx,mjs,mts,mtsx,ts,tsx,json,yml,yaml,md,mdx}
  sort-package-json: any of: **/package.json
  typecheck: (any of: **/*.{ts,tsx,cts,ctsx,mts,mtsx}) or (any of: *.{ts,js})
  test: any of: **/*.{ts,tsx,cts,ctsx,mts,mtsx}
  lint: any of: *
  sort-package: any of: package.json
