Repository ryoppippi/ccusage: changes, and which lefthook commands are due for each by the changed paths.
All: format, sort-package-json, typecheck, test, lint, sort-package

format:
  run: pnpm eslint --cache --fix {files}
  stage_fixed: true

sort-package-json:
  run: pnpm exec sort-package-json {files}
  stage_fixed: true

typecheck:
  run: pnpm tsgo {files}

test:
  run: pnpm vitest --passWithNoTests --run --bail --changedSince=origin/main {files}

lint:
  run: bun run lint --fix {staged_files}
  stage_fixed: true

sort-package:
  run: bunx sort-package-json {staged_files}
  stage_fixed: true

fix(codebuff): expand tilde in Codebuff paths and track all-message chat bounds
  apps/codebuff/src/data-loader.ts
Due: format, typecheck, test, lint

docs: migrate Claude instructions to AGENTS
  AGENTS.md
  CLAUDE.md
  apps/amp/AGENTS.md
  apps/amp/CLAUDE.md
  apps/ccusage/AGENTS.md
  apps/ccusage/CLAUDE.md
  apps/codex/AGENTS.md
  apps/codex/CLAUDE.md
  apps/kimi/AGENTS.md
  apps/kimi/CLAUDE.md
  apps/mcp/AGENTS.md
  apps/mcp/CLAUDE.md
  apps/opencode/AGENTS.md
  apps/opencode/CLAUDE.md
  apps/pi/AGENTS.md
  apps/pi/CLAUDE.md
  docs/AGENTS.md
  docs/CLAUDE.md
  packages/internal/AGENTS.md
  packages/internal/CLAUDE.md
  packages/terminal/AGENTS.md
  packages/terminal/CLAUDE.md
Due: format, lint

fix(kimi): apply K2.6 pricing
  apps/kimi/AGENTS.md
  apps/kimi/src/data-loader.ts
  apps/kimi/src/pricing.ts
Due: format, typecheck, test, lint

fix(codex): avoid partial events on stream failure
  apps/codex/src/data-loader.ts
Due: format, typecheck, test, lint

test(codex): cover stream failure rollback
  apps/codex/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): add granular combined caches
  apps/ccusage/src/_combined-usage.ts
  apps/ccusage/src/data-loader.ts
  apps/kimi/src/_types.ts
  apps/kimi/src/data-loader.ts
Due: format, typecheck, test, lint

feat: add --human/-H flag for human-readable token display
  apps/amp/src/commands/daily.ts
  apps/amp/src/commands/monthly.ts
  apps/amp/src/commands/session.ts
  apps/ccusage/config-schema.json
  apps/ccusage/src/_shared-args.ts
  apps/ccusage/src/commands/_session_id.ts
  apps/ccusage/src/commands/blocks.ts
  apps/ccusage/src/commands/daily.ts
  apps/ccusage/src/commands/monthly.ts
  apps/ccusage/src/commands/session.ts
  apps/ccusage/src/commands/weekly.ts
  apps/codex/src/_shared-args.ts
  apps/codex/src/commands/daily.ts
  apps/codex/src/commands/monthly.ts
  apps/codex/src/commands/session.ts
  apps/opencode/src/commands/daily.ts
  apps/opencode/src/commands/monthly.ts
  apps/opencode/src/commands/session.ts
  apps/opencode/src/commands/weekly.ts
  apps/pi/src/commands/daily.ts
  apps/pi/src/commands/monthly.ts
  apps/pi/src/commands/session.ts
  packages/terminal/src/table.ts
Due: format, typecheck, test, lint

feat(opencode): support date range filters
  apps/opencode/src/_shared-args.ts
  apps/opencode/src/commands/daily.ts
  apps/opencode/src/commands/index.ts
  apps/opencode/src/commands/monthly.ts
  apps/opencode/src/commands/session.ts
  apps/opencode/src/commands/weekly.ts
  apps/opencode/src/data-loader.ts
Due: format, typecheck, test, lint

test(opencode): refine date filter coverage
  apps/opencode/src/_shared-args.ts
  apps/opencode/src/commands/index.ts
  apps/opencode/src/data-loader.ts
Due: format, typecheck, test, lint

chore: add .worktrees/ to .gitignore
  .gitignore
Due: lint

feat(terminal): add --watch mode for resize-responsive table display
  apps/ccusage/src/_shared-args.ts
  apps/ccusage/src/commands/daily.ts
  packages/terminal/package.json
  packages/terminal/src/watch.ts
Due: format, sort-package-json, typecheck, test, lint

fix(opencode): read from SQLite DB after post-Feb 2026 storage migration
  apps/opencode/CLAUDE.md
  apps/opencode/package.json
  apps/opencode/src/__mocks__/bun-sqlite.ts
  apps/opencode/src/data-loader.ts
  apps/opencode/tsconfig.json
  apps/opencode/vitest.config.ts
  pnpm-lock.yaml
Due: format, sort-package-json, typecheck, test, lint

feat(copilot): add core types and constants
  apps/copilot/src/_consts.ts
  apps/copilot/src/_types.ts
Due: format, typecheck, test, lint

feat(copilot): add pricing with model name normalization
  apps/copilot/src/_macro.ts
  apps/copilot/src/pricing.ts
Due: format, typecheck, test, lint

feat(copilot): scaffold @ccusage/copilot package
  apps/copilot/eslint.config.js
  apps/copilot/package.json
  apps/copilot/src/index.ts
  apps/copilot/src/logger.ts
  apps/copilot/src/run.ts
  apps/copilot/tsconfig.json
  apps/copilot/tsdown.config.ts
  apps/copilot/vitest.config.ts
  pnpm-lock.yaml
Due: format, sort-package-json, typecheck, test, lint

feat(copilot): add data loader with workspace.yaml support
  apps/copilot/src/data-loader.ts
Due: format, typecheck, test, lint

feat(copilot): add commands with date filtering, breakdown, and dual pricing
  apps/copilot/src/_date-utils.ts
  apps/copilot/src/_shared-args.ts
  apps/copilot/src/commands/daily.ts
  apps/copilot/src/commands/index.ts
  apps/copilot/src/commands/monthly.ts
  apps/copilot/src/commands/session.ts
Due: format, typecheck, test, lint

docs(copilot): add documentation for @ccusage/copilot
  CLAUDE.md
  apps/ccusage/README.md
  apps/copilot/CLAUDE.md
  apps/copilot/README.md
  apps/copilot/package.json
  apps/copilot/src/_date-utils.ts
  apps/copilot/src/_shared-args.ts
  apps/copilot/src/_types.ts
  apps/copilot/src/commands/daily.ts
  apps/copilot/src/commands/monthly.ts
  apps/copilot/src/commands/session.ts
  apps/copilot/src/data-loader.ts
  docs/.vitepress/config.ts
  docs/guide/copilot/index.md
Due: format, sort-package-json, typecheck, test, lint

fix: use numeric timestamp comparison in registerOrReplace
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

docs: add repo rank
  apps/ccusage/README.md
Due: format, lint

chore: update pnpm to v11
  package.json
Due: lint, sort-package

chore: update pnpm to v11
  flake.lock
  package.json
Due: lint, sort-package

fix(codebuff): point bin to built dist/index.js and drop publishConfig.bin
  apps/codebuff/package.json
Due: format, sort-package-json, lint

feat(codex): support multiple CODEX_HOME roots
  apps/codex/CLAUDE.md
  apps/codex/README.md
  apps/codex/src/_types.ts
  apps/codex/src/data-loader.ts
  apps/codex/src/session-report.ts
  docs/guide/codex/index.md
Due: format, typecheck, test, lint

docs(codex): fix review nits
  apps/codex/CLAUDE.md
  apps/codex/README.md
Due: format, lint

fix(statusline): use configured timezone for today cost
  apps/ccusage/config-schema.json
  apps/ccusage/src/commands/statusline.ts
Due: format, typecheck, test, lint

Add weekly report command for Codex
  apps/codex/README.md
  apps/codex/src/_consts.ts
  apps/codex/src/_types.ts
  apps/codex/src/bucketed-report.ts
  apps/codex/src/commands/weekly.ts
  apps/codex/src/daily-report.ts
  apps/codex/src/monthly-report.ts
  apps/codex/src/run.ts
  apps/codex/src/weekly-report.ts
Due: format, typecheck, test, lint

support for subagent usage
  apps/kimi/src/data-loader.ts
Due: format, typecheck, test, lint

fix(kimi): use relative paths for images in README
  apps/kimi/README.md
Due: format, lint

fix(kimi): include nested subagent wire logs
  apps/kimi/src/_consts.ts
  apps/kimi/src/data-loader.ts
Due: format, typecheck, test, lint

Update apps/kimi/CLAUDE.md
  apps/kimi/CLAUDE.md
Due: format, lint

Update apps/kimi/README.md
  apps/kimi/README.md
Due: format, lint

feat(kimi): implement Kimi CLI usage tracking
  apps/ccusage/README.md
  apps/kimi/CLAUDE.md
  apps/kimi/README.md
  apps/kimi/eslint.config.js
  apps/kimi/package.json
  apps/kimi/src/_consts.ts
  apps/kimi/src/_shared-args.ts
  apps/kimi/src/_types.ts
  apps/kimi/src/command-utils.ts
  apps/kimi/src/commands/daily.ts
  apps/kimi/src/commands/monthly.ts
  apps/kimi/src/commands/session.ts
  apps/kimi/src/commands/weekly.ts
  apps/kimi/src/daily-report.ts
  apps/kimi/src/data-loader.ts
  apps/kimi/src/date-utils.ts
  apps/kimi/src/index.ts
  apps/kimi/src/logger.ts
  apps/kimi/src/monthly-report.ts
  apps/kimi/src/pricing.ts
  apps/kimi/src/run.ts
  apps/kimi/src/session-report.ts
  apps/kimi/src/token-utils.ts
  apps/kimi/src/weekly-report.ts
  apps/kimi/tsconfig.json
  apps/kimi/tsdown.config.ts
  apps/kimi/vitest.config.ts
  apps/mcp/src/kimi.ts
  apps/mcp/src/mcp.ts
  pnpm-lock.yaml
Due: format, sort-package-json, typecheck, test, lint

Update apps/ccusage/README.md
  apps/ccusage/README.md
Due: format, lint

fix(kimi): address current review issues
  apps/kimi/CLAUDE.md
  apps/kimi/README.md
  apps/kimi/src/data-loader.ts
  apps/kimi/src/pricing.ts
  apps/mcp/package.json
  pnpm-lock.yaml
Due: format, sort-package-json, typecheck, test, lint

fix(kimi): resolve Kimi Code alias by release cutoff
  apps/kimi/CLAUDE.md
  apps/kimi/README.md
  apps/kimi/src/data-loader.ts
  apps/kimi/src/pricing.ts
Due: format, typecheck, test, lint

fix(kimi): avoid truncating long JSON output
  apps/kimi/src/logger.ts
Due: format, typecheck, test, lint

fix(kimi): honor no-color table output
  apps/kimi/src/command-utils.ts
  apps/kimi/src/commands/daily.ts
  apps/kimi/src/commands/monthly.ts
  apps/kimi/src/commands/session.ts
  apps/kimi/src/commands/weekly.ts
Due: format, typecheck, test, lint

fix(kimi): flush reasoning before skipped status updates
  apps/kimi/CLAUDE.md
  apps/kimi/src/commands/daily.ts
  apps/kimi/src/commands/monthly.ts
  apps/kimi/src/commands/session.ts
  apps/kimi/src/commands/weekly.ts
  apps/kimi/src/data-loader.ts
Due: format, typecheck, test, lint

fix(kimi): address current review issues
  apps/kimi/AGENTS.md
  apps/kimi/README.md
  apps/kimi/src/data-loader.ts
  apps/kimi/src/pricing.ts
  apps/mcp/package.json
  pnpm-lock.yaml
Due: format, sort-package-json, typecheck, test, lint

Path conditions:
  format: any of: **/*.{cjs,cts,ctsx,js,jsx,mjs,mts,mtsx,ts,tsx,json,yml,yaml,md,mdx}
  sort-package-json: any of: **/package.json
  typecheck: (any of: **/*.{ts,tsx,cts,ctsx,mts,mtsx}) or (any of: *.{ts,js})
  test: any of: **/*.{ts,tsx,cts,ctsx,mts,mtsx}
  lint: any of: *
  sort-package: any of: package.json
