Repository ryoppippi/ccusage: changes, and which lefthook commands are due for each by the changed paths.
All: format, sort-package-json, typecheck, test, lint, sort-package

.lefthook.yml:

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    format:
      glob: '**/*.{cjs,cts,ctsx,js,jsx,mjs,mts,mtsx,ts,tsx,json,yml,yaml,md,mdx}'
      run: pnpm eslint --cache --fix {files}
      stage_fixed: true
    sort-package-json:
      glob: '**/package.json'
      run: pnpm exec sort-package-json {files}
      stage_fixed: true
    typecheck:
      glob: '**/*.{ts,tsx,cts,ctsx,mts,mtsx}'
      run: pnpm tsgo {files}
    test:
      glob: '**/*.{ts,tsx,cts,ctsx,mts,mtsx}'
      run: pnpm vitest --passWithNoTests --run --bail --changedSince=origin/main {files}

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: '*'
      run: bun run lint --fix {staged_files}
      stage_fixed: true
    typecheck:
      glob: '*.{ts,js}'
      run: bun typecheck
    schema:
      run: bun run generate:schema
    test:
      run: bun vitest --passWithNoTests
    sort-package:
      glob: package.json
      run: bunx sort-package-json {staged_files}
      stage_fixed: true

test(codex): use shared fixture macro
  rust/crates/ccusage/src/adapter/codex/mod.rs
Due: lint

test(codex): use fixture macro for group dedupe (#1162)
  rust/crates/ccusage/src/adapter/codex/mod.rs
Due: lint

refactor(cli): extract parser crate (#1157)
  package.nix
  rust/Cargo.lock
  rust/Cargo.toml
  rust/crates/ccusage-cli/Cargo.toml
  rust/crates/ccusage-cli/build.rs
  rust/crates/ccusage-cli/src/arg_parser.rs
  rust/crates/ccusage-cli/src/cli-commands.json
  rust/crates/ccusage-cli/src/cli-help.json
  rust/crates/ccusage-cli/src/help.rs
  rust/crates/ccusage-cli/src/help_codegen.rs
  rust/crates/ccusage-cli/src/lib.rs
  rust/crates/ccusage-cli/src/parser.rs
  rust/crates/ccusage-cli/src/snapshots/ccusage_cli__tests__claude_agent_help.snap
  rust/crates/ccusage-cli/src/snapshots/ccusage_cli__tests__codex_daily_help.snap
  rust/crates/ccusage-cli/src/snapshots/ccusage_cli__tests__root_help.snap
  rust/crates/ccusage-cli/src/snapshots/ccusage_cli__tests__snapshots_cli_parse_error_guidance.snap
  rust/crates/ccusage-cli/src/snapshots/ccusage_cli__tests__snapshots_representative_cli_parse_shapes.snap
  rust/crates/ccusage-cli/src/snapshots/ccusage_cli__tests__statusline_help.snap
  rust/crates/ccusage-cli/src/tests.rs
  rust/crates/ccusage-cli/src/types.rs
  rust/crates/ccusage/Cargo.toml
  rust/crates/ccusage/build.rs
  rust/crates/ccusage/src/adapter/all/report.rs
  rust/crates/ccusage/src/adapter/amp/report.rs
  rust/crates/ccusage/src/adapter/codex/report.rs
  rust/crates/ccusage/src/blocks.rs
  rust/crates/ccusage/src/cli.rs
  rust/crates/ccusage/src/config.rs
  rust/crates/ccusage/src/main.rs
  rust/crates/ccusage/src/output.rs
Due: format, lint

chore: remove gunshi docs
  package.json
  pnpm-lock.yaml
Due: lint, sort-package

chore: release v20.0.5
  apps/ccusage/package.json
  docs/package.json
  package.json
  packages/ccusage-darwin-arm64/package.json
  packages/ccusage-darwin-x64/package.json
  packages/ccusage-linux-arm64/package.json
  packages/ccusage-linux-x64/package.json
  packages/ccusage-win32-arm64/package.json
  packages/ccusage-win32-x64/package.json
  rust/Cargo.lock
  rust/crates/ccusage-cli/Cargo.toml
  rust/crates/ccusage-terminal/Cargo.toml
  rust/crates/ccusage-test-support/Cargo.toml
  rust/crates/ccusage/Cargo.toml
Due: format, sort-package-json, lint, sort-package

ci: upload Rust coverage to GitHub
  .github/workflows/ci.yaml
  nix/dev-shell.nix
  rust-toolchain.toml
Due: format, lint

ci: pin coverage upload action
  .github/workflows/ci.yaml
Due: format, lint

ci: make coverage upload best effort
  .github/workflows/ci.yaml
Due: format, lint

feat(session): add firstActivity to session JSON output
  rust/crates/ccusage/src/adapter/all/loader.rs
  rust/crates/ccusage/src/adapter/claude/daily.rs
  rust/crates/ccusage/src/adapter/codex/aggregate.rs
  rust/crates/ccusage/src/adapter/codex/report.rs
  rust/crates/ccusage/src/adapter/codex/snapshots/ccusage__adapter__codex__tests__snapshots_codex_reports_for_periods_sessions_costs_and_fallback_models.snap
  rust/crates/ccusage/src/adapter/opencode/report.rs
  rust/crates/ccusage/src/adapter/opencode/snapshots/ccusage__adapter__opencode__report__tests__snapshots_agent_summary_json_period_keys_and_session_metadata.snap
  rust/crates/ccusage/src/adapter/qwen/mod.rs
  rust/crates/ccusage/src/commands/mod.rs
  rust/crates/ccusage/src/output.rs
  rust/crates/ccusage/src/snapshots/ccusage__output__tests__snapshots_session_summary_json_with_present_and_missing_options.snap
  rust/crates/ccusage/src/snapshots/ccusage__summary__tests__snapshots_session_accumulator_latest_metadata_versions_and_timezone.snap
  rust/crates/ccusage/src/summary.rs
  rust/crates/ccusage/src/types.rs
Due: lint

ci: fold coverage into test job
  .github/workflows/ci.yaml
Due: format, lint

docs(skills): keep references under preview limits
  .agents/skills/skill-creator/SKILL.md
  .agents/skills/tdd/references/vitest-examples.md
  .agents/skills/tdd/references/vitest.md
Due: format, lint

docs(tdd): link Vitest examples reference
  .agents/skills/tdd/references/vitest.md
Due: format, lint

docs(skills): keep references under preview limits (#1166)
  .agents/skills/skill-creator/SKILL.md
  .agents/skills/tdd/references/vitest-examples.md
  .agents/skills/tdd/references/vitest.md
Due: format, lint

ci: upload Rust coverage to GitHub (#1164)
  .github/workflows/ci.yaml
  nix/dev-shell.nix
  rust-toolchain.toml
Due: format, lint

fix: skip compact auto-detect when stdout is not a TTY
  rust/crates/ccusage/src/adapter/all/report.rs
  rust/crates/ccusage/src/adapter/amp/report.rs
  rust/crates/ccusage/src/blocks.rs
  rust/crates/ccusage/src/output.rs
Due: lint

fix formatting errors
  rust/crates/ccusage/src/adapter/all/report.rs
  rust/crates/ccusage/src/adapter/amp/report.rs
Due: lint

fix(copilot): explain missing otel usage data
  docs/guide/copilot/index.md
  rust/crates/ccusage/src/adapter/copilot/mod.rs
Due: format, lint

test(copilot): anchor empty message docs link
  rust/crates/ccusage/src/adapter/copilot/mod.rs
Due: lint

feat: support Antigravity CLI agent log tracking
  apps/ccusage/config-schema.json
  docs/.vitepress/config.ts
  docs/guide/antigravity/index.md
  docs/guide/index.md
  docs/guide/source-support-qa.md
  rust/crates/ccusage-cli/src/cli-commands.json
  rust/crates/ccusage-cli/src/parser.rs
  rust/crates/ccusage-cli/src/snapshots/ccusage_cli__tests__root_help.snap
  rust/crates/ccusage-cli/src/tests.rs
  rust/crates/ccusage-cli/src/types.rs
  rust/crates/ccusage/src/adapter/all/loader.rs
  rust/crates/ccusage/src/adapter/all/report.rs
  rust/crates/ccusage/src/adapter/antigravity/README.md
  rust/crates/ccusage/src/adapter/antigravity/loader.rs
  rust/crates/ccusage/src/adapter/antigravity/mod.rs
  rust/crates/ccusage/src/adapter/antigravity/parser.rs
  rust/crates/ccusage/src/adapter/antigravity/paths.rs
  rust/crates/ccusage/src/adapter/antigravity/report.rs
  rust/crates/ccusage/src/adapter/mod.rs
  rust/crates/ccusage/src/config.rs
  rust/crates/ccusage/src/config_schema.rs
  rust/crates/ccusage/src/main.rs
  rust/crates/ccusage/src/progress.rs
  rust/crates/ccusage/src/snapshots/ccusage__config_schema__tests__snapshots_schema_agent_specific_option_edges.snap
Due: format, typecheck, test, lint

style(antigravity): apply rustfmt
  rust/crates/ccusage-cli/src/tests.rs
  rust/crates/ccusage/src/adapter/antigravity/loader.rs
  rust/crates/ccusage/src/adapter/antigravity/paths.rs
Due: lint

fix: fix opencode kimi k2p6 cost bug.
  rust/crates/ccusage/src/adapter/opencode/parser.rs
Due: lint

fix: decide to use the embedded pricemap to verify provider resolution.
  rust/crates/ccusage/src/adapter/opencode/parser.rs
Due: lint

perf(ccusage): share JSONL scanning helpers
  rust/Cargo.lock
  rust/Cargo.toml
  rust/crates/ccusage-jsonl/Cargo.toml
  rust/crates/ccusage-jsonl/src/lib.rs
  rust/crates/ccusage/Cargo.toml
  rust/crates/ccusage/src/adapter/codex/parser.rs
  rust/crates/ccusage/src/adapter/copilot/parser.rs
  rust/crates/ccusage/src/adapter/droid/parser.rs
  rust/crates/ccusage/src/adapter/gemini/parser.rs
  rust/crates/ccusage/src/adapter/kimi/parser.rs
  rust/crates/ccusage/src/adapter/openclaw/parser.rs
  rust/crates/ccusage/src/adapter/pi/parser.rs
  rust/crates/ccusage/src/adapter/qwen/parser.rs
  rust/crates/ccusage/src/commands/mod.rs
Due: lint

fix(ccusage): address jsonl review feedback
  rust/crates/ccusage-jsonl/src/lib.rs
  rust/crates/ccusage/src/adapter/claude/daily.rs
  rust/crates/ccusage/src/adapter/claude/mod.rs
  rust/crates/ccusage/src/adapter/codex/parser.rs
  rust/crates/ccusage/src/adapter/openclaw/parser.rs
  rust/crates/ccusage/src/adapter/qwen/parser.rs
  rust/crates/ccusage/src/fast.rs
Due: lint

fix(codex): keep best-effort jsonl read errors
  rust/crates/ccusage/src/adapter/codex/parser.rs
Due: lint

fix(codex): surface jsonl read errors per file
  rust/crates/ccusage/src/adapter/codex/loader.rs
  rust/crates/ccusage/src/adapter/codex/parser.rs
Due: lint

fix(openclaw): stream jsonl session reads
  rust/crates/ccusage/src/adapter/openclaw/parser.rs
Due: lint

ci: finish Blacksmith runner migration
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/update-pricing.yaml
Due: format, lint

fix(terminal): use max line width for multiline table cells
  rust/crates/ccusage-terminal/src/snapshots/ccusage_terminal__table__tests__snapshots_full_table_with_multiline_cells_and_separators.snap
  rust/crates/ccusage-terminal/src/table.rs
  rust/crates/ccusage-terminal/src/width.rs
Due: lint

fix(pricing): add Claude Opus 4.8 rates
  rust/crates/ccusage/src/fast-multiplier-overrides.json
  rust/crates/ccusage/src/pricing.rs
Due: format, lint

chore(pricing): name date suffix length
  rust/crates/ccusage/src/pricing.rs
Due: lint

chore(pricing): document date suffix heuristic [ci skip]
  rust/crates/ccusage/src/pricing.rs
Due: lint

fix(release): skip native rebuild when packaged binary works
  apps/ccusage/package.json
  apps/ccusage/scripts/ensure-native-binary.ts
Due: format, sort-package-json, typecheck, test, lint

fix(pricing): add Claude Opus 4.8 rates (#1182)
  rust/crates/ccusage/src/fast-multiplier-overrides.json
  rust/crates/ccusage/src/pricing.rs
Due: format, lint

fix(release): require matching native binary version
  apps/ccusage/scripts/ensure-native-binary.ts
Due: format, typecheck, test, lint

fix(release): fall back when native package metadata is unreadable
  apps/ccusage/scripts/ensure-native-binary.ts
Due: format, typecheck, test, lint

fix(pricing): warn when model pricing is missing
  rust/crates/ccusage/src/adapter/all/loader.rs
  rust/crates/ccusage/src/adapter/all/report.rs
  rust/crates/ccusage/src/adapter/all/tests.rs
  rust/crates/ccusage/src/adapter/all/types.rs
  rust/crates/ccusage/src/adapter/amp/parser.rs
  rust/crates/ccusage/src/adapter/claude/daily.rs
  rust/crates/ccusage/src/adapter/claude/mod.rs
  rust/crates/ccusage/src/adapter/codebuff/loader.rs
  rust/crates/ccusage/src/adapter/copilot/loader.rs
  rust/crates/ccusage/src/adapter/droid/loader.rs
  rust/crates/ccusage/src/adapter/gemini/parser.rs
  rust/crates/ccusage/src/adapter/goose/parser.rs
  rust/crates/ccusage/src/adapter/goose/report.rs
  rust/crates/ccusage/src/adapter/hermes/parser.rs
  rust/crates/ccusage/src/adapter/hermes/report.rs
  rust/crates/ccusage/src/adapter/kilo/parser.rs
  rust/crates/ccusage/src/adapter/kimi/parser.rs
  rust/crates/ccusage/src/adapter/openclaw/parser.rs
  rust/crates/ccusage/src/adapter/opencode/parser.rs
  rust/crates/ccusage/src/adapter/opencode/report.rs
  rust/crates/ccusage/src/adapter/pi/parser.rs
  rust/crates/ccusage/src/adapter/qwen/parser.rs
  rust/crates/ccusage/src/cost.rs
  rust/crates/ccusage/src/main.rs
  rust/crates/ccusage/src/output.rs
  rust/crates/ccusage/src/pricing.rs
  rust/crates/ccusage/src/summary.rs
  rust/crates/ccusage/src/types.rs
Due: lint

fix(release): skip native rebuild when packaged binary works (#1183)
  apps/ccusage/package.json
  apps/ccusage/scripts/ensure-native-binary.ts
Due: format, sort-package-json, typecheck, test, lint

fix(pricing): fall back to models.dev pricing
  rust/crates/ccusage/src/pricing.rs
Due: lint

fix(opencode): fix opencode kimi k2p6 cost bug. (#1179)
  rust/crates/ccusage/src/adapter/opencode/parser.rs
Due: lint
