Repository ryoppippi/ccusage: changes, and which lefthook commands are due for each by the changed paths.
All: format, sort-package-json, typecheck, test, lint, sort-package

.lefthook.yml:

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    format:
      glob: '**/*.{cjs,cts,ctsx,js,jsx,mjs,mts,mtsx,ts,tsx,json,yml,yaml,md,mdx}'
      run: pnpm eslint --cache --fix {files}
      stage_fixed: true
    sort-package-json:
      glob: '**/package.json'
      run: pnpm exec sort-package-json {files}
      stage_fixed: true
    typecheck:
      glob: '**/*.{ts,tsx,cts,ctsx,mts,mtsx}'
      run: pnpm tsgo {files}
    test:
      glob: '**/*.{ts,tsx,cts,ctsx,mts,mtsx}'
      run: pnpm vitest --passWithNoTests --run --bail --changedSince=origin/main {files}

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: '*'
      run: bun run lint --fix {staged_files}
      stage_fixed: true
    typecheck:
      glob: '*.{ts,js}'
      run: bun typecheck
    schema:
      run: bun run generate:schema
    test:
      run: bun vitest --passWithNoTests
    sort-package:
      glob: package.json
      run: bunx sort-package-json {staged_files}
      stage_fixed: true

Revert "perf(ccusage): skip redundant cost reassignment"
  crates/ccusage/src/main.rs
Due: lint

Revert "feat(ccusage): align native pricing and terminal output"
  Cargo.lock
  crates/ccusage/Cargo.toml
  crates/ccusage/build.rs
  crates/ccusage/src/main.rs
  crates/ccusage/src/pricing.rs
  crates/ccusage/src/terminal.rs
Due: lint

Revert "docs(ccusage): update native performance benchmark"
  apps/ccusage/RUST_REWRITE_BENCHMARK.md
Due: format, lint

perf(ccusage): speed up TypeScript usage loading
  apps/ccusage/src/_date-utils.ts
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

Revert "perf(ccusage): speed up TypeScript usage loading"
  apps/ccusage/src/_date-utils.ts
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

chore: drop Node 20 support, require Node >=22.11.0
  apps/amp/package.json
  apps/ccusage/package.json
  apps/codex/package.json
  apps/mcp/package.json
  apps/opencode/package.json
  apps/pi/package.json
  docs/package.json
Due: format, sort-package-json, lint

chore: bump tsdown build target to node22
  apps/amp/tsdown.config.ts
  apps/opencode/tsdown.config.ts
Due: format, typecheck, test, lint

refactor: remove locale option
  apps/ccusage/README.md
  apps/ccusage/config-schema.json
  apps/ccusage/scripts/generate-json-schema.ts
  apps/ccusage/src/_date-utils.ts
  apps/ccusage/src/_shared-args.ts
  apps/ccusage/src/commands/_session_id.ts
  apps/ccusage/src/commands/blocks.ts
  apps/ccusage/src/commands/daily.ts
  apps/ccusage/src/commands/monthly.ts
  apps/ccusage/src/commands/session.ts
  apps/ccusage/src/commands/weekly.ts
  apps/ccusage/src/data-loader.ts
  apps/codex/src/_consts.ts
  apps/codex/src/_shared-args.ts
  apps/codex/src/commands/daily.ts
  apps/codex/src/commands/monthly.ts
  apps/codex/src/commands/session.ts
  apps/codex/src/daily-report.ts
  apps/codex/src/date-utils.ts
  apps/codex/src/monthly-report.ts
  apps/codex/src/session-report.ts
  apps/mcp/src/ccusage.ts
  apps/mcp/src/codex.ts
  apps/mcp/src/consts.ts
  ccusage.example.json
  docs/guide/cli-options.md
  docs/guide/codex/daily.md
  docs/guide/codex/monthly.md
  docs/guide/codex/session.md
  docs/guide/config-files.md
  docs/guide/configuration.md
  docs/guide/mcp-server.md
  packages/internal/CLAUDE.md
  packages/internal/src/constants.ts
Due: format, typecheck, test, lint

refactor(ccusage): use native Object.groupBy in data-loader
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): reduce native JSONL parse work
  crates/ccusage/src/main.rs
Due: lint

fix(ccusage): avoid provider-specific Claude fallback
  packages/internal/src/pricing.ts
Due: format, typecheck, test, lint

refactor(ccusage): replace uniq with native Set
  apps/ccusage/package.json
  apps/ccusage/src/_session-blocks.ts
  apps/ccusage/src/data-loader.ts
  pnpm-lock.yaml
Due: format, sort-package-json, typecheck, test, lint

Revert "perf(ccusage): reduce native JSONL parse work"
  crates/ccusage/src/main.rs
Due: lint

fix(opencode): resolve provider model pricing aliases
  apps/opencode/src/cost-utils.ts
  apps/opencode/src/data-loader.ts
Due: format, typecheck, test, lint

fix(opencode): load usage from SQLite database
  apps/opencode/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): speed up TypeScript usage loading
  apps/ccusage/config-schema.json
  apps/ccusage/src/_date-utils.ts
  apps/ccusage/src/_shared-args.ts
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): use Bun glob for usage discovery
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): avoid trimming JSONL lines
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

fix(ccusage): keep complete duplicate usage entries
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): speed up usage data loading
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

fix(ccusage): keep complete duplicate usage entries
  crates/ccusage/src/main.rs
Due: lint

perf(ccusage): parallelise JSONL loading by CPU count
  apps/ccusage/config-schema.json
  apps/ccusage/src/_shared-args.ts
  apps/ccusage/src/commands/blocks.ts
  apps/ccusage/src/commands/session.ts
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): read Rust usage data in one pass
  Cargo.lock
  crates/ccusage/Cargo.toml
  crates/ccusage/src/cli.rs
  crates/ccusage/src/main.rs
Due: lint

perf(ccusage): avoid double reading block files
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): use fast parsing for content usage lines
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): shrink Rust timezone support
  Cargo.lock
  crates/ccusage/Cargo.toml
  crates/ccusage/src/main.rs
Due: lint

perf(ccusage): use native JSONL discovery
  apps/ccusage/package.json
  apps/ccusage/src/_consts.ts
  apps/ccusage/src/data-loader.ts
  apps/ccusage/src/debug.ts
  pnpm-lock.yaml
Due: format, sort-package-json, typecheck, test, lint

perf(ccusage): cache usage date formatting
  apps/ccusage/src/_date-utils.ts
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): collapse fast parser null checks
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): mutate aggregation accumulators
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): summarize usage groups in one pass
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): parse Rust usage timestamps once
  Cargo.lock
  crates/ccusage/Cargo.toml
  crates/ccusage/src/main.rs
Due: lint

perf(ccusage): skip Rust content deserialization
  crates/ccusage/src/main.rs
Due: lint

perf(ccusage): share Rust file metadata strings
  crates/ccusage/src/main.rs
Due: lint

perf(ccusage): reuse block usage timestamps
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): avoid per-line promise allocation
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): avoid trimming jsonl lines
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): parse usage files in worker threads
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint
