Repository ryoppippi/ccusage: changes, and which lefthook commands are due for each by the changed paths.
All: format, sort-package-json, typecheck, test, lint, sort-package

format:
  run: pnpm eslint --cache --fix {files}
  stage_fixed: true

sort-package-json:
  run: pnpm exec sort-package-json {files}
  stage_fixed: true

typecheck:
  run: pnpm tsgo {files}

test:
  run: pnpm vitest --passWithNoTests --run --bail --changedSince=origin/main {files}

lint:
  run: bun run lint --fix {staged_files}
  stage_fixed: true

sort-package:
  run: bunx sort-package-json {staged_files}
  stage_fixed: true

perf(ccusage): keep rustls limited to static linux
  rust/Cargo.lock
  rust/crates/ccusage/Cargo.toml
Due: lint

fix(ccusage): ignore package runner separator
  rust/crates/ccusage/src/cli.rs
Due: lint

Revert "fix(ccusage): ignore package runner separator"
  rust/crates/ccusage/src/cli.rs
Due: lint

fix(ccusage): match rust all report display
  rust/crates/ccusage/src/adapter/all.rs
  rust/crates/ccusage/src/adapter/codex.rs
  rust/crates/ccusage/src/pricing.rs
Due: lint

perf(ccusage): slim native launcher
  apps/ccusage/src/cli.ts
Due: format, typecheck, test, lint

build(ccusage): use workspace native package deps
  apps/ccusage/package.json
  pnpm-lock.yaml
Due: format, sort-package-json, lint

perf(ccusage): scan claude jsonl as bytes
  rust/Cargo.lock
  rust/crates/ccusage/Cargo.toml
  rust/crates/ccusage/src/claude_loader.rs
Due: lint

docs: add scx related project
  docs/guide/related-projects.md
Due: format, lint

docs: add scx to related projects (#1052)
  docs/guide/related-projects.md
Due: format, lint

docs: add Straude community project
  docs/.vitepress/config.ts
  docs/guide/community-projects.md
Due: format, typecheck, test, lint

perf(ccusage): aggregate claude daily summaries directly
  rust/crates/ccusage/src/adapter/codex.rs
  rust/crates/ccusage/src/claude_loader.rs
  rust/crates/ccusage/src/commands/mod.rs
  rust/crates/ccusage/src/cost.rs
  rust/crates/ccusage/src/main.rs
  rust/crates/ccusage/src/pricing.rs
Due: lint

fix(ccusage): include nested claude agent progress in daily reports
  rust/crates/ccusage/src/claude_loader.rs
  rust/crates/ccusage/src/main.rs
Due: lint

fix(ccusage): keep native package bins private
  apps/ccusage/scripts/verify-native-package.mjs
  packages/ccusage-darwin-arm64/package.json
  packages/ccusage-darwin-x64/package.json
  packages/ccusage-linux-arm64/package.json
  packages/ccusage-linux-x64/package.json
  packages/ccusage-win32-arm64/package.json
  packages/ccusage-win32-x64/package.json
Due: format, sort-package-json, lint

ci(ccusage): comment perf results per commit
  .github/workflows/ccusage-perf.yaml
  .github/workflows/ccusage-rust-perf.yaml
  apps/ccusage/scripts/compare-pr-performance.ts
Due: format, typecheck, test, lint

ci(ccusage): benchmark the PR head commit
  .github/workflows/ccusage-perf.yaml
  .github/workflows/ccusage-rust-perf.yaml
Due: format, lint

ci(ccusage): report rust binary size in perf comments
  apps/ccusage/scripts/compare-pr-performance.ts
Due: format, typecheck, test, lint

fix(ccusage): repair native binary mode before launch
  .github/scripts/e2e-setup.mjs
  apps/ccusage/src/cli.ts
Due: format, typecheck, test, lint

ci(ccusage): benchmark pkg.pr preview packages
  .github/workflows/ccusage-perf.yaml
  .github/workflows/ccusage-rust-perf.yaml
  apps/ccusage/scripts/compare-pr-performance.ts
Due: format, typecheck, test, lint

ci(ccusage): avoid preview publish race in perf
  apps/ccusage/scripts/compare-pr-performance.ts
Due: format, typecheck, test, lint

ci(ccusage): clarify package runner cache timing
  .github/workflows/ccusage-perf.yaml
  .github/workflows/ccusage-rust-perf.yaml
  apps/ccusage/scripts/compare-pr-performance.ts
Due: format, typecheck, test, lint

ci(ccusage): benchmark preview packages head to head
  apps/ccusage/scripts/compare-pr-performance.ts
Due: format, typecheck, test, lint

docs(skills): add ccusage rust workflow guidance
  .agents/skills/ccusage-agent-sources/SKILL.md
  .agents/skills/ccusage-development/SKILL.md
  .agents/skills/ccusage-rust/SKILL.md
  .agents/skills/ccusage-testing/SKILL.md
  .agents/skills/reduce-similarities/SKILL.md
  .agents/skills/tdd/SKILL.md
  .agents/skills/tdd/references/rust-examples.md
Due: format, lint

refactor(ccusage): split opencode rust adapter
  rust/crates/ccusage/src/adapter/all.rs
  rust/crates/ccusage/src/adapter/opencode.rs
  rust/crates/ccusage/src/adapter/opencode/loader.rs
  rust/crates/ccusage/src/adapter/opencode/mod.rs
  rust/crates/ccusage/src/adapter/opencode/parser.rs
  rust/crates/ccusage/src/main.rs
Due: lint

build(ccusage): embed litellm pricing at compile time
  rust/crates/ccusage/Cargo.toml
  rust/crates/ccusage/build.rs
  rust/crates/ccusage/src/litellm-pricing-fallback.json
  rust/crates/ccusage/src/pricing.rs
Due: format, lint

ci(ccusage): skip pnpm dlx preview on windows
  .github/workflows/ci.yaml
Due: format, lint

refactor(ccusage): split opencode rust path discovery
  rust/crates/ccusage/src/adapter/opencode/loader.rs
  rust/crates/ccusage/src/adapter/opencode/mod.rs
  rust/crates/ccusage/src/adapter/opencode/paths.rs
Due: lint

build(ccusage): compact embedded pricing snapshot
  rust/crates/ccusage/Cargo.toml
  rust/crates/ccusage/build.rs
  rust/crates/ccusage/src/litellm-pricing-fallback.json
  rust/crates/ccusage/src/pricing.rs
Due: format, lint

build(ccusage): shrink native release binary
  .cargo/config.toml
  rust/Cargo.toml
Due: lint

perf(ccusage): use Bun native spawn for wrapper
  apps/ccusage/src/cli.ts
Due: format, typecheck, test, lint

perf(ccusage): spawn native wrapper asynchronously
  apps/ccusage/src/cli.ts
Due: format, typecheck, test, lint

ci(ccusage): benchmark installed package entry
  apps/ccusage/scripts/compare-pr-performance.ts
Due: format, typecheck, test, lint

fix(ccusage): align rust session json parity
  rust/crates/ccusage/src/adapter/all.rs
  rust/crates/ccusage/src/adapter/amp.rs
  rust/crates/ccusage/src/adapter/opencode/mod.rs
  rust/crates/ccusage/src/adapter/pi.rs
  rust/crates/ccusage/src/claude_loader.rs
  rust/crates/ccusage/src/commands/mod.rs
  rust/crates/ccusage/src/pricing.rs
  rust/crates/ccusage/src/types.rs
Due: lint

ci(ccusage): benchmark cached bunx execution
  apps/ccusage/scripts/compare-pr-performance.ts
Due: format, typecheck, test, lint

ci(ccusage): diagnose package runtime overhead
  apps/ccusage/scripts/compare-pr-performance.ts
Due: format, typecheck, test, lint

perf(ccusage): use mimalloc for linux musl binaries
  rust/Cargo.lock
  rust/crates/ccusage/Cargo.toml
  rust/crates/ccusage/src/main.rs
Due: lint

ci(ccusage): report native package binary size
  apps/ccusage/scripts/compare-pr-performance.ts
Due: format, typecheck, test, lint

build(ccusage): reduce linux musl tls size
  rust/Cargo.lock
  rust/crates/ccusage/Cargo.toml
  rust/crates/ccusage/src/pricing.rs
Due: lint

perf(ccusage): stream json output through buffers
  .cargo/config.toml
  rust/crates/ccusage/src/output.rs
Due: lint

build(ccusage): trim bundled sqlite features
  .cargo/config.toml
Due: lint

Path conditions:
  format: any of: **/*.{cjs,cts,ctsx,js,jsx,mjs,mts,mtsx,ts,tsx,json,yml,yaml,md,mdx}
  sort-package-json: any of: **/package.json
  typecheck: (any of: **/*.{ts,tsx,cts,ctsx,mts,mtsx}) or (any of: *.{ts,js})
  test: any of: **/*.{ts,tsx,cts,ctsx,mts,mtsx}
  lint: any of: *
  sort-package: any of: package.json
