Repository ryoppippi/ccusage: changes, and which lefthook commands are due for each by the changed paths.
All: format, sort-package-json, typecheck, test, lint, sort-package

.lefthook.yml:

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    format:
      glob: '**/*.{cjs,cts,ctsx,js,jsx,mjs,mts,mtsx,ts,tsx,json,yml,yaml,md,mdx}'
      run: pnpm eslint --cache --fix {files}
      stage_fixed: true
    sort-package-json:
      glob: '**/package.json'
      run: pnpm exec sort-package-json {files}
      stage_fixed: true
    typecheck:
      glob: '**/*.{ts,tsx,cts,ctsx,mts,mtsx}'
      run: pnpm tsgo {files}
    test:
      glob: '**/*.{ts,tsx,cts,ctsx,mts,mtsx}'
      run: pnpm vitest --passWithNoTests --run --bail --changedSince=origin/main {files}

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: '*'
      run: bun run lint --fix {staged_files}
      stage_fixed: true
    typecheck:
      glob: '*.{ts,js}'
      run: bun typecheck
    schema:
      run: bun run generate:schema
    test:
      run: bun vitest --passWithNoTests
    sort-package:
      glob: package.json
      run: bunx sort-package-json {staged_files}
      stage_fixed: true

perf(internal): simplify tiered pricing helper
  packages/internal/src/pricing.ts
Due: format, typecheck, test, lint

perf(ccusage): inline usage totals in collectors
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): compact daily and session worker payloads
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): skip non-usage JSONL lines earlier
  crates/ccusage/src/main.rs
Due: lint

perf(ccusage): skip unused session id extraction
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): transfer daily worker columns
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): avoid string column initialization
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): keep decoded daily rows packed
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): place rust worker results by index
  crates/ccusage/src/main.rs
Due: lint

Allow MCP startup without Claude data for Codex tools
  apps/mcp/README.md
  apps/mcp/src/command.ts
  apps/mcp/src/mcp-utils.ts
  apps/mcp/src/mcp.ts
Due: format, typecheck, test, lint

Fix MCP stdio startup in Codex-only setups
  apps/mcp/src/command.ts
Due: format, typecheck, test, lint

Harden MCP Bun CLI resolution
  apps/mcp/src/cli-utils.test.ts
  apps/mcp/src/cli-utils.ts
Due: format, typecheck, test, lint

test(mcp): fix codex session MCP assertions
  apps/mcp/src/cli-utils.test.ts
  apps/mcp/src/cli-utils.ts
  apps/mcp/src/mcp.ts
Due: format, typecheck, test, lint

Add codex-session MCP tool
  apps/mcp/README.md
  apps/mcp/src/codex.ts
  apps/mcp/src/mcp.ts
Due: format, typecheck, test, lint

fix(mcp): address review feedback
  apps/mcp/README.md
  apps/mcp/package.json
  apps/mcp/src/cli-utils.test.ts
  apps/mcp/src/cli-utils.ts
  apps/mcp/src/codex.ts
  apps/mcp/src/command.ts
  apps/mcp/src/mcp-utils.ts
  apps/mcp/src/mcp.ts
  pnpm-lock.yaml
Due: format, sort-package-json, typecheck, test, lint

perf(ccusage): avoid per-file promises in JSONL walker
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): lazily allocate JSONL directory walks
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

refactor(ccusage): clarify JSONL walker control flow
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

refactor(ccusage): collect block models in a set
  apps/ccusage/src/_session-blocks.ts
Due: format, typecheck, test, lint

perf(ccusage): skip block entry sort when already ordered
  apps/ccusage/src/_session-blocks.ts
Due: format, typecheck, test, lint

perf(ccusage): cache block order scan timestamp
  apps/ccusage/src/_session-blocks.ts
Due: format, typecheck, test, lint

perf(ccusage): stream decoded daily worker rows
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(terminal): lazily create number formatter
  packages/terminal/src/table.ts
Due: format, typecheck, test, lint

perf(terminal): remove bundled string-width
  apps/ccusage/package.json
  packages/terminal/package.json
  packages/terminal/src/text-width.ts
  packages/terminal/src/utils.ts
  pnpm-lock.yaml
Due: format, sort-package-json, typecheck, test, lint

perf(internal): replace consola logger
  apps/ccusage/src/logger.ts
  apps/codex/README.md
  apps/opencode/README.md
  docs/guide/codex/index.md
  docs/guide/environment-variables.md
  packages/internal/CLAUDE.md
  packages/internal/package.json
  packages/internal/src/logger.ts
  pnpm-lock.yaml
Due: format, sort-package-json, typecheck, test, lint

refactor(ccusage): name usage row helper calculations
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

build(ccusage): trim bundled entry output
  apps/ccusage/tsdown.config.ts
Due: format, typecheck, test, lint

test(ccusage): snapshot CLI output
  apps/ccusage/test/cli-output.test.ts
  apps/ccusage/test/fixtures/claude/projects/project-alpha/session-alpha/chat.jsonl
  apps/ccusage/test/fixtures/claude/projects/project-beta/session-beta/chat.jsonl
  apps/ccusage/test/snapshots/cli-output/blocks-json.txt
  apps/ccusage/test/snapshots/cli-output/blocks-table.txt
  apps/ccusage/test/snapshots/cli-output/daily-json.txt
  apps/ccusage/test/snapshots/cli-output/daily-table.txt
  apps/ccusage/test/snapshots/cli-output/monthly-json.txt
  apps/ccusage/test/snapshots/cli-output/session-json.txt
  apps/ccusage/test/snapshots/cli-output/session-table.txt
  apps/ccusage/test/snapshots/cli-output/weekly-json.txt
Due: format, typecheck, test, lint

ci(ccusage): comment fixture performance on PRs
  .github/scripts/upsert-pr-comment.ts
  .github/workflows/ccusage-perf.yaml
  apps/ccusage/scripts/compare-pr-performance.ts
Due: format, typecheck, test, lint

ci(ccusage): run perf scripts through pnpm bun
  .github/workflows/ccusage-perf.yaml
Due: format, lint

perf(ccusage): run published launcher with bun
  apps/ccusage/src/cli.ts
Due: format, typecheck, test, lint

feat(ccusage)!: remove built-in jq option
  apps/ccusage/config-schema.json
  apps/ccusage/package.json
  apps/ccusage/src/_jq-processor.ts
  apps/ccusage/src/_shared-args.ts
  apps/ccusage/src/commands/_session_id.ts
  apps/ccusage/src/commands/blocks.ts
  apps/ccusage/src/commands/daily.ts
  apps/ccusage/src/commands/monthly.ts
  apps/ccusage/src/commands/session.ts
  apps/ccusage/src/commands/weekly.ts
  apps/ccusage/test/cli-output.test.ts
  docs/guide/cli-options.md
  docs/guide/config-files.md
  docs/guide/configuration.md
  docs/guide/json-output.md
  docs/guide/session-reports.md
  pnpm-lock.yaml
Due: format, sort-package-json, typecheck, test, lint

perf(ccusage): slim statusline json cache
  apps/ccusage/package.json
  apps/ccusage/src/commands/statusline.ts
  packages/internal/package.json
  packages/internal/src/json-file-state.ts
  pnpm-lock.yaml
Due: format, sort-package-json, typecheck, test, lint

build(ccusage): strip bundled jsdoc comments
  apps/ccusage/tsdown.config.ts
Due: format, typecheck, test, lint

refactor(internal): share deterministic sort helpers
  apps/amp/src/commands/daily.ts
  apps/amp/src/commands/monthly.ts
  apps/amp/src/commands/session.ts
  apps/amp/src/data-loader.ts
  apps/ccusage/src/_date-utils.ts
  apps/ccusage/src/data-loader.ts
  apps/codex/src/daily-report.ts
  apps/codex/src/data-loader.ts
  apps/codex/src/monthly-report.ts
  apps/codex/src/session-report.ts
  apps/opencode/src/commands/daily.ts
  apps/opencode/src/commands/monthly.ts
  apps/opencode/src/commands/weekly.ts
  apps/pi/src/data-loader.ts
  packages/internal/package.json
  packages/internal/src/sort.ts
Due: format, sort-package-json, typecheck, test, lint

perf(ccusage): avoid Array.from for worker result slots
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

chore: upgrade pnpm to 11
  flake.lock
  flake.nix
  package.json
Due: lint, sort-package

ci: e2e test ccusage preview package
  .github/scripts/e2e-setup.mjs
  .github/workflows/ci.yaml
  apps/ccusage/src/cli.ts
Due: format, typecheck, test, lint

docs(ccusage): explain jsonl hot path optimizations
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): avoid reverse line scans in usage byte parser
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint
