Repository ryoppippi/ccusage: changes, and which lefthook commands are due for each by the changed paths.
All: format, sort-package-json, typecheck, test, lint, sort-package

.lefthook.yml:

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    format:
      glob: '**/*.{cjs,cts,ctsx,js,jsx,mjs,mts,mtsx,ts,tsx,json,yml,yaml,md,mdx}'
      run: pnpm eslint --cache --fix {files}
      stage_fixed: true
    sort-package-json:
      glob: '**/package.json'
      run: pnpm exec sort-package-json {files}
      stage_fixed: true
    typecheck:
      glob: '**/*.{ts,tsx,cts,ctsx,mts,mtsx}'
      run: pnpm tsgo {files}
    test:
      glob: '**/*.{ts,tsx,cts,ctsx,mts,mtsx}'
      run: pnpm vitest --passWithNoTests --run --bail --changedSince=origin/main {files}

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: '*'
      run: bun run lint --fix {staged_files}
      stage_fixed: true
    typecheck:
      glob: '*.{ts,js}'
      run: bun typecheck
    schema:
      run: bun run generate:schema
    test:
      run: bun vitest --passWithNoTests
    sort-package:
      glob: package.json
      run: bunx sort-package-json {staged_files}
      stage_fixed: true

fix(copilot): explain missing otel usage data (#1170)
  docs/guide/copilot/index.md
  rust/crates/ccusage/src/adapter/copilot/mod.rs
Due: format, lint

fix(pricing): fetch models.dev lazily
  rust/crates/ccusage/src/pricing.rs
Due: lint

test(rust): cover non-tty compact layout
  rust/crates/ccusage/src/adapter/all/report.rs
  rust/crates/ccusage/src/adapter/amp/report.rs
  rust/crates/ccusage/src/blocks.rs
  rust/crates/ccusage/src/main.rs
  rust/crates/ccusage/src/output.rs
Due: lint

fix(pricing): keep models.dev duplicate checks exact
  rust/crates/ccusage/src/pricing.rs
Due: lint

style(pricing): apply rustfmt
  rust/crates/ccusage/src/pricing.rs
Due: lint

fix(pricing): retry models.dev fallback failures
  rust/crates/ccusage/src/pricing.rs
Due: lint

fix: skip compact auto-detect when stdout is not a TTY (#1111)
  rust/crates/ccusage/src/adapter/all/report.rs
  rust/crates/ccusage/src/adapter/amp/report.rs
  rust/crates/ccusage/src/blocks.rs
  rust/crates/ccusage/src/main.rs
  rust/crates/ccusage/src/output.rs
Due: lint

fix(pricing): warn for missing agent pricing
  rust/crates/ccusage/src/adapter/all/loader.rs
  rust/crates/ccusage/src/adapter/amp/parser.rs
  rust/crates/ccusage/src/adapter/codebuff/loader.rs
  rust/crates/ccusage/src/adapter/codebuff/parser.rs
  rust/crates/ccusage/src/adapter/codex/mod.rs
  rust/crates/ccusage/src/adapter/codex/report.rs
  rust/crates/ccusage/src/adapter/copilot/loader.rs
  rust/crates/ccusage/src/adapter/droid/loader.rs
  rust/crates/ccusage/src/adapter/droid/parser.rs
  rust/crates/ccusage/src/adapter/gemini/parser.rs
  rust/crates/ccusage/src/adapter/goose/parser.rs
  rust/crates/ccusage/src/adapter/hermes/parser.rs
  rust/crates/ccusage/src/adapter/kilo/parser.rs
  rust/crates/ccusage/src/adapter/kimi/parser.rs
  rust/crates/ccusage/src/adapter/opencode/parser.rs
  rust/crates/ccusage/src/adapter/qwen/parser.rs
  rust/crates/ccusage/src/cost.rs
  rust/crates/ccusage/src/main.rs
  rust/crates/ccusage/src/output.rs
Due: lint

fix(pricing): back off models.dev retry failures
  rust/crates/ccusage/src/pricing.rs
Due: lint

chore(pricing): update LiteLLM snapshot
  flake.lock
Due: lint

refactor(qwen): reuse model candidates for pricing lookup
  rust/crates/ccusage/src/adapter/qwen/parser.rs
Due: lint

ci(pricing): check LiteLLM updates twice daily
  .github/workflows/update-pricing.yaml
Due: format, lint

fix(pricing): fall back to models.dev pricing (#1185)
  rust/crates/ccusage/src/pricing.rs
Due: lint

fix(pricing): warn when model pricing is missing (#1184)
  rust/crates/ccusage/src/adapter/all/loader.rs
  rust/crates/ccusage/src/adapter/all/report.rs
  rust/crates/ccusage/src/adapter/all/tests.rs
  rust/crates/ccusage/src/adapter/all/types.rs
  rust/crates/ccusage/src/adapter/amp/parser.rs
  rust/crates/ccusage/src/adapter/claude/daily.rs
  rust/crates/ccusage/src/adapter/claude/mod.rs
  rust/crates/ccusage/src/adapter/codebuff/loader.rs
  rust/crates/ccusage/src/adapter/codebuff/parser.rs
  rust/crates/ccusage/src/adapter/codex/mod.rs
  rust/crates/ccusage/src/adapter/codex/report.rs
  rust/crates/ccusage/src/adapter/copilot/loader.rs
  rust/crates/ccusage/src/adapter/droid/loader.rs
  rust/crates/ccusage/src/adapter/droid/parser.rs
  rust/crates/ccusage/src/adapter/gemini/parser.rs
  rust/crates/ccusage/src/adapter/goose/parser.rs
  rust/crates/ccusage/src/adapter/goose/report.rs
  rust/crates/ccusage/src/adapter/hermes/parser.rs
  rust/crates/ccusage/src/adapter/hermes/report.rs
  rust/crates/ccusage/src/adapter/kilo/parser.rs
  rust/crates/ccusage/src/adapter/kimi/parser.rs
  rust/crates/ccusage/src/adapter/openclaw/parser.rs
  rust/crates/ccusage/src/adapter/opencode/parser.rs
  rust/crates/ccusage/src/adapter/opencode/report.rs
  rust/crates/ccusage/src/adapter/pi/parser.rs
  rust/crates/ccusage/src/adapter/qwen/parser.rs
  rust/crates/ccusage/src/cost.rs
  rust/crates/ccusage/src/main.rs
  rust/crates/ccusage/src/output.rs
  rust/crates/ccusage/src/pricing.rs
  rust/crates/ccusage/src/summary.rs
  rust/crates/ccusage/src/types.rs
Due: lint

ci(pricing): update LiteLLM snapshot automation (#1186)
  .github/workflows/update-pricing.yaml
  flake.lock
Due: format, lint

ci: add GitHub Actions lint checks
  .github/workflows/approve-contributor.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  nix/dev-shell.nix
  nix/treefmt.nix
Due: format, lint

ci: add GitHub Actions lint checks (#1187)
  .github/workflows/approve-contributor.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  nix/dev-shell.nix
  nix/treefmt.nix
Due: format, lint

fix(nix): make config schema generator idempotent
  nix/treefmt.nix
Due: lint

chore(direnv): watch flake modules so the dev shell reloads
  .envrc
Due: lint

chore: release v20.0.6
  apps/ccusage/package.json
  docs/package.json
  package.json
  packages/ccusage-darwin-arm64/package.json
  packages/ccusage-darwin-x64/package.json
  packages/ccusage-linux-arm64/package.json
  packages/ccusage-linux-x64/package.json
  packages/ccusage-win32-arm64/package.json
  packages/ccusage-win32-x64/package.json
  rust/Cargo.lock
  rust/crates/ccusage-cli/Cargo.toml
  rust/crates/ccusage-terminal/Cargo.toml
  rust/crates/ccusage-test-support/Cargo.toml
  rust/crates/ccusage/Cargo.toml
Due: format, sort-package-json, lint, sort-package

fix(opencode): honor --since/--until in SQLite loader and JSON dump scan
  rust/Cargo.lock
  rust/crates/ccusage/Cargo.toml
  rust/crates/ccusage/src/adapter/opencode/loader.rs
Due: lint

docs: 技術者倫理を守ろう
  apps/ccusage/README.md
Due: format, lint

chore(oxlint,oxfmt): add json schema
  .oxfmtrc.json
  .oxlintrc.json
Due: lint

chore(oxlint): enable vitest/prefer-describe-function-title rule
  .oxlintrc.json
Due: lint

docs: add Cowork usage source design
  docs/superpowers/specs/2026-06-01-cowork-usage-source-design.md
Due: format, lint

docs: add Cowork usage source implementation plan
  docs/superpowers/plans/2026-06-01-cowork-usage-source.md
Due: format, lint

feat(cowork): add CLI command parser
  rust/crates/ccusage-cli/src/parser.rs
  rust/crates/ccusage-cli/src/tests.rs
  rust/crates/ccusage-cli/src/types.rs
Due: lint

fix(cowork): keep parser integration buildable
  rust/crates/ccusage-cli/src/parser.rs
  rust/crates/ccusage-cli/src/tests.rs
  rust/crates/ccusage/src/main.rs
Due: lint

refactor(claude): share compatible usage loaders
  rust/crates/ccusage/src/adapter/claude/daily.rs
  rust/crates/ccusage/src/adapter/claude/mod.rs
  rust/crates/ccusage/src/adapter/claude/paths.rs
  rust/crates/ccusage/src/main.rs
Due: lint

test(claude): assert explicit path daily projects
  rust/crates/ccusage/src/main.rs
Due: lint

feat(cowork): discover local agent sessions
  rust/crates/ccusage/src/adapter/cowork/mod.rs
  rust/crates/ccusage/src/adapter/cowork/paths.rs
  rust/crates/ccusage/src/adapter/mod.rs
Due: lint

fix(cowork): stabilize path discovery order
  rust/crates/ccusage/src/adapter/cowork/mod.rs
  rust/crates/ccusage/src/adapter/cowork/paths.rs
Due: lint

feat(cowork): add usage report adapter
  rust/crates/ccusage/src/adapter/cowork/mod.rs
  rust/crates/ccusage/src/adapter/cowork/paths.rs
  rust/crates/ccusage/src/main.rs
  rust/crates/ccusage/src/progress.rs
Due: lint

feat(cowork): include source in all-agent reports
  rust/crates/ccusage/src/adapter/all/loader.rs
  rust/crates/ccusage/src/adapter/all/tests.rs
Due: lint

fix(cowork): label all-agent report source
  rust/crates/ccusage/src/adapter/all/report.rs
  rust/crates/ccusage/src/adapter/all/tests.rs
  rust/crates/ccusage/src/adapter/all/types.rs
Due: lint

docs(cowork): добавить описание источника
  apps/ccusage/README.md
  apps/ccusage/config-schema.json
  docs/.vitepress/config.ts
  docs/guide/all-reports.md
  docs/guide/claude/index.md
  docs/guide/codex/index.md
  docs/guide/config-files.md
  docs/guide/configuration.md
  docs/guide/cowork/index.md
  docs/guide/environment-variables.md
  docs/guide/gemini/index.md
  docs/guide/getting-started.md
  docs/guide/index.md
  docs/guide/kimi/index.md
  docs/index.md
  rust/crates/ccusage/src/config.rs
  rust/crates/ccusage/src/config_schema.rs
  rust/crates/ccusage/src/snapshots/ccusage__config_schema__tests__snapshots_schema_agent_specific_option_edges.snap
Due: format, typecheck, test, lint

docs(cowork): дополнить примеры источника
  apps/ccusage/README.md
  docs/guide/all-reports.md
  docs/guide/daily-reports.md
  docs/guide/gemini/index.md
  docs/guide/kimi/index.md
  docs/guide/monthly-reports.md
  docs/guide/session-reports.md
  rust/crates/ccusage/src/adapter/cowork/README.md
Due: format, lint

feat(pricing): add Z.AI GLM model pricing (GLM-5.1, GLM-5, GLM-5-Turbo, GLM-4.7, GLM-4.6, GLM-4.5)
  rust/crates/ccusage/src/pricing.rs
Due: lint

fix(cowork): ограничить поиск через env
  rust/crates/ccusage/src/adapter/cowork/mod.rs
  rust/crates/ccusage/src/adapter/cowork/paths.rs
Due: lint

style(docs): применить форматирование oxfmt
  docs/guide/cowork/index.md
  docs/guide/environment-variables.md
  docs/guide/index.md
  docs/superpowers/plans/2026-06-01-cowork-usage-source.md
Due: format, lint
