Repository ryoppippi/ccusage: changes, and which lefthook commands are due for each by the changed paths.
All: format, sort-package-json, typecheck, test, lint, sort-package

.lefthook.yml:

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    format:
      glob: '**/*.{cjs,cts,ctsx,js,jsx,mjs,mts,mtsx,ts,tsx,json,yml,yaml,md,mdx}'
      run: pnpm eslint --cache --fix {files}
      stage_fixed: true
    sort-package-json:
      glob: '**/package.json'
      run: pnpm exec sort-package-json {files}
      stage_fixed: true
    typecheck:
      glob: '**/*.{ts,tsx,cts,ctsx,mts,mtsx}'
      run: pnpm tsgo {files}
    test:
      glob: '**/*.{ts,tsx,cts,ctsx,mts,mtsx}'
      run: pnpm vitest --passWithNoTests --run --bail --changedSince=origin/main {files}

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: '*'
      run: bun run lint --fix {staged_files}
      stage_fixed: true
    typecheck:
      glob: '*.{ts,js}'
      run: bun typecheck
    schema:
      run: bun run generate:schema
    test:
      run: bun vitest --passWithNoTests
    sort-package:
      glob: package.json
      run: bunx sort-package-json {staged_files}
      stage_fixed: true

chore: release v1.0.8
  .github/workflows/sync-upstream.yml
  package.json
Due: format, lint, sort-package

fix pr comments, bump 1.0.8 & remove old stuff link to ccusage
  .github/workflows/sync-upstream.yml
  INTEGRATION_GUIDE.md
  apps/better-ccusage/README.md
  apps/better-ccusage/package.json
  apps/codex/README.md
  apps/codex/package.json
  apps/codex/src/_shared-args.ts
  apps/mcp/README.md
  apps/mcp/package.json
  docs/guide/sponsors.md
  docs/index.md
  docs/package.json
  docs/public/better-ccusage_thumbnail.png
  docs/public/blocks-live.png
  docs/public/ccusage_thumbnail.png
  docs/public/screenshot.png
  packages/internal/package.json
  packages/terminal/package.json
  scripts/integrate-upstream.sh
  scripts/manual-integrate-guide.md
  scripts/smart-integrate.sh
Due: format, sort-package-json, typecheck, test, lint

fix(ccusage): handle case-insensitive session ID lookup
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

feat(ccusage): add deprecation warning to blocks --live monitor
  apps/ccusage/src/_live-rendering.ts
Due: format, typecheck, test, lint

feat(ccusage): clarify deprecation timeline and add link
  apps/ccusage/src/_live-rendering.ts
Due: format, typecheck, test, lint

feat(ccusage)!: add deprecation warning to blocks --live monitor (#678)
  apps/ccusage/src/_live-rendering.ts
Due: format, typecheck, test, lint

chore: release v17.1.0
  apps/ccusage/package.json
  apps/codex/package.json
  apps/mcp/package.json
  docs/package.json
  package.json
  packages/internal/package.json
  packages/terminal/package.json
Due: format, sort-package-json, lint, sort-package

docs: add deprecation warning for blocks --live monitor
  docs/guide/blocks-reports.md
  docs/guide/live-monitoring.md
Due: format, lint

chore: temporary rename for upstream integration
  INTEGRATION_GUIDE.md
  apps/ccusage-temp/package.json
  apps/codex/README.md
  apps/codex/package.json
  apps/mcp/README.md
  apps/mcp/package.json
  docs/guide/sponsors.md
  docs/package.json
  model_prices_and_context_window.json
  package.json
  packages/internal/package.json
  packages/terminal/package.json
  scripts/integrate-upstream.sh
  scripts/manual-integrate-guide.md
  scripts/smart-integrate.sh
Due: format, sort-package-json, lint, sort-package

fix
  apps/better-ccusage/README.md
  apps/better-ccusage/model_prices_and_context_window.json
  apps/codex/README.md
  model_prices_and_context_window.json
Due: format, lint

feat(blocks): add --prompts flag to show prompt count per block
  apps/ccusage/README.md
  apps/ccusage/config-schema.json
  apps/ccusage/src/commands/blocks.ts
Due: format, typecheck, test, lint

feat(better-ccusage): Add sonnet4-5 support
  CLAUDE.md
  apps/better-ccusage/CLAUDE.md
  apps/better-ccusage/model_prices_and_context_window.json
  apps/better-ccusage/package.json
  apps/better-ccusage/src/_daily-grouping.ts
  apps/better-ccusage/src/_live-monitor.ts
  apps/better-ccusage/src/_pricing-fetcher.ts
  apps/better-ccusage/src/_session-blocks.ts
  apps/better-ccusage/src/calculate-cost.ts
  apps/better-ccusage/src/data-loader.ts
  apps/better-ccusage/src/debug.ts
  apps/better-ccusage/test/statusline-test-sonnet45.json
  apps/codex/package.json
  apps/mcp/package.json
  apps/mcp/src/mcp.ts
  docs/guide/daily-reports.md
  docs/guide/json-output.md
  docs/guide/weekly-reports.md
  docs/package.json
  docs/typedoc.config.ts
  package.json
  packages/internal/model_prices_and_context_window.json
  packages/internal/package.json
  packages/terminal/package.json
  packages/terminal/src/table.ts
Due: format, sort-package-json, typecheck, test, lint, sort-package

fix version
  apps/better-ccusage/package.json
  apps/codex/package.json
  apps/mcp/package.json
  docs/package.json
  package.json
  packages/internal/package.json
  packages/terminal/package.json
Due: format, sort-package-json, lint, sort-package

fix pb
  apps/better-ccusage/model_prices_and_context_window.json
  docs/package.json
Due: format, sort-package-json, lint

fix pb
  model_prices_and_context_window.json
Due: lint

feat(ccusage): add --prompts flag to blocks command for user prompt tracking
  apps/ccusage/src/_live-monitor.ts
  apps/ccusage/src/_session-blocks.ts
  apps/ccusage/src/commands/blocks.ts
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

fix(terminal): support claude-sonnet-4-5 model name formatting
  packages/terminal/src/table.ts
Due: format, typecheck, test, lint

fix(terminal): support claude-sonnet-4-5 model name formatting (#681)
  packages/terminal/src/table.ts
Due: format, typecheck, test, lint

chore: release v17.1.1
  apps/ccusage/package.json
  apps/codex/package.json
  apps/mcp/package.json
  docs/package.json
  package.json
  packages/internal/package.json
  packages/terminal/package.json
Due: format, sort-package-json, lint, sort-package

fix(ccusage): use process.exit(1) instead of throw in status command
  apps/ccusage/src/commands/status.ts
Due: format, typecheck, test, lint

test(ccusage): remove conditional branches from status API tests
  apps/ccusage/src/_claude-status-api.ts
Due: format, typecheck, test, lint

feat(ccusage): add Claude service status command
  apps/ccusage/config-schema.json
  apps/ccusage/src/_claude-status-api.ts
  apps/ccusage/src/commands/index.ts
  apps/ccusage/src/commands/status.ts
Due: format, typecheck, test, lint

refactor(ccusage): remove manual color handling, rely on picocolors auto-detection
  apps/ccusage/src/_claude-status-api.ts
  apps/ccusage/src/commands/status.ts
Due: format, typecheck, test, lint

feat(ccusage): extract color logic and add --color/--no-color support
  apps/ccusage/src/_claude-status-api.ts
  apps/ccusage/src/commands/status.ts
Due: format, typecheck, test, lint

refactor(ccusage): improve error handling with @praha/byethrow Result type
  apps/ccusage/src/_claude-status-api.ts
  apps/ccusage/src/commands/status.ts
Due: format, typecheck, test, lint

refactor(ccusage): remove unnecessary vitest imports in status API
  apps/ccusage/src/_claude-status-api.ts
Due: format, typecheck, test, lint

test(ccusage): replace mocked tests with practical API integration tests
  apps/ccusage/src/_claude-status-api.ts
  apps/ccusage/src/commands/status.ts
Due: format, typecheck, test, lint

:+1: improve status command output with dynamic URL
  apps/ccusage/src/commands/status.ts
Due: format, typecheck, test, lint

test(ccusage): remove conditional assertions in Claude status API tests
  apps/ccusage/src/_claude-status-api.ts
Due: format, typecheck, test, lint

refactor(ccusage): optimize getStatusColor tests with branch coverage
  apps/ccusage/src/_claude-status-api.ts
Due: format, typecheck, test, lint

chore(ccusage): update config schema
  apps/ccusage/config-schema.json
Due: format, lint

fix(codex): correct date display for timezone-derived date keys
  apps/codex/src/date-utils.ts
Due: format, typecheck, test, lint

fix(codex): correct date display for timezone-derived date keys (#683)
  apps/codex/src/date-utils.ts
Due: format, typecheck, test, lint

chore: release v17.1.2
  apps/ccusage/package.json
  apps/codex/package.json
  apps/mcp/package.json
  docs/package.json
  package.json
  packages/internal/package.json
  packages/terminal/package.json
Due: format, sort-package-json, lint, sort-package

feat(codex): add codex blocks reporting
  apps/codex/package.json
  apps/codex/src/_block-entry.ts
  apps/codex/src/_jq-processor.ts
  apps/codex/src/_session-blocks.ts
  apps/codex/src/block-calculator.ts
  apps/codex/src/commands/blocks.ts
  apps/codex/src/live-monitor.ts
  apps/codex/src/run.ts
  pnpm-lock.yaml
Due: format, sort-package-json, typecheck, test, lint

fix: offline mode not working for claude package due to wrong macro plugin includes
  apps/ccusage/tsdown.config.ts
Due: format, typecheck, test, lint

fix: offline mode not working for claude package due to wrong macro plugin includes (#685)
  apps/ccusage/tsdown.config.ts
Due: format, typecheck, test, lint

chore: release v17.1.3
  apps/ccusage/package.json
  apps/codex/package.json
  apps/mcp/package.json
  docs/package.json
  package.json
  packages/internal/package.json
  packages/terminal/package.json
Due: format, sort-package-json, lint, sort-package
