Repository ryoppippi/ccusage: changes, and which lefthook commands are due for each by the changed paths.
All: format, sort-package-json, typecheck, test, lint, sort-package

format:
  run: pnpm eslint --cache --fix {files}
  stage_fixed: true

sort-package-json:
  run: pnpm exec sort-package-json {files}
  stage_fixed: true

typecheck:
  run: pnpm tsgo {files}

test:
  run: pnpm vitest --passWithNoTests --run --bail --changedSince=origin/main {files}

lint:
  run: bun run lint --fix {staged_files}
  stage_fixed: true

sort-package:
  run: bunx sort-package-json {staged_files}
  stage_fixed: true

fix(perf): keep RSS sampling best effort
  apps/ccusage/scripts/compare-pr-performance.ts
Due: format, typecheck, test, lint

refactor(claude): split daily and path loading
  rust/crates/ccusage/src/adapter/claude/daily.rs
  rust/crates/ccusage/src/adapter/claude/mod.rs
  rust/crates/ccusage/src/adapter/claude/paths.rs
Due: lint

feat(perf): report peak RSS in PR benchmarks
  apps/ccusage/scripts/compare-pr-performance.ts
Due: format, typecheck, test, lint

fix(codex): tighten service tier detection
  rust/crates/ccusage/src/adapter/codex/paths.rs
  rust/crates/ccusage/src/adapter/codex/speed.rs
Due: lint

refactor(adapter): split remaining adapter modules (#1137)
  rust/crates/ccusage/src/adapter/all.rs
  rust/crates/ccusage/src/adapter/all/loader.rs
  rust/crates/ccusage/src/adapter/all/mod.rs
  rust/crates/ccusage/src/adapter/all/report.rs
  rust/crates/ccusage/src/adapter/all/tests.rs
  rust/crates/ccusage/src/adapter/all/types.rs
  rust/crates/ccusage/src/adapter/claude/daily.rs
  rust/crates/ccusage/src/adapter/claude/mod.rs
  rust/crates/ccusage/src/adapter/claude/paths.rs
  rust/crates/ccusage/src/adapter/codex/aggregate.rs
  rust/crates/ccusage/src/adapter/codex/loader.rs
  rust/crates/ccusage/src/adapter/codex/mod.rs
  rust/crates/ccusage/src/adapter/codex/parser.rs
  rust/crates/ccusage/src/adapter/codex/paths.rs
  rust/crates/ccusage/src/adapter/codex/report.rs
  rust/crates/ccusage/src/adapter/codex/speed.rs
  rust/crates/ccusage/src/adapter/codex/types.rs
Due: lint

fix(release): track changed rust manifests
  bump.config.ts
Due: typecheck, lint

chore: remove unused eslint
  docs/eslint.config.js
Due: format, typecheck, lint

chore(nix): migrate hooks to git-hooks.nix
  .claude/skills/create-pr
  .claude/skills/fs-fixture
  .claude/skills/pr-ai-review-workflow
  .gitignore
  default.nix
  flake.lock
  flake.nix
  lefthook.yml
  nix/checks.nix
  nix/dev-shell.nix
  nix/git-hooks.nix
  nix/packages.nix
  nix/static-package.nix
  nix/sync-skills.nix
  nix/treefmt.nix
  package.nix
  scripts/sync-skills.ts
Due: format, typecheck, test, lint

chore(nix): clarify hook module details
  nix/git-hooks.nix
  nix/packages.nix
Due: lint

chore(nix): exclude nested build outputs from checks
  nix/checks.nix
Due: lint

chore(nix): manage local agent skills with Nix
  .agents/skills/ccusage-development/SKILL.md
  .agents/skills/skill-creator/SKILL.md
  .claude/CLAUDE.md
  .claude/skills/ast-grep
  .claude/skills/bun-api-reference
  .claude/skills/bun-cpu-profile
  .claude/skills/ccusage-agent-sources
  .claude/skills/ccusage-development
  .claude/skills/ccusage-docs
  .claude/skills/ccusage-rust
  .claude/skills/ccusage-rust-profile
  .claude/skills/ccusage-testing
  .claude/skills/ccusage-typescript
  .claude/skills/cmux-debug
  .claude/skills/commit
  .claude/skills/create-pr
  .claude/skills/fix-ci
  .claude/skills/reduce-similarities
  .claude/skills/skill-creator
  .claude/skills/tdd
  .claude/skills/typescript-style
  .gitignore
  apps/ccusage/README.md
  flake.lock
  flake.nix
  nix/agent-skills.nix
  nix/checks.nix
  nix/dev-shell.nix
  nix/git-hooks.nix
  nix/sync-skills.nix
  package.json
  scripts/sync-skills.ts
Due: format, typecheck, test, lint, sort-package

chore(nix): link local agent skills
  .agents/skills/ccusage-development/SKILL.md
  .agents/skills/skill-creator/SKILL.md
  .claude/CLAUDE.md
  .gitignore
  CLAUDE.md
  nix/agent-skills.nix
Due: format, lint

chore(nix): modularize tooling and migrate hooks (#1139)
  .agents/skills/ccusage-development/SKILL.md
  .agents/skills/skill-creator/SKILL.md
  .claude/CLAUDE.md
  .claude/skills/ast-grep
  .claude/skills/bun-api-reference
  .claude/skills/bun-cpu-profile
  .claude/skills/ccusage-agent-sources
  .claude/skills/ccusage-development
  .claude/skills/ccusage-docs
  .claude/skills/ccusage-rust
  .claude/skills/ccusage-rust-profile
  .claude/skills/ccusage-testing
  .claude/skills/ccusage-typescript
  .claude/skills/cmux-debug
  .claude/skills/commit
  .claude/skills/fix-ci
  .claude/skills/fs-fixture
  .claude/skills/pr-ai-review-workflow
  .claude/skills/reduce-similarities
  .claude/skills/skill-creator
  .claude/skills/tdd
  .claude/skills/typescript-style
  .gitignore
  CLAUDE.md
  apps/ccusage/README.md
  default.nix
  flake.lock
  flake.nix
  lefthook.yml
  nix/agent-skills.nix
  nix/checks.nix
  nix/dev-shell.nix
  nix/git-hooks.nix
  nix/packages.nix
  nix/static-package.nix
  nix/treefmt.nix
  package.json
  package.nix
  scripts/sync-skills.ts
Due: format, typecheck, test, lint, sort-package

chore: flake update
  flake.lock
Due: lint

Revert "chore: flake update"
  flake.lock
Due: lint

docs(skills): clarify Rust test guidance
  .agents/skills/tdd/SKILL.md
  .agents/skills/testing/SKILL.md
Due: format, lint

test(vitest): name suites from subject functions
  .agents/skills/tdd/references/vitest.md
  apps/ccusage/scripts/compare-pr-performance.ts
  apps/ccusage/src/cli.ts
Due: format, typecheck, test, lint

chore(nix): move schema gen and rustfmt into treefmt
  nix/git-hooks.nix
  nix/treefmt.nix
Due: lint

chore(nix): use treefmt-nix programs.rustfmt
  nix/treefmt.nix
Due: lint

chore(nix): pin treefmt rustfmt to project toolchain
  nix/treefmt.nix
Due: lint

chore(nix): skip schema-gen formatter inside Nix sandbox
  nix/treefmt.nix
Due: lint

chore(nix): prebuild schema generator with crane
  nix/treefmt.nix
Due: lint

fix(cli): normalize dashed date bounds for filtering
  rust/crates/ccusage/src/cli.rs
Due: lint

fix(amp): fall back to messages[].usage when usageLedger is absent
  rust/crates/ccusage/src/adapter/amp/README.md
  rust/crates/ccusage/src/adapter/amp/parser.rs
Due: format, lint

fix(claude): return empty paths instead of erroring when auto-detect finds none
  rust/crates/ccusage/src/adapter/claude/paths.rs
  rust/crates/ccusage/src/main.rs
Due: lint

fix(codex): respect terminal width in reports
  rust/crates/ccusage/src/adapter/codex/report.rs
Due: lint

test: drop oversized env-manipulation regression test
  rust/crates/ccusage/src/main.rs
Due: lint

fix(codex): respect terminal width in reports (#1146)
  rust/crates/ccusage/src/adapter/codex/report.rs
Due: lint

chore(nix): move schema gen and rustfmt into treefmt (#1142)
  nix/git-hooks.nix
  nix/treefmt.nix
Due: lint

fix(codex): sort session files for deterministic load order
  rust/crates/ccusage/src/adapter/codex/loader.rs
Due: lint

fix(all): merge same-agent rows into one bucket breakdown
  rust/crates/ccusage/src/adapter/all/tests.rs
  rust/crates/ccusage/src/adapter/all/types.rs
Due: lint

fix(amp): fall back to totalTokens in messages path
  rust/crates/ccusage/src/adapter/amp/README.md
  rust/crates/ccusage/src/adapter/amp/parser.rs
Due: format, lint

fix(claude): tolerate missing Claude install in default/all view (#1147)
  rust/crates/ccusage/src/adapter/claude/paths.rs
Due: lint

fix(amp): fall back to messages[].usage when usageLedger is absent (#1145)
  rust/crates/ccusage/src/adapter/amp/README.md
  rust/crates/ccusage/src/adapter/amp/parser.rs
Due: format, lint

fix(all): sort merged model breakdowns
  rust/crates/ccusage/src/adapter/all/tests.rs
  rust/crates/ccusage/src/adapter/all/types.rs
Due: lint

fix(all): collapse per-day rows in monthly/weekly all-agent table (#1148)
  rust/crates/ccusage/src/adapter/all/tests.rs
  rust/crates/ccusage/src/adapter/all/types.rs
Due: lint

test(cli): cover dashed date-bound filtering
  rust/crates/ccusage/src/summary.rs
Due: lint

fix(codex): sort usage files before loading
  rust/crates/ccusage/src/adapter/codex/loader.rs
Due: lint

Path conditions:
  format: any of: **/*.{cjs,cts,ctsx,js,jsx,mjs,mts,mtsx,ts,tsx,json,yml,yaml,md,mdx}
  sort-package-json: any of: **/package.json
  typecheck: (any of: **/*.{ts,tsx,cts,ctsx,mts,mtsx}) or (any of: *.{ts,js})
  test: any of: **/*.{ts,tsx,cts,ctsx,mts,mtsx}
  lint: any of: *
  sort-package: any of: package.json
