Repository ryoppippi/ccusage: changes, and which lefthook commands are due for each by the changed paths.
All: format, sort-package-json, typecheck, test, lint, sort-package

.lefthook.yml:

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    format:
      glob: '**/*.{cjs,cts,ctsx,js,jsx,mjs,mts,mtsx,ts,tsx,json,yml,yaml,md,mdx}'
      run: pnpm eslint --cache --fix {files}
      stage_fixed: true
    sort-package-json:
      glob: '**/package.json'
      run: pnpm exec sort-package-json {files}
      stage_fixed: true
    typecheck:
      glob: '**/*.{ts,tsx,cts,ctsx,mts,mtsx}'
      run: pnpm tsgo {files}
    test:
      glob: '**/*.{ts,tsx,cts,ctsx,mts,mtsx}'
      run: pnpm vitest --passWithNoTests --run --bail --changedSince=origin/main {files}

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: '*'
      run: bun run lint --fix {staged_files}
      stage_fixed: true
    typecheck:
      glob: '*.{ts,js}'
      run: bun typecheck
    schema:
      run: bun run generate:schema
    test:
      run: bun vitest --passWithNoTests
    sort-package:
      glob: package.json
      run: bunx sort-package-json {staged_files}
      stage_fixed: true

fix(codex): handle review edge cases without rereads
  rust/crates/ccusage-terminal/src/lib.rs
  rust/crates/ccusage/src/adapter/all.rs
  rust/crates/ccusage/src/adapter/amp.rs
  rust/crates/ccusage/src/adapter/codebuff.rs
  rust/crates/ccusage/src/adapter/codex.rs
  rust/crates/ccusage/src/adapter/copilot.rs
  rust/crates/ccusage/src/adapter/droid.rs
  rust/crates/ccusage/src/adapter/gemini.rs
  rust/crates/ccusage/src/adapter/goose.rs
  rust/crates/ccusage/src/adapter/hermes.rs
  rust/crates/ccusage/src/adapter/kilo.rs
  rust/crates/ccusage/src/adapter/kimi.rs
  rust/crates/ccusage/src/adapter/openclaw.rs
  rust/crates/ccusage/src/adapter/opencode/mod.rs
  rust/crates/ccusage/src/adapter/pi.rs
  rust/crates/ccusage/src/adapter/qwen/mod.rs
  rust/crates/ccusage/src/blocks.rs
  rust/crates/ccusage/src/codex_loader.rs
  rust/crates/ccusage/src/commands/mod.rs
  rust/crates/ccusage/src/output.rs
Due: lint

fix(codex): stream session files
  rust/crates/ccusage/src/codex_loader.rs
Due: lint

perf(codex): speed up report aggregation (#1122)
  rust/crates/ccusage-terminal/src/lib.rs
  rust/crates/ccusage/src/adapter/all.rs
  rust/crates/ccusage/src/adapter/amp.rs
  rust/crates/ccusage/src/adapter/codebuff.rs
  rust/crates/ccusage/src/adapter/codex.rs
  rust/crates/ccusage/src/adapter/copilot.rs
  rust/crates/ccusage/src/adapter/droid.rs
  rust/crates/ccusage/src/adapter/gemini.rs
  rust/crates/ccusage/src/adapter/goose.rs
  rust/crates/ccusage/src/adapter/hermes.rs
  rust/crates/ccusage/src/adapter/kilo.rs
  rust/crates/ccusage/src/adapter/kimi.rs
  rust/crates/ccusage/src/adapter/openclaw.rs
  rust/crates/ccusage/src/adapter/opencode/mod.rs
  rust/crates/ccusage/src/adapter/pi.rs
  rust/crates/ccusage/src/adapter/qwen/mod.rs
  rust/crates/ccusage/src/blocks.rs
  rust/crates/ccusage/src/codex_loader.rs
  rust/crates/ccusage/src/commands/mod.rs
  rust/crates/ccusage/src/date_utils.rs
  rust/crates/ccusage/src/output.rs
  rust/crates/ccusage/src/types.rs
Due: lint

chore: release v20.0.4
  apps/ccusage/package.json
  docs/package.json
  package.json
  packages/ccusage-darwin-arm64/package.json
  packages/ccusage-darwin-x64/package.json
  packages/ccusage-linux-arm64/package.json
  packages/ccusage-linux-x64/package.json
  packages/ccusage-win32-arm64/package.json
  packages/ccusage-win32-x64/package.json
  rust/Cargo.lock
  rust/crates/ccusage-terminal/Cargo.toml
  rust/crates/ccusage/Cargo.toml
Due: format, sort-package-json, lint, sort-package

refactor(terminal): split terminal helpers into modules
  rust/crates/ccusage-terminal/src/lib.rs
  rust/crates/ccusage-terminal/src/snapshots/ccusage_terminal__table__tests__snapshots_ansi_truncation_boundary.snap
  rust/crates/ccusage-terminal/src/snapshots/ccusage_terminal__table__tests__snapshots_full_table_with_multiline_cells_and_separators.snap
  rust/crates/ccusage-terminal/src/snapshots/ccusage_terminal__table__tests__snapshots_narrow_table_with_wrapping_truncation_and_compact_dates.snap
  rust/crates/ccusage-terminal/src/snapshots/ccusage_terminal__title__tests__snapshots_multiline_box_title_layout.snap
  rust/crates/ccusage-terminal/src/style.rs
  rust/crates/ccusage-terminal/src/table.rs
  rust/crates/ccusage-terminal/src/terminal.rs
  rust/crates/ccusage-terminal/src/title.rs
  rust/crates/ccusage-terminal/src/width.rs
Due: lint

chore: add cargo-insta on flake.nix
  flake.nix
Due: lint

chore: add cargo-insta on flake.nix (#1128)
  flake.nix
Due: lint

refactor(adapter): move Claude loader under adapters
  rust/crates/ccusage/src/adapter/all.rs
  rust/crates/ccusage/src/adapter/claude/mod.rs
  rust/crates/ccusage/src/adapter/mod.rs
  rust/crates/ccusage/src/main.rs
Due: lint

refactor(terminal): split terminal helpers into modules (#1127)
  rust/crates/ccusage-terminal/src/lib.rs
  rust/crates/ccusage-terminal/src/snapshots/ccusage_terminal__table__tests__snapshots_ansi_truncation_boundary.snap
  rust/crates/ccusage-terminal/src/snapshots/ccusage_terminal__table__tests__snapshots_full_table_with_multiline_cells_and_separators.snap
  rust/crates/ccusage-terminal/src/snapshots/ccusage_terminal__table__tests__snapshots_narrow_table_with_wrapping_truncation_and_compact_dates.snap
  rust/crates/ccusage-terminal/src/snapshots/ccusage_terminal__title__tests__snapshots_multiline_box_title_layout.snap
  rust/crates/ccusage-terminal/src/style.rs
  rust/crates/ccusage-terminal/src/table.rs
  rust/crates/ccusage-terminal/src/terminal.rs
  rust/crates/ccusage-terminal/src/title.rs
  rust/crates/ccusage-terminal/src/width.rs
Due: lint

fix(terminal): use standard unicode display widths
  rust/crates/ccusage-terminal/src/table.rs
  rust/crates/ccusage-terminal/src/width.rs
Due: lint

fix(terminal): correct compact and unicode widths
  rust/Cargo.lock
  rust/crates/ccusage-terminal/Cargo.toml
  rust/crates/ccusage-terminal/src/snapshots/ccusage_terminal__table__tests__snapshots_narrow_table_with_wrapping_truncation_and_compact_dates.snap
  rust/crates/ccusage-terminal/src/table.rs
  rust/crates/ccusage-terminal/src/width.rs
Due: lint

ci: authenticate Nix GitHub fetches
  .github/actions/setup-nix/action.yaml
Due: format, lint

fix(terminal): correct compact and unicode widths (#1129)
  rust/Cargo.lock
  rust/crates/ccusage-terminal/Cargo.toml
  rust/crates/ccusage-terminal/src/snapshots/ccusage_terminal__table__tests__snapshots_narrow_table_with_wrapping_truncation_and_compact_dates.snap
  rust/crates/ccusage-terminal/src/table.rs
  rust/crates/ccusage-terminal/src/width.rs
Due: lint

refactor(adapter): move Claude loader under adapters (#1130)
  .github/actions/setup-nix/action.yaml
  rust/crates/ccusage/src/adapter/all.rs
  rust/crates/ccusage/src/adapter/claude/mod.rs
  rust/crates/ccusage/src/adapter/mod.rs
  rust/crates/ccusage/src/main.rs
Due: format, lint

refactor(adapter): move Codex loader under adapters
  rust/crates/ccusage/src/adapter/all.rs
  rust/crates/ccusage/src/adapter/codex/loader.rs
  rust/crates/ccusage/src/adapter/codex/mod.rs
  rust/crates/ccusage/src/adapter/codex/snapshots/ccusage__adapter__codex__tests__snapshots_codex_reports_for_periods_sessions_costs_and_fallback_models.snap
  rust/crates/ccusage/src/main.rs
Due: lint

test(codex): update moved snapshot source
  rust/crates/ccusage/src/adapter/codex/snapshots/ccusage__adapter__codex__tests__snapshots_codex_reports_for_periods_sessions_costs_and_fallback_models.snap
Due: lint

refactor(adapter): move Codex loader under adapters (#1131)
  rust/crates/ccusage/src/adapter/all.rs
  rust/crates/ccusage/src/adapter/codex/loader.rs
  rust/crates/ccusage/src/adapter/codex/mod.rs
  rust/crates/ccusage/src/adapter/codex/snapshots/ccusage__adapter__codex__tests__snapshots_codex_reports_for_periods_sessions_costs_and_fallback_models.snap
  rust/crates/ccusage/src/main.rs
Due: lint

build(pricing): stop tracking LiteLLM fallback JSON
  .github/workflows/update-pricing.yaml
  apps/ccusage/README.md
  flake.nix
  nix/pricing-fallback.jq
  rust/crates/ccusage/build.rs
  rust/crates/ccusage/src/litellm-pricing-fallback.json
  rust/crates/ccusage/src/pricing.rs
Due: format, lint

build(pricing): fetch locked LiteLLM revisions
  .agents/skills/ccusage-rust/SKILL.md
  apps/ccusage/README.md
  rust/crates/ccusage/build.rs
Due: format, lint

fix(pricing): return flake lock field errors
  rust/crates/ccusage/build.rs
Due: lint

build(pricing): stop tracking LiteLLM fallback JSON (#1132)
  .agents/skills/ccusage-rust/SKILL.md
  .github/workflows/update-pricing.yaml
  apps/ccusage/README.md
  flake.nix
  nix/pricing-fallback.jq
  rust/crates/ccusage/build.rs
  rust/crates/ccusage/src/litellm-pricing-fallback.json
  rust/crates/ccusage/src/pricing.rs
Due: format, lint

fix(terminal): use terminal_size for width detection
  rust/Cargo.lock
  rust/crates/ccusage-terminal/Cargo.toml
  rust/crates/ccusage-terminal/src/terminal.rs
Due: lint

ci: avoid PR GitHub token for static Nix builds
  .github/workflows/ci.yaml
Due: format, lint

fix(adapter): aggregate weekly agent reports
  rust/crates/ccusage/src/adapter/amp/report.rs
  rust/crates/ccusage/src/adapter/codebuff/report.rs
  rust/crates/ccusage/src/adapter/copilot/report.rs
  rust/crates/ccusage/src/adapter/droid/report.rs
  rust/crates/ccusage/src/adapter/gemini/report.rs
  rust/crates/ccusage/src/adapter/goose/report.rs
  rust/crates/ccusage/src/adapter/hermes/report.rs
  rust/crates/ccusage/src/adapter/kilo/report.rs
  rust/crates/ccusage/src/adapter/kimi/report.rs
  rust/crates/ccusage/src/adapter/openclaw/report.rs
  rust/crates/ccusage/src/adapter/pi/report.rs
  rust/crates/ccusage/src/adapter/qwen/report.rs
Due: lint

fix(goose): label report tables correctly
  rust/crates/ccusage/src/adapter/amp/mod.rs
  rust/crates/ccusage/src/adapter/goose/mod.rs
Due: lint

fix(adapter): preserve parser error semantics
  rust/crates/ccusage/src/adapter/droid/parser.rs
  rust/crates/ccusage/src/adapter/gemini/parser.rs
  rust/crates/ccusage/src/adapter/kilo/parser.rs
  rust/crates/ccusage/src/adapter/kimi/parser.rs
  rust/crates/ccusage/src/adapter/openclaw/parser.rs
  rust/crates/ccusage/src/adapter/openclaw/paths.rs
Due: lint

test(adapter): isolate env-backed loader tests
  rust/crates/ccusage/src/adapter/codebuff/loader.rs
  rust/crates/ccusage/src/adapter/droid/loader.rs
  rust/crates/ccusage/src/adapter/goose/paths.rs
Due: lint

fix(terminal): use terminal_size for width detection (#1134)
  .github/workflows/ci.yaml
  rust/Cargo.lock
  rust/crates/ccusage-terminal/Cargo.toml
  rust/crates/ccusage-terminal/src/terminal.rs
Due: format, lint

fix(adapter): address follow-up review findings
  rust/crates/ccusage/src/adapter/codebuff/report.rs
  rust/crates/ccusage/src/adapter/gemini/parser.rs
  rust/crates/ccusage/src/adapter/kilo/parser.rs
  rust/crates/ccusage/src/adapter/kimi/loader.rs
  rust/crates/ccusage/src/adapter/kimi/parser.rs
Due: lint

feat(perf): report peak RSS in PR benchmarks
  apps/ccusage/scripts/compare-pr-performance.ts
Due: format, typecheck, test, lint

test(rust): add filesystem fixture support
  rust/Cargo.lock
  rust/Cargo.toml
  rust/crates/ccusage-test-support/Cargo.toml
  rust/crates/ccusage-test-support/src/lib.rs
  rust/crates/ccusage/Cargo.toml
  rust/crates/ccusage/src/main.rs
Due: lint

docs(skills): fold fixture guidance into test skills
  .agents/skills/ccusage-testing/SKILL.md
  .agents/skills/ccusage-typescript/references/vitest.md
  .agents/skills/fs-fixture/SKILL.md
  CLAUDE.md
Due: format, lint

test(rust): tighten fixture helper polish
  .agents/skills/ccusage-typescript/references/vitest.md
  rust/crates/ccusage-test-support/src/lib.rs
Due: format, lint

fix(perf): run RSS benchmark commands without shell
  apps/ccusage/scripts/compare-pr-performance.ts
Due: format, typecheck, test, lint

fix(perf): split benchmark subcommands for RSS runs
  apps/ccusage/scripts/compare-pr-performance.ts
Due: format, typecheck, test, lint

test(rust): add filesystem fixture support (#1136)
  .agents/skills/ccusage-testing/SKILL.md
  .agents/skills/ccusage-typescript/references/vitest.md
  .agents/skills/fs-fixture/SKILL.md
  CLAUDE.md
  rust/Cargo.lock
  rust/Cargo.toml
  rust/crates/ccusage-test-support/Cargo.toml
  rust/crates/ccusage-test-support/src/lib.rs
  rust/crates/ccusage/Cargo.toml
  rust/crates/ccusage/src/main.rs
Due: format, lint

refactor(adapter): split all report module
  rust/crates/ccusage/src/adapter/all.rs
  rust/crates/ccusage/src/adapter/all/loader.rs
  rust/crates/ccusage/src/adapter/all/mod.rs
  rust/crates/ccusage/src/adapter/all/report.rs
  rust/crates/ccusage/src/adapter/all/tests.rs
  rust/crates/ccusage/src/adapter/all/types.rs
Due: lint

refactor(codex): split loader responsibilities
  rust/crates/ccusage/src/adapter/codex/aggregate.rs
  rust/crates/ccusage/src/adapter/codex/loader.rs
  rust/crates/ccusage/src/adapter/codex/mod.rs
  rust/crates/ccusage/src/adapter/codex/parser.rs
  rust/crates/ccusage/src/adapter/codex/paths.rs
  rust/crates/ccusage/src/adapter/codex/report.rs
  rust/crates/ccusage/src/adapter/codex/speed.rs
  rust/crates/ccusage/src/adapter/codex/types.rs
Due: lint
