Repository ryoppippi/ccusage: changes, and which lefthook commands are due for each by the changed paths.
All: format, sort-package-json, typecheck, test, lint, sort-package

format:
  run: pnpm eslint --cache --fix {files}
  stage_fixed: true

sort-package-json:
  run: pnpm exec sort-package-json {files}
  stage_fixed: true

typecheck:
  run: pnpm tsgo {files}

test:
  run: pnpm vitest --passWithNoTests --run --bail --changedSince=origin/main {files}

lint:
  run: bun run lint --fix {staged_files}
  stage_fixed: true

sort-package:
  run: bunx sort-package-json {staged_files}
  stage_fixed: true

refactor(ccusage): move rust codex reports into adapter
  crates/ccusage/src/adapter/all.rs
  crates/ccusage/src/adapter/codex.rs
  crates/ccusage/src/adapter/mod.rs
  crates/ccusage/src/main.rs
Due: lint

perf(ccusage): aggregate rust codex reports during loading
  crates/ccusage/src/adapter/codex.rs
  crates/ccusage/src/main.rs
Due: lint

fix(ccusage): address rust cli review findings
  apps/ccusage/RUST_REWRITE_BENCHMARK.md
  crates/ccusage/src/cli.rs
  crates/ccusage/src/pricing.rs
Due: format, lint

fix(ccusage): address rust review followups
  .github/workflows/ccusage-perf.yaml
  .github/workflows/ccusage-rust-perf.yaml
  apps/ccusage/scripts/compare-pr-performance.ts
  crates/ccusage/src/adapter/all.rs
  crates/ccusage/src/adapter/codex.rs
  crates/ccusage/src/adapter/opencode.rs
  crates/ccusage/src/pricing.rs
Due: format, typecheck, test, lint

build(ccusage): publish native platform packages
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .gitignore
  apps/ccusage/package.json
  apps/ccusage/scripts/stage-native-package.mjs
  apps/ccusage/scripts/verify-native-package.mjs
  apps/ccusage/src/cli.ts
  packages/ccusage-darwin-arm64/package.json
  packages/ccusage-darwin-x64/package.json
  packages/ccusage-linux-arm64/package.json
  packages/ccusage-linux-x64/package.json
  packages/ccusage-win32-arm64/package.json
  packages/ccusage-win32-x64/package.json
  pnpm-lock.yaml
Due: format, sort-package-json, typecheck, test, lint

fix(ccusage): resolve native package prepack script
  packages/ccusage-darwin-arm64/package.json
  packages/ccusage-darwin-x64/package.json
  packages/ccusage-linux-arm64/package.json
  packages/ccusage-linux-x64/package.json
  packages/ccusage-win32-arm64/package.json
  packages/ccusage-win32-x64/package.json
Due: format, sort-package-json, lint

refactor(ccusage): split rust cli modules
  crates/ccusage/src/commands/mod.rs
  crates/ccusage/src/date_utils.rs
  crates/ccusage/src/main.rs
  crates/ccusage/src/pricing.rs
  crates/ccusage/src/types.rs
Due: lint

ci(ccusage): verify preview package with pnpm dlx
  .github/workflows/ci.yaml
Due: format, lint

feat(ccusage): support rust codex speed pricing
  crates/ccusage/src/adapter/all.rs
  crates/ccusage/src/adapter/codex.rs
  crates/ccusage/src/cli.rs
  crates/ccusage/src/main.rs
Due: lint

feat(ccusage): load rust cli config files
  crates/ccusage/src/cli.rs
  crates/ccusage/src/config.rs
  crates/ccusage/src/main.rs
Due: lint

fix(ccusage): accept legacy rust agent commands
  crates/ccusage/src/cli.rs
Due: lint

fix(ccusage): match rust cli guard errors
  crates/ccusage/src/cli.rs
Due: lint

ci(ccusage): test preview package on windows arm
  .github/workflows/ci.yaml
Due: format, lint

ci(ccusage): allow pnpm dlx preview installs
  .github/workflows/ci.yaml
Due: format, lint

ci(ccusage): run pnpm dlx against native preview packages
  .github/scripts/e2e-setup.mjs
  .github/workflows/ci.yaml
Due: format, lint

fix(ccusage): resolve rust home paths on windows
  crates/ccusage/src/adapter/amp.rs
  crates/ccusage/src/adapter/codex.rs
  crates/ccusage/src/adapter/opencode.rs
  crates/ccusage/src/adapter/pi.rs
  crates/ccusage/src/config.rs
  crates/ccusage/src/home.rs
  crates/ccusage/src/main.rs
Due: lint

feat(ccusage): show rust usage load progress
  crates/ccusage/src/adapter/amp.rs
  crates/ccusage/src/adapter/opencode.rs
  crates/ccusage/src/adapter/pi.rs
  crates/ccusage/src/config.rs
  crates/ccusage/src/home.rs
  crates/ccusage/src/main.rs
  crates/ccusage/src/progress.rs
Due: lint

refactor(ccusage): split rust table output
  crates/ccusage/src/main.rs
  crates/ccusage/src/table.rs
Due: lint

refactor(ccusage): split rust session blocks
  crates/ccusage/src/blocks.rs
  crates/ccusage/src/main.rs
Due: lint

refactor(ccusage): split rust cost calculation
  crates/ccusage/src/cost.rs
  crates/ccusage/src/main.rs
Due: lint

fix(ccusage): match rust project name paths
  crates/ccusage/src/main.rs
  crates/ccusage/src/project_names.rs
Due: lint

refactor(ccusage): split rust usage summaries
  crates/ccusage/src/main.rs
  crates/ccusage/src/summary.rs
Due: lint

refactor(ccusage): split rust usage output
  crates/ccusage/src/main.rs
  crates/ccusage/src/output.rs
Due: lint

refactor(ccusage): split rust claude loader helpers
  crates/ccusage/src/claude_loader.rs
  crates/ccusage/src/main.rs
Due: lint

refactor(ccusage): split rust claude loader
  crates/ccusage/src/claude_loader.rs
  crates/ccusage/src/main.rs
Due: lint

refactor(ccusage): split rust codex loader
  crates/ccusage/src/codex_loader.rs
  crates/ccusage/src/main.rs
Due: lint

refactor(ccusage): split rust shared helpers
  crates/ccusage/src/logger.rs
  crates/ccusage/src/main.rs
  crates/ccusage/src/utils.rs
Due: lint

feat(ccusage): add rust statusline context fallback
  crates/ccusage/src/commands/mod.rs
Due: lint

feat(ccusage): add rust statusline cache
  crates/ccusage/src/commands/mod.rs
Due: lint

feat(ccusage): match rust statusline context limits
  crates/ccusage/src/blocks.rs
  crates/ccusage/src/commands/mod.rs
  crates/ccusage/src/main.rs
  crates/ccusage/src/pricing.rs
Due: lint

fix(ccusage): fail rust statusline without input
  crates/ccusage/src/commands/mod.rs
Due: lint

fix(ccusage): align rust binary version
  Cargo.lock
  crates/ccusage/Cargo.toml
  crates/ccusage/src/cli.rs
Due: lint

fix(ccusage): address rust review findings
  crates/ccusage/src/codex_loader.rs
  crates/ccusage/src/output.rs
  crates/ccusage/src/project_names.rs
Due: lint

fix(ccusage): dedupe session usage by id
  apps/ccusage/src/adapter/claude/data-loader.ts
Due: format, typecheck, test, lint

docs: add ccusage-mqtt to community projects
  apps/ccusage/README.md
Due: format, lint

feat(codex): preserve source roots for multi-home usage
  apps/ccusage/src/adapter/codex/index.ts
  apps/ccusage/src/adapter/codex/parser.ts
  apps/ccusage/src/adapter/codex/paths.ts
  apps/ccusage/src/adapter/codex/types.ts
Due: format, typecheck, test, lint

ci(ccusage): stage native binary for package perf
  .github/workflows/ccusage-perf.yaml
Due: format, lint

fix(ccusage): use rustls for native https
  rust/Cargo.lock
  rust/crates/ccusage/Cargo.toml
Due: lint

Path conditions:
  format: any of: **/*.{cjs,cts,ctsx,js,jsx,mjs,mts,mtsx,ts,tsx,json,yml,yaml,md,mdx}
  sort-package-json: any of: **/package.json
  typecheck: (any of: **/*.{ts,tsx,cts,ctsx,mts,mtsx}) or (any of: *.{ts,js})
  test: any of: **/*.{ts,tsx,cts,ctsx,mts,mtsx}
  lint: any of: *
  sort-package: any of: package.json
