Repository ryoppippi/ccusage: changes, and which lefthook commands are due for each by the changed paths.
All: format, sort-package-json, typecheck, test, lint, sort-package

format:
  run: pnpm eslint --cache --fix {files}
  stage_fixed: true

sort-package-json:
  run: pnpm exec sort-package-json {files}
  stage_fixed: true

typecheck:
  run: pnpm tsgo {files}

test:
  run: pnpm vitest --passWithNoTests --run --bail --changedSince=origin/main {files}

lint:
  run: bun run lint --fix {staged_files}
  stage_fixed: true

sort-package:
  run: bunx sort-package-json {staged_files}
  stage_fixed: true

fix(hooks): match nested script files
  lefthook.yml
Due: lint

chore(gitignore): ignore nix result symlinks
  .gitignore
Due: lint

fix(opencode): match TypeScript cost fallback
  rust/crates/ccusage/src/adapter/opencode/parser.rs
  rust/crates/ccusage/src/pricing.rs
Due: lint

fix(ccusage): preserve subagent cost in daily summaries
  rust/crates/ccusage/src/claude_loader.rs
  rust/crates/ccusage/src/main.rs
Due: lint

fix(ccusage): clarify CLI help by command context
  rust/crates/ccusage/src/cli.rs
Due: lint

fix(pricing): quiet successful refresh logs
  rust/crates/ccusage/src/pricing.rs
  rust/crates/ccusage/src/progress.rs
Due: lint

fix(pricing): use transient refresh progress
  rust/crates/ccusage/src/pricing.rs
  rust/crates/ccusage/src/progress.rs
Due: lint

fix(ccusage): align native usage parity (#1062)
  rust/crates/ccusage/src/adapter/opencode/parser.rs
  rust/crates/ccusage/src/claude_loader.rs
  rust/crates/ccusage/src/main.rs
  rust/crates/ccusage/src/pricing.rs
Due: lint

chore(hooks): lint rust and typescript paths
  .gitignore
  lefthook.yml
  oxfmt.config.ts
  package.json
  rust/crates/ccusage/src/adapter/all.rs
  rust/crates/ccusage/src/adapter/codex.rs
  rust/crates/ccusage/src/claude_loader.rs
  rust/crates/ccusage/src/cli.rs
  rust/crates/ccusage/src/commands/mod.rs
Due: typecheck, lint, sort-package

fix(ccusage): clarify CLI help by command context (#1065)
  rust/crates/ccusage/src/cli.rs
Due: lint

style(kimi): format adapter
  rust/crates/ccusage/src/adapter/kimi.rs
Due: lint

fix(ccusage): align report flag alias lookup
  rust/crates/ccusage/src/cli.rs
Due: lint

chore(schema): format generated config schema
  apps/ccusage/config-schema.json
Due: format, lint

fix(hermes): include command in contextual help
  rust/crates/ccusage/src/cli.rs
Due: lint

fix(ccusage): animate native usage progress
  rust/crates/ccusage/src/adapter/all.rs
  rust/crates/ccusage/src/progress.rs
Due: lint

fix(ccusage): update rust pricing and help parity
  flake.nix
  rust/crates/ccusage/build.rs
  rust/crates/ccusage/src/adapter/all.rs
  rust/crates/ccusage/src/adapter/codex.rs
  rust/crates/ccusage/src/adapter/opencode/parser.rs
  rust/crates/ccusage/src/cli-help.json
  rust/crates/ccusage/src/cli.rs
  rust/crates/ccusage/src/fast-multiplier-overrides.json
  rust/crates/ccusage/src/pricing.rs
  rust/crates/ccusage/src/progress.rs
Due: format, lint

fix(ccusage): satisfy goose clippy checks
  rust/crates/ccusage/src/adapter/goose.rs
Due: lint

feat(kilo): add Kilo usage adapter (#1032)
  apps/ccusage/README.md
  apps/ccusage/config-schema.json
  docs/.vitepress/config.ts
  docs/guide/all-reports.md
  docs/guide/claude/index.md
  docs/guide/codex/index.md
  docs/guide/config-files.md
  docs/guide/configuration.md
  docs/guide/environment-variables.md
  docs/guide/getting-started.md
  docs/guide/index.md
  docs/guide/kilo/index.md
  docs/index.md
  rust/crates/ccusage/src/adapter/all.rs
  rust/crates/ccusage/src/adapter/kilo.rs
  rust/crates/ccusage/src/adapter/mod.rs
  rust/crates/ccusage/src/cli.rs
  rust/crates/ccusage/src/config.rs
  rust/crates/ccusage/src/config_schema.rs
  rust/crates/ccusage/src/main.rs
  rust/crates/ccusage/src/progress.rs
Due: format, typecheck, test, lint

fix(ccusage): parallelise all-agent loading
  rust/crates/ccusage/src/adapter/all.rs
Due: lint

fix(ccusage): address all-agent review feedback
  rust/crates/ccusage/src/adapter/all.rs
Due: lint

fix(hermes): prefer provider pricing candidates
  rust/crates/ccusage/src/adapter/hermes.rs
Due: lint

feat(hermes): add Hermes Agent usage adapter (#1026)
  apps/ccusage/README.md
  apps/ccusage/config-schema.json
  docs/.vitepress/config.ts
  docs/guide/getting-started.md
  docs/guide/hermes/index.md
  docs/guide/index.md
  docs/index.md
  rust/crates/ccusage/src/adapter/all.rs
  rust/crates/ccusage/src/adapter/amp.rs
  rust/crates/ccusage/src/adapter/copilot.rs
  rust/crates/ccusage/src/adapter/gemini.rs
  rust/crates/ccusage/src/adapter/hermes.rs
  rust/crates/ccusage/src/adapter/kilo.rs
  rust/crates/ccusage/src/adapter/mod.rs
  rust/crates/ccusage/src/adapter/opencode/mod.rs
  rust/crates/ccusage/src/adapter/opencode/parser.rs
  rust/crates/ccusage/src/adapter/pi.rs
  rust/crates/ccusage/src/claude_loader.rs
  rust/crates/ccusage/src/cli.rs
  rust/crates/ccusage/src/config.rs
  rust/crates/ccusage/src/config_schema.rs
  rust/crates/ccusage/src/main.rs
  rust/crates/ccusage/src/pricing.rs
  rust/crates/ccusage/src/progress.rs
  rust/crates/ccusage/src/summary.rs
  rust/crates/ccusage/src/types.rs
Due: format, typecheck, test, lint

fix(codex): show non-cached input tokens
  rust/crates/ccusage/src/adapter/all.rs
  rust/crates/ccusage/src/adapter/codex.rs
  rust/crates/ccusage/src/main.rs
Due: lint

test(codex): cover normalised input totals
  rust/crates/ccusage/src/adapter/codex.rs
  rust/crates/ccusage/src/types.rs
Due: lint

feat(goose): add Goose usage adapter (#1035)
  apps/ccusage/README.md
  apps/ccusage/config-schema.json
  docs/.vitepress/config.ts
  docs/guide/all-reports.md
  docs/guide/config-files.md
  docs/guide/configuration.md
  docs/guide/environment-variables.md
  docs/guide/getting-started.md
  docs/guide/goose/index.md
  docs/guide/index.md
  docs/index.md
  rust/crates/ccusage/src/adapter/all.rs
  rust/crates/ccusage/src/adapter/amp.rs
  rust/crates/ccusage/src/adapter/goose.rs
  rust/crates/ccusage/src/adapter/mod.rs
  rust/crates/ccusage/src/cli.rs
  rust/crates/ccusage/src/config.rs
  rust/crates/ccusage/src/config_schema.rs
  rust/crates/ccusage/src/main.rs
  rust/crates/ccusage/src/progress.rs
Due: format, typecheck, test, lint

fix(codex): show non-cached input tokens
  rust/crates/ccusage/src/adapter/all.rs
  rust/crates/ccusage/src/adapter/codex.rs
  rust/crates/ccusage/src/main.rs
  rust/crates/ccusage/src/types.rs
Due: lint

fix(release): sync rust versions during bumpp
  apps/ccusage/scripts/sync-rust-version.ts
  apps/ccusage/vitest.config.ts
  bump.config.ts
Due: format, typecheck, test, lint

fix(ccusage): limit root help to namespaces
  rust/crates/ccusage/src/cli.rs
Due: lint

test(ccusage): cover all root help namespaces
  rust/crates/ccusage/src/cli.rs
Due: lint

Path conditions:
  format: any of: **/*.{cjs,cts,ctsx,js,jsx,mjs,mts,mtsx,ts,tsx,json,yml,yaml,md,mdx}
  sort-package-json: any of: **/package.json
  typecheck: (any of: **/*.{ts,tsx,cts,ctsx,mts,mtsx}) or (any of: *.{ts,js})
  test: any of: **/*.{ts,tsx,cts,ctsx,mts,mtsx}
  lint: any of: *
  sort-package: any of: package.json
