Repository ryoppippi/ccusage: changes, and which lefthook commands are due for each by the changed paths.
All: format, sort-package-json, typecheck, test, lint, sort-package

format:
  run: pnpm eslint --cache --fix {files}
  stage_fixed: true

sort-package-json:
  run: pnpm exec sort-package-json {files}
  stage_fixed: true

typecheck:
  run: pnpm tsgo {files}

test:
  run: pnpm vitest --passWithNoTests --run --bail --changedSince=origin/main {files}

lint:
  run: bun run lint --fix {staged_files}
  stage_fixed: true

sort-package:
  run: bunx sort-package-json {staged_files}
  stage_fixed: true

chore: release v17.2.1
  apps/ccusage/package.json
  apps/codex/package.json
  apps/mcp/package.json
  docs/package.json
  package.json
  packages/internal/package.json
  packages/terminal/package.json
Due: format, sort-package-json, lint, sort-package

chore: format
  apps/mcp/src/command.ts
Due: format, typecheck, test, lint

docs(opencode): add documentation page for OpenCode CLI
  docs/.vitepress/config.ts
  docs/guide/opencode/index.md
Due: format, typecheck, test, lint

feat(opencode): add OpenCode CLI package (#758)
  CLAUDE.md
  apps/ccusage/README.md
  apps/opencode/AGENTS.md
  apps/opencode/CLAUDE.md
  apps/opencode/README.md
  apps/opencode/eslint.config.js
  apps/opencode/package.json
  apps/opencode/src/commands/daily.ts
  apps/opencode/src/commands/index.ts
  apps/opencode/src/commands/monthly.ts
  apps/opencode/src/commands/session.ts
  apps/opencode/src/commands/weekly.ts
  apps/opencode/src/cost-utils.ts
  apps/opencode/src/data-loader.ts
  apps/opencode/src/index.ts
  apps/opencode/src/run.ts
  apps/opencode/tsconfig.json
  apps/opencode/tsdown.config.ts
  apps/opencode/vitest.config.ts
  docs/.vitepress/config.ts
  docs/guide/opencode/index.md
  pnpm-lock.yaml
Due: format, sort-package-json, typecheck, test, lint

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: lint

docs(pi): add documentation and complete package setup
  apps/pi/CLAUDE.md
  apps/pi/tsconfig.json
  docs/.vitepress/config.ts
  docs/guide/pi/daily.md
  docs/guide/pi/index.md
  docs/guide/pi/monthly.md
  docs/guide/pi/session.md
Due: format, typecheck, test, lint

chore(pi): update author and add contributor
  apps/pi/package.json
Due: format, sort-package-json, lint

chore(opencode): add PR contributor to package.json
  apps/opencode/package.json
Due: format, sort-package-json, lint

fix: repair broken pnpm lockfile
  pnpm-lock.yaml
Due: lint

fix: standardize spelling to US English
  docs/guide/opencode/index.md
  docs/guide/pi/index.md
Due: format, lint

feat: pi agent integration (#760)
  apps/pi/CLAUDE.md
  apps/pi/README.md
  apps/pi/eslint.config.js
  apps/pi/package.json
  apps/pi/src/_consts.ts
  apps/pi/src/_pi-agent.ts
  apps/pi/src/_types.ts
  apps/pi/src/commands/daily.ts
  apps/pi/src/commands/index.ts
  apps/pi/src/commands/monthly.ts
  apps/pi/src/commands/session.ts
  apps/pi/src/data-loader.ts
  apps/pi/src/index.ts
  apps/pi/tsconfig.json
  apps/pi/tsdown.config.ts
  apps/pi/vitest.config.ts
  docs/guide/opencode/index.md
  docs/guide/pi/index.md
  packages/terminal/src/table.ts
  pnpm-lock.yaml
Due: format, sort-package-json, typecheck, test, lint

chore(opencode): add PR contributor to package.json (#781)
  apps/opencode/package.json
Due: format, sort-package-json, lint

feat(ccusage)!: remove deprecated blocks --live monitor
  apps/ccusage/README.md
  apps/ccusage/src/_consts.ts
  apps/ccusage/src/_live-monitor.ts
  apps/ccusage/src/_live-rendering.ts
  apps/ccusage/src/commands/_blocks.live.ts
  apps/ccusage/src/commands/blocks.ts
  docs/.vitepress/config.ts
  docs/guide/blocks-reports.md
  docs/guide/live-monitoring.md
  docs/index.md
Due: format, typecheck, test, lint

docs: fix typos in documentation
  docs/guide/blocks-reports.md
  docs/guide/live-monitoring.md
Due: format, lint

feat(ccusage)!: remove deprecated blocks --live monitor (#782)
  apps/ccusage/README.md
  apps/ccusage/src/_consts.ts
  apps/ccusage/src/_live-monitor.ts
  apps/ccusage/src/_live-rendering.ts
  apps/ccusage/src/commands/_blocks.live.ts
  apps/ccusage/src/commands/blocks.ts
  docs/.vitepress/config.ts
  docs/guide/blocks-reports.md
  docs/guide/live-monitoring.md
  docs/index.md
Due: format, typecheck, test, lint

docs(ccusage): add @ccusage/pi to README and simplify Related Tools
  apps/ccusage/README.md
Due: format, lint

docs(pi): overhaul README to match ccusage family style
  apps/pi/README.md
Due: format, lint

docs(pi): add @ccusage/pi to README and overhaul pi package docs (#783)
  apps/ccusage/README.md
  apps/pi/README.md
Due: format, lint

refactor(pi): remove Claude Code data integration
  apps/pi/src/commands/daily.ts
  apps/pi/src/commands/monthly.ts
  apps/pi/src/commands/session.ts
Due: format, typecheck, test, lint

docs(pi): update documentation for pi-agent only mode
  apps/pi/CLAUDE.md
  docs/guide/pi/index.md
Due: format, lint

refactor(pi): remove Claude Code integration from pi package (#784)
  apps/pi/CLAUDE.md
  apps/pi/src/commands/daily.ts
  apps/pi/src/commands/monthly.ts
  apps/pi/src/commands/session.ts
  docs/guide/pi/index.md
Due: format, typecheck, test, lint

chore: remove gunshi-doc MCP server and sitemcp dependency
  .mcp.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint, sort-package

chore: add @gunshi/docs with llm-docs catalog
  .claude/skills/use-gunshi-cli/SKILL.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, lint, sort-package

feat(amp): add Amp CLI usage analysis package
  apps/amp/CLAUDE.md
  apps/amp/eslint.config.js
  apps/amp/package.json
  apps/amp/src/_consts.ts
  apps/amp/src/_macro.ts
  apps/amp/src/_types.ts
  apps/amp/src/commands/daily.ts
  apps/amp/src/commands/index.ts
  apps/amp/src/commands/monthly.ts
  apps/amp/src/commands/session.ts
  apps/amp/src/data-loader.ts
  apps/amp/src/index.ts
  apps/amp/src/logger.ts
  apps/amp/src/pricing.ts
  apps/amp/src/run.ts
  apps/amp/tsconfig.json
  apps/amp/tsdown.config.ts
  apps/amp/vitest.config.ts
  pnpm-lock.yaml
Due: format, sort-package-json, typecheck, test, lint

chore: add @praha/byethrow-docs to llm-docs catalog
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint, sort-package

chore: add Claude Code skills for byethrow and gunshi
  .claude/skills/byethrow/SKILL.md
Due: format, lint

chore: remove @praha/byethrow MCP server and mcp catalog
  .mcp.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint, sort-package

docs: update CLAUDE.md to reference skills instead of MCP servers
  CLAUDE.md
Due: lint

chore: remove npx command
  .claude/skills/byethrow/SKILL.md
Due: format, lint

chore: migrate MCP servers for docs to docs packages (#786)
  .claude/skills/byethrow/SKILL.md
  .claude/skills/use-gunshi-cli/SKILL.md
  .mcp.json
  CLAUDE.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, lint, sort-package

feat(amp): add Amp CLI usage analysis package (#785)
  apps/amp/CLAUDE.md
  apps/amp/eslint.config.js
  apps/amp/package.json
  apps/amp/src/_consts.ts
  apps/amp/src/_macro.ts
  apps/amp/src/_types.ts
  apps/amp/src/commands/daily.ts
  apps/amp/src/commands/index.ts
  apps/amp/src/commands/monthly.ts
  apps/amp/src/commands/session.ts
  apps/amp/src/data-loader.ts
  apps/amp/src/index.ts
  apps/amp/src/logger.ts
  apps/amp/src/pricing.ts
  apps/amp/src/run.ts
  apps/amp/tsconfig.json
  apps/amp/tsdown.config.ts
  apps/amp/vitest.config.ts
  pnpm-lock.yaml
Due: format, sort-package-json, typecheck, test, lint

refactor: migrate formatting from ESLint stylistic to oxfmt
  .oxfmtrc.jsonc
  apps/ccusage/eslint.config.js
  apps/ccusage/package.json
  apps/ccusage/tsdown.config.ts
  apps/codex/eslint.config.js
  apps/codex/package.json
  apps/codex/tsdown.config.ts
  apps/mcp/eslint.config.js
  apps/mcp/package.json
  apps/mcp/tsdown.config.ts
  apps/opencode/eslint.config.js
  apps/opencode/package.json
  apps/pi/eslint.config.js
  apps/pi/package.json
  apps/pi/tsdown.config.ts
  docs/eslint.config.js
  eslint.config.js
  package.json
  packages/internal/eslint.config.js
  packages/terminal/eslint.config.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, sort-package-json, typecheck, test, lint, sort-package

refactor(amp): apply oxfmt formatting and disable ESLint stylistic
  apps/amp/eslint.config.js
  apps/amp/package.json
  apps/amp/src/_macro.ts
  apps/amp/src/commands/daily.ts
  apps/amp/src/commands/monthly.ts
  apps/amp/src/commands/session.ts
  apps/amp/src/data-loader.ts
  apps/amp/src/pricing.ts
  apps/amp/tsconfig.json
  pnpm-lock.yaml
Due: format, sort-package-json, typecheck, test, lint

chore: release v18.0.0
  apps/amp/package.json
  apps/ccusage/package.json
  apps/codex/package.json
  apps/mcp/package.json
  apps/opencode/package.json
  apps/pi/package.json
  docs/package.json
  package.json
  packages/internal/package.json
  packages/terminal/package.json
Due: format, sort-package-json, lint, sort-package

Revert "chore: release v18.0.0"
  apps/amp/package.json
  apps/ccusage/package.json
  apps/codex/package.json
  apps/mcp/package.json
  apps/opencode/package.json
  apps/pi/package.json
  docs/package.json
  package.json
  packages/internal/package.json
  packages/terminal/package.json
Due: format, sort-package-json, lint, sort-package

chore: release v18.0.1
  apps/amp/package.json
  apps/ccusage/package.json
  apps/codex/package.json
  apps/mcp/package.json
  apps/opencode/package.json
  apps/pi/package.json
  docs/package.json
  package.json
  packages/internal/package.json
  packages/terminal/package.json
Due: format, sort-package-json, lint, sort-package

fix(amp,opencode): add fixedExtension option to output .js extension
  apps/amp/tsdown.config.ts
  apps/opencode/tsdown.config.ts
Due: format, typecheck, test, lint

chore: git checkout after release
  package.json
Due: lint, sort-package

Path conditions:
  format: any of: **/*.{cjs,cts,ctsx,js,jsx,mjs,mts,mtsx,ts,tsx,json,yml,yaml,md,mdx}
  sort-package-json: any of: **/package.json
  typecheck: (any of: **/*.{ts,tsx,cts,ctsx,mts,mtsx}) or (any of: *.{ts,js})
  test: any of: **/*.{ts,tsx,cts,ctsx,mts,mtsx}
  lint: any of: *
  sort-package: any of: package.json
