Repository ryoppippi/ccusage: changes, and which lefthook commands are due for each by the changed paths.
All: format, sort-package-json, typecheck, test, lint, sort-package

.lefthook.yml:

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    format:
      glob: '**/*.{cjs,cts,ctsx,js,jsx,mjs,mts,mtsx,ts,tsx,json,yml,yaml,md,mdx}'
      run: pnpm eslint --cache --fix {files}
      stage_fixed: true
    sort-package-json:
      glob: '**/package.json'
      run: pnpm exec sort-package-json {files}
      stage_fixed: true
    typecheck:
      glob: '**/*.{ts,tsx,cts,ctsx,mts,mtsx}'
      run: pnpm tsgo {files}
    test:
      glob: '**/*.{ts,tsx,cts,ctsx,mts,mtsx}'
      run: pnpm vitest --passWithNoTests --run --bail --changedSince=origin/main {files}

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: '*'
      run: bun run lint --fix {staged_files}
      stage_fixed: true
    typecheck:
      glob: '*.{ts,js}'
      run: bun typecheck
    schema:
      run: bun run generate:schema
    test:
      run: bun vitest --passWithNoTests
    sort-package:
      glob: package.json
      run: bunx sort-package-json {staged_files}
      stage_fixed: true

chore: pin Rust toolchain
  crates/ccusage/src/main.rs
  flake.lock
  flake.nix
  rust-toolchain.toml
Due: lint

perf(ccusage): calculate usage costs synchronously
  apps/ccusage/src/_pricing-fetcher.ts
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): use Bun file reads for JSONL buffers
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): tune default JSONL worker count
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): flatten usage entries sent from workers
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): balance usage workers by file size
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): balance Rust workers by file size
  crates/ccusage/src/main.rs
Due: lint

perf(ccusage): speed up usage table rendering
  apps/ccusage/src/data-loader.ts
  packages/terminal/package.json
  packages/terminal/src/table.ts
Due: format, sort-package-json, typecheck, test, lint

perf(ccusage): speed up table width calculation
  packages/terminal/src/table.ts
  packages/terminal/src/text-width.ts
Due: format, typecheck, test, lint

feat: add Nix flake default package
  .gitignore
  apps/ccusage/README.md
  flake.nix
Due: format, lint

chore: update runtime version metadata
  apps/amp/package.json
  apps/ccusage/package.json
  apps/codex/package.json
  apps/opencode/package.json
  apps/pi/package.json
  docs/package.json
  flake.lock
  package.json
Due: format, sort-package-json, lint, sort-package

perf(ccusage): remove cli-table rendering dependency
  packages/terminal/package.json
  packages/terminal/src/table.ts
  pnpm-lock.yaml
Due: format, sort-package-json, typecheck, test, lint

perf(ccusage): remove small sorting helpers from runtime
  apps/ccusage/package.json
  apps/ccusage/src/_config-loader-tokens.ts
  apps/ccusage/src/_date-utils.ts
  apps/ccusage/src/_utils.ts
  apps/ccusage/src/data-loader.ts
  pnpm-lock.yaml
Due: format, sort-package-json, typecheck, test, lint

test(ccusage): cover dependency-free helper behavior
  apps/ccusage/src/_date-utils.ts
  apps/ccusage/src/_utils.ts
Due: format, typecheck, test, lint

chore(ccusage): keep antfu toArray helper
  apps/ccusage/package.json
  apps/ccusage/src/_config-loader-tokens.ts
  apps/ccusage/src/_utils.ts
  apps/ccusage/src/data-loader.ts
  pnpm-lock.yaml
Due: format, sort-package-json, typecheck, test, lint

perf(ccusage): avoid date formatter work on hot paths
  apps/ccusage/src/_date-utils.ts
  apps/ccusage/src/data-loader.ts
  packages/terminal/src/table.ts
Due: format, typecheck, test, lint

perf(ccusage): prefer bun runtime from package launcher
  apps/ccusage/CLAUDE.md
  apps/ccusage/README.md
  apps/ccusage/package.json
  apps/ccusage/src/_env.ts
  apps/ccusage/src/cli.ts
  apps/ccusage/src/data-loader.ts
  apps/ccusage/src/main.bun.ts
  apps/ccusage/src/main.node.ts
  apps/ccusage/src/main.ts
  apps/ccusage/tsdown.config.ts
  apps/pi/package.json
  docs/.vitepress/config.ts
  docs/CLAUDE.md
  docs/guide/environment-variables.md
  docs/guide/getting-started.md
  docs/guide/installation.md
  docs/package.json
  docs/tsconfig.json
  docs/typedoc.config.ts
  docs/update-api-index.ts
  packages/terminal/src/table.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, sort-package-json, typecheck, test, lint

perf(ccusage): scan buffered usage lines forward
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): narrow fast parser tail field scans
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): drop unused dedupe undefined branch
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): keep usage JSONL callbacks synchronous
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): use more workers for daily sessions
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): allow nine JSONL workers
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): dedupe usage rows while reading files
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): scan usage objects for JSONL rows
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): scan Bun JSONL usage bytes
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): scan Bun block JSONL bytes
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): skip non-usage timestamp scans for blocks
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): drop unused block file timestamp payload
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): tune Rust release optimization level
  Cargo.toml
Due: lint

perf(ccusage): reuse usage JSONL scanner for blocks
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): parallelize block file discovery
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): inline block entry construction
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

fix(ccusage): remove stale Rust locale option
  crates/ccusage/src/cli.rs
Due: lint

perf(ccusage): reuse parsed block timestamps
  apps/ccusage/src/_session-blocks.ts
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): optimize Rust dependencies for size
  Cargo.toml
Due: lint

perf(ccusage): jump directly to usage JSONL lines
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): decode JSONL usage lines without buffer views
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(internal): reuse tiered pricing cost helper
  packages/internal/src/pricing.ts
Due: format, typecheck, test, lint
