Repository ryoppippi/ccusage: changes, and which lefthook commands are due for each by the changed paths.
All: format, sort-package-json, typecheck, test, lint, sort-package

.lefthook.yml:

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    format:
      glob: '**/*.{cjs,cts,ctsx,js,jsx,mjs,mts,mtsx,ts,tsx,json,yml,yaml,md,mdx}'
      run: pnpm eslint --cache --fix {files}
      stage_fixed: true
    sort-package-json:
      glob: '**/package.json'
      run: pnpm exec sort-package-json {files}
      stage_fixed: true
    typecheck:
      glob: '**/*.{ts,tsx,cts,ctsx,mts,mtsx}'
      run: pnpm tsgo {files}
    test:
      glob: '**/*.{ts,tsx,cts,ctsx,mts,mtsx}'
      run: pnpm vitest --passWithNoTests --run --bail --changedSince=origin/main {files}

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: '*'
      run: bun run lint --fix {staged_files}
      stage_fixed: true
    typecheck:
      glob: '*.{ts,js}'
      run: bun typecheck
    schema:
      run: bun run generate:schema
    test:
      run: bun vitest --passWithNoTests
    sort-package:
      glob: package.json
      run: bunx sort-package-json {staged_files}
      stage_fixed: true

chore(format): format visible files with oxfmt
  .oxfmtrc.json
  apps/ccusage/package.json
  docs/package.json
  flake.nix
  package.json
Due: format, sort-package-json, lint, sort-package

chore(format): apply oxfmt
  .oxfmtrc.json
  apps/ccusage/package.json
  docs/package.json
  package.json
  rust/crates/ccusage/src/litellm-pricing-fallback.json
Due: format, sort-package-json, lint, sort-package

perf(progress): smooth all-agent loading output
  rust/crates/ccusage/src/adapter/all.rs
  rust/crates/ccusage/src/progress.rs
Due: lint

docs(skills): align agent rules with Rust CLI (#1076)
  .agents/skills/ast-grep/SKILL.md
  .agents/skills/bun-cpu-profile/SKILL.md
  .agents/skills/bun-cpu-profile/references/profile-workflow.md
  .agents/skills/ccusage-agent-sources/SKILL.md
  .agents/skills/ccusage-development/SKILL.md
  .agents/skills/ccusage-rust-profile/SKILL.md
  .agents/skills/ccusage-rust/SKILL.md
  .agents/skills/ccusage-testing/SKILL.md
  .agents/skills/ccusage-typescript/SKILL.md
  .agents/skills/ccusage-typescript/references/vitest.md
  .agents/skills/skill-creator/SKILL.md
  .claude/skills/byethrow
  .claude/skills/ccusage-rust
  .claude/skills/ccusage-rust-profile
  .claude/skills/ccusage-typescript
  .claude/skills/use-gunshi-cli
  CLAUDE.md
  apps/ccusage/CLAUDE.md
Due: format, lint

docs: document Nix development setup (#1077)
  apps/ccusage/README.md
Due: format, lint

ci: skip heavy checks for docs-only changes
  .github/actions/detect-code-changes/action.yaml
  .github/workflows/ccusage-perf.yaml
  .github/workflows/ccusage-rust-perf.yaml
  .github/workflows/ci.yaml
Due: format, lint

docs(readme): improve supported sources readability (#1072)
  apps/ccusage/README.md
  docs/guide/getting-started.md
  docs/guide/installation.md
Due: format, lint

chore(types): use nix-provided tsgo
  apps/ccusage/package.json
  docs/package.json
  flake.nix
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, sort-package-json, lint, sort-package

fix(progress): close spinner stop wake race
  rust/crates/ccusage/src/progress.rs
Due: lint

chore(nix): share repository source filter
  flake.nix
Due: lint

ci: harden change detection checkout
  .github/workflows/ccusage-perf.yaml
  .github/workflows/ccusage-rust-perf.yaml
  .github/workflows/ci.yaml
Due: format, lint

ci: scope workflow token permissions
  .github/workflows/ci.yaml
Due: format, lint

chore: migrate lint and format tooling to oxlint and oxfmt (#1079)
  .github/workflows/ci.yaml
  .gitleaks.toml
  .oxfmtrc.json
  .oxlintrc.json
  apps/ccusage/package.json
  docs/package.json
  eslint.config.js
  flake.nix
  lefthook.yml
  oxfmt.config.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  rust/crates/ccusage/src/litellm-pricing-fallback.json
Due: format, sort-package-json, typecheck, lint, sort-package

fix(ccusage): restore expanded config schema (#1074)
  apps/ccusage/config-schema.json
  rust/crates/ccusage/src/config_schema.rs
Due: format, lint

ci: use valid artifact permissions
  .github/workflows/ci.yaml
Due: format, lint

refactor(rust): reduce agent command duplication (#1075)
  rust/crates/ccusage/src/adapter/all.rs
  rust/crates/ccusage/src/cli.rs
Due: lint

fix(release): lint native packages before publish (#1073)
  packages/ccusage-darwin-arm64/package.json
  packages/ccusage-darwin-x64/package.json
  packages/ccusage-linux-arm64/package.json
  packages/ccusage-linux-x64/package.json
  packages/ccusage-win32-arm64/package.json
  packages/ccusage-win32-x64/package.json
  pnpm-lock.yaml
Due: format, sort-package-json, lint

feat: fix --breakdown broken flag
  rust/crates/ccusage/src/adapter/all.rs
  rust/crates/ccusage/src/adapter/codex.rs
Due: lint

ci(lefthook): run cargo tests before push
  lefthook.yml
Due: lint

chore(format): format native package manifests
  packages/ccusage-darwin-arm64/package.json
  packages/ccusage-darwin-x64/package.json
  packages/ccusage-linux-arm64/package.json
  packages/ccusage-linux-x64/package.json
  packages/ccusage-win32-arm64/package.json
  packages/ccusage-win32-x64/package.json
Due: format, sort-package-json, lint

style(packages): format native package metadata
  packages/ccusage-darwin-arm64/package.json
  packages/ccusage-darwin-x64/package.json
  packages/ccusage-linux-arm64/package.json
  packages/ccusage-linux-x64/package.json
  packages/ccusage-win32-arm64/package.json
  packages/ccusage-win32-x64/package.json
Due: format, sort-package-json, lint

ci(lefthook): test all Rust targets before push
  lefthook.yml
Due: lint

docs(skills): add create-pr lifecycle rule
  .agents/skills/create-pr/SKILL.md
  .agents/skills/create-pr/references/ai-review.md
  .agents/skills/create-pr/references/branch-and-commit.md
  .agents/skills/create-pr/references/ci.md
  .agents/skills/create-pr/references/completion.md
  .agents/skills/create-pr/references/open-pr.md
  CLAUDE.md
Due: format, lint

chore(packages): format native manifests
  packages/ccusage-darwin-arm64/package.json
  packages/ccusage-darwin-x64/package.json
  packages/ccusage-linux-arm64/package.json
  packages/ccusage-linux-x64/package.json
  packages/ccusage-win32-arm64/package.json
  packages/ccusage-win32-x64/package.json
Due: format, sort-package-json, lint

fix(ccusage): show all-agent model breakdowns
  rust/crates/ccusage/src/adapter/all.rs
  rust/crates/ccusage/src/adapter/codex.rs
Due: lint

chore(native): format package manifests
  packages/ccusage-darwin-arm64/package.json
  packages/ccusage-darwin-x64/package.json
  packages/ccusage-linux-arm64/package.json
  packages/ccusage-linux-x64/package.json
  packages/ccusage-win32-arm64/package.json
  packages/ccusage-win32-x64/package.json
Due: format, sort-package-json, lint

ci(lefthook): run cargo tests before push (#1082)
  lefthook.yml
  packages/ccusage-darwin-arm64/package.json
  packages/ccusage-darwin-x64/package.json
  packages/ccusage-linux-arm64/package.json
  packages/ccusage-linux-x64/package.json
  packages/ccusage-win32-arm64/package.json
  packages/ccusage-win32-x64/package.json
Due: format, sort-package-json, lint

docs(skills): fix commit guidance spelling
  .agents/skills/create-pr/SKILL.md
  .agents/skills/create-pr/references/branch-and-commit.md
Due: format, lint

docs(skills): clarify shell-specific PR commands
  .agents/skills/create-pr/SKILL.md
  .agents/skills/create-pr/references/open-pr.md
Due: format, lint

docs(skills): clarify PR workflow routing
  CLAUDE.md
Due: lint

docs(skills): merge PR review workflow into create-pr
  .agents/skills/ccusage-development/SKILL.md
  .agents/skills/create-pr/SKILL.md
  .agents/skills/create-pr/references/ai-review.md
  .agents/skills/create-pr/references/gh-review-commands.md
  .agents/skills/fix-ci/SKILL.md
  .agents/skills/pr-ai-review-workflow/SKILL.md
  CLAUDE.md
Due: format, lint

docs(skills): add create-pr lifecycle rule
  .agents/skills/ccusage-development/SKILL.md
  .agents/skills/create-pr/SKILL.md
  .agents/skills/create-pr/references/ai-review.md
  .agents/skills/create-pr/references/branch-and-commit.md
  .agents/skills/create-pr/references/ci.md
  .agents/skills/create-pr/references/completion.md
  .agents/skills/create-pr/references/gh-review-commands.md
  .agents/skills/create-pr/references/open-pr.md
  .agents/skills/fix-ci/SKILL.md
  .agents/skills/pr-ai-review-workflow/SKILL.md
  CLAUDE.md
Due: format, lint

chore: release v20.0.0
  apps/ccusage/package.json
  docs/package.json
  package.json
  packages/ccusage-darwin-arm64/package.json
  packages/ccusage-darwin-x64/package.json
  packages/ccusage-linux-arm64/package.json
  packages/ccusage-linux-x64/package.json
  packages/ccusage-win32-arm64/package.json
  packages/ccusage-win32-x64/package.json
  rust/Cargo.lock
  rust/crates/ccusage-terminal/Cargo.toml
  rust/crates/ccusage/Cargo.toml
Due: format, sort-package-json, lint, sort-package

chore: remove byethrow docs dependency
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint, sort-package

chore: remove byethrow docs dependency (#1087)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint, sort-package

fix(terminal): query Windows console for actual width
  rust/crates/ccusage-terminal/src/lib.rs
Due: lint
