Repository ryoppippi/ccusage: changes, and which lefthook commands are due for each by the changed paths.
All: format, sort-package-json, typecheck, test, lint, sort-package

.lefthook.yml:

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    format:
      glob: '**/*.{cjs,cts,ctsx,js,jsx,mjs,mts,mtsx,ts,tsx,json,yml,yaml,md,mdx}'
      run: pnpm eslint --cache --fix {files}
      stage_fixed: true
    sort-package-json:
      glob: '**/package.json'
      run: pnpm exec sort-package-json {files}
      stage_fixed: true
    typecheck:
      glob: '**/*.{ts,tsx,cts,ctsx,mts,mtsx}'
      run: pnpm tsgo {files}
    test:
      glob: '**/*.{ts,tsx,cts,ctsx,mts,mtsx}'
      run: pnpm vitest --passWithNoTests --run --bail --changedSince=origin/main {files}

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: '*'
      run: bun run lint --fix {staged_files}
      stage_fixed: true
    typecheck:
      glob: '*.{ts,js}'
      run: bun typecheck
    schema:
      run: bun run generate:schema
    test:
      run: bun vitest --passWithNoTests
    sort-package:
      glob: package.json
      run: bunx sort-package-json {staged_files}
      stage_fixed: true

docs(repo): update repository metadata
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/contribution.yml
  apps/ccusage/README.md
  apps/ccusage/package.json
  apps/ccusage/scripts/compare-pr-performance.ts
  apps/ccusage/test/statusline-test.json
  docs/guide/amp/index.md
  docs/guide/codebuff/index.md
  docs/guide/codex/index.md
  docs/guide/configuration.md
  docs/guide/copilot/index.md
  docs/guide/droid/index.md
  docs/guide/gemini/index.md
  docs/guide/getting-started.md
  docs/guide/installation.md
  docs/guide/kilo/index.md
  docs/guide/openclaw/index.md
  docs/guide/opencode/index.md
  docs/guide/pi/index.md
  docs/guide/qwen/index.md
  docs/guide/sponsors.md
  docs/index.md
  package.nix
  packages/ccusage-darwin-arm64/package.json
  packages/ccusage-darwin-x64/package.json
  packages/ccusage-linux-arm64/package.json
  packages/ccusage-linux-x64/package.json
  packages/ccusage-win32-arm64/package.json
  packages/ccusage-win32-x64/package.json
  rust/crates/ccusage/src/adapter/claude/README.md
Due: format, sort-package-json, typecheck, test, lint

ci: share Nix sticky disks per platform
  .github/actions/setup-nix/action.yaml
  .github/workflows/cache-gc.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/update-pricing.yaml
Due: format, lint

ci: tighten Blacksmith workflow migration
  .github/actionlint.yaml
  .github/actions/setup-nix/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/pr-gate.yaml
Due: format, lint

docs(readme): add screenshot alt text
  apps/ccusage/README.md
Due: format, lint

ci: fix sticky disk mounts
  .github/actions/setup-nix/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Due: format, lint

ci: keep lightweight jobs on ubuntu-slim
  .github/actionlint.yaml
  .github/workflows/approve-contributor.yaml
  .github/workflows/check-pr-title.yaml
  .github/workflows/ci.yaml
  .github/workflows/issue-gate.yaml
  .github/workflows/pr-gate.yaml
Due: format, lint

ci: harden release workflow credentials
  .github/actionlint.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Due: format, lint

ci: restore Windows Cargo cache
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Due: format, lint

ci: cache node modules on Blacksmith
  .github/actions/setup-nix/action.yaml
Due: format, lint

ci: restore macOS Nix cache action
  .github/actions/setup-nix/action.yaml
Due: format, lint

ci: fix macOS Nix cache gc input
  .github/actions/setup-nix/action.yaml
Due: format, lint

docs(repo): update repository metadata (#1250)
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/contribution.yml
  apps/ccusage/README.md
  apps/ccusage/package.json
  apps/ccusage/scripts/compare-pr-performance.ts
  apps/ccusage/test/statusline-test.json
  docs/guide/amp/index.md
  docs/guide/codebuff/index.md
  docs/guide/codex/index.md
  docs/guide/configuration.md
  docs/guide/copilot/index.md
  docs/guide/droid/index.md
  docs/guide/gemini/index.md
  docs/guide/getting-started.md
  docs/guide/installation.md
  docs/guide/kilo/index.md
  docs/guide/openclaw/index.md
  docs/guide/opencode/index.md
  docs/guide/pi/index.md
  docs/guide/qwen/index.md
  docs/guide/sponsors.md
  docs/index.md
  package.nix
  packages/ccusage-darwin-arm64/package.json
  packages/ccusage-darwin-x64/package.json
  packages/ccusage-linux-arm64/package.json
  packages/ccusage-linux-x64/package.json
  packages/ccusage-win32-arm64/package.json
  packages/ccusage-win32-x64/package.json
  rust/crates/ccusage/src/adapter/claude/README.md
Due: format, sort-package-json, typecheck, test, lint

ci: rotate Windows Cargo cache saves
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Due: format, lint

chore: release v20.0.10
  apps/ccusage/package.json
  docs/package.json
  package.json
  packages/ccusage-darwin-arm64/package.json
  packages/ccusage-darwin-x64/package.json
  packages/ccusage-linux-arm64/package.json
  packages/ccusage-linux-x64/package.json
  packages/ccusage-win32-arm64/package.json
  packages/ccusage-win32-x64/package.json
  rust/Cargo.lock
  rust/crates/ccusage-cli/Cargo.toml
  rust/crates/ccusage-terminal/Cargo.toml
  rust/crates/ccusage-test-support/Cargo.toml
  rust/crates/ccusage/Cargo.toml
Due: format, sort-package-json, lint, sort-package

ci: stabilize preview package e2e
  .github/workflows/ci.yaml
Due: format, lint

fix(nix): detach darwin binary from nix libiconv
  .github/workflows/ci.yaml
  package.nix
Due: format, lint

ci: split native package build actions
  .github/actions/build-linux-native-package/action.yaml
  .github/actions/build-macos-native-package/action.yaml
  .github/actions/build-windows-native-package/action.yaml
  .github/actions/setup-linux-blacksmith-sticky-disk/action.yaml
  .github/actions/setup-macos-nix-cache/action.yaml
  .github/actions/setup-native-build-cache/action.yaml
  .github/actions/setup-nix/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Due: format, lint

ci: build intel mac package without nix
  .github/actions/build-macos-native-package/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Due: format, lint

ci: split macos native build actions
  .github/actions/build-macos-cargo-native-package/action.yaml
  .github/actions/build-macos-nix-native-package/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Due: format, lint

ci: avoid template expansion in native actions
  .github/actions/build-linux-native-package/action.yaml
  .github/actions/build-macos-cargo-native-package/action.yaml
  .github/actions/build-macos-nix-native-package/action.yaml
  .github/actions/build-windows-native-package/action.yaml
Due: format, lint

ci: migrate workflows to Blacksmith (#1249)
  .github/actionlint.yaml
  .github/actions/build-linux-native-package/action.yaml
  .github/actions/build-macos-cargo-native-package/action.yaml
  .github/actions/build-macos-nix-native-package/action.yaml
  .github/actions/build-windows-native-package/action.yaml
  .github/actions/setup-linux-blacksmith-sticky-disk/action.yaml
  .github/actions/setup-macos-nix-cache/action.yaml
  .github/actions/setup-native-build-cache/action.yaml
  .github/actions/setup-nix/action.yaml
  .github/workflows/cache-gc.yaml
  .github/workflows/ci.yaml
  .github/workflows/pr-gate.yaml
  .github/workflows/pullfrog.yml
  .github/workflows/release.yaml
  .github/workflows/update-pricing.yaml
  package.nix
Due: format, lint

refactor(nix): merge development flake back into the root flake
  .envrc
  .github/actions/setup-macos-nix-cache/action.yaml
  .github/actions/setup-nix/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/update-pricing.yaml
  dev/flake.lock
  dev/flake.nix
  flake.lock
  flake.nix
  justfile
  nix/checks.nix
  nix/treefmt.nix
Due: format, lint

refactor(ci): drop the ci dev shell and explicit pnpm install steps
  .github/actions/setup-nix/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/update-pricing.yaml
  justfile
  nix/dev-shell.nix
Due: format, lint

ci: report what the Nix and node_modules caches restored
  .github/actions/setup-linux-blacksmith-sticky-disk/action.yaml
  .github/actions/setup-macos-nix-cache/action.yaml
Due: format, lint

Revert "ci: report what the Nix and node_modules caches restored"
  .github/actions/setup-linux-blacksmith-sticky-disk/action.yaml
  .github/actions/setup-macos-nix-cache/action.yaml
Due: format, lint

Update nix/dev-shell.nix
  nix/dev-shell.nix
Due: lint

chore(ci): update github actions
  .github/actions/setup-linux-blacksmith-sticky-disk/action.yaml
Due: format, lint

ci: simplify pnpm version resolution for the sticky disk key
  .github/actions/setup-linux-blacksmith-sticky-disk/action.yaml
Due: format, lint

ci: stop caching node_modules on a sticky disk
  .github/actions/setup-linux-blacksmith-sticky-disk/action.yaml
Due: format, lint

refactor(nix): restore a single flake and simplify CI shells (#1254)
  .envrc
  .github/actions/setup-linux-blacksmith-sticky-disk/action.yaml
  .github/actions/setup-macos-nix-cache/action.yaml
  .github/actions/setup-nix/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/update-pricing.yaml
  dev/flake.lock
  dev/flake.nix
  flake.lock
  flake.nix
  justfile
  nix/checks.nix
  nix/dev-shell.nix
  nix/treefmt.nix
Due: format, lint

docs: add Blacksmith sponsor
  apps/ccusage/README.md
  docs/guide/sponsors.md
  docs/index.md
  docs/public/blacksmith.png
Due: format, lint

chore: release v20.0.11
  apps/ccusage/package.json
  docs/package.json
  package.json
  packages/ccusage-darwin-arm64/package.json
  packages/ccusage-darwin-x64/package.json
  packages/ccusage-linux-arm64/package.json
  packages/ccusage-linux-x64/package.json
  packages/ccusage-win32-arm64/package.json
  packages/ccusage-win32-x64/package.json
  rust/Cargo.lock
  rust/crates/ccusage-cli/Cargo.toml
  rust/crates/ccusage-terminal/Cargo.toml
  rust/crates/ccusage-test-support/Cargo.toml
  rust/crates/ccusage/Cargo.toml
Due: format, sort-package-json, lint, sort-package

build(ccusage): reject non-portable staged native binaries
  apps/ccusage/scripts/ensure-native-binary.ts
Due: format, typecheck, test, lint

fix(nix): fail the darwin build when non-system dylibs remain
  package.nix
Due: lint

fix(nix): assert the static Linux build has no dynamic loader
  nix/static-package.nix
Due: lint

ci: verify the cargo-built macOS x64 binary links only system dylibs
  .github/actions/build-macos-cargo-native-package/action.yaml
Due: format, lint

fix(build): verify native release binaries are portable (#1256)
  .github/actions/build-macos-cargo-native-package/action.yaml
  apps/ccusage/scripts/ensure-native-binary.ts
  nix/static-package.nix
  package.nix
Due: format, typecheck, test, lint

perf(pricing): shrink embedded snapshots 58% and binary 2.9% (#1244)
  .agents/skills/rust-binary-size/SKILL.md
  .github/scripts/upsert-pr-comment.ts
  .github/workflows/ci.yaml
  AGENTS.md
  apps/ccusage/scripts/compare-pr-performance.ts
  apps/ccusage/scripts/stage-native-package.mjs
  nix/models-dev-compact.test.ts
  nix/models-dev-compact.ts
  nix/models-dev-gen.ts
  rust/crates/ccusage/build.rs
  rust/crates/ccusage/src/models-dev-pricing.json
  rust/crates/ccusage/src/pricing.rs
  vitest.config.ts
Due: format, typecheck, test, lint

perf(ccusage): drop schema regeneration from the publish build
  apps/ccusage/package.json
Due: format, sort-package-json, lint
