Repository ryoppippi/ccusage: changes, and which lefthook commands are due for each by the changed paths.
All: format, sort-package-json, typecheck, test, lint, sort-package

.lefthook.yml:

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    format:
      glob: '**/*.{cjs,cts,ctsx,js,jsx,mjs,mts,mtsx,ts,tsx,json,yml,yaml,md,mdx}'
      run: pnpm eslint --cache --fix {files}
      stage_fixed: true
    sort-package-json:
      glob: '**/package.json'
      run: pnpm exec sort-package-json {files}
      stage_fixed: true
    typecheck:
      glob: '**/*.{ts,tsx,cts,ctsx,mts,mtsx}'
      run: pnpm tsgo {files}
    test:
      glob: '**/*.{ts,tsx,cts,ctsx,mts,mtsx}'
      run: pnpm vitest --passWithNoTests --run --bail --changedSince=origin/main {files}

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: '*'
      run: bun run lint --fix {staged_files}
      stage_fixed: true
    typecheck:
      glob: '*.{ts,js}'
      run: bun typecheck
    schema:
      run: bun run generate:schema
    test:
      run: bun vitest --passWithNoTests
    sort-package:
      glob: package.json
      run: bunx sort-package-json {staged_files}
      stage_fixed: true

feat(opencode): add subtotal rows for parent sessions with subagents
  apps/opencode/src/commands/session.ts
Due: format, typecheck, test, lint

fix(opencode): remove duplicate bullet formatting in model names
  apps/opencode/src/commands/session.ts
Due: format, typecheck, test, lint

fix(opencode): remove duplicate bullet formatting in daily, monthly, weekly commands
  apps/opencode/src/commands/daily.ts
  apps/opencode/src/commands/monthly.ts
  apps/opencode/src/commands/weekly.ts
Due: format, typecheck, test, lint

docs(opencode): simplify cost calculation section
  apps/opencode/README.md
Due: format, lint

docs(opencode): align CLAUDE.md with AGENTS.md format
  apps/opencode/CLAUDE.md
Due: format, lint

refactor(opencode): extract cost calculation to shared module and fix table column count
  apps/opencode/src/commands/daily.ts
  apps/opencode/src/commands/monthly.ts
  apps/opencode/src/commands/session.ts
  apps/opencode/src/commands/weekly.ts
  apps/opencode/src/cost-utils.ts
Due: format, typecheck, test, lint

feat(ccusage): add pi-agent usage data integration
  apps/ccusage/config-schema.json
  apps/ccusage/src/_consts.ts
  apps/ccusage/src/_pi-agent.ts
  apps/ccusage/src/_shared-args.ts
  apps/ccusage/src/commands/blocks.ts
  apps/ccusage/src/commands/session.ts
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

fix(ccusage): add [pi-agent] prefix to model names for source clarity
  apps/ccusage/src/_pi-agent.ts
Due: format, typecheck, test, lint

feat(ccusage): rename --pi-agent to --pi, add source grouping
  apps/ccusage/config-schema.json
  apps/ccusage/src/_pi-agent.ts
  apps/ccusage/src/_shared-args.ts
  apps/ccusage/src/commands/blocks.ts
  apps/ccusage/src/commands/session.ts
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

fix(terminal): normalize pi-agent model names in display
  packages/terminal/src/table.ts
Due: format, typecheck, test, lint

refactor: move pi-agent to separate @ccusage/pi package
  apps/ccusage/config-schema.json
  apps/ccusage/src/_consts.ts
  apps/ccusage/src/_shared-args.ts
  apps/ccusage/src/commands/blocks.ts
  apps/ccusage/src/commands/session.ts
  apps/ccusage/src/data-loader.ts
  apps/pi/README.md
  apps/pi/eslint.config.js
  apps/pi/package.json
  apps/pi/src/_consts.ts
  apps/pi/src/_pi-agent.ts
  apps/pi/src/_types.ts
  apps/pi/src/commands/daily.ts
  apps/pi/src/commands/index.ts
  apps/pi/src/commands/monthly.ts
  apps/pi/src/commands/session.ts
  apps/pi/src/data-loader.ts
  apps/pi/src/index.ts
  apps/pi/tsconfig.json
  apps/pi/tsdown.config.ts
  apps/pi/vitest.config.ts
  pnpm-lock.yaml
Due: format, sort-package-json, typecheck, test, lint

fix(pi): address code review feedback
  apps/pi/src/_pi-agent.ts
  apps/pi/src/_types.ts
  apps/pi/src/commands/daily.ts
  apps/pi/src/commands/monthly.ts
  apps/pi/src/commands/session.ts
  apps/pi/src/data-loader.ts
  packages/terminal/src/table.ts
Due: format, typecheck, test, lint

fix(pi): revert dedup key to timestamp+totalTokens
  apps/ccusage/src/_pi-agent.ts
  apps/pi/src/data-loader.ts
Due: format, typecheck, test, lint

fix: remove accidentally committed _pi-agent.ts from ccusage
  apps/ccusage/src/_pi-agent.ts
Due: format, typecheck, test, lint

refactor(pi): remove unnecessary defensive checks in daily command
  apps/pi/src/commands/daily.ts
Due: format, typecheck, test, lint

fix(opencode): add model alias for gemini-3-pro-high pricing lookup
  apps/opencode/src/cost-utils.ts
Due: format, typecheck, test, lint

chore(opencode): make AGENTS.md a symlink to CLAUDE.md
  apps/opencode/AGENTS.md
Due: format, lint

feat(ccusage): add year/wrapped command for annual usage reports
  apps/ccusage/src/_year-formatters.ts
  apps/ccusage/src/_year-report.ts
  apps/ccusage/src/_year-types.ts
  apps/ccusage/src/commands/index.ts
  apps/ccusage/src/commands/year.ts
Due: format, typecheck, test, lint

fix(ccusage): address code review feedback from coderabbitai
  apps/ccusage/README.md
  apps/ccusage/config-schema.json
  apps/ccusage/package.json
  apps/ccusage/src/_year-formatters.ts
  apps/ccusage/src/_year-report.ts
  apps/ccusage/src/commands/year.ts
Due: format, sort-package-json, typecheck, test, lint

fix(ccusage): preserve date keys in JSON dailyActivity output
  apps/ccusage/src/commands/year.ts
Due: format, typecheck, test, lint

feat(ccusage): improve year wrapped UI based on Cursor design
  apps/ccusage/my-2025-wrapped.html
  apps/ccusage/src/_year-formatters.ts
Due: format, typecheck, test, lint

refactor(ccusage): redesign year wrapped with cleaner overview layout
  apps/ccusage/my-2025-wrapped.html
  apps/ccusage/src/_year-formatters.ts
Due: format, typecheck, test, lint

feat(ccusage): simplify year wrapped UI layout
  apps/ccusage/src/_year-formatters.ts
Due: format, typecheck, test, lint

perf(ccusage): add timestamp cache for faster file processing
  apps/ccusage/src/_timestamp-cache.ts
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

fix(ccusage): extract session ID from filename instead of directory name
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

feat(ccusage): add --no-cost flag to hide cost column
  apps/ccusage/src/_shared-args.ts
  apps/ccusage/src/commands/blocks.ts
  apps/ccusage/src/commands/daily.ts
  apps/ccusage/src/commands/monthly.ts
  apps/ccusage/src/commands/session.ts
  packages/terminal/src/table.ts
Due: format, typecheck, test, lint

fix(ccusage): keep entry with highest output_tokens during deduplication
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

fix(ccusage): update test to match new deduplication behavior
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

fix(ccusage): use proper nested fixture structure in test
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

Revert "fix(ccusage): use proper nested fixture structure in test"
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

Correction of false statement
  docs/guide/index.md
Due: format, lint

fix: deduplication fallback to message ID when request ID is missing
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

feat(opencode): add package scaffolding
  apps/opencode/eslint.config.js
  apps/opencode/package.json
  apps/opencode/tsconfig.json
  apps/opencode/tsdown.config.ts
  apps/opencode/vitest.config.ts
Due: format, sort-package-json, typecheck, test, lint

feat(opencode): add core types and utilities
  apps/opencode/src/_consts.ts
  apps/opencode/src/_types.ts
  apps/opencode/src/date-utils.ts
  apps/opencode/src/logger.ts
  apps/opencode/src/token-utils.ts
Due: format, typecheck, test, lint

feat(opencode): add data loader for OpenCode storage
  apps/opencode/src/data-loader.ts
Due: format, typecheck, test, lint

feat(opencode): add LiteLLM pricing fallback
  apps/opencode/src/pricing.ts
Due: format, typecheck, test, lint

feat(opencode): add daily, monthly, and session reports
  apps/opencode/src/daily-report.ts
  apps/opencode/src/monthly-report.ts
  apps/opencode/src/session-report.ts
Due: format, typecheck, test, lint

feat(opencode): add CLI entry point and commands
  apps/opencode/src/_shared-args.ts
  apps/opencode/src/command-utils.ts
  apps/opencode/src/commands/daily.ts
  apps/opencode/src/commands/monthly.ts
  apps/opencode/src/commands/session.ts
  apps/opencode/src/index.ts
  apps/opencode/src/run.ts
Due: format, typecheck, test, lint

docs(opencode): add AGENTS.md with architecture documentation
  apps/opencode/AGENTS.md
Due: format, lint

chore(opencode): update lockfile for new package
  pnpm-lock.yaml
Due: lint
