Repository ryoppippi/ccusage: changes, and which lefthook commands are due for each by the changed paths.
All: format, sort-package-json, typecheck, test, lint, sort-package

format:
  run: pnpm eslint --cache --fix {files}
  stage_fixed: true

sort-package-json:
  run: pnpm exec sort-package-json {files}
  stage_fixed: true

typecheck:
  run: pnpm tsgo {files}

test:
  run: pnpm vitest --passWithNoTests --run --bail --changedSince=origin/main {files}

lint:
  run: bun run lint --fix {staged_files}
  stage_fixed: true

sort-package:
  run: bunx sort-package-json {staged_files}
  stage_fixed: true

fix(ccusage-amp): include cache tokens in totalTokens
  apps/amp/src/commands/daily.ts
  apps/amp/src/commands/monthly.ts
  apps/amp/src/commands/session.ts
  apps/amp/src/data-loader.ts
Due: format, typecheck, test, lint

fix: normalize totals outputs across ccusage/codex/opencode/pi/amp
  apps/amp/src/commands/daily.ts
  apps/amp/src/commands/monthly.ts
  apps/amp/src/commands/session.ts
  apps/ccusage/src/commands/daily.ts
  apps/ccusage/src/commands/session.ts
  apps/codex/src/commands/daily.ts
  apps/codex/src/commands/monthly.ts
  apps/codex/src/commands/session.ts
  apps/opencode/src/commands/daily.ts
  apps/opencode/src/commands/monthly.ts
  apps/opencode/src/commands/session.ts
  apps/opencode/src/commands/weekly.ts
  apps/pi/src/commands/daily.ts
  apps/pi/src/commands/monthly.ts
  apps/pi/src/commands/session.ts
Due: format, typecheck, test, lint

fix(ccusage): Fix underreporting output tokens
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

feat(omni): add --breakdown flag for per-model cost details
  apps/omni/src/_normalizers/claude.ts
  apps/omni/src/_normalizers/codex.ts
  apps/omni/src/_normalizers/opencode.ts
  apps/omni/src/_normalizers/pi.ts
  apps/omni/src/_types.ts
  apps/omni/src/commands/daily.ts
  apps/opencode/src/index.ts
  apps/pi/src/index.ts
Due: format, typecheck, test, lint

feat(omni): add --breakdown flag to monthly and session commands
  apps/omni/src/commands/_shared.ts
  apps/omni/src/commands/daily.ts
  apps/omni/src/commands/monthly.ts
  apps/omni/src/commands/session.ts
Due: format, typecheck, test, lint

fix(omni): assign full cost to single-model Codex breakdowns
  apps/omni/src/_normalizers/codex.ts
Due: format, typecheck, test, lint

fix(omni): correct session breakdown column alignment
  apps/omni/src/commands/_shared.ts
  apps/omni/src/commands/session.ts
Due: format, typecheck, test, lint

feat: Add `limits` command to show rate limit history
  apps/ccusage/config-schema.json
  apps/ccusage/src/commands/index.ts
  apps/ccusage/src/commands/limits.ts
Due: format, typecheck, test, lint

feat(omni): add costUSD field to model usage and update report calculations
  apps/codex/src/_types.ts
  apps/codex/src/daily-report.ts
  apps/codex/src/monthly-report.ts
  apps/codex/src/session-report.ts
  apps/mcp/src/codex.ts
  apps/omni/src/_normalizers/codex.ts
Due: format, typecheck, test, lint

fix(ccusage-opencode): Add support for --since and --until flags
  apps/opencode/src/_shared-args.ts
  apps/opencode/src/commands/daily.ts
  apps/opencode/src/commands/monthly.ts
  apps/opencode/src/commands/session.ts
  apps/opencode/src/commands/weekly.ts
  apps/opencode/src/date-utils.ts
Due: format, typecheck, test, lint

fix(ccusage-opencode): silence logger in JSON mode
  apps/opencode/src/commands/daily.ts
  apps/opencode/src/commands/monthly.ts
  apps/opencode/src/commands/session.ts
  apps/opencode/src/commands/weekly.ts
Due: format, typecheck, test, lint

fix(ccusage-codex): rename costUSD to totalCost in totals dict
  apps/codex/src/_types.ts
  apps/codex/src/commands/daily.ts
  apps/codex/src/commands/monthly.ts
  apps/codex/src/commands/session.ts
  apps/codex/src/daily-report.ts
  apps/codex/src/monthly-report.ts
  apps/codex/src/session-report.ts
Due: format, typecheck, test, lint

fix(mcp): align codex JSON parsing with codex CLI
  apps/mcp/src/codex.ts
Due: format, typecheck, test, lint

fix(ccusage-codex): add `cacheCreationTokens` and `cacheReadTokens` fields to codex output
  apps/codex/src/_types.ts
  apps/codex/src/command-utils.ts
  apps/codex/src/commands/daily.ts
  apps/codex/src/commands/monthly.ts
  apps/codex/src/commands/session.ts
  apps/codex/src/daily-report.ts
  apps/codex/src/data-loader.ts
  apps/codex/src/monthly-report.ts
  apps/codex/src/session-report.ts
  apps/codex/src/token-utils.ts
Due: format, typecheck, test, lint

fix(ccusage-pi): Add `totalTokens` to totals dict
  apps/pi/src/commands/daily.ts
  apps/pi/src/commands/monthly.ts
  apps/pi/src/commands/session.ts
Due: format, typecheck, test, lint

fix(codex): skip zero-usage deltas
  apps/codex/src/data-loader.ts
Due: format, typecheck, test, lint

fix(ccusage): apply jq to empty session output
  apps/ccusage/src/commands/session.ts
Due: format, typecheck, test, lint

fix(codex): use totalCost in monthly table
  apps/codex/src/commands/monthly.ts
Due: format, typecheck, test, lint

fix(mcp): harden codex JSON parsing
  apps/mcp/package.json
  apps/mcp/src/codex.ts
  pnpm-lock.yaml
Due: format, sort-package-json, typecheck, test, lint

fix(opencode): validate filter dates in UTC
  apps/opencode/src/_shared-args.ts
  apps/opencode/src/date-utils.ts
Due: format, typecheck, test, lint

refactor(pi): simplify monthly totalTokens calculation
  apps/pi/src/commands/monthly.ts
Due: format, typecheck, test, lint

docs: add helper docstrings for review
  apps/ccusage/src/commands/session.ts
  apps/codex/src/commands/monthly.ts
  apps/mcp/src/codex.ts
Due: format, typecheck, test, lint

feat(kimi): implement Kimi CLI usage tracking
  apps/ccusage/README.md
  apps/kimi/CLAUDE.md
  apps/kimi/README.md
  apps/kimi/eslint.config.js
  apps/kimi/package.json
  apps/kimi/src/_consts.ts
  apps/kimi/src/_shared-args.ts
  apps/kimi/src/_types.ts
  apps/kimi/src/command-utils.ts
  apps/kimi/src/commands/daily.ts
  apps/kimi/src/commands/monthly.ts
  apps/kimi/src/commands/session.ts
  apps/kimi/src/commands/weekly.ts
  apps/kimi/src/daily-report.ts
  apps/kimi/src/data-loader.ts
  apps/kimi/src/date-utils.ts
  apps/kimi/src/index.ts
  apps/kimi/src/logger.ts
  apps/kimi/src/monthly-report.ts
  apps/kimi/src/pricing.ts
  apps/kimi/src/run.ts
  apps/kimi/src/session-report.ts
  apps/kimi/src/token-utils.ts
  apps/kimi/src/weekly-report.ts
  apps/kimi/tsconfig.json
  apps/kimi/tsdown.config.ts
  apps/kimi/vitest.config.ts
  apps/mcp/src/kimi.ts
  apps/mcp/src/mcp.ts
  pnpm-lock.yaml
Due: format, sort-package-json, typecheck, test, lint

Update apps/ccusage/README.md
  apps/ccusage/README.md
Due: format, lint

Update apps/kimi/CLAUDE.md
  apps/kimi/CLAUDE.md
Due: format, lint

Update apps/kimi/README.md
  apps/kimi/README.md
Due: format, lint

fix(kimi): use relative paths for images in README
  apps/kimi/README.md
Due: format, lint

chore: watch pnpm lockfiles
  .envrc
Due: lint

docs(ccusage): add missing JSDoc coverage
  apps/ccusage/src/_macro.ts
  apps/ccusage/src/_types.ts
  apps/ccusage/src/_utils.ts
  apps/ccusage/src/commands/blocks.ts
  apps/ccusage/src/commands/daily.ts
  apps/ccusage/src/commands/index.ts
  apps/ccusage/src/commands/monthly.ts
  apps/ccusage/src/commands/session.ts
  apps/ccusage/src/commands/statusline.ts
  apps/ccusage/src/commands/weekly.ts
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

fix(ccusage): honor config jq for session output
  apps/ccusage/src/commands/session.ts
Due: format, typecheck, test, lint

refactor(pi): tidy totals handling
  apps/pi/src/commands/daily.ts
  apps/pi/src/commands/session.ts
Due: format, typecheck, test, lint

refactor(codex): drop redundant cachedInputTokens
  apps/codex/src/_types.ts
Due: format, typecheck, test, lint

test(codex): use valid model keys in fixtures
  apps/codex/src/commands/monthly.ts
  apps/codex/src/daily-report.ts
  apps/codex/src/monthly-report.ts
  apps/codex/src/session-report.ts
Due: format, typecheck, test, lint

fix(opencode): align cache input token fields
  apps/opencode/src/commands/daily.ts
  apps/opencode/src/commands/monthly.ts
  apps/opencode/src/commands/session.ts
  apps/opencode/src/commands/weekly.ts
Due: format, typecheck, test, lint

fix(codex): use totalCost for daily/session totals
  apps/codex/src/commands/daily.ts
  apps/codex/src/commands/session.ts
Due: format, typecheck, test, lint

feat(codex): include archived sessions in default usage counting
  apps/codex/src/_consts.ts
  apps/codex/src/data-loader.ts
Due: format, typecheck, test, lint

fix(codex): dedupe sessions by relative path key
  apps/codex/src/data-loader.ts
Due: format, typecheck, test, lint

fix(opencode): support SQLite database for OpenCode >= 1.2.2
  apps/opencode/package.json
  apps/opencode/src/data-loader.ts
  apps/opencode/tsdown.config.ts
  pnpm-workspace.yaml
Due: format, sort-package-json, typecheck, test, lint

Path conditions:
  format: any of: **/*.{cjs,cts,ctsx,js,jsx,mjs,mts,mtsx,ts,tsx,json,yml,yaml,md,mdx}
  sort-package-json: any of: **/package.json
  typecheck: (any of: **/*.{ts,tsx,cts,ctsx,mts,mtsx}) or (any of: *.{ts,js})
  test: any of: **/*.{ts,tsx,cts,ctsx,mts,mtsx}
  lint: any of: *
  sort-package: any of: package.json
