Repository ryoppippi/ccusage: changes, and which lefthook commands are due for each by the changed paths.
All: format, sort-package-json, typecheck, test, lint, sort-package

.lefthook.yml:

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    format:
      glob: '**/*.{cjs,cts,ctsx,js,jsx,mjs,mts,mtsx,ts,tsx,json,yml,yaml,md,mdx}'
      run: pnpm eslint --cache --fix {files}
      stage_fixed: true
    sort-package-json:
      glob: '**/package.json'
      run: pnpm exec sort-package-json {files}
      stage_fixed: true
    typecheck:
      glob: '**/*.{ts,tsx,cts,ctsx,mts,mtsx}'
      run: pnpm tsgo {files}
    test:
      glob: '**/*.{ts,tsx,cts,ctsx,mts,mtsx}'
      run: pnpm vitest --passWithNoTests --run --bail --changedSince=origin/main {files}

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: '*'
      run: bun run lint --fix {staged_files}
      stage_fixed: true
    typecheck:
      glob: '*.{ts,js}'
      run: bun typecheck
    schema:
      run: bun run generate:schema
    test:
      run: bun vitest --passWithNoTests
    sort-package:
      glob: package.json
      run: bunx sort-package-json {staged_files}
      stage_fixed: true

ci: tolerate perf comment write failures
  .github/scripts/upsert-pr-comment.ts
  .github/workflows/ccusage-perf.yaml
Due: format, typecheck, test, lint

fix(ccusage): dedupe copied Codex token events
  apps/ccusage/src/adapter/codex/parser.ts
Due: format, typecheck, test, lint

fix(ccusage): dedupe Claude usage without request IDs
  apps/ccusage/src/adapter/claude/data-loader.ts
Due: format, typecheck, test, lint

feat(remote): add Tailscale/SSH source for Claude usage logs
  apps/ccusage/src/remote/index.ts
  apps/ccusage/src/remote/ssh.ts
  apps/ccusage/src/remote/tailscale.ts
  apps/ccusage/src/remote/types.ts
  apps/ccusage/src/shared-args.ts
Due: format, typecheck, test, lint

fix(config): don't require .claude directory for non-Claude agents
  apps/ccusage/src/config-loader-tokens.ts
Due: format, typecheck, test, lint

refactor(claude): split getClaudePaths into safe/required variants
  apps/ccusage/src/adapter/claude/data-loader.ts
  apps/ccusage/src/config-loader-tokens.ts
Due: format, typecheck, test, lint

fix(pricing): pick closest-length fuzzy match in LiteLLM pricing lookup
  packages/internal/src/pricing.ts
Due: format, typecheck, test, lint

feat(openclaw): add OpenClaw usage tracking adapter
  apps/ccusage/src/adapter/index.ts
  apps/ccusage/src/adapter/openclaw/index.ts
  apps/ccusage/src/adapter/openclaw/parser.ts
  apps/ccusage/src/adapter/openclaw/paths.ts
  apps/ccusage/src/adapter/openclaw/schema.ts
  apps/ccusage/src/adapter/types.ts
  apps/ccusage/src/commands/agent.ts
  apps/ccusage/src/commands/index.ts
Due: format, typecheck, test, lint

chore(openclaw): regenerate config schema for openclaw commands
  apps/ccusage/config-schema.json
Due: format, lint

fix(config): don't require .claude directory for non-Claude agents (#1017)
  apps/ccusage/src/adapter/claude/data-loader.ts
  apps/ccusage/src/config-loader-tokens.ts
Due: format, typecheck, test, lint

fix(pricing): pick closest-length fuzzy match in LiteLLM pricing lookup (#1018)
  packages/internal/src/pricing.ts
Due: format, typecheck, test, lint

docs(ai): require docs updates for new adapters
  .agents/skills/ccusage-agent-sources/SKILL.md
Due: format, lint

docs(openclaw): document OpenClaw data source
  docs/.vitepress/config.ts
  docs/guide/all-reports.md
  docs/guide/environment-variables.md
  docs/guide/getting-started.md
  docs/guide/index.md
  docs/guide/openclaw/index.md
  docs/index.md
Due: format, typecheck, test, lint

fix(openclaw): detect archived session transcripts
  apps/ccusage/src/adapter/openclaw/parser.ts
Due: format, typecheck, test, lint

chore(github): approve yasunogithub contributor
  .github/APPROVED_CONTRIBUTORS
Due: lint

feat(ccusage): add Gemini CLI usage adapter
  apps/ccusage/config-schema.json
  apps/ccusage/src/adapter/gemini/index.ts
  apps/ccusage/src/adapter/gemini/parser.ts
  apps/ccusage/src/adapter/gemini/paths.ts
  apps/ccusage/src/adapter/gemini/pricing-macro.ts
  apps/ccusage/src/adapter/gemini/pricing.ts
  apps/ccusage/src/adapter/gemini/schema.ts
  apps/ccusage/src/adapter/index.ts
  apps/ccusage/src/adapter/types.ts
  apps/ccusage/src/commands/agent.ts
  apps/ccusage/src/commands/all.ts
  apps/ccusage/src/commands/index.ts
  apps/ccusage/test/cli-output.test.ts
  apps/ccusage/test/snapshots/cli-output/all-agent-daily-table.txt
  apps/ccusage/tsdown.config.ts
  docs/.vitepress/config.ts
  docs/guide/all-reports.md
  docs/guide/configuration.md
  docs/guide/environment-variables.md
  docs/guide/gemini/index.md
  docs/guide/index.md
  packages/terminal/src/table.ts
Due: format, typecheck, test, lint

chore(github): approve conao3 contributor
  .github/APPROVED_CONTRIBUTORS
Due: lint

test(ccusage): cover Gemini CLI fixtures
  apps/ccusage/src/adapter/gemini/paths.ts
  apps/ccusage/test/cli-output.test.ts
  apps/ccusage/test/snapshots/cli-output/all-agent-daily-json.txt
  apps/ccusage/test/snapshots/cli-output/all-agent-daily-table.txt
  apps/ccusage/test/snapshots/cli-output/gemini-direct-daily-json.txt
  docs/guide/gemini/index.md
Due: format, typecheck, test, lint

feat(copilot): add GitHub Copilot CLI usage adapter
  apps/ccusage/src/adapter/copilot/index.ts
  apps/ccusage/src/adapter/copilot/parser.ts
  apps/ccusage/src/adapter/copilot/paths.ts
  apps/ccusage/src/adapter/copilot/pricing.ts
  apps/ccusage/src/adapter/index.ts
  apps/ccusage/src/adapter/types.ts
  apps/ccusage/src/commands/index.ts
  apps/ccusage/src/config-loader-tokens.ts
Due: format, typecheck, test, lint

chore(ccusage): update config schema for copilot
  apps/ccusage/config-schema.json
Due: format, lint

docs(copilot): document GitHub Copilot CLI source
  docs/.vitepress/config.ts
  docs/guide/all-reports.md
  docs/guide/claude/index.md
  docs/guide/codex/index.md
  docs/guide/config-files.md
  docs/guide/configuration.md
  docs/guide/copilot/index.md
  docs/guide/environment-variables.md
  docs/guide/getting-started.md
  docs/guide/index.md
  docs/index.md
Due: format, typecheck, test, lint

feat(pricing): support models.dev pricing source
  apps/ccusage/config-schema.json
  apps/ccusage/src/adapter/amp/index.ts
  apps/ccusage/src/adapter/claude/data-loader.ts
  apps/ccusage/src/adapter/claude/index.ts
  apps/ccusage/src/adapter/codex/index.ts
  apps/ccusage/src/adapter/opencode/index.ts
  apps/ccusage/src/adapter/types.ts
  apps/ccusage/src/commands/agent.ts
  apps/ccusage/src/commands/all.ts
  apps/ccusage/src/commands/blocks.ts
  apps/ccusage/src/commands/codex.ts
  apps/ccusage/src/commands/session.ts
  apps/ccusage/src/commands/session_id.ts
  apps/ccusage/src/commands/statusline.ts
  apps/ccusage/src/pricing-fetcher.ts
  apps/ccusage/src/shared-args.ts
  apps/ccusage/src/types.ts
  docs/guide/cli-options.md
  docs/guide/configuration.md
  docs/guide/statusline.md
  packages/internal/src/models-dev-pricing.ts
  packages/internal/src/pricing.ts
Due: format, typecheck, test, lint

docs(copilot): update README source list
  apps/ccusage/README.md
Due: format, lint

fix(pricing): preserve tier metadata for models.dev
  docs/guide/cli-options.md
  docs/guide/configuration.md
  packages/internal/src/pricing.ts
Due: format, typecheck, test, lint

docs(ai): require README audits for adapter updates
  .agents/skills/ccusage-agent-sources/SKILL.md
  .agents/skills/ccusage-docs/SKILL.md
Due: format, lint

docs(ai): require README audits for adapter updates (#1024)
  .agents/skills/ccusage-agent-sources/SKILL.md
  .agents/skills/ccusage-docs/SKILL.md
Due: format, lint

docs(ai): align adapter docs audit wording
  .agents/skills/ccusage-agent-sources/SKILL.md
  .agents/skills/ccusage-docs/SKILL.md
Due: format, lint

feat(hermes): add Hermes Agent usage adapter
  apps/ccusage/config-schema.json
  apps/ccusage/src/adapter/hermes/index.ts
  apps/ccusage/src/adapter/hermes/parser.ts
  apps/ccusage/src/adapter/hermes/paths.ts
  apps/ccusage/src/adapter/hermes/pricing.ts
  apps/ccusage/src/adapter/index.ts
  apps/ccusage/src/adapter/types.ts
  apps/ccusage/src/commands/agent.ts
  apps/ccusage/src/commands/index.ts
  apps/ccusage/src/config-loader-tokens.ts
  apps/ccusage/test/cli-output.test.ts
Due: format, typecheck, test, lint

docs(hermes): document Hermes Agent source
  apps/ccusage/README.md
  docs/.vitepress/config.ts
  docs/guide/all-reports.md
  docs/guide/config-files.md
  docs/guide/configuration.md
  docs/guide/environment-variables.md
  docs/guide/getting-started.md
  docs/guide/hermes/index.md
  docs/guide/index.md
Due: format, typecheck, test, lint

fix(hermes): address usage adapter review feedback
  apps/ccusage/config-schema.json
  apps/ccusage/scripts/generate-json-schema.ts
  apps/ccusage/src/adapter/hermes/parser.ts
  apps/ccusage/src/adapter/hermes/pricing.ts
  apps/ccusage/src/adapter/opencode/loader.ts
  apps/ccusage/src/adapter/sqlite.ts
  apps/ccusage/src/commands/agent.ts
Due: format, typecheck, test, lint

fix(ccusage): prevent pricing prefetch CI hangs
  apps/ccusage/config-schema.json
  apps/ccusage/scripts/generate-json-schema.ts
  packages/internal/src/pricing-fetch-utils.ts
Due: format, typecheck, test, lint

docs(ai): shorten repo skill descriptions
  .agents/skills/bun-api-reference/SKILL.md
  .agents/skills/bun-cpu-profile/SKILL.md
  .agents/skills/byethrow/SKILL.md
  .agents/skills/ccusage-agent-sources/SKILL.md
  .agents/skills/ccusage-development/SKILL.md
  .agents/skills/ccusage-docs/SKILL.md
  .agents/skills/ccusage-testing/SKILL.md
  .agents/skills/cmux-debug/SKILL.md
  .agents/skills/commit/SKILL.md
  .agents/skills/fix-ci/SKILL.md
  .agents/skills/fs-fixture/SKILL.md
  .agents/skills/pr-ai-review-workflow/SKILL.md
  .agents/skills/reduce-similarities/SKILL.md
  .agents/skills/tdd/SKILL.md
  .agents/skills/typescript-style/SKILL.md
  .agents/skills/use-gunshi-cli/SKILL.md
Due: format, lint

docs(ai): align adapter docs audit wording (#1025)
  .agents/skills/ccusage-agent-sources/SKILL.md
  .agents/skills/ccusage-docs/SKILL.md
Due: format, lint

feat(droid): add Factory Droid usage adapter
  apps/ccusage/README.md
  apps/ccusage/config-schema.json
  apps/ccusage/scripts/generate-json-schema.ts
  apps/ccusage/src/adapter/droid/index.ts
  apps/ccusage/src/adapter/droid/parser.ts
  apps/ccusage/src/adapter/droid/paths.ts
  apps/ccusage/src/adapter/droid/pricing-macro.ts
  apps/ccusage/src/adapter/droid/pricing.ts
  apps/ccusage/src/adapter/index.ts
  apps/ccusage/src/adapter/types.ts
  apps/ccusage/src/commands/index.ts
  apps/ccusage/src/config-loader-tokens.ts
  apps/ccusage/test/cli-output.test.ts
  apps/ccusage/test/snapshots/cli-output/all-agent-daily-json.txt
  apps/ccusage/test/snapshots/cli-output/all-agent-daily-table.txt
  apps/ccusage/test/snapshots/cli-output/droid-direct-daily-json.txt
  docs/.vitepress/config.ts
  docs/guide/all-reports.md
  docs/guide/claude/index.md
  docs/guide/codex/index.md
  docs/guide/config-files.md
  docs/guide/configuration.md
  docs/guide/droid/index.md
  docs/guide/environment-variables.md
  docs/guide/getting-started.md
  docs/guide/index.md
  docs/index.md
Due: format, typecheck, test, lint

docs(ai): clarify skill description triggers
  .agents/skills/bun-api-reference/SKILL.md
  .agents/skills/bun-cpu-profile/SKILL.md
  .agents/skills/byethrow/SKILL.md
  .agents/skills/ccusage-agent-sources/SKILL.md
  .agents/skills/ccusage-development/SKILL.md
  .agents/skills/ccusage-docs/SKILL.md
  .agents/skills/ccusage-testing/SKILL.md
  .agents/skills/cmux-debug/SKILL.md
  .agents/skills/commit/SKILL.md
  .agents/skills/fix-ci/SKILL.md
  .agents/skills/fs-fixture/SKILL.md
  .agents/skills/pr-ai-review-workflow/SKILL.md
  .agents/skills/reduce-similarities/SKILL.md
  .agents/skills/tdd/SKILL.md
  .agents/skills/typescript-style/SKILL.md
  .agents/skills/use-gunshi-cli/SKILL.md
Due: format, lint

docs(ai): add repo skill authoring guidance
  .agents/skills/skill-creator/SKILL.md
  CLAUDE.md
Due: format, lint

test(ccusage): skip Gemini pricing prefetch in CLI snapshots
  apps/ccusage/src/adapter/gemini/pricing-macro.ts
  apps/ccusage/test/cli-output.test.ts
Due: format, typecheck, test, lint
