Repository ryoppippi/ccusage: changes, and which lefthook commands are due for each by the changed paths.
All: format, sort-package-json, typecheck, test, lint, sort-package

format:
  run: pnpm eslint --cache --fix {files}
  stage_fixed: true

sort-package-json:
  run: pnpm exec sort-package-json {files}
  stage_fixed: true

typecheck:
  run: pnpm tsgo {files}

test:
  run: pnpm vitest --passWithNoTests --run --bail --changedSince=origin/main {files}

lint:
  run: bun run lint --fix {staged_files}
  stage_fixed: true

sort-package:
  run: bunx sort-package-json {staged_files}
  stage_fixed: true

fix(kimi): resolve Kimi Code alias by release cutoff
  apps/kimi/AGENTS.md
  apps/kimi/README.md
  apps/kimi/src/data-loader.ts
  apps/kimi/src/pricing.ts
Due: format, typecheck, test, lint

fix(kimi): avoid truncating long JSON output
  apps/kimi/src/logger.ts
Due: format, typecheck, test, lint

fix(kimi): honor no-color table output
  apps/kimi/src/command-utils.ts
  apps/kimi/src/commands/daily.ts
  apps/kimi/src/commands/monthly.ts
  apps/kimi/src/commands/session.ts
  apps/kimi/src/commands/weekly.ts
Due: format, typecheck, test, lint

fix(kimi): flush reasoning before skipped status updates
  apps/kimi/AGENTS.md
  apps/kimi/src/commands/daily.ts
  apps/kimi/src/commands/monthly.ts
  apps/kimi/src/commands/session.ts
  apps/kimi/src/commands/weekly.ts
  apps/kimi/src/data-loader.ts
Due: format, typecheck, test, lint

docs: add repo rank
  apps/ccusage/README.md
Due: format, lint

feat(apps/hermes): add Hermes Agent usage analyzer
  apps/hermes/README.md
  apps/hermes/eslint.config.js
  apps/hermes/package.json
  apps/hermes/src/commands/daily.ts
  apps/hermes/src/commands/index.ts
  apps/hermes/src/commands/monthly.ts
  apps/hermes/src/commands/session.ts
  apps/hermes/src/commands/weekly.ts
  apps/hermes/src/cost-utils.ts
  apps/hermes/src/data-loader.ts
  apps/hermes/src/index.ts
  apps/hermes/src/logger.ts
  apps/hermes/src/run.ts
  apps/hermes/tsconfig.json
  apps/hermes/tsdown.config.ts
  apps/hermes/vitest.config.ts
  pnpm-lock.yaml
Due: format, sort-package-json, typecheck, test, lint

fix(apps/hermes): address CodeRabbit review feedback
  apps/hermes/package.json
  apps/hermes/src/aggregate-utils.ts
  apps/hermes/src/commands/daily.ts
  apps/hermes/src/commands/monthly.ts
  apps/hermes/src/commands/session.ts
  apps/hermes/src/commands/weekly.ts
  apps/hermes/src/cost-utils.ts
  apps/hermes/src/data-loader.ts
  apps/hermes/tsdown.config.ts
Due: format, sort-package-json, typecheck, test, lint

fix(codex): apply gpt-5.5 fast pricing
  apps/ccusage/src/_combined-usage.ts
  apps/codex/src/token-utils.ts
Due: format, typecheck, test, lint

fix(opencode): add SQLite data loader for new OpenCode storage backend
  apps/opencode/package.json
  apps/opencode/src/data-loader.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, sort-package-json, typecheck, test, lint

revert(opencode): remove model name normalization from SQLite PR
  apps/opencode/src/cost-utils.ts
Due: format, typecheck, test, lint

refactor(opencode): align Result.try error form and move branded types to _types.ts
  apps/opencode/src/_types.ts
  apps/opencode/src/data-loader.ts
Due: format, typecheck, test, lint

test(opencode): migrate SQLite tests to fs-fixture with automatic cleanup
  apps/opencode/src/data-loader.ts
Due: format, typecheck, test, lint

fix(opencode): harden SQLite data loader with error handling, lazy native import, and source merging
  apps/opencode/src/data-loader.ts
  apps/opencode/tsdown.config.ts
Due: format, typecheck, test, lint

fix(opencode): detect channel-variant SQLite databases (opencode-beta.db etc.)
  apps/opencode/src/data-loader.ts
Due: format, typecheck, test, lint

docs(opencode): update CLAUDE.md and README for SQLite data source
  apps/opencode/CLAUDE.md
  apps/opencode/README.md
Due: format, lint

refactor(opencode): extract types/constants, fix tsdown, harden error handling
  apps/opencode/src/_consts.ts
  apps/opencode/src/_types.ts
  apps/opencode/src/cost-utils.ts
  apps/opencode/src/data-loader.ts
  apps/opencode/tsdown.config.ts
Due: format, typecheck, test, lint

refactor(opencode): add JSDoc to types and extract UNKNOWN_MODEL constant
  apps/opencode/src/_types.ts
  apps/opencode/src/data-loader.ts
  pnpm-workspace.yaml
Due: format, typecheck, test, lint

fix(opencode): address PR #943 review findings for SQLite data loader
  apps/opencode/src/_consts.ts
  apps/opencode/src/_types.ts
  apps/opencode/src/data-loader.ts
  apps/opencode/tsdown.config.ts
Due: format, typecheck, test, lint

fix(opencode): only add to dedupe set after validation passes
  apps/opencode/src/data-loader.ts
Due: format, typecheck, test, lint

test(opencode): add mock-adapter tests for SQLite loading logic
  apps/opencode/src/data-loader.ts
Due: format, typecheck, test, lint

feat(opencode): add bun:sqlite fallback, Claude model normalization, and role filter
  apps/opencode/src/cost-utils.ts
  apps/opencode/src/data-loader.ts
  apps/opencode/tsdown.config.ts
Due: format, typecheck, test, lint

refactor(opencode): hoist realpathSync call to eliminate duplication
  apps/opencode/src/_types.ts
  apps/opencode/src/data-loader.ts
Due: format, typecheck, test, lint

fix(opencode): address CodeRabbit findings and improve SQLite data loader robustness
  apps/opencode/src/data-loader.ts
  apps/opencode/tsdown.config.ts
Due: format, typecheck, test, lint

fix(opencode): improve data loader robustness and documentation
  apps/opencode/src/_types.ts
  apps/opencode/src/data-loader.ts
Due: format, typecheck, test, lint

fix(opencode): externalize better-sqlite3 to prevent native addon bundling
  apps/opencode/tsdown.config.ts
Due: format, typecheck, test, lint

fix(opencode): restore 5 lost tests and fix spread order + role check
  apps/opencode/src/data-loader.ts
  apps/opencode/tsdown.config.ts
Due: format, typecheck, test, lint

fix(opencode): address code-review findings (JSDoc, role check, Result.try, TOCTOU)
  apps/opencode/src/_types.ts
  apps/opencode/src/data-loader.ts
  apps/opencode/tsdown.config.ts
Due: format, typecheck, test, lint

feat(ccusage): add native Rust CLI
  Cargo.lock
  Cargo.toml
  apps/ccusage/package.json
  apps/ccusage/src/index.ts
  crates/ccusage/Cargo.toml
  crates/ccusage/src/main.rs
  flake.nix
  package.json
Due: format, sort-package-json, typecheck, test, lint, sort-package

chore(ccusage): preserve executable entrypoint
  apps/ccusage/src/index.ts
Due: format, typecheck, test, lint

test(ccusage): extend large JSONL stress timeout
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

docs(ccusage): record Rust benchmark
  apps/ccusage/RUST_REWRITE_BENCHMARK.md
Due: format, lint

fix(ccusage): align Rust loader with TypeScript output
  Cargo.lock
  crates/ccusage/Cargo.toml
  crates/ccusage/src/cli.rs
  crates/ccusage/src/main.rs
Due: lint

docs(ccusage): refresh Rust benchmark
  apps/ccusage/RUST_REWRITE_BENCHMARK.md
Due: format, lint

chore(ccusage): add CLI benchmark harness
  apps/ccusage/package.json
  apps/ccusage/scripts/bench.mjs
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, sort-package-json, lint

perf(ccusage): avoid duplicate JSONL scans
  apps/ccusage/src/_date-utils.ts
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): skip cold files and non-usage lines
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

feat(ccusage): align native pricing and terminal output
  Cargo.lock
  crates/ccusage/Cargo.toml
  crates/ccusage/build.rs
  crates/ccusage/src/main.rs
  crates/ccusage/src/pricing.rs
  crates/ccusage/src/terminal.rs
Due: lint

docs(ccusage): update native performance benchmark
  apps/ccusage/RUST_REWRITE_BENCHMARK.md
Due: format, lint

perf(ccusage): narrow statusline file scans
  apps/ccusage/src/commands/statusline.ts
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): skip redundant cost reassignment
  crates/ccusage/src/main.rs
Due: lint

Path conditions:
  format: any of: **/*.{cjs,cts,ctsx,js,jsx,mjs,mts,mtsx,ts,tsx,json,yml,yaml,md,mdx}
  sort-package-json: any of: **/package.json
  typecheck: (any of: **/*.{ts,tsx,cts,ctsx,mts,mtsx}) or (any of: *.{ts,js})
  test: any of: **/*.{ts,tsx,cts,ctsx,mts,mtsx}
  lint: any of: *
  sort-package: any of: package.json
