Repository ryoppippi/ccusage: changes, and which lefthook commands are due for each by the changed paths.
All: format, sort-package-json, typecheck, test, lint, sort-package

format:
  run: pnpm eslint --cache --fix {files}
  stage_fixed: true

sort-package-json:
  run: pnpm exec sort-package-json {files}
  stage_fixed: true

typecheck:
  run: pnpm tsgo {files}

test:
  run: pnpm vitest --passWithNoTests --run --bail --changedSince=origin/main {files}

lint:
  run: bun run lint --fix {staged_files}
  stage_fixed: true

sort-package:
  run: bunx sort-package-json {staged_files}
  stage_fixed: true

fix(nix): include codex auto-review fallbacks in build source
  package.nix
Due: lint

fix(justfile): short-circuit snapshot copy on failure
  justfile
Due: lint

fix(codex): try alternate timestamp fields when top-level timestamp is malformed
  nix/models-dev-gen.ts
  rust/crates/ccusage/src/adapter/codex/loader.rs
  rust/crates/ccusage/src/adapter/codex/parser.rs
Due: format, typecheck, test, lint

fix(codex): date fallback review model pricing (#1303)
  docs/guide/codex/index.md
  justfile
  nix/models-dev-gen.ts
  nix/models-dev-pricing.nix
  nix/packages.nix
  package.nix
  rust/crates/ccusage/src/adapter/codex/codex-auto-review-fallbacks.json
  rust/crates/ccusage/src/adapter/codex/loader.rs
  rust/crates/ccusage/src/adapter/codex/parser.rs
  rust/crates/ccusage/src/pricing.rs
Due: format, typecheck, test, lint

fix(pricing): stabilise models.dev snapshot generation
  nix/models-dev-compact.test.ts
  nix/models-dev-compact.ts
  nix/models-dev-gen.ts
Due: format, typecheck, test, lint

chore(pricing): regenerate models.dev snapshot
  rust/crates/ccusage/src/models-dev-pricing.json
Due: format, lint

chore(codex): format fallback loader test
  rust/crates/ccusage/src/adapter/codex/loader.rs
Due: lint

fix(pricing): drop locale-dependent sort and unused pricingKey field
  nix/models-dev-compact.test.ts
  nix/models-dev-compact.ts
  nix/models-dev-gen.ts
Due: format, typecheck, test, lint

fix(nix): wrap sortedEntries arrow body for treefmt
  nix/models-dev-gen.ts
Due: format, typecheck, test, lint

fix(pricing): clarify models.dev duplicate ordering
  nix/models-dev-compact.ts
Due: format, typecheck, test, lint

perf(ci): try Intel runners for non-native jobs
  .github/workflows/ci.yaml
Due: format, lint

style(rust): apply treefmt to codex loader test
  rust/crates/ccusage/src/adapter/codex/loader.rs
Due: lint

perf(ci): try Intel runners for non-native jobs (#1305)
  .github/workflows/ci.yaml
  rust/crates/ccusage/src/adapter/codex/loader.rs
Due: format, lint

feat(adapter/all): surface Copilot AI Credits as first-class field in --all aggregator
  rust/crates/ccusage/src/adapter/all/loader.rs
  rust/crates/ccusage/src/adapter/all/mod.rs
  rust/crates/ccusage/src/adapter/all/report.rs
  rust/crates/ccusage/src/adapter/all/tests.rs
  rust/crates/ccusage/src/adapter/all/types.rs
  rust/crates/ccusage/src/adapter/copilot/mod.rs
  rust/crates/ccusage/src/adapter/copilot/paths.rs
Due: lint

chore(test-support): add EnvScope + ENV_TEST_LOCK for hermetic env-mutating tests
  rust/crates/ccusage-test-support/src/lib.rs
Due: lint

feat(adapter/copilot): switch default source to per-session events.jsonl with billing-field-aware dispatch
  rust/crates/ccusage-cli/src/cli-commands.json
  rust/crates/ccusage-cli/src/cli-help.json
  rust/crates/ccusage/src/adapter/copilot/README.md
  rust/crates/ccusage/src/adapter/copilot/loader.rs
  rust/crates/ccusage/src/adapter/copilot/mod.rs
  rust/crates/ccusage/src/adapter/copilot/parser.rs
  rust/crates/ccusage/src/adapter/copilot/paths.rs
Due: format, lint

docs(copilot): document session-state source, AI Credits billing, and env-var changes
  docs/guide/configuration.md
  docs/guide/copilot/index.md
  docs/guide/cost-modes.md
  docs/guide/environment-variables.md
  docs/guide/getting-started.md
  docs/guide/index.md
Due: format, lint

feat(cli): add `--mode api` as a global alias for `calculate`
  apps/ccusage/config-schema.json
  docs/guide/cli-options.md
  docs/guide/cost-modes.md
  rust/crates/ccusage-cli/src/cli-help.json
  rust/crates/ccusage-cli/src/help_codegen.rs
  rust/crates/ccusage-cli/src/parser.rs
  rust/crates/ccusage-cli/src/snapshots/ccusage_cli__tests__root_help.snap
  rust/crates/ccusage/src/config.rs
  rust/crates/ccusage/src/config_schema.rs
  rust/crates/ccusage/src/snapshots/ccusage__config_schema__tests__snapshots_schema_agent_specific_option_edges.snap
Due: format, lint

build(ccusage): run native binary check with nushell
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  apps/ccusage/package.json
  apps/ccusage/scripts/ensure-native-binary.nu
  apps/ccusage/scripts/ensure-native-binary.ts
  nix/dev-shell.nix
Due: format, sort-package-json, typecheck, test, lint

fix(ccusage): derive native package target from metadata
  apps/ccusage/scripts/ensure-native-binary.nu
Due: lint

build(ccusage): run nushell check from nix shebang
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  apps/ccusage/package.json
  apps/ccusage/scripts/ensure-native-binary.nu
  nix/dev-shell.nix
Due: format, sort-package-json, lint

ci: upsert performance comments with gh api
  .github/scripts/upsert-pr-comment.nu
  .github/scripts/upsert-pr-comment.ts
  .github/workflows/ci.yaml
Due: format, typecheck, test, lint

docs(readme): lift sponsor placement (#1302)
  apps/ccusage/README.md
Due: format, lint

fix(ci): update latest paginated PR comment
  .github/scripts/upsert-pr-comment.nu
Due: lint

fix(pricing): stabilise models.dev snapshot generation (#1304)
  nix/models-dev-compact.test.ts
  nix/models-dev-compact.ts
  nix/models-dev-gen.ts
  rust/crates/ccusage/src/models-dev-pricing.json
Due: format, typecheck, test, lint

build(ccusage): move performance comparison to nushell
  .github/workflows/ci.yaml
  apps/ccusage/AGENTS.md
  apps/ccusage/justfile
  apps/ccusage/package.json
  apps/ccusage/scripts/bench.mjs
  apps/ccusage/scripts/compare-pr-performance.nu
  apps/ccusage/scripts/compare-pr-performance.ts
  apps/ccusage/scripts/generate-large-fixture.ts
  apps/ccusage/vitest.config.ts
  justfile
  nix/checks.nix
  pnpm-lock.yaml
Due: format, sort-package-json, typecheck, test, lint

fix(ccusage): harden cli arg parsing and just recipe PATH
  apps/ccusage/justfile
  apps/ccusage/scripts/generate-large-fixture.ts
Due: format, typecheck, test, lint

fix(ccusage): accurate head runtime description and drop dead helper
  apps/ccusage/scripts/compare-pr-performance.nu
Due: lint

fix(ccusage): preserve nested record columns in diagnostic results
  apps/ccusage/scripts/compare-pr-performance.nu
Due: lint

build(rust): update toolchain to 1.96.0
  flake.lock
  rust-toolchain.toml
Due: lint

build: format nushell scripts with nufmt
  .github/scripts/upsert-pr-comment.nu
  apps/ccusage/scripts/compare-pr-performance.nu
  apps/ccusage/scripts/ensure-native-binary.nu
  nix/treefmt.nix
Due: lint

fix(rust): satisfy clippy 1.96 lints
  rust/crates/ccusage-cli/src/help_codegen.rs
  rust/crates/ccusage-test-support/src/lib.rs
  rust/crates/ccusage/src/adapter/codex/parser.rs
  rust/crates/ccusage/src/pricing.rs
Due: lint

fix(ccusage): only fall back to comment create on 404 PATCH
  .github/scripts/upsert-pr-comment.nu
Due: lint

chore(ci): format upsert comment script
  .github/scripts/upsert-pr-comment.nu
Due: lint

build: add nushell to dev shell
  nix/dev-shell.nix
Due: lint

build(rust): update toolchain to 1.96.0 (#1307)
  flake.lock
  rust-toolchain.toml
  rust/crates/ccusage-cli/src/help_codegen.rs
  rust/crates/ccusage-test-support/src/lib.rs
  rust/crates/ccusage/src/adapter/codex/parser.rs
  rust/crates/ccusage/src/pricing.rs
Due: lint

fix(ccusage): accurate base runtime description on install fallback
  apps/ccusage/scripts/compare-pr-performance.nu
Due: lint

build: remove unused fs-fixture dependency
  apps/ccusage/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, sort-package-json, lint

build(ccusage): keep package scripts lifecycle-only
  apps/ccusage/package.json
Due: format, sort-package-json, lint

Path conditions:
  format: any of: **/*.{cjs,cts,ctsx,js,jsx,mjs,mts,mtsx,ts,tsx,json,yml,yaml,md,mdx}
  sort-package-json: any of: **/package.json
  typecheck: (any of: **/*.{ts,tsx,cts,ctsx,mts,mtsx}) or (any of: *.{ts,js})
  test: any of: **/*.{ts,tsx,cts,ctsx,mts,mtsx}
  lint: any of: *
  sort-package: any of: package.json
