Repository ryoppippi/ccusage: changes, and which lefthook commands are due for each by the changed paths.
All: format, sort-package-json, typecheck, test, lint, sort-package

format:
  run: pnpm eslint --cache --fix {files}
  stage_fixed: true

sort-package-json:
  run: pnpm exec sort-package-json {files}
  stage_fixed: true

typecheck:
  run: pnpm tsgo {files}

test:
  run: pnpm vitest --passWithNoTests --run --bail --changedSince=origin/main {files}

lint:
  run: bun run lint --fix {staged_files}
  stage_fixed: true

sort-package:
  run: bunx sort-package-json {staged_files}
  stage_fixed: true

fix: address code review feedback for visual mode
  apps/ccusage/config-schema.json
  apps/ccusage/src/data-loader.ts
  packages/terminal/src/charts.ts
  packages/terminal/src/sparkline.ts
Due: format, typecheck, test, lint

fix(terminal): comprehensive timezone fixes in charts.ts
  packages/terminal/src/charts.ts
Due: format, typecheck, test, lint

docs(pi): fix pi-agent repository link
  apps/ccusage/README.md
  apps/pi/README.md
Due: format, lint

refactor(terminal): unify ActivityEntry type across packages
  apps/ccusage/src/commands/day.ts
  apps/ccusage/src/data-loader.ts
  packages/terminal/src/charts.ts
Due: format, typecheck, test, lint

fix(ccusage): remove redundant dynamic imports in test blocks
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

fix(ccusage): resolve timezone bug in day activity heatmap
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

docs: fix OpenCode description in documentation
  docs/guide/opencode/index.md
Due: format, lint

docs: fix OpenCode description in documentation (#808)
  docs/guide/opencode/index.md
Due: format, lint

feat(omni): add unified usage aggregation
  OMNI_PLAN.md
  apps/codex/package.json
  apps/codex/src/daily-report.ts
  apps/codex/src/monthly-report.ts
  apps/codex/tsdown.config.ts
  apps/omni/CLAUDE.md
  apps/omni/eslint.config.js
  apps/omni/package.json
  apps/omni/src/_consts.ts
  apps/omni/src/_normalizers/claude.ts
  apps/omni/src/_normalizers/codex.ts
  apps/omni/src/_normalizers/index.ts
  apps/omni/src/_normalizers/opencode.ts
  apps/omni/src/_normalizers/pi.ts
  apps/omni/src/_types.ts
  apps/omni/src/commands/_shared.ts
  apps/omni/src/commands/daily.ts
  apps/omni/src/commands/index.ts
  apps/omni/src/commands/monthly.ts
  apps/omni/src/commands/session.ts
  apps/omni/src/data-aggregator.ts
  apps/omni/src/index.ts
  apps/omni/src/logger.ts
  apps/omni/src/run.ts
  apps/omni/tsconfig.json
  apps/omni/tsdown.config.ts
  apps/omni/vitest.config.ts
  apps/opencode/package.json
  apps/opencode/src/commands/daily.ts
  apps/opencode/src/commands/monthly.ts
  apps/opencode/src/commands/session.ts
  apps/opencode/src/daily-report.ts
  apps/opencode/src/monthly-report.ts
  apps/opencode/src/session-report.ts
  apps/pi/tsdown.config.ts
  eslint.config.js
  pnpm-lock.yaml
Due: format, sort-package-json, typecheck, test, lint

fix(ccusage): speed up daily loader filtering
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

fix(omni): filter opencode loads by date
  apps/omni/src/data-aggregator.ts
  apps/opencode/src/data-loader.ts
Due: format, typecheck, test, lint

fix(opencode): prefilter message files by date
  apps/opencode/src/data-loader.ts
Due: format, typecheck, test, lint

perf(opencode): avoid scanning old session dirs
  apps/opencode/src/data-loader.ts
Due: format, typecheck, test, lint

perf: speed up date-filtered loaders
  apps/ccusage/src/data-loader.ts
  apps/codex/src/data-loader.ts
  apps/omni/src/data-aggregator.ts
Due: format, typecheck, test, lint

fix: improve omni output and pricing fetch
  apps/omni/src/data-aggregator.ts
  packages/internal/src/pricing.ts
  packages/terminal/src/table.ts
Due: format, typecheck, test, lint

fix: make date filters timezone-aware
  apps/ccusage/src/data-loader.ts
  apps/codex/src/data-loader.ts
  apps/omni/src/data-aggregator.ts
  apps/pi/src/data-loader.ts
Due: format, typecheck, test, lint

fix(opencode): add model aliases for GitHub Copilot model names
  apps/opencode/src/cost-utils.ts
Due: format, typecheck, test, lint

docs: point OpenCode repo to anomalyco
  docs/guide/opencode/index.md
Due: format, lint

perf(codex): cache DateTimeFormat instances for date/month keys
  apps/codex/src/date-utils.ts
Due: format, typecheck, test, lint

fix(internal): dedupe LiteLLM pricing fetches
  packages/internal/src/pricing.ts
Due: format, typecheck, test, lint

chore: remove internal planning document
  OMNI_PLAN.md
Due: lint

fix: correct omni normalizers and opencode filters
  apps/omni/src/_normalizers/codex.ts
  apps/omni/src/_normalizers/pi.ts
  apps/opencode/src/data-loader.ts
Due: format, typecheck, test, lint

docs: add BUN_BE_BUN=1 claude x / opencode x execution method
  docs/guide/getting-started.md
  docs/guide/index.md
  docs/guide/installation.md
  docs/guide/opencode/index.md
  docs/guide/statusline.md
Due: format, lint

docs: add BUN_BE_BUN=1 claude x / opencode x execution method (#814)
  docs/guide/getting-started.md
  docs/guide/index.md
  docs/guide/installation.md
  docs/guide/opencode/index.md
  docs/guide/statusline.md
Due: format, lint

docs(pi): fix pi-agent repository link (#800)
  apps/ccusage/README.md
  apps/pi/README.md
Due: format, lint

fix(debug): use streaming to handle large JSONL files
  apps/ccusage/src/data-loader.ts
  apps/ccusage/src/debug.ts
Due: format, typecheck, test, lint

feat(opencode): add modelBreakdowns to JSON output
  apps/opencode/src/commands/daily.ts
  apps/opencode/src/commands/monthly.ts
  apps/opencode/src/commands/session.ts
  apps/opencode/src/commands/weekly.ts
Due: format, typecheck, test, lint

fix: improve project name handling on windows (#818)
  apps/ccusage/src/_project-names.ts
Due: format, typecheck, test, lint

fix(amp): use message.usage as primary data source
  apps/amp/CLAUDE.md
  apps/amp/src/data-loader.ts
Due: format, typecheck, test, lint

fix(codex): ignore duplicate token_count totals
  apps/codex/src/data-loader.ts
Due: format, typecheck, test, lint

fix(ccusage): improve deduplication to keep records with most tokens
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

chore: add pnpm security settings for supply chain attack prevention
  package.json
  pnpm-workspace.yaml
Due: lint, sort-package

chore: add pnpm security settings for supply chain attack prevention (#828)
  package.json
  pnpm-workspace.yaml
Due: lint, sort-package

fix(ccusage-opencode): silence logger in JSON mode
  apps/opencode/src/commands/daily.ts
  apps/opencode/src/commands/monthly.ts
  apps/opencode/src/commands/session.ts
  apps/opencode/src/commands/weekly.ts
Due: format, typecheck, test, lint

fix(ccusage-opencode): Add support for --since and --until flags
  apps/opencode/src/_shared-args.ts
  apps/opencode/src/commands/daily.ts
  apps/opencode/src/commands/monthly.ts
  apps/opencode/src/commands/session.ts
  apps/opencode/src/commands/weekly.ts
  apps/opencode/src/date-utils.ts
Due: format, typecheck, test, lint

fix(ccusage-codex): add `cacheCreationTokens` and `cacheReadTokens` fields to codex output
  apps/codex/src/_types.ts
  apps/codex/src/command-utils.ts
  apps/codex/src/commands/daily.ts
  apps/codex/src/commands/monthly.ts
  apps/codex/src/commands/session.ts
  apps/codex/src/daily-report.ts
  apps/codex/src/data-loader.ts
  apps/codex/src/monthly-report.ts
  apps/codex/src/session-report.ts
  apps/codex/src/token-utils.ts
Due: format, typecheck, test, lint

fix(ccusage-codex): rename costUSD to totalCost in totals dict
  apps/codex/src/_types.ts
  apps/codex/src/commands/daily.ts
  apps/codex/src/commands/monthly.ts
  apps/codex/src/commands/session.ts
  apps/codex/src/daily-report.ts
  apps/codex/src/monthly-report.ts
  apps/codex/src/session-report.ts
Due: format, typecheck, test, lint

fix(mcp): align codex JSON parsing with codex CLI
  apps/mcp/src/codex.ts
Due: format, typecheck, test, lint

fix(ccusage-pi): Add `totalTokens` to totals dict
  apps/pi/src/commands/daily.ts
  apps/pi/src/commands/monthly.ts
  apps/pi/src/commands/session.ts
Due: format, typecheck, test, lint

Path conditions:
  format: any of: **/*.{cjs,cts,ctsx,js,jsx,mjs,mts,mtsx,ts,tsx,json,yml,yaml,md,mdx}
  sort-package-json: any of: **/package.json
  typecheck: (any of: **/*.{ts,tsx,cts,ctsx,mts,mtsx}) or (any of: *.{ts,js})
  test: any of: **/*.{ts,tsx,cts,ctsx,mts,mtsx}
  lint: any of: *
  sort-package: any of: package.json
