Repository ryoppippi/ccusage: changes, and which lefthook commands are due for each by the changed paths.
All: format, sort-package-json, typecheck, test, lint, sort-package

.lefthook.yml:

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    format:
      glob: '**/*.{cjs,cts,ctsx,js,jsx,mjs,mts,mtsx,ts,tsx,json,yml,yaml,md,mdx}'
      run: pnpm eslint --cache --fix {files}
      stage_fixed: true
    sort-package-json:
      glob: '**/package.json'
      run: pnpm exec sort-package-json {files}
      stage_fixed: true
    typecheck:
      glob: '**/*.{ts,tsx,cts,ctsx,mts,mtsx}'
      run: pnpm tsgo {files}
    test:
      glob: '**/*.{ts,tsx,cts,ctsx,mts,mtsx}'
      run: pnpm vitest --passWithNoTests --run --bail --changedSince=origin/main {files}

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: '*'
      run: bun run lint --fix {staged_files}
      stage_fixed: true
    typecheck:
      glob: '*.{ts,js}'
      run: bun typecheck
    schema:
      run: bun run generate:schema
    test:
      run: bun vitest --passWithNoTests
    sort-package:
      glob: package.json
      run: bunx sort-package-json {staged_files}
      stage_fixed: true

ci(ccusage): report fixture throughput
  apps/ccusage/scripts/compare-pr-performance.ts
  apps/ccusage/test/perf-scripts.test.ts
Due: format, typecheck, test, lint

ci(ccusage): use equal perf fixture defaults
  apps/ccusage/scripts/compare-pr-performance.ts
  apps/ccusage/scripts/generate-large-fixture.ts
  apps/ccusage/test/perf-scripts.test.ts
  apps/ccusage/vitest.config.ts
Due: format, typecheck, test, lint

docs: reposition docs around coding agents
  docs/.vitepress/config.ts
  docs/guide/amp/index.md
  docs/guide/configuration.md
  docs/guide/daily-reports.md
  docs/guide/directory-detection.md
  docs/guide/environment-variables.md
  docs/guide/getting-started.md
  docs/guide/index.md
  docs/guide/installation.md
  docs/guide/monthly-reports.md
  docs/guide/opencode/index.md
  docs/guide/pi/index.md
  docs/guide/session-reports.md
  docs/guide/weekly-reports.md
  docs/index.md
Due: format, typecheck, test, lint

test(ccusage): avoid dynamic fixture imports
  apps/ccusage/src/adapter/claude/data-loader.ts
Due: format, typecheck, test, lint

docs: remove deprecated agent package entrypoints
  docs/guide/amp/index.md
  docs/guide/codex/daily.md
  docs/guide/codex/index.md
  docs/guide/codex/monthly.md
  docs/guide/codex/session.md
  docs/guide/index.md
  docs/guide/opencode/index.md
  docs/guide/pi/index.md
Due: format, lint

docs: update all-agent report screenshot
  docs/public/screenshot.png
Due: lint

docs: refresh Codex report screenshots
  docs/guide/codex/monthly.md
  docs/public/codex-cli-monthly.jpeg
  docs/public/codex-cli.jpeg
Due: format, lint

docs: frame agent pages as data sources
  docs/.vitepress/config.ts
  docs/guide/amp/index.md
  docs/guide/codex/daily.md
  docs/guide/codex/index.md
  docs/guide/codex/monthly.md
  docs/guide/codex/session.md
  docs/guide/config-files.md
  docs/guide/configuration.md
  docs/guide/daily-reports.md
  docs/guide/getting-started.md
  docs/guide/index.md
  docs/guide/monthly-reports.md
  docs/guide/opencode/index.md
  docs/guide/pi/index.md
  docs/guide/session-reports.md
  docs/guide/weekly-reports.md
  docs/index.md
Due: format, typecheck, test, lint

docs: enable Cloudflare preview URLs
  docs/wrangler.jsonc
Due: lint

perf(ccusage): share JSONL marker scanning
  apps/ccusage/src/adapter/claude/data-loader.ts
  apps/ccusage/src/adapter/codex/parser.ts
  apps/ccusage/src/adapter/codex/types.ts
  apps/ccusage/src/adapter/pi/parser.ts
  packages/internal/src/fs.ts
  packages/internal/src/jsonl.ts
Due: format, typecheck, test, lint

docs(ccusage): define shared adapter optimization baseline
  .agents/skills/ccusage-agent-sources/SKILL.md
  apps/ccusage/src/adapter/ARCHITECTURE.md
Due: format, lint

docs: clarify coding CLI usage copy
  docs/guide/config-files.md
  docs/guide/configuration.md
  docs/guide/daily-reports.md
  docs/guide/getting-started.md
  docs/guide/index.md
  docs/guide/monthly-reports.md
  docs/guide/weekly-reports.md
  docs/index.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, lint

docs: use coding agent CLI terminology
  apps/ccusage/README.md
  apps/ccusage/src/commands/all.ts
  apps/ccusage/test/cli-output.test.ts
  apps/ccusage/test/snapshots/cli-output/all-agent-daily-table.txt
  apps/ccusage/test/snapshots/cli-output/daily-table.txt
  apps/ccusage/test/snapshots/cli-output/session-table.txt
  docs/guide/codex/index.md
  docs/guide/index.md
  docs/guide/pi/index.md
Due: format, typecheck, test, lint

docs: restructure guide around default all usage
  docs/.vitepress/config.ts
  docs/guide/all-reports.md
  docs/guide/amp/index.md
  docs/guide/blocks-reports.md
  docs/guide/claude/index.md
  docs/guide/codex/daily.md
  docs/guide/codex/index.md
  docs/guide/codex/monthly.md
  docs/guide/codex/session.md
  docs/guide/cost-modes.md
  docs/guide/custom-paths.md
  docs/guide/daily-reports.md
  docs/guide/getting-started.md
  docs/guide/index.md
  docs/guide/installation.md
  docs/guide/live-monitoring.md
  docs/guide/monthly-reports.md
  docs/guide/opencode/index.md
  docs/guide/session-reports.md
  docs/guide/weekly-reports.md
  docs/index.md
Due: format, typecheck, test, lint

docs: update runtime recommendations
  apps/ccusage/README.md
  apps/codex/README.md
  apps/opencode/README.md
  apps/pi/README.md
  docs/guide/getting-started.md
  docs/guide/index.md
  docs/guide/installation.md
  docs/guide/pi/index.md
Due: format, lint

refactor(ccusage): share adapter worker primitives
  apps/ccusage/src/adapter/amp/index.ts
  apps/ccusage/src/adapter/amp/parser.ts
  apps/ccusage/src/adapter/claude/data-loader.ts
  apps/ccusage/src/adapter/codex/types.ts
  apps/ccusage/src/adapter/opencode/index.ts
  apps/ccusage/src/adapter/opencode/loader.ts
  apps/ccusage/src/adapter/pi/parser.ts
  apps/ccusage/src/adapter/shared.ts
  packages/internal/src/workers.ts
Due: format, typecheck, test, lint

docs: align package and README descriptions
  apps/amp/package.json
  apps/ccusage/README.md
  apps/ccusage/package.json
  apps/codex/README.md
  apps/codex/package.json
  apps/opencode/README.md
  apps/opencode/package.json
  apps/pi/README.md
  apps/pi/package.json
  docs/package.json
Due: format, sort-package-json, lint

docs(agents): add deprecated package readmes
  apps/amp/README.md
  apps/codex/README.md
  apps/opencode/README.md
  apps/pi/README.md
Due: format, lint

fix(internal): preserve worker count os mocking
  packages/internal/src/workers.ts
Due: format, typecheck, test, lint

fix(ccusage): address adapter review edge cases
  apps/ccusage/src/adapter/shared.ts
  packages/internal/src/jsonl.ts
Due: format, typecheck, test, lint

fix(ccusage): harden adapter date keys
  apps/ccusage/src/adapter/shared.ts
Due: format, typecheck, test, lint

perf(ccusage): keep adapter date key fast path
  apps/ccusage/src/adapter/shared.ts
Due: format, typecheck, test, lint

perf(ccusage): restore agent JSONL hot paths
  apps/ccusage/src/adapter/claude/data-loader.ts
  apps/ccusage/src/adapter/codex/parser.ts
  apps/ccusage/src/adapter/shared.ts
  packages/internal/src/jsonl.ts
Due: format, typecheck, test, lint

perf(internal): preserve synchronous JSONL marker scans
  apps/ccusage/src/adapter/claude/data-loader.ts
  apps/ccusage/src/adapter/codex/parser.ts
  packages/internal/src/jsonl.ts
Due: format, typecheck, test, lint

docs(internal): document JSONL marker scanning contract
  packages/internal/src/jsonl.ts
Due: format, typecheck, test, lint

docs: move Claude-specific setup under Claude page
  apps/ccusage/README.md
  apps/codex/README.md
  apps/opencode/README.md
  docs/.vitepress/config.ts
  docs/guide/claude/index.md
  docs/guide/configuration.md
  docs/guide/cost-modes.md
  docs/guide/custom-paths.md
  docs/guide/daily-reports.md
  docs/guide/directory-detection.md
  docs/guide/environment-variables.md
  docs/guide/getting-started.md
  docs/guide/index.md
  docs/guide/installation.md
  docs/guide/monthly-reports.md
  docs/guide/session-reports.md
Due: format, typecheck, test, lint

chore(ccusage): remove unused dependencies
  apps/ccusage/package.json
  pnpm-lock.yaml
Due: format, sort-package-json, lint

docs: refresh report examples
  apps/ccusage/README.md
  apps/codex/README.md
  apps/pi/README.md
  docs/guide/blocks-reports.md
  docs/guide/cli-options.md
  docs/guide/codex/index.md
  docs/guide/config-files.md
  docs/guide/configuration.md
  docs/guide/cost-modes.md
  docs/guide/daily-reports.md
  docs/guide/getting-started.md
  docs/guide/json-output.md
  docs/guide/monthly-reports.md
  docs/guide/pi/index.md
  docs/guide/session-reports.md
  docs/guide/statusline.md
  docs/guide/weekly-reports.md
Due: format, lint

chore(ccusage): keep tsdown runtime helper dependency
  apps/ccusage/package.json
  pnpm-lock.yaml
Due: format, sort-package-json, lint

chore(ccusage): remove path-type dependency
  apps/ccusage/package.json
  apps/ccusage/src/adapter/claude/data-loader.ts
  pnpm-lock.yaml
Due: format, sort-package-json, typecheck, test, lint

docs: align config docs with source namespaces
  docs/guide/config-files.md
  docs/guide/configuration.md
Due: format, lint

docs: clarify bun runtime guidance
  docs/guide/amp/index.md
  docs/guide/getting-started.md
  docs/guide/opencode/index.md
  docs/guide/pi/index.md
Due: format, lint

docs: explain bunx node shebang fallback
  apps/ccusage/README.md
  docs/guide/getting-started.md
  docs/guide/installation.md
Due: format, lint

feat(ccusage): support comma-separated agent paths
  apps/ccusage/config-schema.json
  apps/ccusage/src/adapter/amp/parser.ts
  apps/ccusage/src/adapter/amp/paths.ts
  apps/ccusage/src/adapter/codex/parser.ts
  apps/ccusage/src/adapter/codex/paths.ts
  apps/ccusage/src/adapter/codex/pricing.ts
  apps/ccusage/src/adapter/opencode/index.ts
  apps/ccusage/src/adapter/opencode/loader.ts
  apps/ccusage/src/adapter/opencode/paths.ts
  apps/ccusage/src/adapter/path-list.ts
  apps/ccusage/src/adapter/pi/parser.ts
  apps/ccusage/src/adapter/pi/paths.ts
  apps/ccusage/src/commands/agent.ts
Due: format, typecheck, test, lint

docs: address coderabbit review notes
  docs/guide/monthly-reports.md
  docs/guide/statusline.md
  docs/guide/weekly-reports.md
Due: format, lint

chore: add contribution gate
  .github/APPROVED_CONTRIBUTORS
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/contribution.yml
  .github/workflows/approve-contributor.yaml
  .github/workflows/issue-gate.yaml
  .github/workflows/pr-gate.yaml
  CONTRIBUTING.md
Due: format, lint

fix(ccusage): deduplicate opencode db messages
  apps/ccusage/src/adapter/opencode/loader.ts
Due: format, typecheck, test, lint

docs(ccusage): document comma-separated source paths
  apps/ccusage/README.md
  docs/guide/amp/index.md
  docs/guide/codex/index.md
  docs/guide/config-files.md
  docs/guide/configuration.md
  docs/guide/environment-variables.md
  docs/guide/getting-started.md
  docs/guide/index.md
  docs/guide/opencode/index.md
  docs/guide/pi/index.md
Due: format, lint

chore: seed approved contributors
  .github/APPROVED_CONTRIBUTORS
Due: lint

docs(ccusage): remove duplicate pi path example
  apps/ccusage/README.md
Due: format, lint
