Repository ryoppippi/ccusage: changes, and which lefthook commands are due for each by the changed paths.
All: format, sort-package-json, typecheck, test, lint, sort-package

format:
  run: pnpm eslint --cache --fix {files}
  stage_fixed: true

sort-package-json:
  run: pnpm exec sort-package-json {files}
  stage_fixed: true

typecheck:
  run: pnpm tsgo {files}

test:
  run: pnpm vitest --passWithNoTests --run --bail --changedSince=origin/main {files}

lint:
  run: bun run lint --fix {staged_files}
  stage_fixed: true

sort-package:
  run: bunx sort-package-json {staged_files}
  stage_fixed: true

fix(nix): исправить запуск renovate validator
  nix/git-hooks.nix
Due: lint

feat(grok): add Grok Build usage source
  apps/ccusage/README.md
  apps/ccusage/config-schema.json
  docs/.vitepress/config.ts
  docs/guide/all-reports.md
  docs/guide/claude/index.md
  docs/guide/codex/index.md
  docs/guide/config-files.md
  docs/guide/configuration.md
  docs/guide/daily-reports.md
  docs/guide/environment-variables.md
  docs/guide/gemini/index.md
  docs/guide/getting-started.md
  docs/guide/grok/index.md
  docs/guide/index.md
  docs/guide/kimi/index.md
  docs/guide/monthly-reports.md
  docs/guide/session-reports.md
  docs/guide/source-support-qa.md
  rust/crates/ccusage-cli/src/cli-commands.json
  rust/crates/ccusage-cli/src/parser.rs
  rust/crates/ccusage-cli/src/snapshots/ccusage_cli__tests__root_help.snap
  rust/crates/ccusage-cli/src/tests.rs
  rust/crates/ccusage-cli/src/types.rs
  rust/crates/ccusage/src/adapter/all/loader.rs
  rust/crates/ccusage/src/adapter/all/report.rs
  rust/crates/ccusage/src/adapter/grok/README.md
  rust/crates/ccusage/src/adapter/grok/loader.rs
  rust/crates/ccusage/src/adapter/grok/mod.rs
  rust/crates/ccusage/src/adapter/grok/parser.rs
  rust/crates/ccusage/src/adapter/grok/paths.rs
  rust/crates/ccusage/src/adapter/grok/report.rs
  rust/crates/ccusage/src/adapter/mod.rs
  rust/crates/ccusage/src/config.rs
  rust/crates/ccusage/src/config_schema.rs
  rust/crates/ccusage/src/main.rs
  rust/crates/ccusage/src/output.rs
  rust/crates/ccusage/src/progress.rs
  rust/crates/ccusage/src/snapshots/ccusage__config_schema__tests__snapshots_schema_agent_specific_option_edges.snap
Due: format, typecheck, test, lint

feat(pricing): add runtime pricing overrides
  apps/ccusage/README.md
  apps/ccusage/config-schema.json
  ccusage.example.json
  docs/guide/config-files.md
  docs/guide/cost-modes.md
  rust/crates/ccusage-cli/src/lib.rs
  rust/crates/ccusage-cli/src/types.rs
  rust/crates/ccusage/src/adapter/all/loader.rs
  rust/crates/ccusage/src/adapter/amp/mod.rs
  rust/crates/ccusage/src/adapter/claude/daily.rs
  rust/crates/ccusage/src/adapter/claude/mod.rs
  rust/crates/ccusage/src/adapter/codebuff/mod.rs
  rust/crates/ccusage/src/adapter/codex/mod.rs
  rust/crates/ccusage/src/adapter/copilot/mod.rs
  rust/crates/ccusage/src/adapter/droid/mod.rs
  rust/crates/ccusage/src/adapter/gemini/mod.rs
  rust/crates/ccusage/src/adapter/goose/mod.rs
  rust/crates/ccusage/src/adapter/hermes/mod.rs
  rust/crates/ccusage/src/adapter/kilo/mod.rs
  rust/crates/ccusage/src/adapter/kimi/mod.rs
  rust/crates/ccusage/src/adapter/opencode/loader.rs
  rust/crates/ccusage/src/adapter/pi/loader.rs
  rust/crates/ccusage/src/adapter/pi/mod.rs
  rust/crates/ccusage/src/adapter/pi/parser.rs
  rust/crates/ccusage/src/adapter/qwen/parser.rs
  rust/crates/ccusage/src/commands/mod.rs
  rust/crates/ccusage/src/config.rs
  rust/crates/ccusage/src/config_schema.rs
  rust/crates/ccusage/src/main.rs
  rust/crates/ccusage/src/pricing.rs
  rust/crates/ccusage/src/snapshots/ccusage__config_schema__tests__snapshots_schema_agent_specific_option_edges.snap
Due: format, lint

docs: replace sponsor block with CodeRabbit
  apps/ccusage/README.md
  docs/guide/sponsors.md
  docs/index.md
  docs/public/coderabbit-logo-dark.svg
  docs/public/coderabbit-logo.svg
Due: format, lint

docs: keep sponsorkit sponsor circle
  apps/ccusage/README.md
  docs/guide/sponsors.md
  docs/index.md
Due: format, lint

docs: add sponsors image alt text
  apps/ccusage/README.md
  docs/guide/sponsors.md
Due: format, lint

docs: use hosted sponsors image
  apps/ccusage/README.md
  docs/guide/sponsors.md
  docs/index.md
Due: format, lint

docs: replace sponsor block with CodeRabbit (#1205)
  apps/ccusage/README.md
  docs/guide/sponsors.md
  docs/index.md
  docs/public/coderabbit-logo-dark.svg
  docs/public/coderabbit-logo.svg
Due: format, lint

docs: add CCWarriors to community projects
  docs/guide/community-projects.md
Due: format, lint

docs: add CCWarriors to community projects (#1206)
  docs/guide/community-projects.md
Due: format, lint

perf(rust): remove runtime pricing HTTP stack
  apps/ccusage/README.md
  apps/ccusage/config-schema.json
  docs/guide/amp/index.md
  docs/guide/blocks-reports.md
  docs/guide/cli-options.md
  docs/guide/codebuff/index.md
  docs/guide/codex/index.md
  docs/guide/configuration.md
  docs/guide/copilot/index.md
  docs/guide/cost-modes.md
  docs/guide/daily-reports.md
  docs/guide/droid/index.md
  docs/guide/environment-variables.md
  docs/guide/gemini/index.md
  docs/guide/goose/index.md
  docs/guide/index.md
  docs/guide/qwen/index.md
  docs/guide/session-reports.md
  docs/guide/statusline.md
  docs/guide/weekly-reports.md
  docs/index.md
  rust/Cargo.lock
  rust/crates/ccusage-cli/src/cli-help.json
  rust/crates/ccusage-cli/src/snapshots/ccusage_cli__tests__codex_daily_help.snap
  rust/crates/ccusage-cli/src/snapshots/ccusage_cli__tests__root_help.snap
  rust/crates/ccusage-cli/src/snapshots/ccusage_cli__tests__statusline_help.snap
  rust/crates/ccusage/Cargo.toml
  rust/crates/ccusage/build.rs
  rust/crates/ccusage/src/config_schema.rs
  rust/crates/ccusage/src/output.rs
  rust/crates/ccusage/src/pricing.rs
  rust/crates/ccusage/src/progress.rs
  rust/crates/ccusage/src/snapshots/ccusage__config_schema__tests__snapshots_schema_agent_specific_option_edges.snap
Due: format, lint

fix(rust): harden build-time pricing fetch
  rust/crates/ccusage/build.rs
  rust/crates/ccusage/src/adapter/all/loader.rs
  rust/crates/ccusage/src/adapter/all/report.rs
  rust/crates/ccusage/src/adapter/amp/mod.rs
  rust/crates/ccusage/src/adapter/claude/daily.rs
  rust/crates/ccusage/src/adapter/claude/mod.rs
  rust/crates/ccusage/src/adapter/codebuff/mod.rs
  rust/crates/ccusage/src/adapter/codex/mod.rs
  rust/crates/ccusage/src/adapter/codex/report.rs
  rust/crates/ccusage/src/adapter/copilot/mod.rs
  rust/crates/ccusage/src/adapter/droid/mod.rs
  rust/crates/ccusage/src/adapter/gemini/mod.rs
  rust/crates/ccusage/src/adapter/goose/mod.rs
  rust/crates/ccusage/src/adapter/hermes/mod.rs
  rust/crates/ccusage/src/adapter/kilo/mod.rs
  rust/crates/ccusage/src/adapter/kimi/mod.rs
  rust/crates/ccusage/src/adapter/opencode/loader.rs
  rust/crates/ccusage/src/adapter/qwen/parser.rs
  rust/crates/ccusage/src/commands/mod.rs
  rust/crates/ccusage/src/output.rs
  rust/crates/ccusage/src/pricing.rs
Due: lint

docs: clarify embedded pricing wording
  docs/guide/amp/index.md
  docs/guide/qwen/index.md
Due: format, lint

docs: trim pricing terminology churn
  apps/ccusage/README.md
  apps/ccusage/config-schema.json
  docs/guide/amp/index.md
  docs/guide/blocks-reports.md
  docs/guide/cli-options.md
  docs/guide/codebuff/index.md
  docs/guide/configuration.md
  docs/guide/copilot/index.md
  docs/guide/daily-reports.md
  docs/guide/droid/index.md
  docs/guide/environment-variables.md
  docs/guide/goose/index.md
  docs/guide/index.md
  docs/guide/qwen/index.md
  docs/guide/session-reports.md
  docs/guide/weekly-reports.md
  docs/index.md
  rust/crates/ccusage-cli/src/cli-help.json
  rust/crates/ccusage-cli/src/snapshots/ccusage_cli__tests__codex_daily_help.snap
  rust/crates/ccusage-cli/src/snapshots/ccusage_cli__tests__root_help.snap
  rust/crates/ccusage-cli/src/snapshots/ccusage_cli__tests__statusline_help.snap
  rust/crates/ccusage/src/config_schema.rs
  rust/crates/ccusage/src/snapshots/ccusage__config_schema__tests__snapshots_schema_agent_specific_option_edges.snap
Due: format, lint

chore(ci): add takumi guard
  .github/actions/setup-nix/action.yaml
Due: format, lint

chore(ci): add takumi guard (#1211)
  .github/actions/setup-nix/action.yaml
Due: format, lint

perf(rust): keep online pricing with native TLS
  docs/guide/amp/index.md
  docs/guide/codex/index.md
  docs/guide/cost-modes.md
  docs/guide/gemini/index.md
  docs/guide/qwen/index.md
  docs/guide/statusline.md
  nix/static-package.nix
  package.nix
  rust/Cargo.lock
  rust/crates/ccusage/Cargo.toml
  rust/crates/ccusage/src/adapter/all/loader.rs
  rust/crates/ccusage/src/adapter/all/report.rs
  rust/crates/ccusage/src/adapter/amp/mod.rs
  rust/crates/ccusage/src/adapter/claude/daily.rs
  rust/crates/ccusage/src/adapter/claude/mod.rs
  rust/crates/ccusage/src/adapter/codebuff/mod.rs
  rust/crates/ccusage/src/adapter/codex/mod.rs
  rust/crates/ccusage/src/adapter/codex/report.rs
  rust/crates/ccusage/src/adapter/copilot/mod.rs
  rust/crates/ccusage/src/adapter/droid/mod.rs
  rust/crates/ccusage/src/adapter/gemini/mod.rs
  rust/crates/ccusage/src/adapter/goose/mod.rs
  rust/crates/ccusage/src/adapter/hermes/mod.rs
  rust/crates/ccusage/src/adapter/kilo/mod.rs
  rust/crates/ccusage/src/adapter/kimi/mod.rs
  rust/crates/ccusage/src/adapter/opencode/loader.rs
  rust/crates/ccusage/src/adapter/qwen/parser.rs
  rust/crates/ccusage/src/commands/mod.rs
  rust/crates/ccusage/src/output.rs
  rust/crates/ccusage/src/pricing.rs
  rust/crates/ccusage/src/progress.rs
Due: format, lint

fix(nix): use static OpenSSL for musl builds
  nix/static-package.nix
Due: lint

fix(nix): keep cross toolchain for static builds
  nix/static-package.nix
Due: lint

ci: skip perf comments without base preview package
  .github/workflows/ci.yaml
Due: format, lint

ci: handle base preview probe failures
  .github/workflows/ci.yaml
Due: format, lint

fix(rust): harden pricing HTTP parsing
  rust/crates/ccusage/src/pricing.rs
Due: lint

ci: use repository base preview URL
  .github/workflows/ci.yaml
Due: format, lint

fix(rust): satisfy pricing URL parser clippy
  rust/crates/ccusage/src/pricing.rs
Due: lint

fix(rust): harden pricing fallback fetches
  rust/crates/ccusage/build.rs
  rust/crates/ccusage/src/pricing.rs
Due: lint

feat: add Tencent CodeBuddy Code adapter
  apps/ccusage/README.md
  apps/ccusage/config-schema.json
  docs/.vitepress/config.ts
  docs/guide/codebuddy/index.md
  rust/crates/ccusage-cli/src/cli-commands.json
  rust/crates/ccusage-cli/src/cli-help.json
  rust/crates/ccusage-cli/src/parser.rs
  rust/crates/ccusage-cli/src/snapshots/ccusage_cli__tests__root_help.snap
  rust/crates/ccusage-cli/src/snapshots/ccusage_cli__tests__snapshots_representative_cli_parse_shapes.snap
  rust/crates/ccusage-cli/src/tests.rs
  rust/crates/ccusage-cli/src/types.rs
  rust/crates/ccusage/src/adapter/all/loader.rs
  rust/crates/ccusage/src/adapter/all/report.rs
  rust/crates/ccusage/src/adapter/codebuddy/fixtures/edge_cases.jsonl
  rust/crates/ccusage/src/adapter/codebuddy/fixtures/main_session_basic.jsonl
  rust/crates/ccusage/src/adapter/codebuddy/fixtures/subagent_basic.jsonl
  rust/crates/ccusage/src/adapter/codebuddy/loader.rs
  rust/crates/ccusage/src/adapter/codebuddy/mod.rs
  rust/crates/ccusage/src/adapter/codebuddy/parser.rs
  rust/crates/ccusage/src/adapter/codebuddy/paths.rs
  rust/crates/ccusage/src/adapter/codebuddy/report.rs
  rust/crates/ccusage/src/adapter/codebuddy/snapshots/ccusage__adapter__codebuddy__tests__codebuddy_reports_for_periods_match_snapshot.snap
  rust/crates/ccusage/src/adapter/mod.rs
  rust/crates/ccusage/src/config.rs
  rust/crates/ccusage/src/config_schema.rs
  rust/crates/ccusage/src/main.rs
  rust/crates/ccusage/src/progress.rs
  rust/crates/ccusage/src/snapshots/ccusage__config_schema__tests__snapshots_schema_agent_specific_option_edges.snap
Due: format, typecheck, test, lint

fix(rust): handle explicit pricing URL ports
  rust/crates/ccusage/src/pricing.rs
Due: lint

fix(nix): use target static OpenSSL
  nix/static-package.nix
Due: lint

ci: move base preview probe to script
  .github/scripts/probe-base-preview-package.mjs
  .github/workflows/ci.yaml
Due: format, lint

ci: add actions-timeline job to visualise CI run
  .github/workflows/ci.yaml
Due: format, lint

ci: add actions-timeline job to visualise CI run (#1226)
  .github/workflows/ci.yaml
Due: format, lint

ci(nix): validate ccusage.example.json against config schema
  nix/checks.nix
Due: lint

ci(nix): validate ccusage.example.json against config schema (#1227)
  nix/checks.nix
Due: lint

ci(nix): cache the dev-shell closure and drop unused cachix
  .github/actions/setup-nix/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Due: format, lint

ci: add weekly Actions cache garbage collection
  .github/workflows/cache-gc.yaml
Due: format, lint

ci(nix): purge superseded Nix caches after 2 days, not 7
  .github/actions/setup-nix/action.yaml
Due: format, lint

ci: fetch stalest caches first in cache GC sweep
  .github/workflows/cache-gc.yaml
Due: format, lint

ci(nix): cache the dev-shell closure and drop unused cachix (#1228)
  .github/actions/setup-nix/action.yaml
  .github/workflows/cache-gc.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Due: format, lint

ci: drop redundant schema-check job
  .github/workflows/ci.yaml
Due: format, lint

ci: drop redundant schema-check job (#1229)
  .github/workflows/ci.yaml
Due: format, lint

Path conditions:
  format: any of: **/*.{cjs,cts,ctsx,js,jsx,mjs,mts,mtsx,ts,tsx,json,yml,yaml,md,mdx}
  sort-package-json: any of: **/package.json
  typecheck: (any of: **/*.{ts,tsx,cts,ctsx,mts,mtsx}) or (any of: *.{ts,js})
  test: any of: **/*.{ts,tsx,cts,ctsx,mts,mtsx}
  lint: any of: *
  sort-package: any of: package.json
