Repository ryoppippi/ccusage: changes, and which lefthook commands are due for each by the changed paths.
All: format, sort-package-json, typecheck, test, lint, sort-package

.lefthook.yml:

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    format:
      glob: '**/*.{cjs,cts,ctsx,js,jsx,mjs,mts,mtsx,ts,tsx,json,yml,yaml,md,mdx}'
      run: pnpm eslint --cache --fix {files}
      stage_fixed: true
    sort-package-json:
      glob: '**/package.json'
      run: pnpm exec sort-package-json {files}
      stage_fixed: true
    typecheck:
      glob: '**/*.{ts,tsx,cts,ctsx,mts,mtsx}'
      run: pnpm tsgo {files}
    test:
      glob: '**/*.{ts,tsx,cts,ctsx,mts,mtsx}'
      run: pnpm vitest --passWithNoTests --run --bail --changedSince=origin/main {files}

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: '*'
      run: bun run lint --fix {staged_files}
      stage_fixed: true
    typecheck:
      glob: '*.{ts,js}'
      run: bun typecheck
    schema:
      run: bun run generate:schema
    test:
      run: bun vitest --passWithNoTests
    sort-package:
      glob: package.json
      run: bunx sort-package-json {staged_files}
      stage_fixed: true

chore: release v20.0.8
  apps/ccusage/package.json
  docs/package.json
  package.json
  packages/ccusage-darwin-arm64/package.json
  packages/ccusage-darwin-x64/package.json
  packages/ccusage-linux-arm64/package.json
  packages/ccusage-linux-x64/package.json
  packages/ccusage-win32-arm64/package.json
  packages/ccusage-win32-x64/package.json
  rust/Cargo.lock
  rust/crates/ccusage-cli/Cargo.toml
  rust/crates/ccusage-terminal/Cargo.toml
  rust/crates/ccusage-test-support/Cargo.toml
  rust/crates/ccusage/Cargo.toml
Due: format, sort-package-json, lint, sort-package

chore: fix build script
  docs/package.json
Due: format, sort-package-json, lint

feat: add Atlas Cloud sponsorship block to README
  apps/ccusage/README.md
  docs/atlas-cloud-logo.png
Due: format, lint

chore(dev): consolidate checks behind just
  .github/workflows/update-pricing.yaml
  apps/ccusage/README.md
  docs/guide/installation.md
  justfile
Due: format, lint

chore(dev): avoid duplicate check steps
  justfile
Due: lint

chore(dev): consolidate checks behind just (#1240)
  .github/workflows/update-pricing.yaml
  apps/ccusage/README.md
  docs/guide/installation.md
  justfile
Due: format, lint

chore: update litellm
  flake.lock
Due: lint

feat(pricing): embed models.dev snapshot for offline pricing
  .github/workflows/update-pricing.yaml
  flake.lock
  flake.nix
  justfile
  nix/models-dev-gen.ts
  nix/models-dev-pricing.nix
  nix/packages.nix
  package.nix
  rust/crates/ccusage/src/models-dev-pricing.json
  rust/crates/ccusage/src/pricing.rs
Due: format, typecheck, test, lint

fix(pricing): update models.dev refresh recipe order
  justfile
  rust/crates/ccusage/src/pricing.rs
Due: lint

fix(ci): harden pricing update automation
  .github/workflows/update-pricing.yaml
  nix/models-dev-gen.ts
Due: format, typecheck, test, lint

fix(pricing): fail fast on embedded models.dev parse errors
  rust/crates/ccusage/src/pricing.rs
Due: lint

fix(ci): keep models.dev refresh resilient
  .github/workflows/update-pricing.yaml
Due: format, lint

fix(ci): configure git auth for pricing update pushes
  .github/workflows/update-pricing.yaml
Due: format, lint

feat(pricing): embed models.dev snapshot for offline pricing (#1242)
  .github/workflows/update-pricing.yaml
  flake.lock
  flake.nix
  justfile
  nix/models-dev-gen.ts
  nix/models-dev-pricing.nix
  nix/packages.nix
  package.nix
  rust/crates/ccusage/src/models-dev-pricing.json
  rust/crates/ccusage/src/pricing.rs
Due: format, typecheck, test, lint

chore: release v20.0.9
  apps/ccusage/package.json
  docs/package.json
  package.json
  packages/ccusage-darwin-arm64/package.json
  packages/ccusage-darwin-x64/package.json
  packages/ccusage-linux-arm64/package.json
  packages/ccusage-linux-x64/package.json
  packages/ccusage-win32-arm64/package.json
  packages/ccusage-win32-x64/package.json
  rust/Cargo.lock
  rust/crates/ccusage-cli/Cargo.toml
  rust/crates/ccusage-terminal/Cargo.toml
  rust/crates/ccusage-test-support/Cargo.toml
  rust/crates/ccusage/Cargo.toml
Due: format, sort-package-json, lint, sort-package

chore: update litellm which includes claude-fable-5
  flake.lock
Due: lint

fix(nix): stabilise crane dependency cache
  nix/static-package.nix
  package.nix
Due: lint

docs(nix): explain crane deps cache key
  nix/static-package.nix
  package.nix
Due: lint

ci(nix): split development flake setup
  .envrc
  .github/actions/setup-nix/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/update-pricing.yaml
  dev/flake.lock
  dev/flake.nix
  flake.lock
  flake.nix
  justfile
  nix/agent-skills.nix
  nix/checks.nix
  nix/dev-shell.nix
  nix/treefmt.nix
Due: format, lint

fix(nix): restore quick install store ownership
  .github/actions/setup-nix/action.yaml
Due: format, lint

fix(nix): chown nix logs for quick install
  .github/actions/setup-nix/action.yaml
Due: format, lint

ci(nix): build macos arm package with nix
  .github/actions/setup-nix/action.yaml
  .github/workflows/ci.yaml
Due: format, lint

ci(nix): build darwin packages with nix
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Due: format, lint

ci(dev): run flake checks through just
  .github/workflows/ci.yaml
  justfile
Due: format, lint

fix(nix): stabilise crane dependency cache (#1243)
  .envrc
  .github/actions/setup-nix/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/update-pricing.yaml
  dev/flake.lock
  dev/flake.nix
  flake.lock
  flake.nix
  justfile
  nix/agent-skills.nix
  nix/checks.nix
  nix/dev-shell.nix
  nix/static-package.nix
  nix/treefmt.nix
  package.nix
Due: format, lint

docs(skills): add Rust binary size guidance
  .agents/skills/rust-binary-size/SKILL.md
  AGENTS.md
Due: format, lint

perf(pricing): flatten embedded models.dev snapshot
  nix/models-dev-gen.ts
  rust/crates/ccusage/src/models-dev-pricing.json
  rust/crates/ccusage/src/pricing.rs
Due: format, typecheck, test, lint

fix(pricing): validate models.dev snapshot shape
  rust/crates/ccusage/src/pricing.rs
Due: lint

perf(pricing): compact embedded LiteLLM snapshot
  rust/crates/ccusage/build.rs
  rust/crates/ccusage/src/pricing.rs
Due: lint

fix(pricing): harden compact snapshot parsing
  nix/models-dev-compact.test.ts
  nix/models-dev-compact.ts
  nix/models-dev-gen.ts
  rust/crates/ccusage/src/pricing.rs
  vitest.config.ts
Due: format, typecheck, test, lint

fix(package): rewrite Darwin libiconv install name
  apps/ccusage/scripts/stage-native-package.mjs
Due: format, lint

test(pricing): cover compact fallback branches
  nix/models-dev-compact.test.ts
  rust/crates/ccusage/src/pricing.rs
Due: format, typecheck, test, lint

ci(perf): skip unavailable base package benchmarks
  .github/workflows/ci.yaml
  apps/ccusage/scripts/compare-pr-performance.ts
Due: format, typecheck, test, lint

fix(pricing): warn on duplicate models.dev keys
  nix/models-dev-compact.test.ts
  nix/models-dev-compact.ts
  nix/models-dev-gen.ts
Due: format, typecheck, test, lint

ci(github): tolerate unauthenticated comment writes
  .github/scripts/upsert-pr-comment.ts
  vitest.config.ts
Due: format, typecheck, test, lint

chore(docs): remove wrangler deploy setup
  docs/justfile
  docs/package.json
  docs/wrangler.jsonc
  justfile
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, sort-package-json, lint

ci: migrate workflows to Blacksmith
  .github/actionlint.yaml
  .github/actions/setup-nix/action.yaml
  .github/workflows/approve-contributor.yaml
  .github/workflows/cache-gc.yaml
  .github/workflows/check-pr-title.yaml
  .github/workflows/ci.yaml
  .github/workflows/issue-gate.yaml
  .github/workflows/pr-gate.yaml
  .github/workflows/pullfrog.yml
  .github/workflows/release.yaml
  .github/workflows/update-pricing.yaml
Due: format, lint

chore(docs): keep cloudflare build config
  docs/wrangler.jsonc
Due: lint

ci: harden Blacksmith workflow credentials
  .github/actions/setup-nix/action.yaml
  .github/workflows/cache-gc.yaml
  .github/workflows/release.yaml
Due: format, lint

chore(docs): remove wrangler deploy setup (#1248)
  docs/justfile
  docs/package.json
  docs/wrangler.jsonc
  justfile
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, sort-package-json, lint
