Repository ryoppippi/ccusage: changes, and which lefthook commands are due for each by the changed paths.
All: format, sort-package-json, typecheck, test, lint, sort-package

format:
  run: pnpm eslint --cache --fix {files}
  stage_fixed: true

sort-package-json:
  run: pnpm exec sort-package-json {files}
  stage_fixed: true

typecheck:
  run: pnpm tsgo {files}

test:
  run: pnpm vitest --passWithNoTests --run --bail --changedSince=origin/main {files}

lint:
  run: bun run lint --fix {staged_files}
  stage_fixed: true

sort-package:
  run: bunx sort-package-json {staged_files}
  stage_fixed: true

ci(release): publish to npm without the Nix dev shell
  .github/workflows/release.yaml
Due: format, lint

ci: scope the Blacksmith sticky-disk Nix store per job
  .github/actions/setup-linux-blacksmith-sticky-disk/action.yaml
Due: format, lint

ci(release): provision pnpm from the pinned Nix profile
  .github/workflows/release.yaml
Due: format, lint

perf(release): publish without the Nix dev shell (#1257)
  .github/actions/setup-linux-blacksmith-sticky-disk/action.yaml
  .github/workflows/release.yaml
  apps/ccusage/package.json
Due: format, sort-package-json, lint

ci: run the perf-comment jobs without the full Nix dev shell
  .github/workflows/ci.yaml
Due: format, lint

ci: drop the dev shell from pkg-pr-new and document why
  .github/workflows/ci.yaml
Due: format, lint

perf(build): use mold for Linux Rust linking
  nix/dev-shell.nix
  nix/static-package.nix
  package.nix
Due: lint

ci: rename lint-check to check and warm the dev shell before tests
  .github/workflows/ci.yaml
Due: format, lint

ci: run perf-comment and pkg-pr-new jobs without the full Nix dev shell (#1258)
  .github/workflows/ci.yaml
Due: format, lint

fix(nix): keep mold out of non-Linux dev shells
  nix/dev-shell.nix
Due: lint

fix(nix): avoid duplicate mold rustflags
  nix/dev-shell.nix
Due: lint

ci: print nix build logs in native package builds
  .github/actions/build-linux-native-package/action.yaml
  .github/actions/build-macos-nix-native-package/action.yaml
Due: format, lint

perf(ci): drop duplicate ccusage package build from nix flake check
  nix/checks.nix
Due: lint

docs(nix): explain why ccusage-static is separate from ccusage
  nix/static-package.nix
Due: lint

perf(build): use mold for Linux Rust linking (#1259)
  nix/dev-shell.nix
  nix/static-package.nix
  package.nix
Due: lint

perf(ci): speed up the check job and make native build cache observable (#1260)
  .github/actions/build-linux-native-package/action.yaml
  .github/actions/build-macos-nix-native-package/action.yaml
  nix/checks.nix
  nix/static-package.nix
Due: format, lint

fix(pricing): copy models-dev-compact.ts into the Bun build sandbox
  nix/models-dev-pricing.nix
Due: lint

fix(ci): force-push the pricing automation branches without a lease
  .github/workflows/update-pricing.yaml
Due: format, lint

fix(ci): repair the failing update-pricing workflow (#1262)
  .github/workflows/update-pricing.yaml
  nix/models-dev-pricing.nix
Due: format, lint

fix(ci): use PAT for pricing automation pull requests
  .github/workflows/update-pricing.yaml
Due: format, lint

chore(pricing): update LiteLLM snapshot (#1263)
  flake.lock
Due: lint

perf(ci): build Rust coverage as a Nix derivation
  .github/workflows/ci.yaml
  flake.nix
  nix/coverage.nix
Due: format, lint

fix(ci): provide tzdata to the coverage sandbox
  nix/coverage.nix
Due: lint

fix: bundle the tz database on platforms without a system one
  rust/Cargo.lock
  rust/crates/ccusage/Cargo.toml
Due: lint

fix: bundle the tz database on platforms without a system one (#1267)
  rust/Cargo.lock
  rust/crates/ccusage/Cargo.toml
Due: lint

perf(ci): build Rust coverage as a Nix derivation (#1266)
  .github/workflows/ci.yaml
  flake.nix
  nix/coverage.nix
Due: format, lint

perf(ci): run CI once per change instead of twice
  .github/workflows/ci.yaml
Due: format, lint

perf(ci): drop the full dev shell from the test job
  .github/workflows/ci.yaml
Due: format, lint

chore: provision node and bun via nix instead of pnpm
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  nix/dev-shell.nix
  package.json
Due: format, lint, sort-package

chore: drop managed runtimes from the pnpm lockfile
  pnpm-lock.yaml
Due: lint

perf(ci): drop the full dev shell from the test job (#1269)
  .github/workflows/ci.yaml
Due: format, lint

chore: use the default pnpm and nodejs nixpkgs attributes
  .github/workflows/ci.yaml
  nix/dev-shell.nix
Due: format, lint

perf(ci): run CI once per change instead of twice (#1268)
  .github/workflows/ci.yaml
Due: format, lint

chore: provision node and bun via nix instead of pnpm (#1271)
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  nix/dev-shell.nix
  package.json
  pnpm-lock.yaml
Due: format, lint, sort-package

perf(ci): scope coverage source to its real inputs
  nix/coverage.nix
Due: lint

perf(ci): replace coverage report with a plain Rust test run
  .github/workflows/ci.yaml
  flake.nix
  nix/tests.nix
Due: format, lint

perf(ci): pin Rust deps with a GC root so the sticky disk keeps them
  .github/actions/build-linux-native-package/action.yaml
  nix/static-package.nix
Due: format, lint

Path conditions:
  format: any of: **/*.{cjs,cts,ctsx,js,jsx,mjs,mts,mtsx,ts,tsx,json,yml,yaml,md,mdx}
  sort-package-json: any of: **/package.json
  typecheck: (any of: **/*.{ts,tsx,cts,ctsx,mts,mtsx}) or (any of: *.{ts,js})
  test: any of: **/*.{ts,tsx,cts,ctsx,mts,mtsx}
  lint: any of: *
  sort-package: any of: package.json
