Repository ryoppippi/ccusage: changes, and which lefthook commands are due for each by the changed paths.
All: format, sort-package-json, typecheck, test, lint, sort-package

.lefthook.yml:

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    format:
      glob: '**/*.{cjs,cts,ctsx,js,jsx,mjs,mts,mtsx,ts,tsx,json,yml,yaml,md,mdx}'
      run: pnpm eslint --cache --fix {files}
      stage_fixed: true
    sort-package-json:
      glob: '**/package.json'
      run: pnpm exec sort-package-json {files}
      stage_fixed: true
    typecheck:
      glob: '**/*.{ts,tsx,cts,ctsx,mts,mtsx}'
      run: pnpm tsgo {files}
    test:
      glob: '**/*.{ts,tsx,cts,ctsx,mts,mtsx}'
      run: pnpm vitest --passWithNoTests --run --bail --changedSince=origin/main {files}

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: '*'
      run: bun run lint --fix {staged_files}
      stage_fixed: true
    typecheck:
      glob: '*.{ts,js}'
      run: bun typecheck
    schema:
      run: bun run generate:schema
    test:
      run: bun vitest --passWithNoTests
    sort-package:
      glob: package.json
      run: bunx sort-package-json {staged_files}
      stage_fixed: true

fix(ccusage): limit root help to namespaces (#1069)
  rust/crates/ccusage/src/cli.rs
Due: lint

fix(droid): keep latest session snapshot
  rust/crates/ccusage/src/adapter/droid.rs
Due: lint

fix(openclaw): stream session JSONL parsing
  docs/guide/openclaw/index.md
  rust/crates/ccusage/src/adapter/openclaw.rs
Due: format, lint

fix(release): use cargo-edit for rust version sync
  apps/ccusage/scripts/sync-rust-version.ts
  apps/ccusage/vitest.config.ts
  bump.config.ts
  flake.nix
  package.json
Due: format, typecheck, test, lint, sort-package

chore(schema): format generated config schema
  apps/ccusage/config-schema.json
Due: format, lint

fix(release): sync rust versions during bumpp
  bump.config.ts
  flake.nix
  package.json
Due: typecheck, lint, sort-package

fix(droid): include extra tokens in table totals
  rust/crates/ccusage/src/output.rs
Due: lint

fix(codebuff): render codebuff table title
  rust/crates/ccusage/src/adapter/amp.rs
  rust/crates/ccusage/src/adapter/codebuff.rs
Due: lint

fix(qwen): address review edge cases
  rust/crates/ccusage/src/adapter/qwen/mod.rs
  rust/crates/ccusage/src/adapter/qwen/parser.rs
Due: lint

docs(ai): require US English GitHub communication (#1034)
  .agents/skills/pr-ai-review-workflow/SKILL.md
  CLAUDE.md
Due: format, lint

feat(kimi): add Kimi usage adapter (#1031)
  apps/ccusage/README.md
  apps/ccusage/config-schema.json
  docs/.vitepress/config.ts
  docs/guide/all-reports.md
  docs/guide/claude/index.md
  docs/guide/codex/index.md
  docs/guide/config-files.md
  docs/guide/configuration.md
  docs/guide/environment-variables.md
  docs/guide/getting-started.md
  docs/guide/index.md
  docs/guide/kimi/index.md
  docs/index.md
  rust/crates/ccusage/src/adapter/all.rs
  rust/crates/ccusage/src/adapter/kimi.rs
  rust/crates/ccusage/src/adapter/mod.rs
  rust/crates/ccusage/src/cli.rs
  rust/crates/ccusage/src/config.rs
  rust/crates/ccusage/src/config_schema.rs
  rust/crates/ccusage/src/main.rs
  rust/crates/ccusage/src/progress.rs
Due: format, typecheck, test, lint

docs(qwen): include qwen in env debug grep
  docs/guide/environment-variables.md
Due: format, lint

test(qwen): restore config schema property expectation
  rust/crates/ccusage/src/config_schema.rs
Due: lint

feat(openclaw): add OpenClaw usage tracking adapter (#1019)
  apps/ccusage/README.md
  apps/ccusage/config-schema.json
  docs/.vitepress/config.ts
  docs/guide/all-reports.md
  docs/guide/config-files.md
  docs/guide/configuration.md
  docs/guide/environment-variables.md
  docs/guide/getting-started.md
  docs/guide/index.md
  docs/guide/openclaw/index.md
  docs/index.md
  rust/crates/ccusage/src/adapter/all.rs
  rust/crates/ccusage/src/adapter/mod.rs
  rust/crates/ccusage/src/adapter/openclaw.rs
  rust/crates/ccusage/src/cli-help.json
  rust/crates/ccusage/src/cli.rs
  rust/crates/ccusage/src/config.rs
  rust/crates/ccusage/src/config_schema.rs
  rust/crates/ccusage/src/main.rs
  rust/crates/ccusage/src/progress.rs
Due: format, typecheck, test, lint

fix(qwen): normalize session date filters
  rust/crates/ccusage/src/adapter/qwen/mod.rs
Due: lint

feat(droid): add Factory Droid usage adapter (#1028)
  apps/ccusage/README.md
  apps/ccusage/config-schema.json
  docs/.vitepress/config.ts
  docs/guide/all-reports.md
  docs/guide/claude/index.md
  docs/guide/codex/index.md
  docs/guide/config-files.md
  docs/guide/configuration.md
  docs/guide/droid/index.md
  docs/guide/environment-variables.md
  docs/guide/getting-started.md
  docs/guide/index.md
  docs/index.md
  rust/crates/ccusage/src/adapter/all.rs
  rust/crates/ccusage/src/adapter/droid.rs
  rust/crates/ccusage/src/adapter/mod.rs
  rust/crates/ccusage/src/cli.rs
  rust/crates/ccusage/src/config.rs
  rust/crates/ccusage/src/config_schema.rs
  rust/crates/ccusage/src/main.rs
  rust/crates/ccusage/src/output.rs
  rust/crates/ccusage/src/progress.rs
Due: format, typecheck, test, lint

feat(codebuff): add Codebuff usage adapter (#1029)
  apps/ccusage/README.md
  apps/ccusage/config-schema.json
  docs/.vitepress/config.ts
  docs/guide/all-reports.md
  docs/guide/claude/index.md
  docs/guide/codebuff/index.md
  docs/guide/codex/index.md
  docs/guide/config-files.md
  docs/guide/configuration.md
  docs/guide/environment-variables.md
  docs/guide/getting-started.md
  docs/guide/index.md
  docs/index.md
  rust/crates/ccusage/src/adapter/all.rs
  rust/crates/ccusage/src/adapter/amp.rs
  rust/crates/ccusage/src/adapter/codebuff.rs
  rust/crates/ccusage/src/adapter/mod.rs
  rust/crates/ccusage/src/cli.rs
  rust/crates/ccusage/src/config.rs
  rust/crates/ccusage/src/config_schema.rs
  rust/crates/ccusage/src/main.rs
  rust/crates/ccusage/src/progress.rs
Due: format, typecheck, test, lint

fix(output): remove duplicate total token local
  rust/crates/ccusage/src/output.rs
Due: lint

feat(qwen): add Qwen usage adapter (#1030)
  apps/ccusage/README.md
  apps/ccusage/config-schema.json
  docs/.vitepress/config.ts
  docs/guide/all-reports.md
  docs/guide/claude/index.md
  docs/guide/codex/index.md
  docs/guide/config-files.md
  docs/guide/configuration.md
  docs/guide/daily-reports.md
  docs/guide/environment-variables.md
  docs/guide/getting-started.md
  docs/guide/index.md
  docs/guide/monthly-reports.md
  docs/guide/qwen/index.md
  docs/guide/session-reports.md
  docs/index.md
  rust/crates/ccusage/src/adapter/all.rs
  rust/crates/ccusage/src/adapter/mod.rs
  rust/crates/ccusage/src/adapter/qwen/mod.rs
  rust/crates/ccusage/src/adapter/qwen/parser.rs
  rust/crates/ccusage/src/adapter/qwen/paths.rs
  rust/crates/ccusage/src/cli.rs
  rust/crates/ccusage/src/config.rs
  rust/crates/ccusage/src/config_schema.rs
  rust/crates/ccusage/src/main.rs
  rust/crates/ccusage/src/output.rs
  rust/crates/ccusage/src/progress.rs
Due: format, typecheck, test, lint

docs: document unsupported source investigations
  docs/.vitepress/config.ts
  docs/guide/all-reports.md
  docs/guide/index.md
  docs/guide/source-support-qa.md
Due: format, typecheck, test, lint

fix(agents): fall back to total token counts
  rust/crates/ccusage/src/adapter/amp.rs
  rust/crates/ccusage/src/adapter/codebuff.rs
  rust/crates/ccusage/src/adapter/copilot.rs
  rust/crates/ccusage/src/adapter/droid.rs
  rust/crates/ccusage/src/adapter/gemini.rs
  rust/crates/ccusage/src/adapter/kilo.rs
  rust/crates/ccusage/src/adapter/kimi.rs
  rust/crates/ccusage/src/adapter/openclaw.rs
  rust/crates/ccusage/src/adapter/opencode/parser.rs
  rust/crates/ccusage/src/adapter/pi.rs
  rust/crates/ccusage/src/adapter/qwen/parser.rs
  rust/crates/ccusage/src/main.rs
  rust/crates/ccusage/src/utils.rs
Due: lint

docs: document unsupported source investigations (#1070)
  docs/.vitepress/config.ts
  docs/guide/all-reports.md
  docs/guide/index.md
  docs/guide/source-support-qa.md
Due: format, typecheck, test, lint

docs(readme): improve supported sources readability
  apps/ccusage/README.md
Due: format, lint

fix(release): lint native packages before publish
  packages/ccusage-darwin-arm64/package.json
  packages/ccusage-darwin-x64/package.json
  packages/ccusage-linux-arm64/package.json
  packages/ccusage-linux-x64/package.json
  packages/ccusage-win32-arm64/package.json
  packages/ccusage-win32-x64/package.json
  pnpm-lock.yaml
Due: format, sort-package-json, lint

docs(readme): shorten runtime note
  apps/ccusage/README.md
Due: format, lint

docs: link bunx cache guidance
  apps/ccusage/README.md
  docs/guide/getting-started.md
  docs/guide/installation.md
Due: format, lint

fix(ccusage): restore expanded config schema
  apps/ccusage/config-schema.json
  rust/crates/ccusage/src/config_schema.rs
Due: format, lint

refactor(rust): reduce agent command duplication
  rust/crates/ccusage/src/adapter/all.rs
  rust/crates/ccusage/src/cli.rs
Due: lint

fix(agents): fall back to total token counts (#1071)
  rust/crates/ccusage/src/adapter/amp.rs
  rust/crates/ccusage/src/adapter/codebuff.rs
  rust/crates/ccusage/src/adapter/copilot.rs
  rust/crates/ccusage/src/adapter/droid.rs
  rust/crates/ccusage/src/adapter/gemini.rs
  rust/crates/ccusage/src/adapter/kilo.rs
  rust/crates/ccusage/src/adapter/kimi.rs
  rust/crates/ccusage/src/adapter/openclaw.rs
  rust/crates/ccusage/src/adapter/opencode/parser.rs
  rust/crates/ccusage/src/adapter/pi.rs
  rust/crates/ccusage/src/adapter/qwen/parser.rs
  rust/crates/ccusage/src/main.rs
  rust/crates/ccusage/src/utils.rs
Due: lint

docs(skills): align agent rules with Rust CLI
  .agents/skills/ast-grep/SKILL.md
  .agents/skills/bun-cpu-profile/SKILL.md
  .agents/skills/bun-cpu-profile/references/profile-workflow.md
  .agents/skills/ccusage-agent-sources/SKILL.md
  .agents/skills/ccusage-development/SKILL.md
  .agents/skills/ccusage-rust-profile/SKILL.md
  .agents/skills/ccusage-rust/SKILL.md
  .agents/skills/ccusage-testing/SKILL.md
  .agents/skills/ccusage-typescript/SKILL.md
  .agents/skills/skill-creator/SKILL.md
  .claude/skills/byethrow
  .claude/skills/ccusage-rust
  .claude/skills/ccusage-rust-profile
  .claude/skills/ccusage-typescript
  .claude/skills/use-gunshi-cli
  CLAUDE.md
  apps/ccusage/CLAUDE.md
Due: format, lint

docs(skills): clarify profiling review feedback
  .agents/skills/bun-cpu-profile/SKILL.md
  .agents/skills/ccusage-rust-profile/SKILL.md
  .agents/skills/ccusage-typescript/SKILL.md
  CLAUDE.md
Due: format, lint

docs: document Nix development setup
  apps/ccusage/README.md
Due: format, lint

docs(skills): use Rust test examples in testing skill
  .agents/skills/ccusage-testing/SKILL.md
Due: format, lint

docs(skills): add TypeScript Vitest reference
  .agents/skills/ccusage-typescript/SKILL.md
  .agents/skills/ccusage-typescript/references/vitest.md
Due: format, lint

docs: clarify Nix flake prerequisites
  apps/ccusage/README.md
Due: format, lint

chore(lint): replace eslint with oxlint
  .github/workflows/ci.yaml
  .gitleaks.toml
  .oxfmtrc.json
  .oxlintrc.json
  apps/ccusage/package.json
  docs/package.json
  eslint.config.js
  flake.nix
  lefthook.yml
  oxfmt.config.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, sort-package-json, typecheck, lint, sort-package
