Repository ryoppippi/ccusage: changes, and which lefthook commands are due for each by the changed paths.
All: format, sort-package-json, typecheck, test, lint, sort-package

.lefthook.yml:

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    format:
      glob: '**/*.{cjs,cts,ctsx,js,jsx,mjs,mts,mtsx,ts,tsx,json,yml,yaml,md,mdx}'
      run: pnpm eslint --cache --fix {files}
      stage_fixed: true
    sort-package-json:
      glob: '**/package.json'
      run: pnpm exec sort-package-json {files}
      stage_fixed: true
    typecheck:
      glob: '**/*.{ts,tsx,cts,ctsx,mts,mtsx}'
      run: pnpm tsgo {files}
    test:
      glob: '**/*.{ts,tsx,cts,ctsx,mts,mtsx}'
      run: pnpm vitest --passWithNoTests --run --bail --changedSince=origin/main {files}

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: '*'
      run: bun run lint --fix {staged_files}
      stage_fixed: true
    typecheck:
      glob: '*.{ts,js}'
      run: bun typecheck
    schema:
      run: bun run generate:schema
    test:
      run: bun vitest --passWithNoTests
    sort-package:
      glob: package.json
      run: bunx sort-package-json {staged_files}
      stage_fixed: true

feat(codex): include archived sessions
  docs/guide/codex/index.md
  rust/crates/ccusage/src/adapter/codex/README.md
  rust/crates/ccusage/src/adapter/codex/paths.rs
Due: format, lint

test(codex): cover archived session path cases
  rust/crates/ccusage/src/adapter/codex/paths.rs
Due: lint

test(codex): cover archived path dedupe
  docs/guide/codex/index.md
  rust/crates/ccusage/src/adapter/codex/paths.rs
Due: format, lint

feat(codex): include archived sessions (#1230)
  docs/guide/codex/index.md
  rust/crates/ccusage/src/adapter/codex/README.md
  rust/crates/ccusage/src/adapter/codex/paths.rs
Due: format, lint

fix(codex): dedupe archived session files
  docs/guide/codex/index.md
  rust/crates/ccusage/src/adapter/codex/README.md
  rust/crates/ccusage/src/adapter/codex/aggregate.rs
  rust/crates/ccusage/src/adapter/codex/loader.rs
  rust/crates/ccusage/src/adapter/codex/paths.rs
Due: format, lint

fix(nix): disable treefmt cache in pre-commit hook
  nix/git-hooks.nix
Due: lint

chore: release v20.0.7
  apps/ccusage/package.json
  docs/package.json
  package.json
  packages/ccusage-darwin-arm64/package.json
  packages/ccusage-darwin-x64/package.json
  packages/ccusage-linux-arm64/package.json
  packages/ccusage-linux-x64/package.json
  packages/ccusage-win32-arm64/package.json
  packages/ccusage-win32-x64/package.json
  rust/Cargo.lock
  rust/crates/ccusage-cli/Cargo.toml
  rust/crates/ccusage-terminal/Cargo.toml
  rust/crates/ccusage-test-support/Cargo.toml
  rust/crates/ccusage/Cargo.toml
Due: format, sort-package-json, lint, sort-package

chore(ci): remove takumi guard
  .github/actions/setup-nix/action.yaml
Due: format, lint

fix(terminal): use max line width for multiline table cells (#1192)
  rust/crates/ccusage-terminal/src/snapshots/ccusage_terminal__table__tests__snapshots_full_table_with_multiline_cells_and_separators.snap
  rust/crates/ccusage-terminal/src/table.rs
  rust/crates/ccusage-terminal/src/width.rs
Due: lint

docs(statusline): document modelLabelAliases config
  docs/guide/config-files.md
  docs/guide/statusline.md
Due: format, lint

test(statusline): cover modelLabelAliases resolution and parsing
  rust/crates/ccusage/src/commands/mod.rs
  rust/crates/ccusage/src/config_schema.rs
Due: lint

test(cost): cover cache creation duration pricing
  docs/guide/cost-modes.md
  rust/crates/ccusage/src/cost.rs
  rust/crates/ccusage/src/types.rs
Due: format, lint

fix(pricing): apply overrides to openclaw status paths
  rust/crates/ccusage/src/adapter/all/loader.rs
  rust/crates/ccusage/src/adapter/openclaw/loader.rs
  rust/crates/ccusage/src/adapter/openclaw/mod.rs
  rust/crates/ccusage/src/adapter/openclaw/parser.rs
  rust/crates/ccusage/src/commands/mod.rs
Due: lint

fix(opencode): preserve session id in session summaries
  docs/guide/json-output.md
  docs/guide/openclaw/index.md
  docs/guide/pi/index.md
  docs/guide/session-reports.md
  rust/crates/ccusage/src/adapter/opencode/report.rs
Due: format, lint

style(rust): apply treefmt after merge
  rust/crates/ccusage-cli/src/lib.rs
  rust/crates/ccusage/src/adapter/pi/parser.rs
Due: lint

fix(codex): preserve replay cumulative baseline
  rust/crates/ccusage/src/adapter/codex/loader.rs
  rust/crates/ccusage/src/adapter/codex/parser.rs
Due: lint

feat(pricing): add runtime pricing overrides (#1204)
  apps/ccusage/README.md
  apps/ccusage/config-schema.json
  ccusage.example.json
  docs/guide/config-files.md
  docs/guide/cost-modes.md
  rust/crates/ccusage-cli/src/lib.rs
  rust/crates/ccusage-cli/src/types.rs
  rust/crates/ccusage/src/adapter/all/loader.rs
  rust/crates/ccusage/src/adapter/amp/mod.rs
  rust/crates/ccusage/src/adapter/claude/daily.rs
  rust/crates/ccusage/src/adapter/claude/mod.rs
  rust/crates/ccusage/src/adapter/codebuff/mod.rs
  rust/crates/ccusage/src/adapter/codex/mod.rs
  rust/crates/ccusage/src/adapter/copilot/mod.rs
  rust/crates/ccusage/src/adapter/droid/mod.rs
  rust/crates/ccusage/src/adapter/gemini/mod.rs
  rust/crates/ccusage/src/adapter/goose/mod.rs
  rust/crates/ccusage/src/adapter/hermes/mod.rs
  rust/crates/ccusage/src/adapter/kilo/mod.rs
  rust/crates/ccusage/src/adapter/kimi/mod.rs
  rust/crates/ccusage/src/adapter/openclaw/loader.rs
  rust/crates/ccusage/src/adapter/openclaw/mod.rs
  rust/crates/ccusage/src/adapter/openclaw/parser.rs
  rust/crates/ccusage/src/adapter/opencode/loader.rs
  rust/crates/ccusage/src/adapter/pi/loader.rs
  rust/crates/ccusage/src/adapter/pi/mod.rs
  rust/crates/ccusage/src/adapter/pi/parser.rs
  rust/crates/ccusage/src/adapter/qwen/parser.rs
  rust/crates/ccusage/src/commands/mod.rs
  rust/crates/ccusage/src/config.rs
  rust/crates/ccusage/src/config_schema.rs
  rust/crates/ccusage/src/main.rs
  rust/crates/ccusage/src/pricing.rs
  rust/crates/ccusage/src/snapshots/ccusage__config_schema__tests__snapshots_schema_agent_specific_option_edges.snap
Due: format, lint

fix(pricing): do not charge GLM cache creation
  rust/crates/ccusage/src/pricing.rs
Due: lint

docs(agents): document direnv initialization
  AGENTS.md
Due: lint

fix(codex): dedupe copied rollout token events
  rust/crates/ccusage/src/adapter/codex/aggregate.rs
  rust/crates/ccusage/src/adapter/codex/mod.rs
Due: lint

fix(pricing): embed Z.AI pricing snapshot
  rust/crates/ccusage/build.rs
  rust/crates/ccusage/src/pricing.rs
Due: lint

test(codex): cover rollout dedupe threading modes
  rust/crates/ccusage/src/adapter/codex/aggregate.rs
Due: lint

docs(agents): document direnv initialization (#1236)
  AGENTS.md
Due: lint

fix(pricing): patch Z.AI GLM cache gaps
  rust/crates/ccusage/src/pricing.rs
Due: lint

fix(codex): preserve session report dedupe scope
  rust/crates/ccusage/src/adapter/codex/aggregate.rs
Due: lint

fix(pricing): do not charge GLM cache creation (#1235)
  rust/crates/ccusage/build.rs
  rust/crates/ccusage/src/pricing.rs
Due: lint

chore(ci): pinact update
  .github/workflows/approve-contributor.yaml
  .github/workflows/ci.yaml
  .github/workflows/issue-gate.yaml
  .github/workflows/pr-gate.yaml
  .github/workflows/pullfrog.yml
  .github/workflows/release.yaml
  .github/workflows/update-pricing.yaml
Due: format, lint

fix(codex): dedupe goal rollout token events (#1237)
  rust/crates/ccusage/src/adapter/codex/aggregate.rs
  rust/crates/ccusage/src/adapter/codex/mod.rs
Due: lint

feat(nix): add generate-schema app to regenerate config schema
  nix/treefmt.nix
Due: lint

ci(nix): fail flake check when config schema drifts from source
  nix/checks.nix
Due: lint

build(nix): add just to the dev shell
  nix/dev-shell.nix
Due: lint

chore: add just as the single task entry point
  apps/ccusage/justfile
  docs/justfile
  justfile
  nix/git-hooks.nix
  rust/justfile
Due: lint

refactor(release): sync Rust version from bumpp state
  bump.config.ts
Due: typecheck, lint

chore: trim package scripts now owned by just and nix
  apps/ccusage/package.json
  docs/package.json
  package.json
Due: format, sort-package-json, lint, sort-package

ci: drive checks through just
  .github/workflows/ci.yaml
Due: format, lint

docs: point contributor commands at just
  .agents/skills/create-pr/references/gh-review.md
  .agents/skills/create-pr/references/open-pr.md
  .agents/skills/development/references/commands.md
  .agents/skills/development/references/environment-and-validation.md
  .agents/skills/skill-creator/SKILL.md
  .agents/skills/testing/SKILL.md
  .agents/skills/typescript/SKILL.md
  AGENTS.md
  CONTRIBUTING.md
  apps/ccusage/README.md
  docs/README.md
  docs/guide/installation.md
Due: format, lint

fix(release): restore only tracked package.json after bump
  justfile
Due: lint

chore: consolidate dev tasks behind just (#1238)
  .agents/skills/create-pr/references/gh-review.md
  .agents/skills/create-pr/references/open-pr.md
  .agents/skills/development/references/commands.md
  .agents/skills/development/references/environment-and-validation.md
  .agents/skills/skill-creator/SKILL.md
  .agents/skills/testing/SKILL.md
  .agents/skills/typescript/SKILL.md
  .github/workflows/ci.yaml
  AGENTS.md
  CONTRIBUTING.md
  apps/ccusage/README.md
  apps/ccusage/justfile
  apps/ccusage/package.json
  bump.config.ts
  docs/README.md
  docs/guide/installation.md
  docs/justfile
  docs/package.json
  justfile
  nix/dev-shell.nix
  nix/git-hooks.nix
  package.json
  rust/justfile
Due: format, sort-package-json, typecheck, lint, sort-package
