Repository ryoppippi/ccusage: changes, and which lefthook commands are due for each by the changed paths.
All: format, sort-package-json, typecheck, test, lint, sort-package

format:
  run: pnpm eslint --cache --fix {files}
  stage_fixed: true

sort-package-json:
  run: pnpm exec sort-package-json {files}
  stage_fixed: true

typecheck:
  run: pnpm tsgo {files}

test:
  run: pnpm vitest --passWithNoTests --run --bail --changedSince=origin/main {files}

lint:
  run: bun run lint --fix {staged_files}
  stage_fixed: true

sort-package:
  run: bunx sort-package-json {staged_files}
  stage_fixed: true

restore deps
  apps/opencode/package.json
Due: format, sort-package-json, lint

fix: detect file-history-snapshot regardless of key order
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

fix: probe first non-empty line in snapshot fast-path
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

fix(codex): include root-level *.jsonl files in date-filtered runs
  apps/codex/src/data-loader.ts
Due: format, typecheck, test, lint

test(codex): add coverage for root-level flat files with date filters
  apps/codex/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): skip Claude session files whose mtime precedes --since
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

feat(internal): support fast mode pricing multiplier in LiteLLM pricing
  packages/internal/src/pricing.ts
Due: format, typecheck, test, lint

feat(ccusage): separate fast mode usage from standard in all reports
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

feat(ccusage): support Claude Code fast mode with separate tracking and 6x pricing (#886)
  apps/ccusage/src/data-loader.ts
  packages/internal/src/pricing.ts
Due: format, typecheck, test, lint

chore: release v18.0.10
  apps/amp/package.json
  apps/ccusage/package.json
  apps/codex/package.json
  apps/mcp/package.json
  apps/opencode/package.json
  apps/pi/package.json
  docs/package.json
  package.json
  packages/internal/package.json
  packages/terminal/package.json
Due: format, sort-package-json, lint, sort-package

feat(opencode): add SQLite support with JSON fallback
  apps/opencode/package.json
  apps/opencode/src/commands/session.ts
  apps/opencode/src/data-loader.ts
  apps/opencode/tsdown.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, sort-package-json, typecheck, test, lint

fix(opencode): fall back to bun sqlite in bun
  apps/opencode/src/data-loader.ts
Due: format, typecheck, test, lint

docs(opencode): add JSDoc comments to core types
  apps/opencode/src/data-loader.ts
Due: format, typecheck, test, lint

docs(opencode): add JSDoc to JSON loader funcs
  apps/opencode/src/data-loader.ts
Due: format, typecheck, test, lint

refactor(opencode): split data loader into separate functions
  apps/opencode/src/commands/session.ts
  apps/opencode/src/data-loader.ts
Due: format, typecheck, test, lint

fix(opencode): guard bun sqlite fallback in node
  apps/opencode/src/data-loader.ts
Due: format, typecheck, test, lint

refactor(opencode): add mode param to sqlite loader
  apps/opencode/src/data-loader.ts
Due: format, typecheck, test, lint

refactor(opencode): improve token filtering logic
  apps/opencode/src/data-loader.ts
Due: format, typecheck, test, lint

feat(opencode): normalize Claude model names
  apps/opencode/src/cost-utils.ts
Due: format, typecheck, test, lint

chore(oxfmt): use unpkg.com for configuration schema
  .oxfmtrc.jsonc
Due: lint

fix(codex): support 272k tiered pricing for gpt-5.4
  apps/codex/src/_types.ts
  apps/codex/src/pricing.ts
  apps/codex/src/token-utils.ts
  packages/internal/src/pricing.ts
Due: format, typecheck, test, lint

docs(guide): remove broken `claude x` installation method
  docs/guide/installation.md
Due: format, lint

chore: update pnpm-lock.yaml to match tinyglobby catalog specifier
  pnpm-lock.yaml
Due: lint

feat(ccusage): improve statusline labels, add setup command & enhanced promotions
  apps/ccusage/src/_promotions.ts
  apps/ccusage/src/commands/index.ts
  apps/ccusage/src/commands/setup-statusline.ts
  apps/ccusage/src/commands/statusline.ts
  docs/guide/statusline.md
  packages/terminal/src/table.ts
Due: format, typecheck, test, lint

fix(ccusage): address CodeRabbit review feedback for statusline features
  apps/ccusage/src/commands/setup-statusline.ts
  apps/ccusage/src/commands/statusline.ts
  docs/guide/statusline.md
  packages/terminal/src/table.ts
Due: format, typecheck, test, lint

fix(ccusage): address follow-up CodeRabbit review feedback
  apps/ccusage/src/commands/setup-statusline.ts
  apps/ccusage/src/commands/statusline.ts
Due: format, typecheck, test, lint

chore(pnpm): enable enableGlobalVirtualStore
  pnpm-workspace.yaml
Due: lint

docs: remove unsupported 'claude x' execution path
  docs/guide/getting-started.md
  docs/guide/index.md
  docs/guide/installation.md
  docs/guide/statusline.md
Due: format, lint

Add one-liner install scripts for statusline setup
  install.ps1
  install.sh
Due: lint

Improve 2x promotion indicator: green=active, dim=inactive
  apps/ccusage/src/_promotions.ts
  package.json
Due: format, typecheck, test, lint, sort-package

Add countdown to 2x ON indicator showing time until peak starts
  apps/ccusage/src/_promotions.ts
Due: format, typecheck, test, lint

fix(ccusage): fix 4 agent command bugs
  apps/ccusage/CLAUDE.md
  apps/ccusage/src/agent-id.ts
  apps/ccusage/src/commands/agent.ts
  apps/ccusage/src/data-loader.ts
  packages/terminal/src/table.ts
Due: format, typecheck, test, lint

fix(ccusage): wrap agent names at / boundary and prioritize compaction titles
  apps/ccusage/src/commands/agent.ts
Due: format, typecheck, test, lint

fix(ccusage): extract compaction titles from isCompactSummary entries
  apps/ccusage/src/commands/agent.ts
Due: format, typecheck, test, lint

feat(ccusage): add find-agent-id script for recovering past agent resume IDs
  eslint.config.js
  scripts/find-agent-id.mjs
Due: format, typecheck, lint

feat(ccusage): generate AI titles for sessions without compaction summaries
  apps/ccusage/src/commands/agent.ts
Due: format, typecheck, test, lint

refactor(ccusage): remove slug fallback, use truncated sessionId instead
  apps/ccusage/src/commands/agent.ts
Due: format, typecheck, test, lint

feat(ccusage): group team members under their lead session in agent output
  apps/ccusage/src/commands/agent.ts
Due: format, typecheck, test, lint

fix(ccusage): handle array content and isMeta in user message extraction
  apps/ccusage/src/commands/agent.ts
Due: format, typecheck, test, lint

feat(ccusage): add % column and group all team members under headers
  apps/ccusage/config-schema.json
  apps/ccusage/package.json
  apps/ccusage/src/agent-id.ts
  apps/ccusage/src/commands/agent.ts
  apps/ccusage/src/commands/index.ts
  packages/terminal/src/table.ts
Due: format, sort-package-json, typecheck, test, lint

Path conditions:
  format: any of: **/*.{cjs,cts,ctsx,js,jsx,mjs,mts,mtsx,ts,tsx,json,yml,yaml,md,mdx}
  sort-package-json: any of: **/package.json
  typecheck: (any of: **/*.{ts,tsx,cts,ctsx,mts,mtsx}) or (any of: *.{ts,js})
  test: any of: **/*.{ts,tsx,cts,ctsx,mts,mtsx}
  lint: any of: *
  sort-package: any of: package.json
