Repository ryoppippi/ccusage: changes, and which lefthook commands are due for each by the changed paths.
All: format, sort-package-json, typecheck, test, lint, sort-package

format:
  run: pnpm eslint --cache --fix {files}
  stage_fixed: true

sort-package-json:
  run: pnpm exec sort-package-json {files}
  stage_fixed: true

typecheck:
  run: pnpm tsgo {files}

test:
  run: pnpm vitest --passWithNoTests --run --bail --changedSince=origin/main {files}

lint:
  run: bun run lint --fix {staged_files}
  stage_fixed: true

sort-package:
  run: bunx sort-package-json {staged_files}
  stage_fixed: true

fix(ccusage): keep sqlite floating point on windows
  .cargo/config.toml
Due: lint

test(ccusage): inline one-off test values
  .agents/skills/ccusage-testing/SKILL.md
  .agents/skills/tdd/references/vitest-examples.md
  apps/ccusage/test/cli-output.test.ts
Due: format, typecheck, test, lint

docs(ai): use configured spelling in test guidance
  .agents/skills/ccusage-testing/SKILL.md
  .agents/skills/tdd/references/vitest-examples.md
Due: format, lint

test(ccusage): inline one-off test values (#1055)
  .agents/skills/ccusage-testing/SKILL.md
  .agents/skills/tdd/references/vitest-examples.md
  apps/ccusage/test/cli-output.test.ts
Due: format, typecheck, test, lint

feat(nix): add runnable ccusage flake
  .github/workflows/update-pricing.yaml
  apps/ccusage/README.md
  docs/guide/getting-started.md
  docs/guide/index.md
  docs/guide/installation.md
  flake.lock
  flake.nix
  nix/pricing-fallback.jq
  oxfmt.config.ts
  rust/crates/ccusage/build.rs
  rust/crates/ccusage/src/litellm-pricing-fallback.json
  rust/crates/ccusage/src/pricing.rs
Due: format, typecheck, lint

refactor(ccusage): generate config schema from Rust types
  apps/ccusage/config-schema.json
  apps/ccusage/package.json
  apps/ccusage/scripts/generate-json-schema.ts
  lefthook.yml
  rust/Cargo.lock
  rust/crates/ccusage/Cargo.toml
  rust/crates/ccusage/src/bin/generate_config_schema.rs
  rust/crates/ccusage/src/cli.rs
  rust/crates/ccusage/src/config.rs
  rust/crates/ccusage/src/config_schema.rs
  rust/crates/ccusage/src/main.rs
Due: format, sort-package-json, typecheck, test, lint

perf(ccusage): reduce TypeScript JSONL scan work
  apps/ccusage/src/adapter/claude/data-loader.ts
  packages/internal/src/jsonl.ts
Due: format, typecheck, test, lint

fix(nix): track pricing snapshot changes
  rust/crates/ccusage/build.rs
Due: lint

fix(ccusage): align config schema review feedback
  apps/ccusage/config-schema.json
  rust/crates/ccusage/src/config_schema.rs
Due: format, lint

chore(ccusage): format generated config schema
  apps/ccusage/config-schema.json
Due: format, lint

fix(ccusage): preserve config schema root shape
  apps/ccusage/config-schema.json
  rust/crates/ccusage/src/config_schema.rs
Due: format, lint

fix(ccusage): address jsonl perf review
  .github/workflows/ccusage-perf.yaml
  apps/ccusage/src/adapter/claude/data-loader.ts
  packages/internal/src/jsonl.ts
Due: format, typecheck, test, lint

docs: reduce nix mentions in guides
  docs/guide/index.md
  docs/guide/installation.md
Due: format, lint

refactor(ccusage): generate config schema from Rust types (#1058)
  apps/ccusage/config-schema.json
  apps/ccusage/package.json
  apps/ccusage/scripts/generate-json-schema.ts
  lefthook.yml
  rust/Cargo.lock
  rust/crates/ccusage/Cargo.toml
  rust/crates/ccusage/src/bin/generate_config_schema.rs
  rust/crates/ccusage/src/cli.rs
  rust/crates/ccusage/src/config.rs
  rust/crates/ccusage/src/config_schema.rs
  rust/crates/ccusage/src/main.rs
Due: format, sort-package-json, typecheck, test, lint

ci: build native unix packages with nix
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  flake.nix
Due: format, lint

fix(nix): cross build static linux binaries
  flake.nix
Due: lint

ci: cache windows cargo builds
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Due: format, lint

refactor(ccusage): simplify native cli wrapper
  apps/ccusage/CLAUDE.md
  apps/ccusage/package.json
  apps/ccusage/src/cli.ts
  apps/ccusage/src/index.ts
  apps/ccusage/tsdown.config.ts
Due: format, sort-package-json, typecheck, test, lint

test: run vitest and rust tests in parallel
  apps/ccusage/package.json
  package.json
Due: format, sort-package-json, lint, sort-package

chore: restore claude skill links
  .claude/skills/byethrow
  .claude/skills/ccusage-rust
  .claude/skills/use-gunshi-cli
Due: lint

refactor(ccusage): simplify native cli wrapper (#1060)
  apps/ccusage/CLAUDE.md
  apps/ccusage/package.json
  apps/ccusage/src/cli.ts
  apps/ccusage/src/index.ts
  apps/ccusage/tsdown.config.ts
  package.json
Due: format, sort-package-json, typecheck, test, lint, sort-package

ci: keep nix macos binaries portable
  .github/workflows/ccusage-perf.yaml
  .github/workflows/ccusage-rust-perf.yaml
  flake.nix
Due: format, lint

ci: keep darwin package builds on cargo
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  flake.nix
Due: format, lint

fix(ccusage): apply Codex fast pricing multipliers
  rust/crates/ccusage/src/adapter/codex.rs
  rust/crates/ccusage/src/pricing.rs
Due: lint

fix(ccusage): expand native CLI help output
  rust/crates/ccusage/src/cli.rs
Due: lint

fix(ccusage): cover Claude fast provider pricing
  rust/crates/ccusage/src/pricing.rs
Due: lint

feat(nix): add runnable ccusage flake (#1057)
  .github/workflows/ccusage-perf.yaml
  .github/workflows/ccusage-rust-perf.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/update-pricing.yaml
  apps/ccusage/README.md
  docs/guide/getting-started.md
  docs/guide/index.md
  docs/guide/installation.md
  flake.lock
  flake.nix
  nix/pricing-fallback.jq
  oxfmt.config.ts
  rust/crates/ccusage/build.rs
  rust/crates/ccusage/src/litellm-pricing-fallback.json
  rust/crates/ccusage/src/pricing.rs
Due: format, typecheck, lint

fix(ccusage): address help review and Claude fast ids
  rust/crates/ccusage/src/cli.rs
  rust/crates/ccusage/src/pricing.rs
Due: lint

refactor(ccusage): reuse Claude fast fallback pricing
  rust/crates/ccusage/src/pricing.rs
Due: lint

feat(copilot): add GitHub Copilot CLI usage adapter (#1023)
  apps/ccusage/README.md
  apps/ccusage/config-schema.json
  docs/.vitepress/config.ts
  docs/guide/all-reports.md
  docs/guide/claude/index.md
  docs/guide/codex/index.md
  docs/guide/config-files.md
  docs/guide/configuration.md
  docs/guide/copilot/index.md
  docs/guide/environment-variables.md
  docs/guide/getting-started.md
  docs/guide/index.md
  docs/index.md
  rust/crates/ccusage/src/adapter/all.rs
  rust/crates/ccusage/src/adapter/amp.rs
  rust/crates/ccusage/src/adapter/copilot.rs
  rust/crates/ccusage/src/adapter/mod.rs
  rust/crates/ccusage/src/adapter/opencode/mod.rs
  rust/crates/ccusage/src/adapter/opencode/parser.rs
  rust/crates/ccusage/src/adapter/pi.rs
  rust/crates/ccusage/src/claude_loader.rs
  rust/crates/ccusage/src/cli.rs
  rust/crates/ccusage/src/config.rs
  rust/crates/ccusage/src/config_schema.rs
  rust/crates/ccusage/src/main.rs
  rust/crates/ccusage/src/output.rs
  rust/crates/ccusage/src/progress.rs
  rust/crates/ccusage/src/summary.rs
  rust/crates/ccusage/src/types.rs
Due: format, typecheck, test, lint

feat(codex): read saved exec JSON usage (#1036)
  docs/guide/codex/index.md
  docs/guide/environment-variables.md
  docs/guide/getting-started.md
  rust/crates/ccusage/src/adapter/codex.rs
  rust/crates/ccusage/src/codex_loader.rs
  rust/crates/ccusage/src/main.rs
Due: format, lint

refactor(ccusage): generate native help and pricing overrides
  rust/crates/ccusage/build.rs
  rust/crates/ccusage/src/cli-help.json
  rust/crates/ccusage/src/cli.rs
  rust/crates/ccusage/src/fast-multiplier-overrides.json
  rust/crates/ccusage/src/pricing.rs
Due: format, lint

fix(ccusage): fail fast on embedded fast multiplier overrides
  rust/crates/ccusage/src/pricing.rs
Due: lint

perf(claude): limit usage discovery for project filters
  rust/crates/ccusage/src/claude_loader.rs
  rust/crates/ccusage/src/main.rs
Due: lint

fix(claude): reject dot project path segments
  rust/crates/ccusage/src/claude_loader.rs
Due: lint

fix(ccusage): include generated help data in nix source
  flake.nix
Due: lint

chore(hooks): lint rust and typescript paths
  .gitignore
  lefthook.yml
  oxfmt.config.ts
  package.json
  rust/crates/ccusage/src/adapter/all.rs
  rust/crates/ccusage/src/adapter/codex.rs
  rust/crates/ccusage/src/claude_loader.rs
  rust/crates/ccusage/src/cli.rs
  rust/crates/ccusage/src/commands/mod.rs
Due: typecheck, lint, sort-package

feat(ccusage): add Gemini CLI usage support (#1021)
  apps/ccusage/README.md
  apps/ccusage/config-schema.json
  docs/.vitepress/config.ts
  docs/guide/all-reports.md
  docs/guide/config-files.md
  docs/guide/configuration.md
  docs/guide/environment-variables.md
  docs/guide/gemini/index.md
  docs/guide/index.md
  rust/crates/ccusage-terminal/src/lib.rs
  rust/crates/ccusage/src/adapter/all.rs
  rust/crates/ccusage/src/adapter/codex.rs
  rust/crates/ccusage/src/adapter/copilot.rs
  rust/crates/ccusage/src/adapter/gemini.rs
  rust/crates/ccusage/src/adapter/mod.rs
  rust/crates/ccusage/src/adapter/opencode/mod.rs
  rust/crates/ccusage/src/adapter/opencode/paths.rs
  rust/crates/ccusage/src/claude_loader.rs
  rust/crates/ccusage/src/cli.rs
  rust/crates/ccusage/src/codex_loader.rs
  rust/crates/ccusage/src/commands/mod.rs
  rust/crates/ccusage/src/config.rs
  rust/crates/ccusage/src/config_schema.rs
  rust/crates/ccusage/src/main.rs
  rust/crates/ccusage/src/pricing.rs
  rust/crates/ccusage/src/progress.rs
Due: format, typecheck, test, lint

Path conditions:
  format: any of: **/*.{cjs,cts,ctsx,js,jsx,mjs,mts,mtsx,ts,tsx,json,yml,yaml,md,mdx}
  sort-package-json: any of: **/package.json
  typecheck: (any of: **/*.{ts,tsx,cts,ctsx,mts,mtsx}) or (any of: *.{ts,js})
  test: any of: **/*.{ts,tsx,cts,ctsx,mts,mtsx}
  lint: any of: *
  sort-package: any of: package.json
