Repository ryoppippi/ccusage: changes, and which lefthook commands are due for each by the changed paths.
All: format, sort-package-json, typecheck, test, lint, sort-package

.lefthook.yml:

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    format:
      glob: '**/*.{cjs,cts,ctsx,js,jsx,mjs,mts,mtsx,ts,tsx,json,yml,yaml,md,mdx}'
      run: pnpm eslint --cache --fix {files}
      stage_fixed: true
    sort-package-json:
      glob: '**/package.json'
      run: pnpm exec sort-package-json {files}
      stage_fixed: true
    typecheck:
      glob: '**/*.{ts,tsx,cts,ctsx,mts,mtsx}'
      run: pnpm tsgo {files}
    test:
      glob: '**/*.{ts,tsx,cts,ctsx,mts,mtsx}'
      run: pnpm vitest --passWithNoTests --run --bail --changedSince=origin/main {files}

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: '*'
      run: bun run lint --fix {staged_files}
      stage_fixed: true
    typecheck:
      glob: '*.{ts,js}'
      run: bun typecheck
    schema:
      run: bun run generate:schema
    test:
      run: bun vitest --passWithNoTests
    sort-package:
      glob: package.json
      run: bunx sort-package-json {staged_files}
      stage_fixed: true

chore: release v18.0.2
  apps/amp/package.json
  apps/ccusage/package.json
  apps/codex/package.json
  apps/mcp/package.json
  apps/opencode/package.json
  apps/pi/package.json
  docs/package.json
  package.json
  packages/internal/package.json
  packages/terminal/package.json
Due: format, sort-package-json, lint, sort-package

feat(terminal): add formatDateCompact function for consistent date formatting
  packages/terminal/src/table.ts
Due: format, typecheck, test, lint

refactor(ccusage): re-export formatDateCompact from terminal package
  apps/ccusage/src/_date-utils.ts
Due: format, typecheck, test, lint

fix(amp,opencode,codex,pi): add dateFormatter to prevent date truncation
  apps/amp/src/commands/daily.ts
  apps/amp/src/commands/monthly.ts
  apps/amp/src/commands/session.ts
  apps/codex/src/commands/daily.ts
  apps/codex/src/commands/monthly.ts
  apps/codex/src/commands/session.ts
  apps/opencode/src/commands/daily.ts
  apps/opencode/src/commands/monthly.ts
  apps/opencode/src/commands/session.ts
  apps/opencode/src/commands/weekly.ts
  apps/pi/src/commands/daily.ts
  apps/pi/src/commands/monthly.ts
  apps/pi/src/commands/session.ts
Due: format, typecheck, test, lint

perf: use file seeking for timestamp extraction
  apps/ccusage/src/_timestamp-cache.ts
Due: format, typecheck, test, lint

fix(opencode): add logger to LiteLLMPricingFetcher
  apps/opencode/src/commands/daily.ts
  apps/opencode/src/commands/monthly.ts
  apps/opencode/src/commands/session.ts
  apps/opencode/src/commands/weekly.ts
  apps/opencode/src/logger.ts
Due: format, typecheck, test, lint

refactor(pi): remove ccusage dependency
  apps/pi/package.json
  apps/pi/src/commands/daily.ts
  apps/pi/src/commands/monthly.ts
  apps/pi/src/commands/session.ts
  apps/pi/src/logger.ts
Due: format, sort-package-json, typecheck, test, lint

fix(opencode): add logger to LiteLLMPricingFetcher (#789)
  apps/opencode/src/commands/daily.ts
  apps/opencode/src/commands/monthly.ts
  apps/opencode/src/commands/session.ts
  apps/opencode/src/commands/weekly.ts
  apps/opencode/src/logger.ts
Due: format, typecheck, test, lint

fix(amp,opencode,codex,pi): add dateFormatter to prevent date truncation (#788)
  apps/amp/src/commands/daily.ts
  apps/amp/src/commands/monthly.ts
  apps/amp/src/commands/session.ts
  apps/ccusage/src/_date-utils.ts
  apps/codex/src/commands/daily.ts
  apps/codex/src/commands/monthly.ts
  apps/codex/src/commands/session.ts
  apps/opencode/src/commands/daily.ts
  apps/opencode/src/commands/monthly.ts
  apps/opencode/src/commands/session.ts
  apps/opencode/src/commands/weekly.ts
  apps/pi/src/commands/daily.ts
  apps/pi/src/commands/monthly.ts
  apps/pi/src/commands/session.ts
  packages/terminal/src/table.ts
Due: format, typecheck, test, lint

refactor(pi): remove ccusage dependency (#790)
  apps/pi/package.json
  apps/pi/src/commands/daily.ts
  apps/pi/src/commands/monthly.ts
  apps/pi/src/commands/session.ts
  apps/pi/src/logger.ts
Due: format, sort-package-json, typecheck, test, lint

chore: update lockfile to match package.json
  pnpm-lock.yaml
Due: lint

chore: release v18.0.3
  apps/amp/package.json
  apps/ccusage/package.json
  apps/codex/package.json
  apps/mcp/package.json
  apps/opencode/package.json
  apps/pi/package.json
  docs/package.json
  package.json
  packages/internal/package.json
  packages/terminal/package.json
Due: format, sort-package-json, lint, sort-package

docs: add @ccusage/amp to README
  apps/ccusage/README.md
Due: format, lint

docs: update @ccusage/pi description
  apps/ccusage/README.md
Due: format, lint

docs: fix outdated README descriptions
  apps/ccusage/README.md
Due: format, lint

docs: update outdated documentation
  apps/pi/README.md
  docs/guide/getting-started.md
  docs/guide/index.md
Due: format, lint

docs(guide): improve statusline setup example
  docs/guide/getting-started.md
Due: format, lint

docs: fix British English spellings to American English
  docs/guide/getting-started.md
  docs/guide/index.md
Due: format, lint

chore: release v18.0.4
  apps/amp/package.json
  apps/ccusage/package.json
  apps/codex/package.json
  apps/mcp/package.json
  apps/opencode/package.json
  apps/pi/package.json
  docs/package.json
  package.json
  packages/internal/package.json
  packages/terminal/package.json
Due: format, sort-package-json, lint, sort-package

docs: fix OpenCode description - not a Claude Code fork
  apps/ccusage/README.md
  apps/opencode/README.md
Due: format, lint

chore: release v18.0.5
  apps/amp/package.json
  apps/ccusage/package.json
  apps/codex/package.json
  apps/mcp/package.json
  apps/opencode/package.json
  apps/pi/package.json
  docs/package.json
  package.json
  packages/internal/package.json
  packages/terminal/package.json
Due: format, sort-package-json, lint, sort-package

chore: update gunshi and byethrow dependencies
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint

refactor: adapt to byethrow 0.9.0 Result.try API changes
  apps/amp/src/data-loader.ts
  apps/ccusage/scripts/generate-json-schema.ts
  apps/ccusage/src/_utils.ts
  apps/codex/src/data-loader.ts
  packages/internal/src/pricing.ts
Due: format, typecheck, test, lint

ci: use nix-quick-install-action
  .github/actions/setup-nix/action.yaml
Due: format, lint

chore: remove flake-parts dependency
  flake.lock
  flake.nix
Due: lint

chore: remove flake-parts dependency (#793)
  flake.lock
  flake.nix
Due: lint

chore: add repository directory field to app packages
  apps/amp/package.json
  apps/ccusage/package.json
  apps/codex/package.json
  apps/mcp/package.json
  apps/opencode/package.json
  apps/pi/package.json
Due: format, sort-package-json, lint

chore: add repository directory field to app packages (#794)
  apps/amp/package.json
  apps/ccusage/package.json
  apps/codex/package.json
  apps/mcp/package.json
  apps/opencode/package.json
  apps/pi/package.json
Due: format, sort-package-json, lint

feat(droid): add Factory Droid usage tracker
  apps/droid/eslint.config.js
  apps/droid/package.json
  apps/droid/src/_consts.ts
  apps/droid/src/_macro.ts
  apps/droid/src/_shared-args.ts
  apps/droid/src/_types.ts
  apps/droid/src/commands/daily.ts
  apps/droid/src/commands/index.ts
  apps/droid/src/commands/monthly.ts
  apps/droid/src/commands/session.ts
  apps/droid/src/daily-report.ts
  apps/droid/src/data-loader.ts
  apps/droid/src/date-utils.ts
  apps/droid/src/factory-settings.ts
  apps/droid/src/index.ts
  apps/droid/src/logger.ts
  apps/droid/src/monthly-report.ts
  apps/droid/src/pricing.ts
  apps/droid/src/run.ts
  apps/droid/src/session-report.ts
  apps/droid/src/token-utils.ts
  apps/droid/tsconfig.json
  apps/droid/tsdown.config.ts
  apps/droid/vitest.config.ts
  pnpm-lock.yaml
Due: format, sort-package-json, typecheck, test, lint

docs(droid): add README
  apps/droid/README.md
Due: format, lint

fix(droid): align engines and logger
  apps/droid/package.json
  apps/droid/src/_macro.ts
Due: format, sort-package-json, typecheck, test, lint

fix(terminal): measure multiline cells by max line
  packages/terminal/src/table.ts
Due: format, typecheck, test, lint

docs(droid): add docstrings
  apps/droid/src/_consts.ts
  apps/droid/src/_macro.ts
  apps/droid/src/_shared-args.ts
  apps/droid/src/_types.ts
  apps/droid/src/commands/daily.ts
  apps/droid/src/commands/monthly.ts
  apps/droid/src/commands/session.ts
  apps/droid/src/daily-report.ts
  apps/droid/src/data-loader.ts
  apps/droid/src/date-utils.ts
  apps/droid/src/factory-settings.ts
  apps/droid/src/index.ts
  apps/droid/src/logger.ts
  apps/droid/src/monthly-report.ts
  apps/droid/src/pricing.ts
  apps/droid/src/run.ts
  apps/droid/src/session-report.ts
  apps/droid/src/token-utils.ts
Due: format, typecheck, test, lint

docs(droid): improve docstring coverage
  apps/droid/src/commands/daily.ts
  apps/droid/src/commands/monthly.ts
  apps/droid/src/commands/session.ts
  apps/droid/src/daily-report.ts
  apps/droid/src/data-loader.ts
  apps/droid/src/factory-settings.ts
  apps/droid/src/monthly-report.ts
  apps/droid/src/pricing.ts
  apps/droid/src/run.ts
  apps/droid/src/session-report.ts
  apps/droid/src/token-utils.ts
Due: format, typecheck, test, lint

chore: sync pnpm lockfile
  pnpm-lock.yaml
Due: lint

chore: use mkShellNoCC for lighter dev shell
  flake.nix
Due: lint

chore: use mkShellNoCC for lighter dev shell (#796)
  flake.nix
Due: lint

feat(ccusage): add Tufte-style visual mode for daily reports
  apps/ccusage/config-schema.json
  apps/ccusage/src/_pricing-fetcher.ts
  apps/ccusage/src/_shared-args.ts
  apps/ccusage/src/commands/daily.ts
  apps/ccusage/src/commands/day.ts
  apps/ccusage/src/commands/index.ts
  apps/ccusage/src/data-loader.ts
  package.json
  packages/terminal/package.json
  packages/terminal/src/charts.ts
  packages/terminal/src/colors.ts
  packages/terminal/src/sparkline.ts
Due: format, sort-package-json, typecheck, test, lint, sort-package

feat(terminal): add single-hue coloring to day heatmap
  packages/terminal/src/charts.ts
Due: format, typecheck, test, lint

refactor(terminal): use single-hue shading for day heatmap costs
  packages/terminal/src/charts.ts
Due: format, typecheck, test, lint
