Repository ryoppippi/ccusage: changes, and which lefthook commands are due for each by the changed paths.
All: format, sort-package-json, typecheck, test, lint, sort-package

format:
  run: pnpm eslint --cache --fix {files}
  stage_fixed: true

sort-package-json:
  run: pnpm exec sort-package-json {files}
  stage_fixed: true

typecheck:
  run: pnpm tsgo {files}

test:
  run: pnpm vitest --passWithNoTests --run --bail --changedSince=origin/main {files}

lint:
  run: bun run lint --fix {staged_files}
  stage_fixed: true

sort-package:
  run: bunx sort-package-json {staged_files}
  stage_fixed: true

chore: update runtime versions (node ^24.11.0, bun ^1.3.2)
  apps/ccusage/package.json
  apps/codex/package.json
  apps/mcp/package.json
  docs/package.json
  package.json
  pnpm-lock.yaml
Due: format, sort-package-json, lint, sort-package

chore(deps): update @types/bun to ^1.3.2 and add @types/node ^24.10.1
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint

fix(internal): add explicit type exports for all modules
  packages/internal/package.json
Due: format, sort-package-json, lint

ci: migrate GitHub Actions to ubuntu-slim runner
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Due: format, lint

ci: use ubuntu-24.04-arm for test job
  .github/workflows/ci.yaml
Due: format, lint

chore: fix build config to keep usin .js ext
  apps/ccusage/tsdown.config.ts
  apps/codex/package.json
  apps/codex/tsdown.config.ts
  apps/mcp/tsdown.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, sort-package-json, typecheck, test, lint

chore: fix build config to keep usin .js ext (#734)
  apps/ccusage/tsdown.config.ts
  apps/codex/package.json
  apps/codex/tsdown.config.ts
  apps/mcp/tsdown.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, sort-package-json, typecheck, test, lint

ci: use arm for lint coz too slow
  .github/workflows/ci.yaml
Due: format, lint

ci: arm for build
  .github/workflows/ci.yaml
Due: format, lint

ci: migrate GitHub Actions to ubuntu-slim and ubuntu-24.04-arm runners (#733)
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Due: format, lint

chore: remove lsmcp MCP server configuration
  .mcp.json
Due: lint

chore(deps): remove @mizchi/lsmcp dependency
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint, sort-package

docs: remove lsmcp documentation from CLAUDE.md
  CLAUDE.md
Due: lint

chore: remove lsmcp directory and command files
  .claude/commands/analyze-code.md
  .claude/commands/lsmcp-onboarding.md
  .claude/commands/refactor.md
  .lsmcp/config.json
  .lsmcp/memories/symbol_index_info.md
  .lsmcp/memories/symbol_index_status.md
Due: format, lint

chore: remove lsmcp from eslint and gitignore configs
  .gitignore
  eslint.config.js
Due: typecheck, lint

chore: remove lsmcp integration (#728)
  .claude/commands/analyze-code.md
  .claude/commands/lsmcp-onboarding.md
  .claude/commands/refactor.md
  .gitignore
  .lsmcp/config.json
  .lsmcp/memories/symbol_index_info.md
  .lsmcp/memories/symbol_index_status.md
  .mcp.json
  CLAUDE.md
  eslint.config.js
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, typecheck, lint, sort-package

feat(ccusage): add subagent/Task tool usage tracking
  apps/ccusage/config-schema.json
  apps/ccusage/src/_daily-grouping.ts
  apps/ccusage/src/_json-output-types.ts
  apps/ccusage/src/_live-rendering.ts
  apps/ccusage/src/_session-blocks.ts
  apps/ccusage/src/_shared-args.ts
  apps/ccusage/src/commands/_session_id.ts
  apps/ccusage/src/commands/blocks.ts
  apps/ccusage/src/commands/daily.ts
  apps/ccusage/src/commands/monthly.ts
  apps/ccusage/src/commands/session.ts
  apps/ccusage/src/commands/statusline.ts
  apps/ccusage/src/commands/weekly.ts
  apps/ccusage/src/data-loader.ts
  packages/terminal/src/table.ts
Due: format, typecheck, test, lint

test(ccusage): replace mocked tests with practical API integration tests
  apps/ccusage/src/_claude-status-api.ts
  apps/ccusage/src/commands/status.ts
Due: format, typecheck, test, lint

chore(ccusage): update config schema
  apps/ccusage/config-schema.json
Due: format, lint

:+1: improve status command output with dynamic URL
  apps/ccusage/src/commands/status.ts
Due: format, typecheck, test, lint

feat(ccusage): extract color logic and add --color/--no-color support
  apps/ccusage/src/_claude-status-api.ts
  apps/ccusage/src/commands/status.ts
Due: format, typecheck, test, lint

refactor(ccusage): optimize getStatusColor tests with branch coverage
  apps/ccusage/src/_claude-status-api.ts
Due: format, typecheck, test, lint

feat(ccusage): add Claude service status command
  apps/ccusage/config-schema.json
  apps/ccusage/src/_claude-status-api.ts
  apps/ccusage/src/commands/index.ts
  apps/ccusage/src/commands/status.ts
Due: format, typecheck, test, lint

refactor(ccusage): remove unnecessary vitest imports in status API
  apps/ccusage/src/_claude-status-api.ts
Due: format, typecheck, test, lint

fix(ccusage): use process.exit(1) instead of throw in status command
  apps/ccusage/src/commands/status.ts
Due: format, typecheck, test, lint

refactor(ccusage): remove manual color handling, rely on picocolors auto-detection
  apps/ccusage/src/_claude-status-api.ts
  apps/ccusage/src/commands/status.ts
Due: format, typecheck, test, lint

test(ccusage): remove conditional assertions in Claude status API tests
  apps/ccusage/src/_claude-status-api.ts
Due: format, typecheck, test, lint

test(ccusage): remove conditional branches from status API tests
  apps/ccusage/src/_claude-status-api.ts
Due: format, typecheck, test, lint

refactor(ccusage): improve error handling with @praha/byethrow Result type
  apps/ccusage/src/_claude-status-api.ts
  apps/ccusage/src/commands/status.ts
Due: format, typecheck, test, lint

docs(ccusage): add Claude status command documentation
  apps/ccusage/README.md
  docs/.vitepress/config.ts
  docs/guide/index.md
  docs/guide/status.md
Due: format, typecheck, test, lint

feat: add weekday display, fill-gaps, and breakdown options for daily reports
  apps/ccusage/src/_date-utils.ts
  apps/ccusage/src/commands/daily.ts
  apps/ccusage/src/data-loader.ts
  packages/terminal/src/table.ts
Due: format, typecheck, test, lint

chore: update pnpm
  package.json
Due: lint, sort-package

fix(ccusage): support Opus 4.5 pricing from Bedrock-prefixed models
  apps/ccusage/src/_macro.ts
Due: format, typecheck, test, lint

chore: remove unnecessary tests
  apps/ccusage/src/_macro.ts
Due: format, typecheck, test, lint

fix(ccusage): support Opus 4.5 pricing from Bedrock-prefixed models (#743)
  apps/ccusage/src/_macro.ts
Due: format, typecheck, test, lint

chore: release v17.1.7
  apps/ccusage/package.json
  apps/codex/package.json
  apps/mcp/package.json
  docs/package.json
  package.json
  packages/internal/package.json
  packages/terminal/package.json
Due: format, sort-package-json, lint, sort-package

chore(deps): update @modelcontextprotocol/sdk to v1.24.3 and zod to v4.1.13
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint

chore(mcp): reformat package.json with spaces and add README.md to files
  apps/mcp/package.json
Due: format, sort-package-json, lint

test(mcp): update error handling tests for MCP SDK v1.24.3
  apps/mcp/src/mcp.ts
Due: format, typecheck, test, lint

fix(mcp): update z.record() calls for Zod v4 API
  apps/mcp/src/codex.ts
Due: format, typecheck, test, lint

Path conditions:
  format: any of: **/*.{cjs,cts,ctsx,js,jsx,mjs,mts,mtsx,ts,tsx,json,yml,yaml,md,mdx}
  sort-package-json: any of: **/package.json
  typecheck: (any of: **/*.{ts,tsx,cts,ctsx,mts,mtsx}) or (any of: *.{ts,js})
  test: any of: **/*.{ts,tsx,cts,ctsx,mts,mtsx}
  lint: any of: *
  sort-package: any of: package.json
