Repository ryoppippi/ccusage: changes, and which lefthook commands are due for each by the changed paths.
All: format, sort-package-json, typecheck, test, lint, sort-package

format:
  run: pnpm eslint --cache --fix {files}
  stage_fixed: true

sort-package-json:
  run: pnpm exec sort-package-json {files}
  stage_fixed: true

typecheck:
  run: pnpm tsgo {files}

test:
  run: pnpm vitest --passWithNoTests --run --bail --changedSince=origin/main {files}

lint:
  run: bun run lint --fix {staged_files}
  stage_fixed: true

sort-package:
  run: bunx sort-package-json {staged_files}
  stage_fixed: true

feat(ccusage): add combined cross-origin report
  apps/ccusage/scripts/generate-json-schema.ts
  apps/ccusage/src/_combined-usage.ts
  apps/ccusage/src/commands/combined.ts
  apps/ccusage/src/commands/index.ts
  apps/codex/src/_types.ts
  apps/codex/src/data-loader.ts
  apps/codex/src/session-report.ts
Due: format, typecheck, test, lint

revert(opencode): remove model name normalization from SQLite PR
  apps/opencode/src/cost-utils.ts
Due: format, typecheck, test, lint

test(opencode): add mock-adapter tests for SQLite loading logic
  apps/opencode/src/data-loader.ts
Due: format, typecheck, test, lint

perf(ccusage): cache combined cross-origin reports
  apps/ccusage/src/_combined-usage.ts
  apps/ccusage/src/data-loader.ts
  apps/codex/src/data-loader.ts
  apps/kimi/src/data-loader.ts
  packages/internal/src/pricing.ts
Due: format, typecheck, test, lint

feat(ccusage): show per-origin costs in combined report
  apps/ccusage/src/commands/combined.ts
Due: format, typecheck, test, lint

docs(opencode): update CLAUDE.md and README for SQLite data source
  apps/opencode/CLAUDE.md
  apps/opencode/README.md
Due: format, lint

fix(codex): apply fast cost multiplier
  apps/ccusage/src/_combined-usage.ts
  apps/codex/src/daily-report.ts
  apps/codex/src/monthly-report.ts
  apps/codex/src/session-report.ts
  apps/codex/src/token-utils.ts
Due: format, typecheck, test, lint

refactor(opencode): extract types/constants, fix tsdown, harden error handling
  apps/opencode/src/_consts.ts
  apps/opencode/src/_types.ts
  apps/opencode/src/cost-utils.ts
  apps/opencode/src/data-loader.ts
  apps/opencode/tsdown.config.ts
Due: format, typecheck, test, lint

fix(opencode): only add to dedupe set after validation passes
  apps/opencode/src/data-loader.ts
Due: format, typecheck, test, lint

refactor(opencode): align Result.try error form and move branded types to _types.ts
  apps/opencode/src/_types.ts
  apps/opencode/src/data-loader.ts
Due: format, typecheck, test, lint

test(opencode): migrate SQLite tests to fs-fixture with automatic cleanup
  apps/opencode/src/data-loader.ts
Due: format, typecheck, test, lint

fix(opencode): address PR #943 review findings for SQLite data loader
  apps/opencode/src/_consts.ts
  apps/opencode/src/_types.ts
  apps/opencode/src/data-loader.ts
  apps/opencode/tsdown.config.ts
Due: format, typecheck, test, lint

refactor(opencode): add JSDoc to types and extract UNKNOWN_MODEL constant
  apps/opencode/src/_types.ts
  apps/opencode/src/data-loader.ts
  pnpm-workspace.yaml
Due: format, typecheck, test, lint

refactor(opencode): hoist realpathSync call to eliminate duplication
  apps/opencode/src/_types.ts
  apps/opencode/src/data-loader.ts
Due: format, typecheck, test, lint

fix(ccusage): compare timestamps when deduping streaming chunks
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

feat(ccusage): show per-origin metrics in combined report
  apps/ccusage/src/commands/combined.ts
Due: format, typecheck, test, lint

fix(ccusage): allow config discovery when no default Claude dirs exist
  apps/ccusage/src/_config-loader-tokens.ts
Due: format, typecheck, test, lint

feat(ccusage): add --custom-dirs flag for additional Claude data directories
  apps/ccusage/README.md
  apps/ccusage/config-schema.json
  apps/ccusage/src/_shared-args.ts
  apps/ccusage/src/commands/_session_id.ts
  apps/ccusage/src/commands/blocks.ts
  apps/ccusage/src/commands/session.ts
  apps/ccusage/src/commands/statusline.ts
  apps/ccusage/src/data-loader.ts
  ccusage.example.json
  docs/guide/cli-options.md
  docs/guide/config-files.md
  docs/guide/custom-paths.md
Due: format, typecheck, test, lint

chore(nix): update flake
  flake.lock
Due: lint

refactor(terminal): replace global state with parameter for human-readable formatting
  apps/ccusage/src/commands/_session_id.ts
  apps/ccusage/src/commands/blocks.ts
  apps/ccusage/src/commands/daily.ts
  apps/ccusage/src/commands/monthly.ts
  apps/ccusage/src/commands/session.ts
  apps/ccusage/src/commands/weekly.ts
  packages/terminal/src/table.ts
Due: format, typecheck, test, lint

chore: release v18.0.11
  apps/amp/package.json
  apps/ccusage/package.json
  apps/codex/package.json
  apps/mcp/package.json
  apps/opencode/package.json
  apps/pi/package.json
  docs/package.json
  package.json
  packages/internal/package.json
  packages/terminal/package.json
Due: format, sort-package-json, lint, sort-package

chore: use vitest --changed
  package.json
Due: lint, sort-package

chore: migrate to oxfmt.config.ts
  .oxfmtrc.jsonc
  oxfmt.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: typecheck, lint

chore: pnpm-format update
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint

fix(opencode): improve data loader robustness and documentation
  apps/opencode/src/_types.ts
  apps/opencode/src/data-loader.ts
Due: format, typecheck, test, lint

fix(opencode): address CodeRabbit findings and improve SQLite data loader robustness
  apps/opencode/src/data-loader.ts
  apps/opencode/tsdown.config.ts
Due: format, typecheck, test, lint

perf(ccusage): cache combined codex rows by file
  apps/ccusage/src/_combined-usage.ts
  apps/codex/src/data-loader.ts
Due: format, typecheck, test, lint

Add codex-session MCP tool
  apps/mcp/README.md
  apps/mcp/src/codex.ts
  apps/mcp/src/mcp.ts
Due: format, typecheck, test, lint

Fix MCP stdio startup in Codex-only setups
  apps/mcp/src/command.ts
Due: format, typecheck, test, lint

test(mcp): fix codex session MCP assertions
  apps/mcp/src/cli-utils.test.ts
  apps/mcp/src/cli-utils.ts
  apps/mcp/src/mcp.ts
Due: format, typecheck, test, lint

fix(mcp): address review feedback
  apps/mcp/README.md
  apps/mcp/package.json
  apps/mcp/src/cli-utils.test.ts
  apps/mcp/src/cli-utils.ts
  apps/mcp/src/codex.ts
  apps/mcp/src/command.ts
  apps/mcp/src/mcp-utils.ts
  apps/mcp/src/mcp.ts
  pnpm-lock.yaml
Due: format, sort-package-json, typecheck, test, lint

Allow MCP startup without Claude data for Codex tools
  apps/mcp/README.md
  apps/mcp/src/command.ts
  apps/mcp/src/mcp-utils.ts
  apps/mcp/src/mcp.ts
Due: format, typecheck, test, lint

Harden MCP Bun CLI resolution
  apps/mcp/src/cli-utils.test.ts
  apps/mcp/src/cli-utils.ts
Due: format, typecheck, test, lint

fix(codex): stream large session jsonl files
  apps/codex/src/data-loader.ts
Due: format, typecheck, test, lint

feat(codebuff): add @ccusage/codebuff companion package
  apps/codebuff/CLAUDE.md
  apps/codebuff/eslint.config.js
  apps/codebuff/package.json
  apps/codebuff/src/_consts.ts
  apps/codebuff/src/_macro.ts
  apps/codebuff/src/_types.ts
  apps/codebuff/src/commands/daily.ts
  apps/codebuff/src/commands/index.ts
  apps/codebuff/src/commands/monthly.ts
  apps/codebuff/src/commands/session.ts
  apps/codebuff/src/data-loader.ts
  apps/codebuff/src/index.ts
  apps/codebuff/src/logger.ts
  apps/codebuff/src/pricing.ts
  apps/codebuff/src/run.ts
  apps/codebuff/tsconfig.json
  apps/codebuff/tsdown.config.ts
  apps/codebuff/vitest.config.ts
  pnpm-lock.yaml
Due: format, sort-package-json, typecheck, test, lint

fix(codebuff): address CodeRabbit review feedback
  apps/codebuff/CLAUDE.md
  apps/codebuff/src/_macro.ts
  apps/codebuff/src/commands/daily.ts
  apps/codebuff/src/commands/monthly.ts
  apps/codebuff/src/commands/session.ts
  apps/codebuff/src/data-loader.ts
  apps/codebuff/src/pricing.ts
Due: format, typecheck, test, lint

fix(codebuff): surface invalid CODEBUFF_DATA_DIR instead of silently falling back
  apps/codebuff/src/data-loader.ts
Due: format, typecheck, test, lint

fix(codebuff): address follow-up CodeRabbit comments on mergeUsageFallback and friends
  apps/codebuff/src/data-loader.ts
Due: format, typecheck, test, lint

Path conditions:
  format: any of: **/*.{cjs,cts,ctsx,js,jsx,mjs,mts,mtsx,ts,tsx,json,yml,yaml,md,mdx}
  sort-package-json: any of: **/package.json
  typecheck: (any of: **/*.{ts,tsx,cts,ctsx,mts,mtsx}) or (any of: *.{ts,js})
  test: any of: **/*.{ts,tsx,cts,ctsx,mts,mtsx}
  lint: any of: *
  sort-package: any of: package.json
