Repository ryoppippi/ccusage: changes, and which lefthook commands are due for each by the changed paths.
All: format, sort-package-json, typecheck, test, lint, sort-package

.lefthook.yml:

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    format:
      glob: '**/*.{cjs,cts,ctsx,js,jsx,mjs,mts,mtsx,ts,tsx,json,yml,yaml,md,mdx}'
      run: pnpm eslint --cache --fix {files}
      stage_fixed: true
    sort-package-json:
      glob: '**/package.json'
      run: pnpm exec sort-package-json {files}
      stage_fixed: true
    typecheck:
      glob: '**/*.{ts,tsx,cts,ctsx,mts,mtsx}'
      run: pnpm tsgo {files}
    test:
      glob: '**/*.{ts,tsx,cts,ctsx,mts,mtsx}'
      run: pnpm vitest --passWithNoTests --run --bail --changedSince=origin/main {files}

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: '*'
      run: bun run lint --fix {staged_files}
      stage_fixed: true
    typecheck:
      glob: '*.{ts,js}'
      run: bun typecheck
    schema:
      run: bun run generate:schema
    test:
      run: bun vitest --passWithNoTests
    sort-package:
      glob: package.json
      run: bunx sort-package-json {staged_files}
      stage_fixed: true

docs(ai): document safe PR body updates
  .agents/skills/pr-ai-review-workflow/SKILL.md
Due: format, lint

docs(ai): shorten repo skill descriptions (#1027)
  .agents/skills/bun-api-reference/SKILL.md
  .agents/skills/bun-cpu-profile/SKILL.md
  .agents/skills/byethrow/SKILL.md
  .agents/skills/ccusage-agent-sources/SKILL.md
  .agents/skills/ccusage-development/SKILL.md
  .agents/skills/ccusage-docs/SKILL.md
  .agents/skills/ccusage-testing/SKILL.md
  .agents/skills/cmux-debug/SKILL.md
  .agents/skills/commit/SKILL.md
  .agents/skills/fix-ci/SKILL.md
  .agents/skills/fs-fixture/SKILL.md
  .agents/skills/pr-ai-review-workflow/SKILL.md
  .agents/skills/reduce-similarities/SKILL.md
  .agents/skills/skill-creator/SKILL.md
  .agents/skills/tdd/SKILL.md
  .agents/skills/typescript-style/SKILL.md
  .agents/skills/use-gunshi-cli/SKILL.md
  CLAUDE.md
Due: format, lint

chore: release v19.0.3
  apps/ccusage/package.json
  docs/package.json
  package.json
  packages/internal/package.json
  packages/terminal/package.json
Due: format, sort-package-json, lint, sort-package

fix(droid): address usage adapter review feedback
  apps/ccusage/scripts/generate-json-schema.ts
  apps/ccusage/src/adapter/droid/parser.ts
  apps/ccusage/src/commands/agent.ts
  apps/ccusage/src/commands/all.ts
  apps/ccusage/test/snapshots/cli-output/all-agent-daily-table.txt
  packages/terminal/src/table.ts
Due: format, typecheck, test, lint

feat(codebuff): add Codebuff usage adapter
  apps/ccusage/README.md
  apps/ccusage/config-schema.json
  apps/ccusage/scripts/generate-json-schema.ts
  apps/ccusage/src/adapter/codebuff/index.ts
  apps/ccusage/src/adapter/codebuff/parser.ts
  apps/ccusage/src/adapter/codebuff/paths.ts
  apps/ccusage/src/adapter/codebuff/pricing-macro.ts
  apps/ccusage/src/adapter/codebuff/pricing.ts
  apps/ccusage/src/adapter/index.ts
  apps/ccusage/src/adapter/types.ts
  apps/ccusage/src/commands/index.ts
  apps/ccusage/src/config-loader-tokens.ts
  apps/ccusage/test/cli-output.test.ts
  apps/ccusage/test/snapshots/cli-output/all-agent-daily-json.txt
  apps/ccusage/test/snapshots/cli-output/all-agent-daily-table.txt
  apps/ccusage/test/snapshots/cli-output/codebuff-direct-daily-json.txt
  docs/.vitepress/config.ts
  docs/guide/all-reports.md
  docs/guide/claude/index.md
  docs/guide/codebuff/index.md
  docs/guide/config-files.md
  docs/guide/configuration.md
  docs/guide/environment-variables.md
  docs/guide/getting-started.md
  docs/guide/index.md
  docs/index.md
Due: format, typecheck, test, lint

fix(codebuff): address usage adapter review feedback
  apps/ccusage/src/adapter/codebuff/parser.ts
  apps/ccusage/src/commands/agent.ts
  apps/ccusage/src/commands/all.ts
  apps/ccusage/test/snapshots/cli-output/all-agent-daily-table.txt
  docs/guide/codebuff/index.md
  packages/terminal/src/table.ts
Due: format, typecheck, test, lint

fix(hermes): share sqlite availability detection
  apps/ccusage/src/adapter/hermes/index.ts
  apps/ccusage/src/adapter/opencode/paths.ts
  apps/ccusage/src/adapter/sqlite.ts
Due: format, typecheck, test, lint

feat(qwen): add Qwen usage adapter
  apps/ccusage/README.md
  apps/ccusage/config-schema.json
  apps/ccusage/src/adapter/index.ts
  apps/ccusage/src/adapter/qwen/index.ts
  apps/ccusage/src/adapter/qwen/parser.ts
  apps/ccusage/src/adapter/qwen/paths.ts
  apps/ccusage/src/adapter/qwen/pricing.ts
  apps/ccusage/src/adapter/qwen/types.ts
  apps/ccusage/src/adapter/types.ts
  apps/ccusage/src/commands/agent.ts
  apps/ccusage/src/commands/all.ts
  apps/ccusage/src/commands/index.ts
  apps/ccusage/src/config-loader-tokens.ts
  apps/ccusage/test/cli-output.test.ts
  apps/ccusage/test/snapshots/cli-output/all-agent-daily-json.txt
  apps/ccusage/test/snapshots/cli-output/all-agent-daily-table.txt
  apps/ccusage/test/snapshots/cli-output/qwen-direct-daily-json.txt
  docs/.vitepress/config.ts
  docs/guide/all-reports.md
  docs/guide/claude/index.md
  docs/guide/codex/index.md
  docs/guide/config-files.md
  docs/guide/configuration.md
  docs/guide/daily-reports.md
  docs/guide/environment-variables.md
  docs/guide/getting-started.md
  docs/guide/index.md
  docs/guide/monthly-reports.md
  docs/guide/qwen/index.md
  docs/guide/session-reports.md
  packages/terminal/src/table.ts
Due: format, typecheck, test, lint

docs(copilot): include Copilot in env debug example
  docs/guide/environment-variables.md
Due: format, lint

fix(qwen): align config schema and chat discovery
  apps/ccusage/config-schema.json
  apps/ccusage/scripts/generate-json-schema.ts
  apps/ccusage/src/adapter/qwen/paths.ts
Due: format, typecheck, test, lint

feat(kimi): add Kimi usage adapter
  apps/ccusage/README.md
  apps/ccusage/config-schema.json
  apps/ccusage/scripts/generate-json-schema.ts
  apps/ccusage/src/adapter/index.ts
  apps/ccusage/src/adapter/kimi/index.ts
  apps/ccusage/src/adapter/kimi/parser.ts
  apps/ccusage/src/adapter/kimi/paths.ts
  apps/ccusage/src/adapter/kimi/pricing.ts
  apps/ccusage/src/adapter/kimi/schema.ts
  apps/ccusage/src/adapter/types.ts
  apps/ccusage/src/commands/agent.ts
  apps/ccusage/src/commands/all.ts
  apps/ccusage/src/commands/index.ts
  apps/ccusage/src/config-loader-tokens.ts
  apps/ccusage/test/cli-output.test.ts
  apps/ccusage/test/snapshots/cli-output/all-agent-daily-json.txt
  apps/ccusage/test/snapshots/cli-output/all-agent-daily-table.txt
  apps/ccusage/test/snapshots/cli-output/kimi-direct-daily-json.txt
  docs/.vitepress/config.ts
  docs/guide/all-reports.md
  docs/guide/config-files.md
  docs/guide/configuration.md
  docs/guide/environment-variables.md
  docs/guide/getting-started.md
  docs/guide/index.md
  docs/guide/kimi/index.md
  packages/terminal/src/table.ts
Due: format, typecheck, test, lint

test(qwen): cover existing schema namespaces
  apps/ccusage/scripts/generate-json-schema.ts
Due: format, typecheck, test, lint

test(kimi): tighten schema namespace coverage
  apps/ccusage/scripts/generate-json-schema.ts
  apps/ccusage/src/config-loader-tokens.ts
Due: format, typecheck, test, lint

feat(kilo): add Kilo usage adapter
  apps/ccusage/README.md
  apps/ccusage/config-schema.json
  apps/ccusage/scripts/generate-json-schema.ts
  apps/ccusage/src/adapter/index.ts
  apps/ccusage/src/adapter/kilo/index.ts
  apps/ccusage/src/adapter/kilo/loader.ts
  apps/ccusage/src/adapter/kilo/paths.ts
  apps/ccusage/src/adapter/kilo/pricing.ts
  apps/ccusage/src/adapter/kilo/schema.ts
  apps/ccusage/src/adapter/types.ts
  apps/ccusage/src/commands/index.ts
  apps/ccusage/src/config-loader-tokens.ts
  apps/ccusage/test/cli-output.test.ts
  apps/ccusage/test/snapshots/cli-output/kilo-direct-daily-json.txt
  docs/.vitepress/config.ts
  docs/guide/all-reports.md
  docs/guide/claude/index.md
  docs/guide/codex/index.md
  docs/guide/config-files.md
  docs/guide/configuration.md
  docs/guide/environment-variables.md
  docs/guide/getting-started.md
  docs/guide/index.md
  docs/guide/kilo/index.md
  docs/index.md
Due: format, typecheck, test, lint

refactor(codebuff): clarify agent config labels
  apps/ccusage/scripts/generate-json-schema.ts
Due: format, typecheck, test, lint

fix(kilo): honor recorded zero costs
  apps/ccusage/scripts/generate-json-schema.ts
  apps/ccusage/src/adapter/kilo/paths.ts
  apps/ccusage/src/adapter/kilo/pricing.ts
Due: format, typecheck, test, lint

fix(kilo): scope fallback dedupe keys
  apps/ccusage/src/adapter/kilo/loader.ts
  docs/guide/kilo/index.md
Due: format, typecheck, test, lint

docs(gemini): mention Gemini in README
  apps/ccusage/README.md
Due: format, lint

docs(ai): require US English GitHub communication
  .agents/skills/pr-ai-review-workflow/SKILL.md
  CLAUDE.md
Due: format, lint

docs(openclaw): mention OpenClaw in README
  apps/ccusage/README.md
Due: format, lint

feat(goose): add Goose usage adapter
  apps/ccusage/README.md
  apps/ccusage/config-schema.json
  apps/ccusage/scripts/generate-json-schema.ts
  apps/ccusage/src/adapter/goose/index.ts
  apps/ccusage/src/adapter/goose/loader.ts
  apps/ccusage/src/adapter/goose/paths.ts
  apps/ccusage/src/adapter/goose/pricing.ts
  apps/ccusage/src/adapter/goose/schema.ts
  apps/ccusage/src/adapter/index.ts
  apps/ccusage/src/adapter/types.ts
  apps/ccusage/src/commands/index.ts
  apps/ccusage/src/config-loader-tokens.ts
  apps/ccusage/test/cli-output.test.ts
  apps/ccusage/test/snapshots/cli-output/all-agent-daily-json.txt
  apps/ccusage/test/snapshots/cli-output/all-agent-daily-table.txt
  apps/ccusage/test/snapshots/cli-output/goose-direct-daily-json.txt
  docs/.vitepress/config.ts
  docs/guide/all-reports.md
  docs/guide/claude/index.md
  docs/guide/codex/index.md
  docs/guide/config-files.md
  docs/guide/configuration.md
  docs/guide/environment-variables.md
  docs/guide/getting-started.md
  docs/guide/goose/index.md
  docs/guide/index.md
  docs/index.md
Due: format, typecheck, test, lint

docs(kilo): clarify recorded zero costs
  docs/guide/kilo/index.md
Due: format, lint

feat(codex): read saved exec JSON usage
  apps/ccusage/src/adapter/codex/parser.ts
  apps/ccusage/src/adapter/codex/paths.ts
  docs/guide/codex/index.md
  docs/guide/environment-variables.md
  docs/guide/getting-started.md
  docs/guide/index.md
Due: format, typecheck, test, lint

fix(codex): preserve exec model names
  apps/ccusage/src/adapter/codex/parser.ts
Due: format, typecheck, test, lint

refactor(config): clarify agent label selection
  apps/ccusage/scripts/generate-json-schema.ts
Due: format, typecheck, test, lint

fix(hermes): preserve explicit pricing providers
  apps/ccusage/src/adapter/hermes/parser.ts
  apps/ccusage/src/adapter/hermes/pricing.ts
Due: format, typecheck, test, lint

fix(copilot): add config schema namespace
  apps/ccusage/config-schema.json
  apps/ccusage/scripts/generate-json-schema.ts
Due: format, typecheck, test, lint

fix(openclaw): load config namespace
  apps/ccusage/config-schema.json
  apps/ccusage/scripts/generate-json-schema.ts
  apps/ccusage/src/config-loader-tokens.ts
  docs/guide/config-files.md
Due: format, typecheck, test, lint

fix(gemini): load config namespace
  apps/ccusage/src/config-loader-tokens.ts
  docs/guide/config-files.md
Due: format, typecheck, test, lint

docs(openclaw): remove external reference
  docs/guide/openclaw/index.md
Due: format, lint

fix(openclaw): clarify offline schema text
  apps/ccusage/config-schema.json
  apps/ccusage/src/commands/agent.ts
Due: format, typecheck, test, lint

feat(ccusage): add --prompts flag to claude daily/weekly/monthly reports
  apps/ccusage/README.md
  apps/ccusage/config-schema.json
  apps/ccusage/src/adapter/claude/data-loader.ts
  apps/ccusage/src/calculate-cost.ts
  apps/ccusage/src/commands/daily.ts
  apps/ccusage/src/commands/monthly.ts
  apps/ccusage/src/commands/weekly.ts
  apps/ccusage/src/daily-grouping.ts
  apps/ccusage/src/json-output-types.ts
  packages/terminal/src/table.ts
Due: format, typecheck, test, lint

fix(ccusage): address CodeRabbit findings on PR #992 (v19 re-review)
  apps/ccusage/src/daily-grouping.ts
  packages/terminal/src/table.ts
Due: format, typecheck, test, lint
