Repository ryoppippi/ccusage: changes, and which lefthook commands are due for each by the changed paths.
All: format, sort-package-json, typecheck, test, lint, sort-package

format:
  run: pnpm eslint --cache --fix {files}
  stage_fixed: true

sort-package-json:
  run: pnpm exec sort-package-json {files}
  stage_fixed: true

typecheck:
  run: pnpm tsgo {files}

test:
  run: pnpm vitest --passWithNoTests --run --bail --changedSince=origin/main {files}

lint:
  run: bun run lint --fix {staged_files}
  stage_fixed: true

sort-package:
  run: bunx sort-package-json {staged_files}
  stage_fixed: true

docs: plan agent CLI consolidation
  plan.md
Due: lint

chore: add sync-skills script
  .agents/skills/byethrow
  .agents/skills/use-gunshi-cli
  package.json
  scripts/sync-skills.ts
Due: format, typecheck, test, lint, sort-package

chore: run sync-skills in pre-commit hook
  .githooks/pre-commit
Due: lint

chore: move sync-skills trigger into lint-staged config
  .githooks/pre-commit
  package.json
Due: lint, sort-package

chore: migrate pre-commit from lint-staged to lefthook
  .githooks/pre-commit
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint, sort-package

chore: approve lefthook postinstall in allowBuilds
  pnpm-workspace.yaml
Due: lint

fix(lefthook): widen oxfmt/root-eslint globs to match nested files
  lefthook.yml
Due: lint

fix(lefthook): switch to doublestar matcher so root files match
  lefthook.yml
Due: lint

perf(internal): share agent loading and rendering primitives
  packages/internal/package.json
  packages/internal/src/array.ts
  packages/internal/src/deprecated-agent-cli.ts
  packages/internal/src/fs.ts
  packages/internal/src/jsonl.ts
  packages/internal/src/logger.ts
  packages/internal/src/pricing.ts
  packages/internal/src/sqlite.ts
  packages/internal/src/workers.ts
  packages/terminal/src/table.ts
Due: format, sort-package-json, typecheck, test, lint

feat(ccusage): add all-agent report commands
  apps/ccusage/config-schema.json
  apps/ccusage/scripts/bench.mjs
  apps/ccusage/src/commands/all.ts
  apps/ccusage/src/commands/index.ts
  apps/ccusage/test/cli-output.test.ts
  apps/ccusage/test/snapshots/cli-output/daily-json.txt
  apps/ccusage/test/snapshots/cli-output/daily-table.txt
  apps/ccusage/test/snapshots/cli-output/monthly-json.txt
  apps/ccusage/test/snapshots/cli-output/session-json.txt
  apps/ccusage/test/snapshots/cli-output/session-table.txt
  apps/ccusage/test/snapshots/cli-output/weekly-json.txt
  apps/ccusage/tsdown.config.ts
Due: format, typecheck, test, lint

perf(agents): port usage loaders to shared primitives
  apps/amp/src/_macro.ts
  apps/amp/src/commands/daily.ts
  apps/amp/src/commands/monthly.ts
  apps/amp/src/commands/session.ts
  apps/amp/src/data-loader.ts
  apps/amp/src/pricing.ts
  apps/codex/src/command-utils.ts
  apps/codex/src/daily-report.ts
  apps/codex/src/data-loader.ts
  apps/codex/src/monthly-report.ts
  apps/codex/src/pricing.ts
  apps/opencode/src/commands/daily.ts
  apps/opencode/src/commands/monthly.ts
  apps/opencode/src/commands/session.ts
  apps/opencode/src/commands/weekly.ts
  apps/opencode/src/data-loader.ts
  apps/pi/src/commands/daily.ts
  apps/pi/src/commands/monthly.ts
  apps/pi/src/commands/session.ts
  apps/pi/src/data-loader.ts
Due: format, typecheck, test, lint

feat(agents): forward legacy packages to ccusage
  apps/amp/package.json
  apps/amp/src/index.ts
  apps/codex/package.json
  apps/codex/src/index.ts
  apps/opencode/package.json
  apps/opencode/src/index.ts
  apps/pi/package.json
  apps/pi/src/index.ts
  pnpm-lock.yaml
Due: format, sort-package-json, typecheck, test, lint

docs: document consolidated agent usage
  apps/ccusage/README.md
  apps/codex/README.md
  apps/opencode/README.md
  apps/pi/README.md
  docs/guide/codex/index.md
  docs/guide/getting-started.md
  docs/guide/index.md
  plan.md
Due: format, lint

fix(agents): align pi wrapper binary name
  apps/pi/package.json
  apps/pi/src/index.ts
Due: format, sort-package-json, typecheck, test, lint

fix(codex): stabilize timezone schema generation
  apps/ccusage/config-schema.json
  apps/codex/src/_shared-args.ts
  plan.md
Due: format, typecheck, test, lint

fix(ccusage): address agent consolidation review
  apps/ccusage/config-schema.json
  apps/ccusage/src/commands/all.ts
  apps/ccusage/test/cli-output.test.ts
  apps/codex/README.md
  apps/opencode/README.md
  apps/pi/README.md
  apps/pi/src/data-loader.ts
  docs/guide/getting-started.md
  packages/internal/src/deprecated-agent-cli.ts
  packages/internal/src/fs.ts
  packages/internal/src/pricing.ts
  packages/internal/src/workers.ts
Due: format, typecheck, test, lint

fix(internal): address cubic review findings
  apps/amp/src/commands/daily.ts
  apps/amp/src/commands/session.ts
  apps/ccusage/config-schema.json
  apps/ccusage/src/commands/statusline.ts
  packages/internal/src/fs.ts
  packages/internal/src/jsonl.ts
  packages/internal/src/sqlite.ts
  packages/terminal/src/table.ts
Due: format, typecheck, test, lint

docs: add cmux debug skill
  .agents/skills/cmux-debug
  .claude/skills/cmux-debug/SKILL.md
  plan.md
Due: format, lint

test(pi): use current Claude model fixtures
  apps/pi/src/_pi-agent.ts
  apps/pi/src/data-loader.ts
Due: format, typecheck, test, lint

docs: align all-agent wording
  apps/codex/README.md
  apps/pi/package.json
  docs/guide/codex/index.md
  docs/guide/custom-paths.md
  packages/internal/src/deprecated-agent-cli.ts
Due: format, sort-package-json, typecheck, test, lint

fix(ccusage): use parsed statusline thresholds
  apps/ccusage/src/commands/statusline.ts
  plan.md
Due: format, typecheck, test, lint

fix(ccusage): tighten agent table rendering
  CLAUDE.md
  apps/amp/src/commands/daily.ts
  apps/amp/src/commands/monthly.ts
  apps/amp/src/commands/session.ts
  apps/ccusage/test/cli-output.test.ts
  apps/ccusage/test/snapshots/cli-output/all-agent-daily-json.txt
  apps/ccusage/test/snapshots/cli-output/all-agent-daily-table.txt
  apps/ccusage/test/snapshots/cli-output/amp-direct-daily-json.txt
  apps/ccusage/test/snapshots/cli-output/amp-direct-medium-table.txt
  apps/ccusage/test/snapshots/cli-output/blocks-table.txt
  apps/ccusage/test/snapshots/cli-output/codex-direct-daily-json.txt
  apps/ccusage/test/snapshots/cli-output/daily-table.txt
  apps/ccusage/test/snapshots/cli-output/opencode-direct-daily-json.txt
  apps/ccusage/test/snapshots/cli-output/session-table.txt
  apps/codex/src/commands/daily.ts
  apps/codex/src/commands/monthly.ts
  apps/codex/src/commands/session.ts
  packages/terminal/src/table.ts
Due: format, typecheck, test, lint

docs: add Bun CPU profiling skill
  .agents/skills/bun-cpu-profile
  .claude/skills/bun-cpu-profile/SKILL.md
  .claude/skills/bun-cpu-profile/agents/openai.yaml
  CLAUDE.md
Due: format, lint

fix(internal): tighten logger spacing and colors
  apps/amp/src/commands/daily.ts
  apps/amp/src/commands/monthly.ts
  apps/amp/src/commands/session.ts
  apps/ccusage/src/commands/daily.ts
  apps/ccusage/src/commands/monthly.ts
  apps/ccusage/src/commands/session.ts
  apps/ccusage/src/commands/weekly.ts
  apps/ccusage/test/snapshots/cli-output/amp-direct-medium-table.txt
  apps/ccusage/test/snapshots/cli-output/blocks-table.txt
  apps/codex/src/commands/daily.ts
  apps/codex/src/commands/monthly.ts
  apps/codex/src/commands/session.ts
  apps/opencode/src/commands/daily.ts
  apps/opencode/src/commands/monthly.ts
  apps/opencode/src/commands/session.ts
  apps/opencode/src/commands/weekly.ts
  packages/internal/package.json
  packages/internal/src/ansi-colors.ts
  packages/internal/src/logger.ts
Due: format, sort-package-json, typecheck, test, lint

fix(terminal): tighten responsive table layout
  apps/amp/src/commands/daily.ts
  apps/amp/src/commands/monthly.ts
  apps/amp/src/commands/session.ts
  apps/ccusage/src/commands/all.ts
  apps/ccusage/src/commands/daily.ts
  apps/ccusage/src/commands/monthly.ts
  apps/ccusage/src/commands/session.ts
  apps/ccusage/src/commands/weekly.ts
  apps/ccusage/test/cli-output.test.ts
  apps/ccusage/test/snapshots/cli-output/all-agent-daily-table.txt
  apps/ccusage/test/snapshots/cli-output/amp-direct-compact-table.txt
  apps/ccusage/test/snapshots/cli-output/amp-direct-full-table.txt
  apps/ccusage/test/snapshots/cli-output/amp-direct-medium-table.txt
  apps/ccusage/test/snapshots/cli-output/blocks-table.txt
  apps/ccusage/test/snapshots/cli-output/daily-table.txt
  apps/ccusage/test/snapshots/cli-output/session-table.txt
  apps/codex/src/commands/daily.ts
  apps/codex/src/commands/monthly.ts
  apps/codex/src/commands/session.ts
  apps/opencode/src/commands/daily.ts
  apps/opencode/src/commands/monthly.ts
  apps/opencode/src/commands/session.ts
  apps/opencode/src/commands/weekly.ts
  apps/pi/src/commands/daily.ts
  apps/pi/src/commands/monthly.ts
  apps/pi/src/commands/session.ts
  packages/terminal/src/table.ts
Due: format, typecheck, test, lint

fix(ccusage): align all-agent codex total tokens
  apps/ccusage/src/commands/all.ts
  apps/ccusage/test/cli-output.test.ts
  apps/ccusage/test/snapshots/cli-output/all-agent-daily-json.txt
Due: format, typecheck, test, lint

refactor(internal): replace picocolors with styleText
  apps/amp/package.json
  apps/amp/src/commands/daily.ts
  apps/amp/src/commands/monthly.ts
  apps/amp/src/commands/session.ts
  apps/ccusage/package.json
  apps/ccusage/src/_shared-args.ts
  apps/ccusage/src/commands/blocks.ts
  apps/ccusage/src/commands/daily.ts
  apps/ccusage/src/commands/statusline.ts
  apps/codex/package.json
  apps/codex/src/_shared-args.ts
  apps/codex/src/commands/daily.ts
  apps/codex/src/commands/monthly.ts
  apps/codex/src/commands/session.ts
  apps/opencode/package.json
  apps/opencode/src/commands/session.ts
  apps/pi/package.json
  packages/internal/package.json
  packages/internal/src/ansi-colors.ts
  packages/internal/src/colors.ts
  packages/internal/src/logger.ts
  packages/terminal/CLAUDE.md
  packages/terminal/package.json
  packages/terminal/src/table.ts
  pnpm-lock.yaml
Due: format, sort-package-json, typecheck, test, lint

feat(ccusage): show all-agent load progress
  apps/ccusage/package.json
  apps/ccusage/src/commands/all.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, sort-package-json, typecheck, test, lint

fix(terminal): keep compact table config consistent
  packages/terminal/package.json
  packages/terminal/src/table.ts
  pnpm-lock.yaml
Due: format, sort-package-json, typecheck, test, lint

fix(ccusage): stabilize loading progress
  apps/ccusage/src/commands/all.ts
Due: format, typecheck, test, lint

fix(ccusage): preserve logger level in all reports
  apps/ccusage/src/commands/all.ts
Due: format, typecheck, test, lint

chore(ai): add tdd and commit skills
  .agents/skills/commit
  .agents/skills/tdd
  .claude/skills/commit/SKILL.md
  .claude/skills/tdd/SKILL.md
  .claude/skills/tdd/vitest-example.md
  CLAUDE.md
Due: format, lint

refactor(ccusage): move all-agent loading into adapters
  apps/ccusage/src/adapter/amp.ts
  apps/ccusage/src/adapter/claude.ts
  apps/ccusage/src/adapter/codex-pricing-macro.ts
  apps/ccusage/src/adapter/codex.ts
  apps/ccusage/src/adapter/index.ts
  apps/ccusage/src/adapter/opencode.ts
  apps/ccusage/src/adapter/pi.ts
  apps/ccusage/src/adapter/shared.ts
  apps/ccusage/src/adapter/types.ts
  apps/ccusage/src/commands/all.ts
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

docs(ai): add PR AI review workflow skill
  .agents/skills/ccusage-development/SKILL.md
  .agents/skills/commit/SKILL.md
  .agents/skills/pr-ai-review-workflow/SKILL.md
  .claude/skills/pr-ai-review-workflow
  CLAUDE.md
Due: format, lint

perf(ccusage): route codex reports through fast adapter
  apps/ccusage/config-schema.json
  apps/ccusage/src/adapter/codex.ts
  apps/ccusage/src/adapter/types.ts
  apps/ccusage/src/commands/codex.ts
  apps/ccusage/src/commands/index.ts
Due: format, typecheck, test, lint

docs(ai): clarify OpenCode SQLite sources
  .agents/skills/ccusage-agent-sources/SKILL.md
Due: format, lint

docs(ai): refine ccusage development workflow
  .agents/skills/ccusage-development/SKILL.md
  CLAUDE.md
Due: format, lint

docs(ai): fix commit staging guidance
  .agents/skills/commit/SKILL.md
Due: format, lint

docs(ai): address TDD skill review feedback
  .agents/skills/tdd/SKILL.md
  .agents/skills/tdd/vitest-example.md
Due: format, lint

Path conditions:
  format: any of: **/*.{cjs,cts,ctsx,js,jsx,mjs,mts,mtsx,ts,tsx,json,yml,yaml,md,mdx}
  sort-package-json: any of: **/package.json
  typecheck: (any of: **/*.{ts,tsx,cts,ctsx,mts,mtsx}) or (any of: *.{ts,js})
  test: any of: **/*.{ts,tsx,cts,ctsx,mts,mtsx}
  lint: any of: *
  sort-package: any of: package.json
