Repository ryoppippi/ccusage: changes, and which lefthook commands are due for each by the changed paths.
All: format, sort-package-json, typecheck, test, lint, sort-package

.lefthook.yml:

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    format:
      glob: '**/*.{cjs,cts,ctsx,js,jsx,mjs,mts,mtsx,ts,tsx,json,yml,yaml,md,mdx}'
      run: pnpm eslint --cache --fix {files}
      stage_fixed: true
    sort-package-json:
      glob: '**/package.json'
      run: pnpm exec sort-package-json {files}
      stage_fixed: true
    typecheck:
      glob: '**/*.{ts,tsx,cts,ctsx,mts,mtsx}'
      run: pnpm tsgo {files}
    test:
      glob: '**/*.{ts,tsx,cts,ctsx,mts,mtsx}'
      run: pnpm vitest --passWithNoTests --run --bail --changedSince=origin/main {files}

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: '*'
      run: bun run lint --fix {staged_files}
      stage_fixed: true
    typecheck:
      glob: '*.{ts,js}'
      run: bun typecheck
    schema:
      run: bun run generate:schema
    test:
      run: bun vitest --passWithNoTests
    sort-package:
      glob: package.json
      run: bunx sort-package-json {staged_files}
      stage_fixed: true

fix(ccusage): enforce node runtime range
  apps/ccusage/README.md
  apps/ccusage/package.json
  apps/ccusage/src/cli.ts
  docs/guide/getting-started.md
  docs/guide/installation.md
  docs/package.json
Due: format, sort-package-json, typecheck, test, lint

fix(ccusage): inline node runtime range
  apps/ccusage/src/cli.ts
  apps/ccusage/tsdown.config.ts
Due: format, typecheck, test, lint

refactor(ccusage): macro inline node runtime metadata
  apps/ccusage/src/cli.ts
  apps/ccusage/src/node-version.ts
  apps/ccusage/src/runtime-macro.ts
  apps/ccusage/tsdown.config.ts
  apps/ccusage/vitest.config.ts
Due: format, typecheck, test, lint

fix(ccusage): reject malformed node versions
  apps/ccusage/src/node-version.ts
Due: format, typecheck, test, lint

refactor(ccusage): use arkregex for node version parsing
  apps/ccusage/package.json
  apps/ccusage/src/node-version.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, sort-package-json, typecheck, test, lint

fix(ccusage): enforce Node runtime range (#1037)
  apps/ccusage/README.md
  apps/ccusage/package.json
  apps/ccusage/src/cli.ts
  apps/ccusage/src/node-version.ts
  apps/ccusage/src/runtime-macro.ts
  apps/ccusage/tsdown.config.ts
  apps/ccusage/vitest.config.ts
  docs/guide/getting-started.md
  docs/guide/installation.md
  docs/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, sort-package-json, typecheck, test, lint

docs(skills): consolidate typescript library guidance
  .agents/skills/typescript-style/SKILL.md
  .agents/skills/typescript-style/references/arkregex.md
  .agents/skills/typescript-style/references/byethrow.md
  .agents/skills/typescript-style/references/gunshi.md
  CLAUDE.md
  apps/ccusage/CLAUDE.md
Due: format, lint

docs(skills): document file routing metadata
  .agents/skills/skill-creator/SKILL.md
Due: format, lint

refactor: use arkregex for implementation regexes
  apps/ccusage/src/adapter/claude/data-loader.ts
  apps/ccusage/src/adapter/codex/parser.ts
  apps/ccusage/src/adapter/codex/pricing.ts
  apps/ccusage/src/adapter/opencode/paths.ts
  apps/ccusage/src/adapter/opencode/pricing.ts
  apps/ccusage/src/adapter/pi/schema.ts
  apps/ccusage/src/adapter/shared.ts
  apps/ccusage/src/commands/statusline.ts
  apps/ccusage/src/date-utils.ts
  apps/ccusage/src/project-names.ts
  apps/ccusage/src/runtime-macro.ts
  apps/ccusage/src/types.ts
  packages/terminal/package.json
  packages/terminal/src/table.ts
  pnpm-lock.yaml
Due: format, sort-package-json, typecheck, test, lint

fix(droid): avoid offline pricing prefetch
  apps/ccusage/src/adapter/droid/pricing-macro.ts
  apps/ccusage/src/adapter/droid/pricing.ts
  apps/ccusage/test/snapshots/cli-output/all-agent-daily-json.txt
  apps/ccusage/test/snapshots/cli-output/droid-direct-daily-json.txt
Due: format, typecheck, test, lint

fix(codebuff): avoid offline pricing prefetch
  apps/ccusage/src/adapter/codebuff/pricing-macro.ts
  apps/ccusage/src/adapter/codebuff/pricing.ts
  apps/ccusage/test/snapshots/cli-output/all-agent-daily-json.txt
  apps/ccusage/test/snapshots/cli-output/codebuff-direct-daily-json.txt
Due: format, typecheck, test, lint

test: use arkregex in cli output snapshots
  apps/ccusage/test/cli-output.test.ts
Due: format, typecheck, test, lint

chore: address arkregex review feedback
  .agents/skills/ast-grep/SKILL.md
  .agents/skills/typescript-style/references/arkregex.md
  CLAUDE.md
  apps/ccusage/src/project-names.ts
  flake.nix
Due: format, typecheck, test, lint

docs(skills): require concrete commit subjects
  .agents/skills/commit/SKILL.md
Due: format, lint

chore: remove unused runtime catalog entries
  pnpm-workspace.yaml
Due: lint

fix(droid): include OpenRouter pricing candidates
  apps/ccusage/src/adapter/droid/pricing.ts
Due: format, typecheck, test, lint

fix(codebuff): surface credits in JSON reports
  apps/ccusage/src/adapter/codebuff/parser.ts
  apps/ccusage/src/commands/agent.ts
  apps/ccusage/test/snapshots/cli-output/codebuff-direct-daily-json.txt
  docs/guide/codebuff/index.md
  docs/guide/environment-variables.md
  docs/guide/getting-started.md
  docs/guide/index.md
Due: format, typecheck, test, lint

chore: remove unused runtime catalog entries (#1039)
  pnpm-workspace.yaml
Due: lint

refactor: use arkregex for regexes (#1038)
  .agents/skills/ast-grep/SKILL.md
  .agents/skills/commit/SKILL.md
  .agents/skills/skill-creator/SKILL.md
  .agents/skills/typescript-style/SKILL.md
  .agents/skills/typescript-style/references/arkregex.md
  .agents/skills/typescript-style/references/byethrow.md
  .agents/skills/typescript-style/references/gunshi.md
  CLAUDE.md
  apps/ccusage/CLAUDE.md
  apps/ccusage/src/adapter/claude/data-loader.ts
  apps/ccusage/src/adapter/codex/parser.ts
  apps/ccusage/src/adapter/codex/pricing.ts
  apps/ccusage/src/adapter/opencode/paths.ts
  apps/ccusage/src/adapter/opencode/pricing.ts
  apps/ccusage/src/adapter/pi/schema.ts
  apps/ccusage/src/adapter/shared.ts
  apps/ccusage/src/commands/statusline.ts
  apps/ccusage/src/date-utils.ts
  apps/ccusage/src/project-names.ts
  apps/ccusage/src/runtime-macro.ts
  apps/ccusage/src/types.ts
  apps/ccusage/test/cli-output.test.ts
  flake.nix
  packages/terminal/package.json
  packages/terminal/src/table.ts
  pnpm-lock.yaml
Due: format, sort-package-json, typecheck, test, lint

fix(codebuff): render credits in tables
  apps/ccusage/src/commands/agent.ts
  apps/ccusage/test/cli-output.test.ts
  apps/ccusage/test/snapshots/cli-output/codebuff-direct-full-table.txt
Due: format, typecheck, test, lint

chore: update gunshi to 0.31
  apps/ccusage/scripts/generate-json-schema.ts
  apps/ccusage/src/commands/agent.ts
  apps/ccusage/src/commands/all.ts
  apps/ccusage/src/commands/codex.ts
  apps/ccusage/src/commands/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, typecheck, test, lint

refactor: let gunshi command factories infer return types
  .agents/skills/typescript-style/references/gunshi.md
  apps/ccusage/eslint.config.js
  apps/ccusage/src/commands/agent.ts
  apps/ccusage/src/commands/all.ts
  apps/ccusage/src/commands/codex.ts
Due: format, typecheck, test, lint

refactor(byethrow): update result handling for 0.11
  apps/ccusage/eslint.config.js
  apps/ccusage/scripts/generate-json-schema.ts
  apps/ccusage/src/adapter/amp/parser.ts
  apps/ccusage/src/adapter/amp/pricing-macro.ts
  apps/ccusage/src/adapter/codex/parser.ts
  apps/ccusage/src/adapter/codex/pricing-macro.ts
  apps/ccusage/src/adapter/codex/pricing.ts
  apps/ccusage/src/adapter/index.ts
  apps/ccusage/src/adapter/opencode/loader.ts
  apps/ccusage/src/adapter/opencode/paths.ts
  apps/ccusage/src/adapter/pi/parser.ts
  apps/ccusage/src/commands/statusline.ts
  apps/ccusage/src/config-loader-tokens.ts
  apps/ccusage/src/debug.ts
  apps/ccusage/src/utils.ts
  packages/internal/eslint.config.js
  packages/internal/src/pricing-fetch-utils.ts
  packages/internal/src/pricing.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, typecheck, test, lint

refactor: trim gunshi adapter type annotations
  .agents/skills/typescript-style/references/gunshi.md
  apps/ccusage/scripts/generate-json-schema.ts
  apps/ccusage/src/commands/index.ts
Due: format, typecheck, test, lint

refactor(byethrow): pipe remaining recoverable work
  apps/ccusage/src/adapter/codex/parser.ts
  apps/ccusage/src/adapter/opencode/paths.ts
  apps/ccusage/src/adapter/shared.ts
  apps/ccusage/src/commands/agent.ts
  apps/ccusage/src/commands/all.ts
  apps/ccusage/src/commands/codex.ts
  apps/ccusage/src/commands/daily.ts
  apps/ccusage/src/commands/monthly.ts
  apps/ccusage/src/commands/session.ts
  apps/ccusage/src/commands/statusline.ts
  apps/ccusage/src/commands/weekly.ts
Due: format, typecheck, test, lint

test: cover codex default daily namespace
  apps/ccusage/test/cli-output.test.ts
Due: format, typecheck, test, lint

refactor(validation): keep valibot safe parsing
  apps/ccusage/src/adapter/amp/parser.ts
  apps/ccusage/src/adapter/opencode/loader.ts
  apps/ccusage/src/adapter/pi/parser.ts
  packages/internal/src/pricing-fetch-utils.ts
  packages/internal/src/pricing.ts
Due: format, typecheck, test, lint

refactor(byethrow): update result handling for 0.11 (#1041)
  apps/ccusage/eslint.config.js
  apps/ccusage/scripts/generate-json-schema.ts
  apps/ccusage/src/adapter/amp/parser.ts
  apps/ccusage/src/adapter/amp/pricing-macro.ts
  apps/ccusage/src/adapter/codex/parser.ts
  apps/ccusage/src/adapter/codex/pricing-macro.ts
  apps/ccusage/src/adapter/codex/pricing.ts
  apps/ccusage/src/adapter/index.ts
  apps/ccusage/src/adapter/opencode/loader.ts
  apps/ccusage/src/adapter/opencode/paths.ts
  apps/ccusage/src/adapter/pi/parser.ts
  apps/ccusage/src/adapter/shared.ts
  apps/ccusage/src/commands/agent.ts
  apps/ccusage/src/commands/all.ts
  apps/ccusage/src/commands/codex.ts
  apps/ccusage/src/commands/daily.ts
  apps/ccusage/src/commands/monthly.ts
  apps/ccusage/src/commands/session.ts
  apps/ccusage/src/commands/statusline.ts
  apps/ccusage/src/commands/weekly.ts
  apps/ccusage/src/config-loader-tokens.ts
  apps/ccusage/src/debug.ts
  apps/ccusage/src/utils.ts
  packages/internal/eslint.config.js
  packages/internal/src/pricing.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, typecheck, test, lint

fix: preserve legacy agent command aliases
  apps/ccusage/src/commands/index.ts
Due: format, typecheck, test, lint

chore: fix legacy command comment spelling
  apps/ccusage/src/commands/index.ts
Due: format, typecheck, test, lint

build: update gunshi to 0.31 (#1040)
  .agents/skills/typescript-style/references/gunshi.md
  apps/ccusage/scripts/generate-json-schema.ts
  apps/ccusage/src/commands/agent.ts
  apps/ccusage/src/commands/all.ts
  apps/ccusage/src/commands/codex.ts
  apps/ccusage/src/commands/index.ts
  apps/ccusage/test/cli-output.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, typecheck, test, lint

feat(ccusage): add rust codex reports
  crates/ccusage/src/cli.rs
  crates/ccusage/src/main.rs
  crates/ccusage/src/pricing.rs
Due: lint

feat(ccusage): support rust claude namespace
  crates/ccusage/src/cli.rs
Due: lint

feat(ccusage): add rust opencode reports
  Cargo.lock
  crates/ccusage/Cargo.toml
  crates/ccusage/src/cli.rs
  crates/ccusage/src/main.rs
Due: lint

feat(ccusage): add rust amp reports
  crates/ccusage/src/adapter/amp.rs
  crates/ccusage/src/adapter/mod.rs
  crates/ccusage/src/adapter/opencode.rs
  crates/ccusage/src/cli.rs
  crates/ccusage/src/main.rs
Due: lint

ci(ccusage): reuse perf benchmark for rust
  .github/workflows/ccusage-rust-perf.yaml
  apps/ccusage/scripts/compare-pr-performance.ts
  apps/ccusage/scripts/compare-rust-pr-performance.ts
Due: format, typecheck, test, lint

feat(ccusage): add rust pi reports
  crates/ccusage/src/adapter/mod.rs
  crates/ccusage/src/adapter/opencode.rs
  crates/ccusage/src/adapter/pi.rs
  crates/ccusage/src/cli.rs
  crates/ccusage/src/main.rs
Due: lint

feat(ccusage): add rust all-agent reports
  crates/ccusage/src/adapter/all.rs
  crates/ccusage/src/adapter/mod.rs
  crates/ccusage/src/adapter/opencode.rs
  crates/ccusage/src/cli.rs
  crates/ccusage/src/main.rs
Due: lint

perf(ccusage): parallelize rust codex loading
  crates/ccusage/src/adapter/all.rs
  crates/ccusage/src/main.rs
Due: lint

perf(ccusage): reduce rust codex aggregation overhead
  crates/ccusage/src/main.rs
  crates/ccusage/src/pricing.rs
Due: lint
