Repository ryoppippi/ccusage: changes, and which lefthook commands are due for each by the changed paths.
All: format, sort-package-json, typecheck, test, lint, sort-package

format:
  run: pnpm eslint --cache --fix {files}
  stage_fixed: true

sort-package-json:
  run: pnpm exec sort-package-json {files}
  stage_fixed: true

typecheck:
  run: pnpm tsgo {files}

test:
  run: pnpm vitest --passWithNoTests --run --bail --changedSince=origin/main {files}

lint:
  run: bun run lint --fix {staged_files}
  stage_fixed: true

sort-package:
  run: bunx sort-package-json {staged_files}
  stage_fixed: true

chore: migrate to standard engines field and upgrade Bun
  apps/amp/package.json
  apps/ccusage/package.json
  apps/codex/package.json
  apps/mcp/package.json
  apps/opencode/package.json
  apps/pi/package.json
  docs/package.json
  package.json
  pnpm-lock.yaml
Due: format, sort-package-json, lint, sort-package

chore: migrate to standard engines field and upgrade Bun (#851)
  apps/amp/package.json
  apps/ccusage/package.json
  apps/codex/package.json
  apps/mcp/package.json
  apps/opencode/package.json
  apps/pi/package.json
  docs/package.json
  package.json
  pnpm-lock.yaml
Due: format, sort-package-json, lint, sort-package

docs: add ai-heatmap to README as a community project
  apps/ccusage/README.md
Due: format, lint

docs: add heatmap SVG preview image
  apps/ccusage/README.md
Due: format, lint

docs: add npm link and improve image alt text for ai-heatmap
  apps/ccusage/README.md
Due: format, lint

fix(codex): fallback when direct model pricing is zero
  apps/codex/src/pricing.ts
Due: format, typecheck, test, lint

codex: enforce strict pricing resolution and add explicit fallback controls
  apps/codex/src/_shared-args.ts
  apps/codex/src/_types.ts
  apps/codex/src/commands/daily.ts
  apps/codex/src/commands/monthly.ts
  apps/codex/src/commands/session.ts
  apps/codex/src/daily-report.ts
  apps/codex/src/monthly-report.ts
  apps/codex/src/pricing.ts
  apps/codex/src/session-report.ts
Due: format, typecheck, test, lint

fix: fallback missing model pricing to zero-cost in codex/amp
  apps/amp/src/pricing.ts
  apps/codex/src/pricing.ts
Due: format, typecheck, test, lint

fix(codex): fallback when direct model pricing is zero (#854)
  apps/codex/src/pricing.ts
Due: format, typecheck, test, lint

chore: release v18.0.6
  apps/amp/package.json
  apps/ccusage/package.json
  apps/codex/package.json
  apps/mcp/package.json
  apps/opencode/package.json
  apps/pi/package.json
  docs/package.json
  package.json
  packages/internal/package.json
  packages/terminal/package.json
Due: format, sort-package-json, lint, sort-package

fix: replace non-standard engines.runtime array with standard engines fields
  apps/amp/package.json
  apps/ccusage/package.json
  apps/codex/package.json
  apps/mcp/package.json
  apps/opencode/package.json
  apps/pi/package.json
  docs/package.json
Due: format, sort-package-json, lint

fix: replace non-standard engines.runtime array with standard engines fields (#863)
  apps/amp/package.json
  apps/ccusage/package.json
  apps/codex/package.json
  apps/mcp/package.json
  apps/opencode/package.json
  apps/pi/package.json
  docs/package.json
Due: format, sort-package-json, lint

Revert "chore: migrate to standard engines field and upgrade Bun (#851)"
  apps/amp/package.json
  apps/ccusage/package.json
  apps/codex/package.json
  apps/mcp/package.json
  apps/opencode/package.json
  apps/pi/package.json
  docs/package.json
  package.json
  pnpm-lock.yaml
Due: format, sort-package-json, lint, sort-package

chore: release v18.0.7
  apps/amp/package.json
  apps/ccusage/package.json
  apps/codex/package.json
  apps/mcp/package.json
  apps/opencode/package.json
  apps/pi/package.json
  docs/package.json
  package.json
  packages/internal/package.json
  packages/terminal/package.json
Due: format, sort-package-json, lint, sort-package

chore: remove devEngines from each packages
  apps/amp/package.json
  apps/ccusage/package.json
  apps/codex/package.json
  apps/mcp/package.json
  apps/opencode/package.json
  apps/pi/package.json
  docs/package.json
  package.json
  pnpm-lock.yaml
Due: format, sort-package-json, lint, sort-package

chore: update pnpm tp 10.30.1
  package.json
  pnpm-lock.yaml
Due: lint, sort-package

chore: update node and bun
  package.json
  pnpm-lock.yaml
Due: lint, sort-package

refactor(codex,amp): use `as const satisfies` for zero-cost pricing constants
  apps/amp/src/pricing.ts
  apps/codex/src/pricing.ts
Due: format, typecheck, test, lint

fix(amp): fallback missing model pricing to zero-cost in codex/amp (#858)
  apps/amp/src/pricing.ts
  apps/codex/src/pricing.ts
Due: format, typecheck, test, lint

chore: release v18.0.8
  apps/amp/package.json
  apps/ccusage/package.json
  apps/codex/package.json
  apps/mcp/package.json
  apps/opencode/package.json
  apps/pi/package.json
  docs/package.json
  package.json
  packages/internal/package.json
  packages/terminal/package.json
Due: format, sort-package-json, lint, sort-package

fix(opencode): add Claude model aliases for dot-notation version names
  apps/opencode/src/cost-utils.ts
Due: format, typecheck, test, lint

perf: add 3-layer early date filtering
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

fix: address CodeRabbit review feedback
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

fix: validate calendar dates in mtime pre-filter
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

feat(codex): add multi-account codex home support
  apps/codex/README.md
  apps/codex/src/_shared-args.ts
  apps/codex/src/_types.ts
  apps/codex/src/commands/daily.ts
  apps/codex/src/commands/monthly.ts
  apps/codex/src/commands/session.ts
  apps/codex/src/daily-report.ts
  apps/codex/src/data-loader.ts
  apps/codex/src/monthly-report.ts
  apps/codex/src/session-report.ts
  apps/codex/src/session-sources.ts
  docs/guide/codex/daily.md
  docs/guide/codex/index.md
  docs/guide/codex/monthly.md
  docs/guide/codex/session.md
Due: format, typecheck, test, lint

fix(codex): address multi-account review feedback
  apps/codex/README.md
  apps/codex/src/commands/daily.ts
  apps/codex/src/commands/monthly.ts
  apps/codex/src/commands/session.ts
  apps/codex/src/commands/usage-table.ts
  apps/codex/src/data-loader.ts
  apps/codex/src/session-sources.ts
  docs/guide/codex/index.md
Due: format, typecheck, test, lint

fix(codex): parse multi-account CODEX_HOME fallback in loader
  apps/codex/src/data-loader.ts
Due: format, typecheck, test, lint

fix(codex): avoid account label collisions with suffix labels
  apps/codex/src/data-loader.ts
  apps/codex/src/session-sources.ts
Due: format, typecheck, test, lint

support for subagent usage
  apps/kimi/src/data-loader.ts
Due: format, typecheck, test, lint

fix: use os.homedir() and path.join() for Windows path compatibility
  .gitignore
  apps/amp/src/_consts.ts
  apps/amp/src/data-loader.ts
  apps/ccusage/src/_consts.ts
  apps/ccusage/src/data-loader.ts
  apps/opencode/src/data-loader.ts
Due: format, typecheck, test, lint

fix(ccusage): stream context token parsing and skip file-history snapshots
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

fix(opencode): silence logger in json output mode
  apps/opencode/src/commands/daily.ts
  apps/opencode/src/commands/monthly.ts
  apps/opencode/src/commands/session.ts
  apps/opencode/src/commands/weekly.ts
Due: format, typecheck, test, lint

chore: remove .claude from .gitignore
  .gitignore
Due: lint

fix: use os.homedir() and path.join() for Windows path compatibility (#874)
  apps/amp/src/_consts.ts
  apps/amp/src/data-loader.ts
  apps/ccusage/src/_consts.ts
  apps/ccusage/src/data-loader.ts
  apps/opencode/src/data-loader.ts
Due: format, typecheck, test, lint

chore: release v18.0.9
  apps/amp/package.json
  apps/ccusage/package.json
  apps/codex/package.json
  apps/mcp/package.json
  apps/opencode/package.json
  apps/pi/package.json
  docs/package.json
  package.json
  packages/internal/package.json
  packages/terminal/package.json
Due: format, sort-package-json, lint, sort-package

perf(codex): skip out-of-range date directories when --since/--until is set
  apps/codex/src/commands/daily.ts
  apps/codex/src/commands/monthly.ts
  apps/codex/src/commands/session.ts
  apps/codex/src/data-loader.ts
Due: format, typecheck, test, lint

fix(ccusage): narrow usage type to satisfy strict input_tokens requirement
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

fix(ccusage): use bounded prefix read for file-history-snapshot detection
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

fix(codex): dedupe repeated token snapshots
  apps/codex/src/data-loader.ts
Due: format, typecheck, test, lint

feat(opencode): migrate from JSON files to SQLite database
  apps/opencode/CLAUDE.md
  apps/opencode/README.md
  apps/opencode/package.json
  apps/opencode/src/data-loader.ts
  apps/opencode/tsdown.config.ts
  pnpm-lock.yaml
Due: format, sort-package-json, typecheck, test, lint

Path conditions:
  format: any of: **/*.{cjs,cts,ctsx,js,jsx,mjs,mts,mtsx,ts,tsx,json,yml,yaml,md,mdx}
  sort-package-json: any of: **/package.json
  typecheck: (any of: **/*.{ts,tsx,cts,ctsx,mts,mtsx}) or (any of: *.{ts,js})
  test: any of: **/*.{ts,tsx,cts,ctsx,mts,mtsx}
  lint: any of: *
  sort-package: any of: package.json
