Repository ryoppippi/ccusage: changes, and which lefthook commands are due for each by the changed paths.
All: format, sort-package-json, typecheck, test, lint, sort-package

.lefthook.yml:

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    format:
      glob: '**/*.{cjs,cts,ctsx,js,jsx,mjs,mts,mtsx,ts,tsx,json,yml,yaml,md,mdx}'
      run: pnpm eslint --cache --fix {files}
      stage_fixed: true
    sort-package-json:
      glob: '**/package.json'
      run: pnpm exec sort-package-json {files}
      stage_fixed: true
    typecheck:
      glob: '**/*.{ts,tsx,cts,ctsx,mts,mtsx}'
      run: pnpm tsgo {files}
    test:
      glob: '**/*.{ts,tsx,cts,ctsx,mts,mtsx}'
      run: pnpm vitest --passWithNoTests --run --bail --changedSince=origin/main {files}

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: '*'
      run: bun run lint --fix {staged_files}
      stage_fixed: true
    typecheck:
      glob: '*.{ts,js}'
      run: bun typecheck
    schema:
      run: bun run generate:schema
    test:
      run: bun vitest --passWithNoTests
    sort-package:
      glob: package.json
      run: bunx sort-package-json {staged_files}
      stage_fixed: true

test(rust): centralize environment variable guards
  rust/crates/ccusage-test-support/src/lib.rs
  rust/crates/ccusage/src/adapter/codebuff/loader.rs
  rust/crates/ccusage/src/adapter/droid/loader.rs
  rust/crates/ccusage/src/adapter/gemini/loader.rs
  rust/crates/ccusage/src/adapter/gemini/mod.rs
  rust/crates/ccusage/src/adapter/gemini/paths.rs
  rust/crates/ccusage/src/adapter/goose/paths.rs
  rust/crates/ccusage/src/adapter/kilo/loader.rs
  rust/crates/ccusage/src/adapter/kimi/loader.rs
  rust/crates/ccusage/src/adapter/kimi/mod.rs
  rust/crates/ccusage/src/adapter/kimi/paths.rs
  rust/crates/ccusage/src/adapter/qwen/mod.rs
  rust/crates/ccusage/src/main.rs
Due: lint

build: migrate action scripts to nushell
  .agents/skills/bun-api-reference/SKILL.md
  .github/actions/build-linux-native-package/action.yaml
  .github/actions/build-macos-nix-native-package/action.yaml
  .github/actions/build-windows-native-package/action.yaml
  .github/scripts/generate-e2e-fixture.mjs
  .github/scripts/generate-e2e-fixture.nu
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  AGENTS.md
  apps/ccusage/AGENTS.md
  apps/ccusage/justfile
  apps/ccusage/package.json
  apps/ccusage/scripts/bench.mjs
  apps/ccusage/scripts/compare-pr-performance.nu
  apps/ccusage/scripts/generate-large-fixture.nu
  apps/ccusage/scripts/generate-large-fixture.ts
  apps/ccusage/scripts/stage-native-package.mjs
  apps/ccusage/scripts/stage-native-package.nu
  apps/ccusage/scripts/verify-native-package.mjs
  apps/ccusage/scripts/verify-native-package.nu
  apps/ccusage/tsconfig.json
  apps/ccusage/vitest.config.ts
  docs/package.json
  docs/tsconfig.json
  justfile
  nix/dev-shell.nix
  packages/ccusage-darwin-arm64/package.json
  packages/ccusage-darwin-x64/package.json
  packages/ccusage-linux-arm64/package.json
  packages/ccusage-linux-x64/package.json
  packages/ccusage-win32-arm64/package.json
  packages/ccusage-win32-x64/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vitest.config.ts
Due: format, sort-package-json, typecheck, test, lint

fix(ccusage): quote benchmark command text
  apps/ccusage/scripts/compare-pr-performance.nu
Due: lint

build: replace vitest with node test
  .agents/skills/commit/references/revertable-commits.md
  .agents/skills/development/references/environment-and-validation.md
  .agents/skills/nushell/SKILL.md
  .agents/skills/profile/SKILL.md
  .agents/skills/profile/references/rust.md
  .agents/skills/profile/references/typescript.md
  .agents/skills/tdd/SKILL.md
  .agents/skills/tdd/references/node-test.md
  .agents/skills/tdd/references/vitest-examples.md
  .agents/skills/tdd/references/vitest.md
  .agents/skills/testing/SKILL.md
  .agents/skills/testing/references/node-test.md
  .agents/skills/testing/references/vitest.md
  .agents/skills/typescript/SKILL.md
  .claude/settings.json
  .github/workflows/ci.yaml
  AGENTS.md
  apps/ccusage/AGENTS.md
  apps/ccusage/eslint.config.js
  apps/ccusage/justfile
  apps/ccusage/package.json
  apps/ccusage/src/cli.test.ts
  apps/ccusage/src/cli.ts
  apps/ccusage/tsdown.config.ts
  apps/ccusage/vitest.config.ts
  docs/justfile
  justfile
  nix/checks.nix
  nix/dev-shell.nix
  nix/git-hooks.nix
  nix/models-dev-compact.test.ts
  nix/oxlint-check.json
  nix/treefmt.nix
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
  vitest.config.ts
Due: format, sort-package-json, typecheck, test, lint, sort-package

fix(ci): convert merged models tests to node assertions
  nix/models-dev-compact.test.ts
Due: format, typecheck, test, lint

fix(ccusage): run launcher through package bin symlinks
  apps/ccusage/src/cli.test.ts
  apps/ccusage/src/cli.ts
Due: format, typecheck, test, lint

build(ccusage): remove launcher bundle step
  .github/workflows/ci.yaml
  apps/ccusage/AGENTS.md
  apps/ccusage/justfile
  apps/ccusage/package.json
  apps/ccusage/src/cli.js
  apps/ccusage/src/cli.test.ts
  apps/ccusage/tsdown.config.ts
  justfile
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, sort-package-json, typecheck, test, lint

build: route check through nix flake check
  .github/workflows/ci.yaml
  justfile
Due: format, lint

build(ccusage): ship launcher without tsdown (#1310)
  .github/workflows/ci.yaml
  apps/ccusage/AGENTS.md
  apps/ccusage/justfile
  apps/ccusage/package.json
  apps/ccusage/src/cli.js
  apps/ccusage/src/cli.test.ts
  apps/ccusage/tsdown.config.ts
  justfile
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, sort-package-json, typecheck, test, lint

build: add publint flake check
  apps/ccusage/README.md
  apps/ccusage/justfile
  apps/ccusage/package.json
  docs/guide/installation.md
  justfile
  nix/checks.nix
  nix/dev-shell.nix
  nix/packages.nix
  nix/publint.nix
  packages/ccusage-darwin-arm64/package.json
  packages/ccusage-darwin-x64/package.json
  packages/ccusage-linux-arm64/package.json
  packages/ccusage-linux-x64/package.json
  packages/ccusage-win32-arm64/package.json
  packages/ccusage-win32-x64/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, sort-package-json, lint

build: fix publint pnpm deps hash
  nix/publint.nix
Due: lint

build: add node to publint wrapper PATH
  nix/publint.nix
Due: lint

build: isolate publint nix package
  nix/checks.nix
  nix/packages.nix
  nix/publint.nix
Due: lint

build: keep typos from rewriting sade package name
  typos.toml
Due: lint

build: add publint flake check (#1312)
  apps/ccusage/README.md
  apps/ccusage/justfile
  apps/ccusage/package.json
  docs/guide/installation.md
  justfile
  nix/checks.nix
  nix/dev-shell.nix
  nix/packages.nix
  nix/publint.nix
  packages/ccusage-darwin-arm64/package.json
  packages/ccusage-darwin-x64/package.json
  packages/ccusage-linux-arm64/package.json
  packages/ccusage-linux-x64/package.json
  packages/ccusage-win32-arm64/package.json
  packages/ccusage-win32-x64/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  typos.toml
Due: format, sort-package-json, lint

feat(model): support internal model aliases
  rust/crates/ccusage/src/adapter/claude/daily.rs
  rust/crates/ccusage/src/adapter/codex/aggregate.rs
  rust/crates/ccusage/src/adapter/codex/mod.rs
  rust/crates/ccusage/src/blocks.rs
  rust/crates/ccusage/src/cost.rs
  rust/crates/ccusage/src/main.rs
  rust/crates/ccusage/src/model_aliases.rs
  rust/crates/ccusage/src/pricing.rs
  rust/crates/ccusage/src/summary.rs
Due: lint

fix(model): satisfy clippy for alias suffix lookup
  rust/crates/ccusage/src/model_aliases.rs
Due: lint

fix(model-aliases): resolve before codex dedupe key and avoid summary allocation
  rust/crates/ccusage/src/adapter/codex/aggregate.rs
  rust/crates/ccusage/src/summary.rs
Due: lint

fix(model-aliases): fall back to delimited parsing on malformed JSON
  rust/crates/ccusage/src/model_aliases.rs
Due: lint
