Repository ryoppippi/ccusage: changes, and which lefthook commands are due for each by the changed paths.
All: format, sort-package-json, typecheck, test, lint, sort-package

.lefthook.yml:

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    format:
      glob: '**/*.{cjs,cts,ctsx,js,jsx,mjs,mts,mtsx,ts,tsx,json,yml,yaml,md,mdx}'
      run: pnpm eslint --cache --fix {files}
      stage_fixed: true
    sort-package-json:
      glob: '**/package.json'
      run: pnpm exec sort-package-json {files}
      stage_fixed: true
    typecheck:
      glob: '**/*.{ts,tsx,cts,ctsx,mts,mtsx}'
      run: pnpm tsgo {files}
    test:
      glob: '**/*.{ts,tsx,cts,ctsx,mts,mtsx}'
      run: pnpm vitest --passWithNoTests --run --bail --changedSince=origin/main {files}

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: '*'
      run: bun run lint --fix {staged_files}
      stage_fixed: true
    typecheck:
      glob: '*.{ts,js}'
      run: bun typecheck
    schema:
      run: bun run generate:schema
    test:
      run: bun vitest --passWithNoTests
    sort-package:
      glob: package.json
      run: bunx sort-package-json {staged_files}
      stage_fixed: true

feat(ccusage): discover orphan team→lead mappings for proper nesting
  apps/ccusage/src/commands/agent.ts
  hooks/cache-team-lead.sh
Due: format, typecheck, test, lint

feat(ccusage): show truncated session ID on lead rows for cross-referencing
  apps/ccusage/src/commands/agent.ts
Due: format, typecheck, test, lint

fix(ccusage): use full session UUID instead of 8-char prefix on lead rows
  apps/ccusage/src/commands/agent.ts
Due: format, typecheck, test, lint

fix(ccusage): widen Agent column to fit full 36-char session UUID
  apps/ccusage/src/commands/agent.ts
  packages/terminal/src/table.ts
Due: format, typecheck, test, lint

fix(ccusage): use consistent cost source for statusline session/today/block
  apps/ccusage/src/commands/statusline.ts
Due: format, typecheck, test, lint

refactor(ccusage): remove AI title generation, use compaction summaries only
  apps/ccusage/src/commands/agent.ts
Due: format, typecheck, test, lint

Revert "refactor(ccusage): remove AI title generation, use compaction summaries only"
  apps/ccusage/src/commands/agent.ts
Due: format, typecheck, test, lint

fix(ccusage): improve AI title quality by filtering trivial messages
  apps/ccusage/src/commands/agent.ts
Due: format, typecheck, test, lint

fix(ccusage): remove trailing · when session has no title
  apps/ccusage/src/commands/agent.ts
Due: format, typecheck, test, lint

fix(ccusage): add ellipsis on truncated titles, bump cache to v12
  apps/ccusage/src/commands/agent.ts
Due: format, typecheck, test, lint

fix(ccusage): fix title placeholders, trailing separators, and duplicate headers
  apps/ccusage/src/commands/agent.ts
Due: format, typecheck, test, lint

fix(ccusage): show UUIDs on titled rows, parse teammate-message content, fix team grouping
  apps/ccusage/src/commands/agent.ts
  packages/terminal/src/table.ts
Due: format, typecheck, test, lint

fix(ccusage): improve AI title generation for all sessions
  apps/ccusage/src/commands/agent.ts
Due: format, typecheck, test, lint

fix(ccusage): strict AI titles, command-args extraction, compaction via AI
  apps/ccusage/src/commands/agent.ts
Due: format, typecheck, test, lint

fix(ccusage): address CodeRabbit review feedback on agent command
  apps/ccusage/src/agent-id.ts
  apps/ccusage/src/commands/agent.ts
Due: format, typecheck, test, lint

fix(ccusage): enforce noun-phrase AI titles with few-shot examples
  apps/ccusage/src/commands/agent.ts
Due: format, typecheck, test, lint

fix(ccusage): skip bare UUIDs when extracting title from user messages
  apps/ccusage/src/commands/agent.ts
Due: format, typecheck, test, lint

fix(ccusage): collect 5 user messages for AI titles, cap at 1000 chars
  apps/ccusage/src/commands/agent.ts
Due: format, typecheck, test, lint

fix(ccusage): replace magic number with headers.length in separator row
  apps/ccusage/src/commands/agent.ts
Due: format, typecheck, test, lint

fix(ccusage): add flat pricing for Opus 4.6 / Sonnet 4.6 to fix inflated costs
  apps/ccusage/src/_macro.ts
Due: format, typecheck, test, lint

docs(guide): remove broken `claude x` installation method (#889)
  docs/guide/installation.md
Due: format, lint

chore: guard direnv flake usage with nix availability check
  .envrc
Due: lint

feat(codex): add weekly usage report command
  apps/codex/README.md
  apps/codex/src/_types.ts
  apps/codex/src/commands/weekly.ts
  apps/codex/src/date-utils.ts
  apps/codex/src/run.ts
  apps/codex/src/weekly-report.ts
Due: format, typecheck, test, lint

fix(codex): correct session command in README
  apps/codex/README.md
Due: format, lint

fix(ccusage): sort session reports by cost instead of last activity
  apps/ccusage/src/data-loader.ts
Due: format, typecheck, test, lint

chore(ci): add cache-nix-action
  .github/actions/setup-nix/action.yaml
Due: format, lint

chore(docs): upgrade VitePress to 2.0.0-alpha.17 and update docs dependencies
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint

fix(docs): resolve markdown-it type mismatch in VitePress config
  docs/.vitepress/config.ts
Due: format, typecheck, test, lint

optimize codex session loading
  apps/codex/src/commands/daily.ts
  apps/codex/src/commands/monthly.ts
  apps/codex/src/commands/session.ts
  apps/codex/src/daily-report.ts
  apps/codex/src/data-loader.ts
  apps/codex/src/monthly-report.ts
  apps/codex/src/session-report.ts
Due: format, typecheck, test, lint

deduplicate replayed usage in forked sessions
  apps/codex/src/data-loader.ts
Due: format, typecheck, test, lint

fix(ccusage): filter bare URLs and condense multi-line messages for title resolution
  apps/ccusage/src/commands/agent.ts
Due: format, typecheck, test, lint

chore(ccusage): sync codex and claude direnv environment settings
  .claude/settings.json
  .codex/environments/environment.toml
Due: format, lint

chore: upgrade vitest to v4.1 and add workspace config with GitHub integration
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vitest.config.ts
Due: typecheck, lint, sort-package

chore: upgrade vitest to v4.1 and add workspace config with GitHub integration (#911)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vitest.config.ts
Due: typecheck, lint, sort-package

feat(codex): add last n days usage report command
  apps/codex/README.md
  apps/codex/src/commands/last.ts
  apps/codex/src/date-utils.ts
  apps/codex/src/run.ts
  docs/guide/codex/daily.md
  docs/guide/codex/index.md
Due: format, typecheck, test, lint

docs(codex): add dedicated last-n-days guide
  docs/.vitepress/config.ts
  docs/guide/codex/daily.md
  docs/guide/codex/index.md
  docs/guide/codex/last-n-days.md
Due: format, typecheck, test, lint

refactor(codex): simplify last command flow and docs
  apps/codex/src/commands/last.ts
  docs/guide/codex/last-n-days.md
Due: format, typecheck, test, lint

refactor(codex): deduplicate date range logging in last command
  apps/codex/src/commands/last.ts
Due: format, typecheck, test, lint

feat(ccusage): add `all` command to show combined Claude Code and Codex usage
  apps/ccusage/config-schema.json
  apps/ccusage/package.json
  apps/ccusage/src/commands/all.ts
  apps/ccusage/src/commands/index.ts
  apps/codex/package.json
  pnpm-lock.yaml
Due: format, sort-package-json, typecheck, test, lint

fix(ccusage): fix all command bugs and regenerate lockfile with public registry
  apps/ccusage/src/commands/all.ts
  pnpm-lock.yaml
Due: format, typecheck, test, lint
