Repository ryoppippi/ccusage: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, sort-package

lint:
  run: bun run lint --fix {staged_files}
  stage_fixed: true

typecheck:
  run: bun typecheck

sort-package:
  run: bunx sort-package-json {staged_files}
  stage_fixed: true

feat(internal): create shared utilities package
  packages/internal/AGENTS.md
  packages/internal/CLAUDE.md
  packages/internal/package.json
  packages/internal/src/constants.ts
  packages/internal/src/format.ts
  packages/internal/src/logger.ts
Due: lint, typecheck

refactor: update apps to use shared utilities from internal package
  apps/ccusage/src/logger.ts
  apps/codex/src/logger.ts
  apps/codex/src/token-utils.ts
  apps/mcp/src/index.ts
Due: lint, typecheck

chore: update workspace configuration for internal package
  apps/mcp/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint

docs(packages): add CLAUDE.md and AGENTS.md to internal and terminal packages
  packages/internal/AGENTS.md
  packages/internal/CLAUDE.md
  packages/terminal/AGENTS.md
  packages/terminal/CLAUDE.md
Due: lint

fix: resolve re-export issue in logger modules
  apps/ccusage/src/logger.ts
  apps/codex/src/logger.ts
  packages/internal/AGENTS.md
  packages/internal/CLAUDE.md
Due: lint, typecheck

refactor: extract shared utilities into internal package (#648)
  apps/ccusage/src/logger.ts
  apps/codex/src/logger.ts
  apps/codex/src/token-utils.ts
  apps/mcp/package.json
  apps/mcp/src/index.ts
  packages/internal/CLAUDE.md
  packages/internal/package.json
  packages/internal/src/constants.ts
  packages/internal/src/format.ts
  packages/internal/src/logger.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint, typecheck

docs(packages): add CLAUDE.md and AGENTS.md to internal and terminal packages (#649)
  packages/internal/AGENTS.md
  packages/terminal/AGENTS.md
  packages/terminal/CLAUDE.md
Due: lint

refactor(mcp): convert ccusage from library import to CLI execution
  apps/ccusage/package.json
  apps/mcp/src/ccusage.ts
  apps/mcp/src/claude-code.ts
  apps/mcp/src/cli-utils.ts
  apps/mcp/src/codex.ts
  apps/mcp/src/mcp-utils.ts
  apps/mcp/src/mcp.ts
Due: lint, typecheck

refactor(mcp): restructure MCP server architecture and add Codex integration (#647)
  apps/ccusage/package.json
  apps/mcp/eslint.config.js
  apps/mcp/package.json
  apps/mcp/src/ccusage.ts
  apps/mcp/src/cli-utils.ts
  apps/mcp/src/cli.ts
  apps/mcp/src/codex.ts
  apps/mcp/src/command.ts
  apps/mcp/src/consts.ts
  apps/mcp/src/index.ts
  apps/mcp/src/mcp-utils.ts
  apps/mcp/src/mcp.ts
  apps/mcp/tsdown.config.ts
  pnpm-lock.yaml
Due: lint, typecheck

fix(ccusage/statusline): cache is negatable
  apps/ccusage/src/commands/statusline.ts
Due: lint, typecheck

chore: format
  apps/codex/src/index.ts
  apps/mcp/src/index.ts
Due: lint, typecheck

chore: remove consola from apps
  apps/ccusage/package.json
  apps/codex/package.json
  pnpm-lock.yaml
Due: lint

fix(internal): prioritize max_input_tokens over max_tokens for context size
  packages/internal/src/pricing.ts
Due: lint, typecheck

refactor(internal): remove max_tokens fallback from context size calculation
  packages/internal/src/pricing.ts
Due: lint, typecheck

refactor(internal): simplify context size calculation to only use max_input_tokens
  packages/internal/src/pricing.ts
Due: lint, typecheck

fix(internal): fix context size bug by using max_input_tokens instead of max_tokens (#650)
  packages/internal/src/pricing.ts
Due: lint, typecheck

chore: update lsmcp memory
  .lsmcp/memories/symbol_index_info.md
Due: lint

feat(internal): add support for 1M context window pricing
  packages/internal/src/pricing.ts
Due: lint, typecheck

refactor(internal): extract tiered pricing logic into helper function
  packages/internal/src/pricing.ts
Due: lint, typecheck

test(internal): add comprehensive edge case tests for tiered pricing
  packages/internal/src/pricing.ts
Due: lint, typecheck

test(internal): consolidate redundant 1M context pricing tests
  packages/internal/src/pricing.ts
Due: lint, typecheck

test(internal): improve test names to clearly describe test scenarios
  packages/internal/src/pricing.ts
Due: lint, typecheck

docs(internal): add comprehensive JSDoc for tiered pricing functions
  packages/internal/src/pricing.ts
Due: lint, typecheck

fix(internal): use canonical model key for LiteLLM pricing lookup
  packages/internal/src/pricing.ts
Due: lint, typecheck

docs(internal): document tiered pricing implementation and model support
  packages/internal/CLAUDE.md
Due: lint

docs(internal): add comprehensive tiered pricing warnings to schema
  packages/internal/src/pricing.ts
Due: lint, typecheck

feat(internal): add Gemini 128k threshold fields to pricing schema
  packages/internal/src/pricing.ts
Due: lint, typecheck

refactor(internal): simplify tiered pricing with flexible threshold parameter
  packages/internal/CLAUDE.md
  packages/internal/src/pricing.ts
Due: lint, typecheck

feat(internal): add support for 1M context window pricing (#651)
  packages/internal/CLAUDE.md
  packages/internal/src/pricing.ts
Due: lint, typecheck

chore: fix prerelease scripts
  apps/codex/package.json
Due: lint

chore(internal): foramt
  packages/internal/src/pricing.ts
Due: lint, typecheck

chore(docs): eslint config
  docs/eslint.config.js
  docs/update-api-index.ts
Due: lint, typecheck

chore(docs): eslint config (#652)
  docs/eslint.config.js
  docs/update-api-index.ts
Due: lint, typecheck

chore: prelease script order
  apps/ccusage/package.json
  apps/codex/package.json
  apps/mcp/package.json
Due: lint

Revert "chore: prelease script order"
  apps/ccusage/package.json
  apps/codex/package.json
  apps/mcp/package.json
Due: lint

chore: fix prerelease script
  apps/ccusage/package.json
  apps/codex/package.json
  apps/mcp/package.json
Due: lint

chore: release v17.0.0
  apps/ccusage/package.json
  apps/codex/package.json
  apps/mcp/package.json
  docs/package.json
  package.json
  packages/internal/package.json
  packages/terminal/package.json
Due: lint, sort-package

fix(ccusage,codex): handle binary name argument when invoked via npx
  apps/ccusage/src/commands/index.ts
  apps/codex/src/run.ts
Due: lint, typecheck

fix(mcp): handle binary name argument when invoked via npx/bunx
  apps/mcp/src/command.ts
Due: lint, typecheck

fix: handle binary name argument when invoked via npx/bunx (#653)
  apps/ccusage/src/commands/index.ts
  apps/codex/src/run.ts
  apps/mcp/src/command.ts
Due: lint, typecheck

Path conditions:
  lint: any of: *
  typecheck: any of: *.{ts,js}
  sort-package: any of: package.json
