Repository ryoppippi/ccusage: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, sort-package

lint:
  run: bun run lint --fix {staged_files}
  stage_fixed: true

typecheck:
  run: bun typecheck

sort-package:
  run: bunx sort-package-json {staged_files}
  stage_fixed: true

refactor(utils): migrate utility functions from Zod to Valibot
  packages/ccusage/src/_macro.ts
  packages/ccusage/src/debug.ts
  packages/ccusage/src/pricing-fetcher.ts
Due: lint, typecheck

docs: update documentation to reflect Zod to Valibot migration
  packages/ccusage/CLAUDE.md
  packages/ccusage/src/_config-loader-tokens.ts
Due: lint, typecheck

refactor: remove unused transcript schema aliases
  packages/ccusage/src/_types.ts
Due: lint, typecheck

fix: surface flattened validation errors for filter dates
  packages/ccusage/src/_shared-args.ts
Due: lint, typecheck

fix: tighten statusline validation messaging
  packages/ccusage/src/commands/statusline.ts
Due: lint, typecheck

refactor: log valibot issues directly
  packages/ccusage/src/_shared-args.ts
  packages/ccusage/src/commands/statusline.ts
Due: lint, typecheck

fix: stringify filter-date validation errors
  packages/ccusage/src/_shared-args.ts
Due: lint, typecheck

simplify parseContextThreshold
  packages/ccusage/src/_shared-args.ts
Due: lint, typecheck

feat(ccusage): migrate from Zod to Valibot for schema validation (#633)
  packages/ccusage/CLAUDE.md
  packages/ccusage/package.json
  packages/ccusage/src/_config-loader-tokens.ts
  packages/ccusage/src/_date-utils.ts
  packages/ccusage/src/_live-monitor.ts
  packages/ccusage/src/_macro.ts
  packages/ccusage/src/_shared-args.ts
  packages/ccusage/src/_types.ts
  packages/ccusage/src/commands/statusline.ts
  packages/ccusage/src/data-loader.ts
  packages/ccusage/src/debug.ts
  packages/ccusage/src/pricing-fetcher.ts
  packages/ccusage/tsdown.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint, typecheck

docs(mcp): add comprehensive README for @ccusage/mcp package
  packages/mcp/README.md
Due: lint

docs(ccusage): add MCP server usage example to README
  packages/ccusage/README.md
Due: lint

docs: add README documentation for MCP package (#634)
  packages/ccusage/README.md
  packages/mcp/README.md
Due: lint

chore(mcp): disable sourcemap
  packages/mcp/tsdown.config.ts
Due: lint, typecheck

docs(ccusage): prefer npx usage over global installation
  packages/ccusage/README.md
Due: lint

docs(ccusage): prefer npx usage over global installation (#635)
  packages/ccusage/README.md
Due: lint

fix: update example ccusage config
  ccusage.example.json
Due: lint

fix: bin for development
  packages/ccusage/package.json
  packages/ccusage/src/index.ts
  packages/mcp/package.json
Due: lint, typecheck

fix: bin for development (#636)
  packages/ccusage/package.json
  packages/ccusage/src/index.ts
  packages/mcp/package.json
Due: lint, typecheck

feat(mcp): add package badges to README
  packages/mcp/README.md
Due: lint

feat(mcp): add package badges to README (#637)
  packages/mcp/README.md
Due: lint

feat(ccusage): enable offline schema generation to improve install performance
  packages/ccusage/package.json
  packages/ccusage/src/_macro.ts
Due: lint, typecheck

chore(ccusage): enable offline schema generation to improve install performance (#638)
  packages/ccusage/package.json
  packages/ccusage/src/_macro.ts
Due: lint, typecheck

feat(docs): reorganize API documentation structure with separate packages
  docs/.vitepress/config.ts
  docs/api-core/classes/ResponsiveTable.md
  docs/api-core/functions/addEmptySeparatorRow.md
  docs/api-core/functions/createUsageReportTable.md
  docs/api-core/functions/formatCurrency.md
  docs/api-core/functions/formatModelsDisplay.md
  docs/api-core/functions/formatModelsDisplayMultiline.md
  docs/api-core/functions/formatNumber.md
  docs/api-core/functions/formatTotalsRow.md
  docs/api-core/functions/formatUsageDataRow.md
  docs/api-core/functions/pushBreakdownRows.md
  docs/api-core/index.md
  docs/api-core/type-aliases/TableCellAlign.md
  docs/api-core/type-aliases/TableOptions.md
  docs/api-core/type-aliases/TableRow.md
  docs/api-core/type-aliases/UsageData.md
  docs/api-core/type-aliases/UsageReportConfig.md
  docs/api-core/typedoc-sidebar.json
  docs/package.json
  docs/typedoc.core.config.mjs
  docs/update-api-index.ts
  packages/ccusage/package.json
  packages/ccusage/src/_live-rendering.ts
  packages/ccusage/src/commands/_session_id.ts
  packages/ccusage/src/commands/blocks.ts
  packages/ccusage/src/commands/daily.ts
  packages/ccusage/src/commands/monthly.ts
  packages/ccusage/src/commands/session.ts
  packages/ccusage/src/commands/statusline.ts
  packages/ccusage/src/commands/weekly.ts
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/table.ts
  packages/core/tsconfig.json
  packages/core/tsdown.config.ts
  packages/mcp/package.json
  pnpm-lock.yaml
Due: lint, typecheck

style(pkg): standardize package.json field ordering
  packages/ccusage/package.json
  packages/mcp/package.json
Due: lint

feat(core): make package publishable and add ESLint configuration
  packages/core/eslint.config.js
  packages/core/package.json
Due: lint, typecheck

refactor: update workspace configuration to use apps directory
  package.json
  pnpm-workspace.yaml
Due: lint, sort-package

docs: update monorepo documentation to reference apps directory
  CLAUDE.md
Due: lint

ci: update workflow paths from packages to apps directory
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Due: lint

config: update example config schema reference to apps directory
  ccusage.example.json
Due: lint

docs: update build scripts to reference apps directory
  docs/package.json
Due: lint

refactor(terminal): extract terminal utilities to dedicated @ccusage/terminal package
  apps/ccusage/package.json
  apps/ccusage/src/_live-rendering.ts
  apps/ccusage/src/commands/_blocks.live.ts
  apps/ccusage/src/commands/_session_id.ts
  apps/ccusage/src/commands/blocks.ts
  apps/ccusage/src/commands/daily.ts
  apps/ccusage/src/commands/monthly.ts
  apps/ccusage/src/commands/session.ts
  apps/ccusage/src/commands/statusline.ts
  apps/ccusage/src/commands/weekly.ts
  packages/terminal/eslint.config.js
  packages/terminal/package.json
  packages/terminal/src/table.ts
  packages/terminal/src/utils.ts
  packages/terminal/tsconfig.json
  packages/terminal/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint, typecheck

refactor(terminal): extract terminal utilities to dedicated @ccusage/terminal package (#640)
  apps/ccusage/package.json
  apps/ccusage/src/_live-rendering.ts
  apps/ccusage/src/commands/_blocks.live.ts
  apps/ccusage/src/commands/_session_id.ts
  apps/ccusage/src/commands/blocks.ts
  apps/ccusage/src/commands/daily.ts
  apps/ccusage/src/commands/monthly.ts
  apps/ccusage/src/commands/session.ts
  apps/ccusage/src/commands/statusline.ts
  apps/ccusage/src/commands/weekly.ts
  packages/terminal/eslint.config.js
  packages/terminal/package.json
  packages/terminal/src/table.ts
  packages/terminal/src/utils.ts
  packages/terminal/tsconfig.json
  packages/terminal/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint, typecheck

chore: update symlink
  LICENSE
  README.md
Due: lint

feat(codex): introduce codex usage cli
  apps/codex/AGENTS.md
  apps/codex/CLAUDE.md
  apps/codex/eslint.config.js
  apps/codex/package.json
  apps/codex/src/_consts.ts
  apps/codex/src/_macro.ts
  apps/codex/src/_types.ts
  apps/codex/src/commands/daily.ts
  apps/codex/src/daily-report.ts
  apps/codex/src/data-loader.ts
  apps/codex/src/date-utils.ts
  apps/codex/src/index.ts
  apps/codex/src/logger.ts
  apps/codex/src/pricing.ts
  apps/codex/src/run.ts
  apps/codex/src/token-utils.ts
  apps/codex/tsconfig.json
  apps/codex/tsdown.config.ts
  apps/codex/vitest.config.ts
Due: lint, typecheck

feat(internal): add shared pricing helpers
  apps/ccusage/package.json
  apps/ccusage/src/_consts.ts
  apps/ccusage/src/_macro.ts
  apps/ccusage/src/_types.ts
  apps/ccusage/src/pricing-fetcher.ts
  packages/internal/eslint.config.js
  packages/internal/package.json
  packages/internal/src/pricing-fetch-utils.ts
  packages/internal/src/pricing.ts
  packages/internal/tsconfig.json
  packages/internal/vitest.config.ts
  pnpm-lock.yaml
Due: lint, typecheck

chore(internal): fix runtime dependencies
  packages/internal/package.json
  pnpm-lock.yaml
Due: lint

fix: eslint ignore app
  eslint.config.js
Due: lint, typecheck

Path conditions:
  lint: any of: *
  typecheck: any of: *.{ts,js}
  sort-package: any of: package.json
