Repository ryoppippi/ccusage: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, sort-package

lint:
  run: bun run lint --fix {staged_files}
  stage_fixed: true

typecheck:
  run: bun typecheck

sort-package:
  run: bunx sort-package-json {staged_files}
  stage_fixed: true

chore: remove session order flag
  docs/guide/getting-started.md
  docs/guide/session-reports.md
  src/commands/session.ts
Due: lint, typecheck

fix: words
  docs/guide/getting-started.md
Due: lint

fix: doc reference
  docs/guide/session-reports.md
Due: lint

chore: update schema
  config-schema.json
Due: lint

remove comments
  src/commands/session.ts
Due: lint, typecheck

feat!: remove Hono HTTP streaming support from MCP server
  CLAUDE.md
  bun.lock
  config-schema.json
  docs/guide/cli-options.md
  docs/guide/mcp-server.md
  package.json
  src/_consts.ts
  src/commands/mcp.ts
  src/mcp.ts
Due: lint, typecheck, sort-package

chore: remove typecheck hook
  package.json
Due: lint, sort-package

statusline: use -B as short flag for --visual-burn-rate
  src/commands/statusline.ts
Due: lint, typecheck

feat: add intelligent file caching and time-based filtering for statusline performance
  src/commands/statusline.ts
  src/data-loader.ts
Due: lint, typecheck

support agents.md for development
  .gitignore
  package.json
Due: lint, sort-package

ci: bun pm for pkg-pr-new
  .github/workflows/ci.yaml
Due: lint

ci: pin pkg-pr-new version
  .github/workflows/ci.yaml
Due: lint

ci: pin changelogithub
  .github/workflows/release.yaml
Due: lint

feat: make logger injectable in ResponsiveTable class
  src/_table.ts
Due: lint, typecheck

fix lint-staged
  package.json
Due: lint, sort-package

fix test
  package.json
  packages/ccusage/package.json
Due: lint, sort-package

ci
  .github/workflows/ci.yaml
Due: lint

typecheck
  package.json
Due: lint, sort-package

pkg pr new
  .github/workflows/ci.yaml
Due: lint

fix prepare
  packages/ccusage/package.json
Due: lint

feat: add pnpm workspace configuration
  pnpm-workspace.yaml
Due: lint

refactor: migrate root package.json to pnpm monorepo
  package.json
Due: lint, sort-package

ci: migrate GitHub Actions workflows from bun to pnpm
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Due: lint

refactor: migrate workspace packages from bun to node.js/pnpm
  docs/package.json
  docs/update-api-index.ts
  docs/wrangler.jsonc
  packages/ccusage/package.json
  packages/ccusage/scripts/generate-json-schema.ts
Due: lint, typecheck

refactor: update MCP server configurations for pnpm environment
  .mcp.json
Due: lint

docs: update documentation and memory files for pnpm migration
  .lsmcp/memories/symbol_index_status.md
  CLAUDE.md
Due: lint

chore: remove bun-specific configuration files
  bun.lock
  bunfig.toml
Due: lint

chore: add pnpm lockfile for dependency resolution
  pnpm-lock.yaml
Due: lint

chore: install bun
  package.json
  pnpm-lock.yaml
Due: lint, sort-package

revert bun script
  packages/ccusage/scripts/generate-json-schema.ts
Due: lint, typecheck

chore: format
  packages/ccusage/package.json
  packages/ccusage/src/data-loader.ts
  packages/ccusage/src/debug.ts
  packages/ccusage/src/pricing-fetcher.ts
Due: lint, typecheck

modify scripts
  package.json
  packages/ccusage/package.json
Due: lint, sort-package

chore: sort package json
  package.json
Due: lint, sort-package

fix: build script
  packages/ccusage/scripts/generate-json-schema.ts
Due: lint, typecheck

fix: scripts
  .github/workflows/release.yaml
  packages/ccusage/package.json
Due: lint

manage bun version
  packages/ccusage/package.json
  pnpm-lock.yaml
Due: lint

chore: remove bun from root
  package.json
Due: lint, sort-package

configure node in docs
  docs/package.json
  pnpm-lock.yaml
Due: lint

chore: manage jsr by pnpm
  .npmrc
  docs/package.json
  packages/ccusage/package.json
  pnpm-lock.yaml
Due: lint

Path conditions:
  lint: any of: *
  typecheck: any of: *.{ts,js}
  sort-package: any of: package.json
