Repository ryoppippi/ccusage: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, sort-package

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: '*'
      run: bun run lint --fix {staged_files}
      stage_fixed: true
    typecheck:
      glob: '*.{ts,js}'
      run: bun typecheck
    schema:
      run: bun run generate:schema
    test:
      run: bun vitest --passWithNoTests
    sort-package:
      glob: package.json
      run: bunx sort-package-json {staged_files}
      stage_fixed: true

chore: release v17.0.1
  apps/ccusage/package.json
  apps/codex/package.json
  apps/mcp/package.json
  docs/package.json
  package.json
  packages/internal/package.json
  packages/terminal/package.json
Due: lint, sort-package

fix: simplify bin configuration and remove npx/bunx workarounds
  apps/ccusage/package.json
  apps/ccusage/src/commands/index.ts
  apps/codex/package.json
  apps/codex/src/run.ts
  apps/mcp/package.json
  apps/mcp/src/ccusage.ts
  apps/mcp/src/cli-utils.ts
  apps/mcp/src/codex.ts
  apps/mcp/src/command.ts
Due: lint, typecheck

docs: add bunx warning for scoped packages and document ccusage family
  apps/ccusage/README.md
  apps/codex/README.md
Due: lint

docs(codex): add bunx warning to documentation site
  docs/guide/codex/index.md
Due: lint

docs(codex): recommend shell alias for long command
  apps/codex/README.md
  docs/guide/codex/index.md
Due: lint

refactor: rename shell alias from codex-usage to ccusage-codex
  apps/codex/README.md
  docs/guide/codex/index.md
Due: lint

docs(codex): add critical bunx warning and shell alias recommendation (#655)
  apps/ccusage/README.md
  apps/codex/README.md
  docs/guide/codex/index.md
Due: lint

chore: release v17.0.2
  apps/ccusage/package.json
  apps/codex/package.json
  apps/mcp/package.json
  docs/package.json
  package.json
  packages/internal/package.json
  packages/terminal/package.json
Due: lint, sort-package

docs: add missing codex commands to sidebar navigation
  docs/.vitepress/config.ts
Due: lint, typecheck

feat(ccusage): add GLM-4.5 model support and pricing configuration
  apps/ccusage/src/_glm-macro.ts
  apps/ccusage/src/_pricing-fetcher.ts
  packages/internal/src/pricing.ts
Due: lint, typecheck

refactor(ccusage): improve GLM model support code quality
  apps/ccusage/src/_glm-macro.ts
  apps/ccusage/src/_pricing-fetcher.ts
Due: lint, typecheck

docs: codex latest for bun
  docs/guide/codex/daily.md
  docs/guide/codex/monthly.md
  docs/guide/codex/session.md
Due: lint

docs: remove workspace bra bra for codex
  docs/guide/codex/index.md
Due: lint

docs(codex): session subcommand
  apps/codex/README.md
Due: lint

docs: add sponsor redirect
  docs/.vitepress/config.ts
Due: lint, typecheck

docs: add Twitter/X social link to documentation header
  docs/.vitepress/config.ts
Due: lint, typecheck

docs: add sponsor link to navigation dropdown
  docs/.vitepress/config.ts
Due: lint, typecheck

chore(deps): update @ryoppippi/eslint-config to 0.4.0 and remove svelte=false
  apps/ccusage/eslint.config.js
  apps/codex/eslint.config.js
  apps/mcp/eslint.config.js
  docs/eslint.config.js
  eslint.config.js
  package.json
  packages/internal/eslint.config.js
  packages/terminal/eslint.config.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint, typecheck, sort-package

chore(deps): update @ryoppippi/eslint-config to 0.4.0 and remove svelte=false (#659)
  apps/ccusage/eslint.config.js
  apps/codex/eslint.config.js
  apps/mcp/eslint.config.js
  docs/eslint.config.js
  eslint.config.js
  package.json
  packages/internal/eslint.config.js
  packages/terminal/eslint.config.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint, typecheck, sort-package

chore: remove duplicate consola from catalog section
  pnpm-workspace.yaml
Due: lint

chore: remove duplicate consola from catalog section (#660)
  pnpm-workspace.yaml
Due: lint

fix: address PR review comments
  apps/ccusage/src/_pricing-fetcher.ts
Due: lint, typecheck

chore(deps): fix eslint-config catalog
  package.json
  pnpm-lock.yaml
Due: lint, sort-package

rename script as prefetchCcusagePricing
  apps/ccusage/src/prefetchCcusagePricing.ts
Due: lint, typecheck

chore: fix lint submodule command
  package.json
Due: lint, sort-package

refactor: consolidate GLM pricing functions into _macro.ts and remove prefetchCcusagePricing.ts
  apps/ccusage/src/_macro.ts
  apps/ccusage/src/_pricing-fetcher.ts
  apps/ccusage/src/prefetchCcusagePricing.ts
Due: lint, typecheck

feat: add GLM-4.5 model support with pricing
  AGENTS.md
  README.md
  apps/ccusage/AGENTS.md
  apps/ccusage/eslint.config.js
  apps/ccusage/src/_pricing-fetcher.ts
  apps/codex/AGENTS.md
  apps/codex/eslint.config.js
  apps/codex/src/commands/daily.ts
  apps/mcp/AGENTS.md
  apps/mcp/eslint.config.js
  docs/AGENTS.md
  packages/internal/AGENTS.md
  packages/terminal/AGENTS.md
Due: lint, typecheck

feat(ccusage): add GLM-4.5 model support and pricing configuration (#657)
  AGENTS.md
  README.md
  apps/ccusage/AGENTS.md
  apps/ccusage/eslint.config.js
  apps/ccusage/src/_macro.ts
  apps/ccusage/src/_pricing-fetcher.ts
  apps/codex/AGENTS.md
  apps/codex/eslint.config.js
  apps/codex/src/commands/daily.ts
  apps/mcp/AGENTS.md
  apps/mcp/eslint.config.js
  docs/AGENTS.md
  packages/internal/AGENTS.md
  packages/internal/src/pricing.ts
  packages/terminal/AGENTS.md
Due: lint, typecheck

Revert "feat(ccusage): add GLM-4.5 model support and pricing configuration (#…"
  AGENTS.md
  README.md
  apps/ccusage/AGENTS.md
  apps/ccusage/eslint.config.js
  apps/ccusage/src/_macro.ts
  apps/ccusage/src/_pricing-fetcher.ts
  apps/codex/AGENTS.md
  apps/codex/eslint.config.js
  apps/codex/src/commands/daily.ts
  apps/mcp/AGENTS.md
  apps/mcp/eslint.config.js
  docs/AGENTS.md
  packages/internal/AGENTS.md
  packages/internal/src/pricing.ts
  packages/terminal/AGENTS.md
Due: lint, typecheck

revert: "feat(ccusage): add GLM-4.5 model support and pricing configuration (#…" (#664)
  AGENTS.md
  README.md
  apps/ccusage/AGENTS.md
  apps/ccusage/eslint.config.js
  apps/ccusage/src/_macro.ts
  apps/ccusage/src/_pricing-fetcher.ts
  apps/codex/AGENTS.md
  apps/codex/eslint.config.js
  apps/codex/src/commands/daily.ts
  apps/mcp/AGENTS.md
  apps/mcp/eslint.config.js
  docs/AGENTS.md
  packages/internal/AGENTS.md
  packages/internal/src/pricing.ts
  packages/terminal/AGENTS.md
Due: lint, typecheck

feat(ccusage): add Claude service status command
  apps/ccusage/config-schema.json
  apps/ccusage/src/_claude-status-api.ts
  apps/ccusage/src/commands/index.ts
  apps/ccusage/src/commands/status.ts
Due: lint, typecheck

:+1: improve status command output with dynamic URL
  apps/ccusage/src/commands/status.ts
Due: lint, typecheck

refactor(ccusage): improve error handling with @praha/byethrow Result type
  apps/ccusage/src/_claude-status-api.ts
  apps/ccusage/src/commands/status.ts
Due: lint, typecheck

feat(ccusage): extract color logic and add --color/--no-color support
  apps/ccusage/src/_claude-status-api.ts
  apps/ccusage/src/commands/status.ts
Due: lint, typecheck

test(ccusage): replace mocked tests with practical API integration tests
  apps/ccusage/src/_claude-status-api.ts
  apps/ccusage/src/commands/status.ts
Due: lint, typecheck

feat: complete ccusage to better-ccusage transformation
  .claude/settings.local.json
  CLAUDE.md
  apps/ccusage/README.md
  apps/ccusage/package.json
  apps/ccusage/src/_consts.ts
  apps/ccusage/src/commands/index.ts
  apps/ccusage/src/commands/statusline.ts
  apps/ccusage/src/index.ts
  apps/ccusage/src/model-pricing.json
  apps/mcp/package.json
  docs/.vitepress/config.ts
  docs/guide/index.md
  package.json
  packages/internal/src/pricing.ts
  temp-claude-pricing.json
  temp-pricing.json
Due: lint, typecheck, sort-package

feat(codex): add color and noColor CLI options
  apps/codex/src/_shared-args.ts
Due: lint, typecheck

feat(codex): add color and noColor CLI options (#668)
  apps/codex/src/_shared-args.ts
Due: lint, typecheck

chore: release v17.0.3
  apps/ccusage/package.json
  apps/codex/package.json
  apps/mcp/package.json
  docs/package.json
  package.json
  packages/internal/package.json
  packages/terminal/package.json
Due: lint, sort-package

test(terminal): watch false
  packages/terminal/vitest.config.ts
Due: lint, typecheck
