Repository ryoppippi/ccusage: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, sort-package

lint:
  run: bun run lint --fix {staged_files}
  stage_fixed: true

typecheck:
  run: bun typecheck

sort-package:
  run: bunx sort-package-json {staged_files}
  stage_fixed: true

fix(ccusage): use process.exit(1) instead of throw in status command
  apps/ccusage/src/commands/status.ts
Due: lint, typecheck

refactor(ccusage): remove unnecessary vitest imports in status API
  apps/ccusage/src/_claude-status-api.ts
Due: lint, typecheck

test(ccusage): remove conditional branches from status API tests
  apps/ccusage/src/_claude-status-api.ts
Due: lint, typecheck

refactor(ccusage): remove manual color handling, rely on picocolors auto-detection
  apps/ccusage/src/_claude-status-api.ts
  apps/ccusage/src/commands/status.ts
Due: lint, typecheck

fix(better-ccusage): restore deepinfra provider prefix
  .claude/settings.local.json
  apps/better-ccusage/src/_pricing-fetcher.ts
Due: lint, typecheck

fix(better-ccusage): prioritize zai/glm-4.5 over air variants
  apps/better-ccusage/src/_pricing-fetcher.ts
  packages/internal/src/pricing.ts
Due: lint, typecheck

docs: address CodeRabbit feedback and fix documentation issues
  apps/codex/README.md
  apps/mcp/CLAUDE.md
  apps/mcp/README.md
  docs/guide/codex/index.md
  docs/guide/daily-reports.md
Due: lint

test(better-ccusage): fix test to use zai/glm-4.5 instead of deepinfra/zai-org/GLM-4.5
  apps/better-ccusage/src/_pricing-fetcher.ts
  packages/internal/src/pricing.ts
Due: lint, typecheck

feat: use local pricing data instead of fetching from LiteLLM
  apps/better-ccusage/src/_macro.ts
  apps/codex/src/_macro.ts
  apps/mcp/src/ccusage.ts
  apps/mcp/src/mcp.ts
  packages/internal/src/pricing-fetch-utils.ts
Due: lint, typecheck

Add configurable context window detection modes
  apps/ccusage/config-schema.json
  apps/ccusage/src/_consts.ts
  apps/ccusage/src/_types.ts
  apps/ccusage/src/commands/statusline.ts
  apps/ccusage/src/data-loader.ts
Due: lint, typecheck

Add tests for context window configuration logic
  apps/ccusage/src/data-loader.ts
Due: lint, typecheck

Update data-loader.ts
  apps/ccusage/src/data-loader.ts
Due: lint, typecheck

remove litellm deps or word
  CLAUDE.md
  apps/better-ccusage/CLAUDE.md
  apps/better-ccusage/src/_macro.ts
  apps/better-ccusage/src/_pricing-fetcher.ts
  apps/better-ccusage/src/data-loader.ts
  apps/codex/CLAUDE.md
  apps/codex/README.md
  apps/codex/src/_macro.ts
  apps/codex/src/_shared-args.ts
  apps/codex/src/data-loader.ts
  apps/codex/src/pricing.ts
  apps/mcp/src/ccusage.ts
  apps/mcp/src/mcp.ts
  docs/guide/codex/daily.md
  docs/guide/codex/index.md
  docs/guide/codex/monthly.md
  docs/guide/codex/session.md
  docs/guide/cost-modes.md
  docs/guide/mcp-server.md
  docs/guide/statusline.md
  model_prices_and_context_window.json
  packages/internal/CLAUDE.md
  packages/internal/src/pricing-fetch-utils.ts
  packages/internal/src/pricing.ts
Due: lint, typecheck

fix(better-ccusage): resolve TypeScript type errors in pricing fetcher
  apps/better-ccusage/src/_live-monitor.ts
  apps/better-ccusage/src/_pricing-fetcher.ts
Due: lint, typecheck

fix(better-ccusage): resolve CI pricing data file location and import issues
  apps/better-ccusage/src/debug.ts
  packages/internal/src/pricing-fetch-utils.ts
Due: lint, typecheck

fix(better-ccusage): use node instead of bun for schema generation
  apps/better-ccusage/package.json
Due: lint

quick fix
  apps/better-ccusage/package.json
Due: lint

chore: bump version to 1.0.2
  apps/better-ccusage/package.json
  apps/codex/package.json
  apps/mcp/package.json
  docs/package.json
  package.json
  packages/internal/package.json
  packages/terminal/package.json
Due: lint, sort-package

fix(mcp): remove unused cli file and allow top-level awai
  apps/mcp/src/cli.ts
  apps/mcp/src/command.ts
  apps/mcp/src/index.ts
Due: lint, typecheck

chore: migrate git hooks to lefthook
  .githooks/pre-commit
  .lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint, sort-package

fix lefthook command
  .lefthook.yml
  package.json
Due: lint, sort-package

move lefthook
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint, sort-package

chore: format
  pnpm-workspace.yaml
Due: lint

eslint cache
  .lefthook.yml
Due: lint

bump 1.0.3
  .claude/settings.local.json
  .gitignore
  apps/better-ccusage/package.json
  apps/codex/package.json
  apps/mcp/package.json
  docs/package.json
  package.json
  packages/internal/package.json
  packages/internal/src/pricing-fetch-utils.ts
  packages/terminal/package.json
Due: lint, typecheck, sort-package

fix(better-ccusage): include pricing data file in package and fix local loading
  apps/better-ccusage/model_prices_and_context_window.json
  apps/better-ccusage/package.json
  packages/internal/src/pricing-fetch-utils.ts
  pnpm-lock.yaml
Due: lint, typecheck

fix(better-ccusage): include pricing data file in package and fix local loading
  apps/codex/package.json
  apps/mcp/package.json
  docs/package.json
  package.json
  packages/internal/package.json
  packages/terminal/package.json
Due: lint, sort-package

update pnpm deps
  pnpm-lock.yaml
Due: lint

fix npm ci
  .github/workflows/release.yaml
  .nojekyll
Due: lint

fix(better-ccusage): resolve pricing data file loading in npm package
  apps/better-ccusage/package.json
  packages/internal/src/pricing-fetch-utils.ts
Due: lint, typecheck

fix package crush
  apps/better-ccusage/package.json
Due: lint

remove old stuff
  apps/better-ccusage/package.json
  packages/internal/src/pricing-fetch-utils.ts
Due: lint, typecheck

revert package & lock file
  apps/better-ccusage/package.json
Due: lint

dts true
  apps/better-ccusage/package.json
  apps/better-ccusage/tsdown.config.ts
Due: lint, typecheck

bump 1.0.7
  apps/better-ccusage/package.json
  apps/codex/package.json
  apps/mcp/package.json
  docs/package.json
  package.json
  packages/internal/package.json
  packages/terminal/package.json
Due: lint, sort-package

fix dir resolve
  apps/better-ccusage/package.json
  apps/codex/package.json
  apps/mcp/package.json
  docs/package.json
  package.json
  packages/internal/package.json
  packages/internal/src/pricing-fetch-utils.ts
  packages/terminal/package.json
Due: lint, typecheck, sort-package

feat(better-ccusage): integrate upstream ccusage v17.0.3
  .githooks/pre-commit
  apps/better-ccusage/package.json
  package.json
  pnpm-lock.yaml
Due: lint, sort-package

Path conditions:
  lint: any of: *
  typecheck: any of: *.{ts,js}
  sort-package: any of: package.json
