Repository ryoppippi/ccusage: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, sort-package

lint:
  run: bun run lint --fix {staged_files}
  stage_fixed: true

typecheck:
  run: bun typecheck

sort-package:
  run: bunx sort-package-json {staged_files}
  stage_fixed: true

chore(docs): tyepcheck
  docs/package.json
  pnpm-lock.yaml
Due: lint

chore: prerelease
  package.json
  packages/ccusage/package.json
  pnpm-workspace.yaml
Due: lint, sort-package

chore: match version
  docs/package.json
  package.json
Due: lint, sort-package

ln -s readme.md
  README.md
  packages/ccusage/README.md
Due: lint

chore: license ln
  LICENSE
  packages/ccusage/LICENSE
Due: lint

ln -s AGENTS.md
  .gitignore
  AGENTS.md
  package.json
Due: lint, sort-package

unused scrripts
  package.json
Due: lint, sort-package

exluce vitepress
  docs/tsconfig.json
Due: lint

Revert "exluce vitepress"
  docs/tsconfig.json
Due: lint

fix: docs tsconfig
  docs/tsconfig.json
Due: lint

fix: vitest type
  docs/.vitepress/config.ts
  docs/package.json
  pnpm-lock.yaml
Due: lint, typecheck

monorepo
  docs/package.json
  docs/tsconfig.json
  docs/typedoc.config.mjs
  pnpm-lock.yaml
Due: lint

ci: pkg.pr.new pnpm
  .github/workflows/ci.yaml
Due: lint

fix(docs): tsconfg
  docs/tsconfig.json
Due: lint

fix: guard docs typedoc sidebar import
  docs/.vitepress/config.ts
Due: lint, typecheck

chore: remove mermaid
  docs/.vitepress/config.ts
  docs/guide/index.md
  docs/package.json
  pnpm-lock.yaml
Due: lint, typecheck

chore: add typescript for lsmcp
  package.json
  pnpm-lock.yaml
Due: lint, sort-package

chore: catalog strict
  pnpm-workspace.yaml
Due: lint

chore: organize catalogs
  docs/package.json
  package.json
  packages/ccusage/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint, sort-package

chore: move build deps into catalog
  packages/ccusage/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint

chore: add pnpm minimum release age
  pnpm-workspace.yaml
Due: lint

chore: format
  .github/workflows/release.yaml
  CLAUDE.md
  eslint.config.js
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint, typecheck, sort-package

feat: extract MCP server into dedicated package
  docs/guide/library-usage.md
  docs/update-api-index.ts
  packages/ccusage/package.json
  packages/ccusage/src/commands/mcp.ts
  packages/mcp/eslint.config.js
  packages/mcp/package.json
  packages/mcp/src/index.ts
  packages/mcp/tsconfig.json
  packages/mcp/tsdown.config.ts
  packages/mcp/vitest.config.ts
  pnpm-lock.yaml
Due: lint, typecheck

fix: export eslint config with explicit type
  packages/ccusage/eslint.config.js
Due: lint, typecheck

docs: update MCP server documentation for standalone package
  CLAUDE.md
  docs/guide/cli-options.md
  docs/guide/config-files.md
  docs/guide/custom-paths.md
  docs/guide/library-usage.md
  docs/guide/mcp-server.md
  packages/ccusage/config-schema.json
  packages/ccusage/package.json
  packages/ccusage/src/commands/index.ts
  packages/ccusage/src/commands/mcp.ts
  packages/ccusage/tsdown.config.ts
  packages/mcp/package.json
  packages/mcp/src/cli.ts
  packages/mcp/src/command.ts
  packages/mcp/src/index.ts
  packages/mcp/tsdown.config.ts
  pnpm-lock.yaml
Due: lint, typecheck

fix: resolve merge conflict in package.json engines field
  packages/mcp/src/index.ts
Due: lint, typecheck

package.json
  packages/ccusage/package.json
Due: lint

remove prepare script
  packages/mcp/package.json
Due: lint

remove bin.js
  packages/mcp/package.json
Due: lint

docs: add monorepo structure guidance to root CLAUDE.md
  CLAUDE.md
Due: lint

docs: add package-specific CLAUDE.md for ccusage package
  packages/ccusage/CLAUDE.md
Due: lint

docs: add package-specific CLAUDE.md for MCP server package
  packages/mcp/CLAUDE.md
Due: lint

docs: add package-specific CLAUDE.md for documentation package
  docs/CLAUDE.md
Due: lint

feat: extract MCP server into dedicated package (#632)
  CLAUDE.md
  docs/CLAUDE.md
  docs/guide/cli-options.md
  docs/guide/config-files.md
  docs/guide/custom-paths.md
  docs/guide/library-usage.md
  docs/guide/mcp-server.md
  docs/update-api-index.ts
  packages/ccusage/CLAUDE.md
  packages/ccusage/config-schema.json
  packages/ccusage/package.json
  packages/ccusage/src/commands/index.ts
  packages/ccusage/src/commands/mcp.ts
  packages/mcp/CLAUDE.md
  packages/mcp/eslint.config.js
  packages/mcp/package.json
  packages/mcp/src/cli.ts
  packages/mcp/src/command.ts
  packages/mcp/src/index.ts
  packages/mcp/tsconfig.json
  packages/mcp/tsdown.config.ts
  packages/mcp/vitest.config.ts
  pnpm-lock.yaml
Due: lint, typecheck

docs: symlink AGENTS.md
  docs/AGENTS.md
  packages/ccusage/AGENTS.md
  packages/mcp/AGENTS.md
Due: lint

feat(deps): migrate from Zod to Valibot for schema validation
  packages/ccusage/package.json
  packages/ccusage/tsdown.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint, typecheck

refactor(types): migrate core type schemas from Zod to Valibot
  packages/ccusage/src/_types.ts
Due: lint, typecheck

refactor(data): migrate data validation logic from Zod to Valibot
  packages/ccusage/src/_date-utils.ts
  packages/ccusage/src/_live-monitor.ts
  packages/ccusage/src/data-loader.ts
Due: lint, typecheck

refactor(cli): migrate CLI argument validation from Zod to Valibot
  packages/ccusage/src/_shared-args.ts
  packages/ccusage/src/commands/statusline.ts
Due: lint, typecheck

Path conditions:
  lint: any of: *
  typecheck: any of: *.{ts,js}
  sort-package: any of: package.json
